{% set readonly = app.status != c.UNAPPROVED and not admin_area %}
{% set max_tables = c.MAX_ART_TABLES if not admin_area else 30 %}
{% set max_panels = c.MAX_ART_PANELS if not admin_area else 30 %}

{% if app.delivery_method == c.AGENT and not app.current_agents %}
  <div class="alert alert-warning">
    <p>Your art show application does not have an agent assigned to bring and hang art.
    {% if app.valid_agent_codes|length == 1 %}
      Your agent code is <strong>{{ app.valid_agent_codes[0].code }}</strong>. Your agent can enter this code
    {% else %}
      Your agent can enter one of the available codes below
    {% endif %}
    after registering for {{ c.EVENT_NAME }} by 
        {% if c.ATTENDEE_ACCOUNTS_ENABLED %}logging in and editing their registration{% else %}using their registration confirmation link{% endif %}.</p>

    {% if c.ONE_AGENT_PER_APP %}
    <p>Applications are limited to one agent. Use the button below to cancel the existing code and generate a new one.</p>
    <input type="hidden" form="cancel_agent_code" name="id" value="{{ app.valid_agent_codes[0].id }}" />
    <button type="submit" form="cancel_agent_code" class="btn btn-danger">Generate New Code</button>
    {% endif %}
  </div>
  {% endif %}

<div class="row g-sm-3">
  <div class="col-12 col-sm-6">
    <label for="artist_name" class="form-text">Artist Name</label>
    {% if readonly %}
    {{ app.display_name }}
    {% else %}
    <input type="text" name="artist_name" id="artist_name" value="{{ app.artist_name }}" class="form-control" placeholder="{{ app.attendee.full_name }}">
    {% if not admin_area %}<p class="form-text">The name you want to use with your artwork, if different from your first and last name.</p>{% endif %}
    {% endif %}
  </div>
  <div class="col-12 col-sm-6">
    <label for="delivery_method" class="form-text">Art Delivery</label>
    {% if readonly %}
      {{ app.delivery_method_label }}
    {% else %}
    <select name="delivery_method" class="form-select">
      {{ options(c.ART_SHOW_DELIVERY_OPTS, app.delivery_method) }}
    </select>
      {% if not admin_area %}
      <p class="form-text">Mailing your art to the show incurs a fee of {{ c.ART_MAILING_FEE|format_currency }}.</p>
      {% endif %}
    {% endif %}
    {% if c.BY_MAIL_US_ONLY and (not readonly or app.delivery_method == c.BY_MAIL) %}
    <div id="us_only_checkbox">
      <label for="us_only" class="form-check-label">
        <input type="checkbox" class="form-check-input" id="us_only" name="us_only" value="1" {% if app.us_only %}checked {% endif %}{% if readonly %}disabled {% endif %}/>
        I verify that my mailing address will be in the continental US.
      </label>
      {% if not readonly %}
      <script type="text/javascript">
          var showOrHideUSOnly = function() {
              setVisible($('#us_only_checkbox'), $.field('delivery_method').val() == '{{ c.BY_MAIL }}');
          };
          $(function() {
              showOrHideUSOnly();
              $.field('delivery_method').on('change', showOrHideUSOnly);
          });
      </script>
      {% endif %}
    </div>
  {% endif %}
  </div>
</div>

{% if app.delivery_method == c.AGENT %}
  {% if not c.ONE_AGENT_PER_APP %}
    <input type="hidden" form="add_agent_code" name="id" value="{{ app.id }}" />
    <button type="submit" form="add_agent_code" class="btn btn-primary">Generate Another Agent Code</button>
  {% endif %}

  {% if app.current_agents or app.valid_agent_codes|length > 1 %}
    {% for agent_code in app.valid_agent_codes %}
      {% set label = "Agent" if agent_code.attendee else "Agent Code" %}
      <div class="col-12 col-sm-6">
        <label for="agent_code" class="form-text">{{ label }}{% if app.valid_agent_codes|length > 1 %}{{ loop.count }}{% endif %}</label>
        <br/>{{ agent_code.attendee.full_name if agent_code.attendee else agent_code.code }}
        {% if not readonly %}
        &nbsp;
          <input type="hidden" form="cancel_agent_code" name="id" value="{{ app.valid_agent_codes[0].id }}" />
          <button type="submit" form="cancel_agent_code" class="btn btn-danger btn-sm">{{ "Remove Agent" if agent_code.attendee else "Cancel Code" }}</button>
      {% endif %}
      </div>
    {% endfor %}
{% endif %}
{% endif %}

<div class="row g-sm-3">
  <div class="col-12 col-sm-6">
    <label for="panels" class="form-text">General Panels</label>
    {% if app.panels and app.panels > max_panels and not admin_area %}
      An admin has granted you {{ app.panels }} general panels. Please contact us via {{ c.ART_SHOW_EMAIL|email_only|email_to_link }}
      if you wish to change the number of panels on your application.
    {% elif readonly %}
      {{ app.panels }}
    {% else %}
      <select class="form-select" name="panels" id="panels">
        {{ int_options(0, max_panels, app.panels) }}
      </select>({{ c.COST_PER_PANEL|format_currency }} per panel)
    {% endif %}
  </div>
  <div class="col-12 col-sm-6">
    <label for="tables" class="form-text">General Table Sections</label>
    {% if app.tables and app.tables > max_tables and not admin_area %}
      An admin has granted you {{ app.tables }} general table sections. Please contact us via via {{ c.ART_SHOW_EMAIL|email_only|email_to_link }}
      if you wish to change the number of table sections on your application.
    {% elif readonly %}
      {{ app.tables }}
    {% else %}
      <select class="form-select" name="tables" id="tables">
        {{ int_options(0, max_tables, app.tables) }}
      </select>({{ c.COST_PER_TABLE|format_currency }} per table section)
    {% endif %}
  </div>
</div>

<div class="row g-sm-3">
  <div class="col-12 col-sm-6">
    <label for="panels_ad" class="form-text">Mature Panels</label>
    {% if app.panels_ad and app.panels_ad > max_panels and not admin_area %}
      An admin has granted you {{ app.panels_ad }} mature panels. Please contact us via via {{ c.ART_SHOW_EMAIL|email_only|email_to_link }}
      if you wish to change the number of panels on your application.
    {% elif readonly %}
      {{ app.panels_ad }}
    {% else %}
      <select class="form-select" id="panels_ad" name="panels_ad">
        {{ int_options(0, max_panels, app.panels_ad) }}
      </select>{% if not no_help_text %}({{ c.COST_PER_PANEL|format_currency }} per panel){% endif %}
      {% endif %}
    </div>
    <div class="col-12 col-sm-6">
      <label for="tables" class="form-text">Mature Table Sections</label>
      {% if app.tables_ad and app.tables_ad > max_tables and not admin_area %}
        An admin has granted you {{ app.tables_ad }} mature table sections. Please contact us via {{ c.ART_SHOW_EMAIL|email_only|email_to_link }}
        if you wish to change the number of table sections on your application.
      {% elif readonly %}
        {{ app.tables_ad }}
      {% else %}
        <select class="form-select" name="tables_ad" id="tables_ad">
          {{ int_options(0, max_tables, app.tables_ad) }}
        </select>{% if not no_help_text %}({{ c.COST_PER_TABLE|format_currency }} per table section){% endif %}
      {% endif %}
    </div>
</div>

{% if not readonly and not admin_area and (app.panels < max_panels or app.tables < max_tables or app.tables_ad < max_tables or app.panels_ad < max_panels) %}
<div class="form-text text-center mt-2">
  You may contact us via {{ c.ART_SHOW_EMAIL|email_only|email_to_link }} to request more
  than {{ c.MAX_ART_PANELS }} panels or{% if c.MAX_ART_PANELS != c.MAX_ART_TABLES %} {{ c.MAX_ART_TABLES }}{% endif %} table sections.<br/><br/>
</div>
{% endif %}

<div class="row g-sm-3">
  <div class="col-12 col-sm-6">
    <label for="description" class="form-text">Description</label>
    {% if readonly %}
      {{ app.description }}
    {% else %}
      <textarea class="form-control" name="description" id="description" rows="4">{{ app.description }}</textarea>
      {% if not admin_area %}<p class="form-text">A short description of your artwork.</p>{% endif %}
    {% endif %}
  </div>
  <div class="col-12 col-sm-6">
    <label for="website" class="form-text">Website</label>
    {% if readonly %}
      {{ app.website }}
    {% else %}
      <input type="text" class="form-control" name="website" id="website" value="{{ app.website }}"/>
      {% if not admin_area %}<p class="form-text">If you do not have a website showing your work, please enter 'N/A' and contact {{ c.ART_SHOW_EMAIL|email_only|email_to_link }} after submitting your application.</p>{% endif %}
    {% endif %}
  </div>
</div>

<div class="row g-sm-3">
  <div class="col-12 col-sm-6">
    <label for="special_needs" class="form-text">Special Requests</label>
    {% if readonly %}
      {{ app.special_needs|default("N/A") }}
    {% else %}
      <textarea class="form-control" name="special_needs" id="special_needs" rows="4">{{ app.special_needs }}</textarea>
      {% if not admin_area %}<p class="form-text">We cannot guarantee that we will accommodate all requests.</p>{% endif %}
    {% endif %}
  </div>
</div>
