
#floating_logo {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -20;
    opacity: 0.2;
}

#devbox_text {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: -21;
    opacity: 0.5;
	padding: 5px;
	font-size: large;
	color: #ff0000;
	text-shadow: 1px 1px 0px #000000;
}

#devbox_cautiontape {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 32px;
	z-index: -22;
	background-image: url("../theme/caution.jpg");
	background-repeat: repeat-x;
    opacity: 0.1;
}
