body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

a, a:visited {
    color:           blue;
    text-decoration: none;
}

a:hover {
    color:           red;
    text-decoration: underline;
}

a.withtooltip, a.withtooltip:hover {
    color:           black;
    font-style:      italic;
    text-decoration: none;
}

a.closer {
    border: 2px solid black;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    text-align: center;
}

ul {
    margin: 0px;
}

table.calendar {
    width:          auto;
    border:         2px solid black;
    text-align:     center;
    border-spacing: 5px;
}
table.calendar td {
    border:  1px solid black;
    padding: 15px;
}

table.form {
    border-spacing: 5px;
}
table.form td:first-of-type {
    width: 1px;
    white-space: nowrap;
}
table.form td:last-of-type {
    width: auto;
    padding-left: 15px;
    white-space: normal;
}
table.form tr.dealer td {
    white-space: normal;
    vertical-align: top;
}

span.popup {
    font-size: 10px;
}

.rating img {
    margin-left: 25px;
    cursor: pointer;
}

.charge {
    width: auto;
    border-spacing: 2px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.charge thead {
    font-weight: bold;
    text-align: center;
}
.charge td {
    padding: 10px;
    border: 1px solid black;
}

ul.select2-results {
    max-height: 300px;
}
.select2-bolded {
    font-weight: bold;
    font-size: 16pt;
}
