<script type="text/javascript">
    function checkStaffing(ribbons,badgeType){
        console.log("HMD running check staffing function");
        let staffing = false;
        if( badgeType === {{ c.STAFF_BADGE }} || badgeType === {{ c.CONTRACTOR_BADGE }}){
            staffing = true;
        }
        if( ribbons.includes({{  c.VOLUNTEER_RIBBON }})) {
            staffing = true;
        }
        console.log("HMD returning value " + staffing);
        return staffing;
    }
</script>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('attendee_metadata', () => ({
            badge_placeholder: {{ attendee.placeholder | javascript_bool }},
            badge_ribbons: {{ attendee.ribbon | javascript_array }},
            badge_type : {{ attendee.badge_type }},
            staffing: {{ attendee.staffing | javascript_bool }},

            init() {
                console.log("HMD in init function");
                staffing = checkStaffing(Alpine.raw(this.badge_ribbons), this.badge_type);
                this.$watch('badge_ribbons',
                    (ribbons) => {
                        console.log('HMD WATCH badgeRibbons HAS RUN');
                        staffing = checkStaffing(Alpine.raw(ribbons), this.badge_type);
                 });
                this.$watch('badge_type',
                    (btype) => {
                        console.log('HMD WATCH badgeType HAS RUN');
                        staffing = checkStaffing(Alpine.raw(this.badge_ribbons), btype);
                })
            }
        }))
    })
</script>
