{% set admin_area=True %}
<style type="text/css">
.modal-dialog {
  width: 98%;
  padding: 0;
}
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
</style>
<script type="text/javascript">
$('#attendee_form').load(function() {$(window).trigger( 'runJavaScript' );});
var attendeeID = '{{ attendee.id }}';
loadForm = function(kw) {
  var glyphicon_span = $('a[href="#attendee' + kw + '"]').children('span');
  var glyphicon_class = glyphicon_span.attr('class');
  var old_hash = window.location.hash;
  glyphicon_span.removeClass().addClass('fa fa-repeat gly-spin');
  $('#attendee' + kw).load('../registration/attendee_' + kw.toLowerCase() + '?id=' + attendeeID, function(response, status){
    window.history.replaceState("", document.title, window.location.href.replace(location.hash, "") + old_hash);
    if (status == 'success') {
      $(window).trigger( 'runJavaScript' );
      glyphicon_span.removeClass().addClass(glyphicon_class);
    } else {
      showErrorMessage("Unable to connect to server, please try again.");
      glyphicon_span.removeClass().addClass(glyphicon_class);
    }
  });
};
var refreshTab = function() {
  var currentTab = $('.tab-pane.active');
  loadForm(currentTab.attr('id').slice(8));
};
{% if tab_view %}
var tab = $('.nav-tabs a[href="#attendee{{ tab_view }}"]');
if(tab.length) {
  tab.tab('show');
} else {
  $('.nav-tabs a').first().tab('show');
}
loadForm("{{ tab_view }}");
{% endif %}
</script>
<div class="modal-header">
  <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
  <h4 class="modal-title">Attendee Form{% if attendee.first_name %} - {{ attendee.full_name }}{% endif %}</h4>
  </div>
  <div class="modal-body">
    <div role="tabpanel">
      <!-- Nav tabs -->
      {% if not attendee.is_new %}
      <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation" class="active">
            <button class="nav-link" id="attendeeData-tab" onClick="loadForm('Data')" data-bs-toggle="tab" data-bs-target="#attendeeData" type="button" role="tab" aria-controls="attendeeData">
              <i class="fa fa-user"></i>&nbsp;Data
            </button>
          </li>
          {% if attendee.staffing and c.HAS_SHIFTS_ADMIN_ACCESS %}
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="attendeeShifts-tab" onClick="loadForm('Shifts')" data-bs-toggle="tab" data-bs-target="#attendeeShifts" type="button" role="tab" aria-controls="attendeeShifts">
              <i class="fa fa-calendar"></i>&nbsp;Shifts
            </button>
          </li>
          {% endif %}
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="attendeeHistory-tab" onClick="loadForm('History')" data-bs-toggle="tab" data-bs-target="#attendeeHistory" type="button" role="tab" aria-controls="attendeeHistory">
              <i class="fa fa-time"></i>&nbsp;History
            </button>
          </li>
          {% if attendee.banned and c.HAS_SECURITY_ADMIN_ACCESS %}
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="attendeeWatchlist-tab" onClick="loadForm('Watchlist')" data-bs-toggle="tab" data-bs-target="#attendeeWatchlist" type="button" role="tab" aria-controls="attendeeWatchlist">
              <i class="fa fa-ban-circle"></i>&nbsp;Watchlist Entry
            </button>
          </li>
          {% endif %}
          <button class='btn btn-info pull-right' onClick="refreshTab()">
          Refresh&nbsp;<i class="fa fa-refresh pull-right"></i>
          </button>
      </ul>
      {% endif %}
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="attendeeData">{% include 'registration/attendee_data.html' %}</div>
        {% if attendee.staffing and c.HAS_SHIFTS_ADMIN_ACCESS %}
        <div role="tabpanel" class="tab-pane" id="attendeeShifts" aria-labelledby="attendeeShifts-tab"></div>
        {% endif %}
        {% if not attendee.is_new %}
        <div role="tabpanel" class="tab-pane" id="attendeeHistory" aria-labelledby="attendeeHistory-tab"></div>
        {% endif %}
        {% if attendee.banned and c.HAS_SECURITY_ADMIN_ACCESS %}
        <div role="tabpanel" class="tab-pane" id="attendeeWatchlist" aria-labelledby="attendeeWatchlist-tab"></div>
        {% endif %}
      </div>
  </div>