{% import 'macros.html' as macros %}
{% import 'forms/macros.html' as form_macros with context %}
{% set print_and_checkin = c.BADGE_PRINTING_ENABLED and attendee.times_printed <= 0 %}
<div class="modal-header">
  <h4 class="modal-title">Attendee Check-In{% if attendee.first_name %} - {{ attendee.full_name }}{% endif %}</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
{% if attendee.amount_unpaid or attendee.badge_status in [c.PENDING_STATUS, c.AT_DOOR_PENDING_STATUS] and attendee.amount_unpaid_if_valid %}
<div class="center text-center check-in">
<h4>{{ attendee.full_name }} currently owes <strong>{{ attendee.amount_unpaid_if_valid|format_currency }}</strong>.</h4>
<form method="post" action="mark_as_paid">
    {{ csrf_token() }}
    <input type="hidden" name="id" value="{{ attendee.id }}" />
    <div class="row g-sm-3 row-cols-auto justify-content-center">
        <div class="col">
            <select name="payment_method" class="form-select" onChange="toggleMarkButton(this)">
                <option value="">Payment Method</option>
                {{ options(c.NEW_REG_PAYMENT_METHOD_OPTS,payment_method) }}
            </select>
        </div>
        <div class="col"><button class="btn btn-success" type="submit" disabled="disabled">Mark as Paid</button></div>
    </div>
</form>

    <strong>OR</strong> <br/>
{% if c.SPIN_TERMINAL_AUTH_KEY %}
    <button class="btn btn-success" id="start-payment-button" onClick="startTerminalPayment('{{ attendee.id }}', '', loadCheckInForm)">Prompt Payment at Terminal</button>
    <div class="row justify-content-center"><div id="payment-loading-message" class="alert alert-info text-center mt-3 col-8"></div></div>
{% else %}
    {{ stripe_form('manual_reg_charge', attendee) }}
{% endif %}
</div>
<iframe id="stripe_frame" name="stripe_frame" style="display:none"></iframe>
</div>
<div class="modal-footer">
  <div class="form-group">
  <div class="pull-right">
<script type="text/javascript">
var toggleMarkButton = function (dropdown) {
    var $button = $(dropdown).parent().parent().find(':submit');
    if ($(dropdown).val()) {
        $button.removeAttr('disabled');
    } else {
        $button.attr('disabled', 'disabled');
    }
};
loadCheckInForm = function (json=null) {
    if ($('#stripeModal').length) {
        $('#stripeModal').off('hidden.bs.modal');
        var stripeModal = bootstrap.Modal.getOrCreateInstance($('#stripeModal'))
        stripeModal.hide();
        $('#stripeModal').remove();
    }
    
    $('#checkin_modal').modal('show');
    $('#checkin_modal .modal-content').load('check_in_form?id={{ attendee.id }}', function () {
        createDateTextEntries();
        if ($('#pending_paid_warning').length) {
            $('#pending_paid_warning').hide();
        }
    });
}
var resumeStripeAction = callStripeAction;
var callStripeAction = function() {
    $('#checkin_modal').off('hidden.bs.modal');
    checkinModal = bootstrap.Modal.getOrCreateInstance($('#checkin_modal'));
    checkinModal.hide();
    $('#stripeModal').on('hidden.bs.modal', function (e) {
        $('#stripeModal').remove();
    })
    resumeStripeAction();
}
$("form[action='mark_as_paid']").submit(function (e) {
    e.preventDefault();

    var data = $(this).serialize();
    var currentForm = $(this);

    $.ajax({
        method: 'POST',
        url: '../registration/mark_as_paid',
        dataType: 'json',
        data: data,
        success: function (json) {
            hideMessageBox();
            var message = json.message;
            if (json.success) {
                $("#payment-loading-message").addClass("alert-success").show().children('span').html(message);
                setTimeout(function(){
                    loadCheckInForm();
                }, 1000);
            } else {
                showErrorMessage(message);
            }
        },
        error: function () {
            showErrorMessage('Unable to connect to server, please try again.');
        }
    });
});
$('#stripe_frame').load(function() {
    var responseText = $(this.contentDocument.body).text().trim();
    this.contentDocument.body.innerHTML = '';
    
    if (responseText) {
        hideMessageBox();
        var response = $.parseJSON(responseText);
        if (response['success'] == true) {
            $("#message-alert").addClass("alert-success").show().children('span').html(response['message']);
            loadCheckInForm();
        } else {
            showErrorMessage('', response['message'], {timeOut: 1000});
        }
    }
});
$().ready(function() {
    $('#stripeModal').detach().appendTo($('#checkin_modal').parent());
    $('select[name=payment_method]').each(function (i, dropdown) {
        toggleMarkButton(dropdown);
    });
})
</script>
{% else %}
{% include 'registration/attendee_pending_warning.html' %}
{{ form_macros.form_validation('check_in_form_' ~ attendee.id,
                                page_handler='validate_attendee_checkin',
                                form_list=['CheckInForm'],
                                callback="printAndOrCheckIn('" ~ attendee.id ~ "', '" ~ print_and_checkin ~ "')") }}
<form novalidate action="/" id="check_in_form_{{ attendee.id }}" role="form" class="check-in">
    {{ csrf_token() }}
    <input type="hidden" name="id" value="{{ attendee.id }}" />
    {% if attendee.regdesk_info %}
    <div class="alert alert-info">
        <div class="form-text">Special Instructions</div>
        <div class="mb-3">
            <strong>{{ attendee.regdesk_info }}</strong>
        </div>
    </div>
    {% endif %}
    {% block checkin_fields %}
    {% include "forms/attendee/check_in_form.html" with context %}
    <!--
    {% if c.VOLUNTEER_AGREEMENT_ENABLED and (attendee.staffing or c.VOLUNTEER in attendee.ribbon_ints) %}
        <div class="form-group">
            <label for="volunteer_agreement" class="col-sm-3 control-label">Volunteer Agreement</label>
            <div class="col-sm-6">
                <div class="form-control-static">
                {%- if attendee.agreed_to_volunteer_agreement -%}
                Completed
                {%- else -%}
                <b class="text-danger">Not Completed</b>
                {%- endif -%}
                </div>
            </div>
        </div>
    {% endif %}
        <script>
            /**
                * We can't just use "autofocus" because that doesn't work if there's already a focused
                * element on the page.  Calling $.focus() won't work until the element is visible, so
                * we need to keep trying until that happens.  We also use this opportunity to set a
                * keypress handler on the element.
                */
            var focusBadgeNum = function () {
                if($('input#checkin-badge')) {
                    var $num = $('#checkin-badge:text');
                    if ($num.is(':visible')) {
                        $num.focus().keypress(function (event) {
                            if (event.keyCode === 13) {
                                checkIn('{{ attendee.id }}');
                            }
                        });
                    } else {
                        setTimeout(focusBadgeNum, 100);
                    }
                }
            };
            focusBadgeNum();
        </script>
    -->
    {% endblock checkin_fields %}
</form>
</div>
<div class="modal-footer">
    <button class='btn btn-outline-secondary btn-sm pull-left' onClick="loadCheckInFormModal('{{ attendee.id }}')">
        <i class="fa fa-refresh"></i>
    </button>
  <div class="form-group">
  <div class="pull-right">
      <button type="submit" id="printAndOrCheckIn" form="check_in_form_{{ attendee.id }}" class="btn btn-primary">
        {% if print_and_checkin %}Print Badge{% else %}Save{% endif %} & Check In
      </button>
{% endif %}
   <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
  </div>
  </div>
 
</div>
<script type="text/javascript">
    {% if print_and_checkin %}
        var changeButtonLabel = function () {
            if ($('#printer_id').val() != printer_id) {
                $('#printAndOrCheckIn')[0].innerHTML = "Print to " + $.val('printer_id') + " & Check In";
                $('#printAndOrCheckIn').removeClass('btn-success');
                $('#printAndOrCheckIn').addClass('btn-warning');
            } else {
                $('#printAndOrCheckIn')[0].innerHTML = "Print & Check In";
                $('#printAndOrCheckIn').removeClass('btn-warning');
                $('#printAndOrCheckIn').addClass('btn-success');
            }
        }
        $('#printer_id').on('keyup', changeButtonLabel);
    {% endif %}
    loadMinorCheckForm = function (attendeeID, printerID, reprintFee) {
        $('#checkin_modal .modal-content').load(
            '../registration/minor_check_form?attendee_id=' + attendeeID + '&printer_id=' + printerID + '&reprint_fee=' + reprintFee, function() {
        if ($('.minor-check-id').length) {
        } else {
            showErrorMessage("Form loading failed.");
            loadCheckInFormModal(attendeeID);
        }
        });
    }
    var printAndOrCheckIn = function (attendeeID, print=false) {
        if(print == false) {}
        $.ajax({
            method: 'POST',
            url: '../registration/print_badge',
            dataType: 'json',
            data: $("#check_in_form_" + attendeeID).serialize(),
            success: function (json) {
                hideMessageBox('form-validations-check_in_form_' + attendeeID);
                if (json.success) {
                    if (json.minor_check) {
                        loadMinorCheckForm(attendeeID, $.val('printer_id'), 0);
                    } else {
                        checkIn(attendeeID);
                    }
                } else {
                    showErrorMessage(json.message, 'form-validations-check_in_form_' + attendeeID);
                }
            },
            error: function () {
                showErrorMessage('Unable to connect to server, please try again.', 'form-validations-check_in_form_' + attendeeID);
            }
        });
    }

    age = {{ attendee.age_now_or_at_con|default(0, true) }};
    if (age < 18 && $.field('printer_id')) {
        $.field('printer_id').val(minor_printer_id);
        changeButtonLabel();
    } else if (age >= 18 && $.field('printer_id')) {
        $.field('printer_id').val(printer_id);
        changeButtonLabel();
    }
</script>