<p class="text-center h4">This attendee already has a badge!</p>

<p>
    We already have a <a href="form?id={{ attendee.id }}">{{ attendee.full_name }}</a> with email address {{ attendee.email }} in our database with a
{% if attendee.paid == c.PAID_BY_GROUP and attendee.group.is_dealer and attendee.group.status in [c.APPROVED, c.SHARED] %}
    {{ attendee.group.status_label }}
{% elif attendee.paid == c.HAS_PAID or attendee.paid == c.PAID_BY_GROUP %}
    paid
{% elif attendee.paid == c.NEED_NOT_PAY %}
    complimentary
{% elif attendee.paid == c.NOT_PAID %}
    unpaid
{% else %}
    {{ attendee.paid_label }}
{% endif %}
{{ attendee.badge_type_label }}
{% if attendee.ribbon %}
    ({{ attendee.ribbon_labels|join(", ") }})
{% endif %}
badge{% if attendee.group %}
    (with the group <a href="./group/form?id={{ attendee.group.id }}">{{ attendee.group.name }}</a>)
{%- endif -%}.
</p>

<p>If you're <strong>absolutely</strong> sure that this is someone else, please confirm this. We highly recommend
editing the attendee's name if at all possible, as badges with duplicate names may be picked up by the wrong
person.
{% if attendee.paid == c.PAID_BY_GROUP and attendee.group.status == c.WAITLISTED %}
    Please keep in mind that {{ c.DEALER_TERM }}s have an option to buy their badge once the {{ c.DEALER_LOC_TERM }} fills up, so you
    normally do not need to create an additional badge for them.
{% endif %}</p>

<p>If you are at all not sure what to do, contact your Registration department at {{ c.REGDESK_EMAIL|email_only|email_to_link }}.</p>
