{% extends "base.html" %}{% set admin_area=True %}
{% import 'macros.html' as macros with context %}
{% block title %}Attendee Emails - {{ attendee.full_name }}{% endblock %}
{% block content %}
{% include "registration/menu.html" %}
<div class="card card-body">
<h2 class="mb-3">Email Queue for {{ attendee.full_name }}</h2>
{{ macros.email_table(emails, table_classes="table-hover datatable", hidden_cols=['recipient']) }}

{% if other_emails %}
<hr/>
<h2> Other Emails to {{ attendee.email|lower }}</h2>
{{ macros.email_table(other_emails, table_classes="table-hover datatable", hidden_cols=['recipient']) }}
{% endif %}

{% set email_queue = emails + other_emails %}
{% include 'email_admin/manage_email.html' with context %}
{% endblock %}
</div>
