{% extends "base-admin.html" %}
{% block title %}Recent Changes{% endblock %}
{% block content %}

<h2>Feed of Database Actions</h2>

<form method="get" action="feed" style="text-align:center">
    Search by who did it:
    <select name="who" onChange="$(this).parents('form').submit()">
        <option value="">{% if who %}Show all{% else %}Choose an admin{% endif %}</option>
        {% options who_opts who %}
    </select>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <i>and/or</i>
    &nbsp;&nbsp;&nbsp;&nbsp;

    Search by action:
    <select name="action" onChange="$(this).parents('form').submit()">
        <option value="">{% if action %}Show all{% else %}Choose an action{% endif %}</option>
        {% options action_opts action %}
    </select>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <i>and/or</i>
    &nbsp;&nbsp;&nbsp;&nbsp;

    Search by keyword:
    <input type="text" name="what" value="{{ what }}" />
</form>

<br/>

{% pages page count %}

<table class="list">
<tr class="header">
    <td>When</td>
    <td>Who</td>
    <td>Table</td>
    <td>Which</td>
    <td>Action</td>
    <td>Changes</td>
</tr>
{% for tracked in feed %}
    <tr>
        <td style="white-space:nowrap">{{ tracked.when|full_datetime }}</td>
        <td style="white-space:nowrap">{{ tracked.who }}</td>
        <td style="white-space:nowrap">{{ tracked.model }}</td>
        <td style="white-space:nowrap">{{ tracked.which }}</td>
        <td style="white-space:nowrap">{{ tracked.action_label }}</td>
        <td>{{ tracked.data }}</td>
    </tr>
{% endfor %}

{% endblock %}
