{% extends "base.html" %}{% set admin_area=True %}
{% import "fields/attendee.html" as attendee_fields with context %}
{% block title %}Attendee Form - {{ attendee.full_name }}{% endblock %}
{% block content %}
{% include "check_in.html" %}

{% include "registration/menu.html" %}

<div class="panel panel-default">
<div class="panel-body">
<form method="post" action="form" class="form-horizontal">
{{ csrf_token() }}
<input type="hidden" name="id" value="{{ attendee.db_id }}" />
<input type="hidden" name="return_to" value="{{ return_to }}" />

{{ attendee_fields.created }}
{{ attendee_fields.signed_up }}
{{ attendee_fields.last_updated }}
{{ attendee_fields.checked_in }}

{% if attendee.regdesk_info %}
    <div class="form-group">
        <label for="special_instructions" class="col-sm-3 control-label">Special Instructions</label>
        <div class="col-sm-6">
            <div class="form-control-static"><strong>{{ attendee.regdesk_info }}</strong></div>
            <p class="help-block"><em>You can update these instructions below.</em></p>
        </div>
    </div>
{% endif %}

{{ attendee_fields.is_placeholder }}
{{ attendee_fields.badge_status }}
{{ attendee_fields.print_pending }}
{{ attendee_fields.reprint_fee }}
{% if c.HAS_ACCOUNTS_ACCESS %}
  {{ attendee_fields.admin_access }}
{% endif %}
{{ attendee_fields.badge_type }}
{{ attendee_fields.ribbons }}
{{ attendee_fields.group_link }}
{{ attendee_fields.promo_code_group_link }}
{{ attendee_fields.panel_app_link }}

{% block pre_regform %}{% endblock %}

{{ attendee_fields.name }}
{{ attendee_fields.badge_printed_name }}
{{ attendee_fields.age }}
{{ attendee_fields.email }}
{{ attendee_fields.emergency_contact }}
{{ attendee_fields.cellphone }}
{{ attendee_fields.address }}
{{ attendee_fields.shirt_size }}
{{ attendee_fields.extra_donation }}
{{ attendee_fields.promo_code }}
{{ attendee_fields.interests }}
{{ attendee_fields.found_how }}
{{ attendee_fields.comments }}
{{ attendee_fields.can_spam }}
{{ attendee_fields.attractions_opt_out }}

{% block post_regform %}{% endblock %}

{{ attendee_fields.staffing }}
{{ attendee_fields.job_interests }}
{{ attendee_fields.assigned_depts }}
{{ attendee_fields.setup_teardown }}
{{ attendee_fields.hotel_eligible }}
{{ attendee_fields.agreed_to_volunteer_agreement }}

{{ attendee_fields.got_merch }}

{{ attendee_fields.overridden_price }}
{{ attendee_fields.payment_method }}
{{ attendee_fields.amount_extra }}
{{ attendee_fields.paid }}

{{ attendee_fields.merch }}
{{ attendee_fields.staff_merch }}
{{ attendee_fields.regdesk_info }}
{{ attendee_fields.requested_hotel_info }}
{{ attendee_fields.requested_accessibility_services }}
{{ attendee_fields.for_review }}
{{ attendee_fields.admin_notes }}
{# Deprecated form included for backwards compatibility with old plugins #}
{% include "regform.html" %}

<div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" name="save" class="btn btn-primary" value="save_return_to_search">Save & Return{% if not return_to %} to Search{% endif %}</button>
        <button type="submit" name="save" class="btn btn-primary" value="save">Save</button>
        {% if c.AT_THE_CON and not attendee.checked_in and not attendee.is_not_ready_to_checkin and not attendee.amount_unpaid %}
        <button class="btn btn-success" name="save" value="save_check_in">Save & Check In</button>
    {% endif %}
    </div>
</div>

</form>

{% if not attendee.is_new %}
    <div style="margin-left:25%">
        <form method="post" action="delete" onSubmit="return confirm('{% if attendee.group and attendee.is_unassigned %}Are you sure you want to delete this unassigned badge?{% elif attendee.group %}Are you sure you want to unassign this badge?{% else %}Are you sure you want to delete this attendee?{% endif %}');">
            {{ csrf_token() }}
            <input type="hidden" name="id" value="{{ attendee.id }}" />
            {% if return_to %}<input type="hidden" name="return_to" value="{{ return_to }}" />{% endif %}
            <br/><input type="submit" class="btn btn-danger" value="{% if attendee.group and attendee.is_unassigned %}Delete this group badge{% elif attendee.group %}Unassign this group badge{% else %}Delete Attendee{% endif %}"
                        {% if attendee.paid == c.HAS_PAID %} style="background-color:#BCBCBC" title="Cannot delete a paid badge." disabled {% endif %}/>
        </form>
    </div>

    {% if attendee.paid != c.LOST_BADGE %}
        <br/>
        <div style="margin-left:25%">
            <form method="post" action="lost_badge">
                <input type="hidden" name="id" value="{{ attendee.id }}" />
                <input type="submit" value="Report Lost Badge">
            </form>
        </div>
    {% endif %}
{% endif %}
</div>
</div>
{% if c.AT_THE_CON and attendee.amount_unpaid %}
<div class="alert alert-warning center" role="alert" id="payment-warning">
<h4>{{ attendee.full_name }} currently owes <strong>${{ '%0.2f' % attendee.amount_unpaid }}</strong>.</h4>
{% if Charge %}
{{ stripe_form('manual_reg_charge', Charge(attendee)) }}
{% else %}
Please instruct them to pay at an at-door or manager station.
{% endif %}
</div>
<iframe id="stripe_frame" name="stripe_frame" style="display:none"></iframe>
<script type="text/javascript">
$("form[action='manual_reg_charge']").prop('target', 'stripe_frame');
$('#stripe_frame').load(function() {
    var responseText = $(this.contentDocument.body).text().trim();
    this.contentDocument.body.innerHTML = '';
    
    if (responseText) {
        toastr.clear();
        var response = $.parseJSON(responseText);
        if (response['success'] == true) {
            window.location.href = '../registration/form?id={{ attendee.id }}&message=' + response['message'];
        } else {
            toastr.error('', response['message'], {timeOut: 1000});
        }
    }
});
$().ready(function() {
    $('#payment-warning').insertBefore('form[action="form"]');
});
</script>
{% endif %}
{% endblock %}
