{% extends "base-admin.html" %}
{% block title %}View Promo Codes{% endblock %}
{% block content %}
<style>
.decent > th,td{
    padding: 1em;
}
.decent-rows:hover{
    background-color: #f5f5f5;
}
</style>
<h2> View Promo Codes </h2>

<table>
<tr class="decent">
    <th>
        Code
    </th>
    <th>
        Expiration Date
    </th>
    <th>
        Uses
    </th>
    <th>
        Ticket Price
    </th>
    <th>
        Expired
    </th>
    <th>
        Users
    </th>
</tr>
{% for p in promo_codes %}
    <tr class="decent decent-rows">
        <td>
            <a href="#" onclick="editCode('{{ p.id }}', '{{ p.code }}')">{{ p.code }}</a>
        </td>
        <td>
            {{ p.expiration_date }}
        </td>
        <td>
            {% if p.uses == None %}
                Unlimited
            {% else %}
                {{ p.uses }}
            {% endif %}
        </td>
        <td>
            ${{ p.price }}
        </td>
        <td>
            {{ p.expired }}
        </td>
        <td>
            {% for a in p.used_by %}
                <a href="form?id={{ a.id }}">{{ a.full_name }}</a>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>

<i>Bolded fields are required</i>

<script>
var editCode = function(id, old_code){
    var new_code = prompt("Edit the Promo Code:", old_code);
    $.ajax({
        url:'edit_code',
        data:{
            csrf_token:csrf_token,
            id:id,
            new_code:new_code
        },
        type:'POST',
        success: function(message){
            toastr.info(message);
            location.reload(true);
        },
        error: function(message){
            toastr.error(message);
        }
    })
}
</script>
{% endblock %}
