{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Attendee Admin{% endblock %}
{% block content %}

{% block adminheader %}
  {% if c.REG_USES_BARCODES %}
    {% include 'barcode_client.html' %}
  {% endif %}
  <style> .badge_count { margin-left: 15px; } </style>
  <script>
    $(function() {
      $('#search_bar').select();

      {% if c.REG_USES_BARCODES %}
        $('#search_bar').barcodeField({
          detectUUID: true,
          detectBadgeNum: true,
          autoSubmitForm: '#search_form',
          shouldAutoFill: function() {
            return !$('#checkin-badge').is(':visible');
          },
          shouldAutoSubmit: function() {
            return !$('#checkin-badge').is(':visible');
          }
        });

        $('body').barcodeField({
          targetField: '#checkin-badge',
          blurOnKeys: ['~', '\\'],
          detectBadgeNum: true,
          showErrorMessageWhenHidden: false
        });
      {% endif %}
      $('.badge_count').each(function () {
        text = $(this).text()
        num_badges_left = parseInt(text.substr(0,text.indexOf(' ')));
        if ($(this).data('danger-threshold') && num_badges_left <= $(this).data('danger-threshold')) {
          $(this).removeClass('btn').addClass('btn-danger');
        }
        else if ($(this).data('warning-threshold') && num_badges_left <= $(this).data('warning-threshold')) {
          $(this).removeClass('btn').addClass('btn-warning');
        }
      });
    });
  </script>
  {% include "check_in.html" %}

{% endblock adminheader %}
{% block admin_controls %}
<div class="row">
    <div class="col-sm-6 col-md-4">
      <form role="form" method="get" action="index" id="search_form">
            <input type="hidden" name="order" value="{{ order }}" />
            <input type="hidden" name="invalid" value="{{ invalid }}" />
            <div class="input-group">
                <input class="focus form-control" id="search_bar" type="text" name="search_text" value="{{ search_text }}" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="col-sm-6 col-md-8">
      <form method="post" action="set_reg_station" class="form-inline">
        <a class="btn btn-primary" href="form?id=None">Add an attendee</a>

        {% if invalid  %}
            <a class="btn btn-info" href="index?order={{ order }}&page={{ page }}&search_text={{ search_text|urlencode }}">Hide invalid badges</a>
        {% else %}
            <a class="btn btn-info" href="index?order={{ order }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid=True">Show all badge statuses</a>
        {% endif %}

        <div class="form-group">
        <style type="text/css">
        .collapse.in {
          display: inline-block;
        }
        </style>
        <a href="#set-reg-station" class="btn btn-default" data-toggle="collapse">Set At-Door Reg Station</a>
        <span id="set-reg-station" class="collapse">
        <label class="sr-only" for="reg_station">Reg Station #</label>
        <input class="form-control" id="reg_station" name="reg_station" placeholder="Reg Station #" value="{{ reg_station }}">
        <button type="submit" class="btn btn-primary">Save</button>
        </span>
        </div>
      </form>
    </div>
</div>

<div class="row" style="margin-top: 15px;">
    <div class="col-xs-12">
        <span style="margin-right: 15px;">{{ attendee_count }} Attendee{{ attendee_count|pluralize }}</span>
        <span><span id="checkin_count">{{ checkin_count }}</span> Checked In</span>
        {% if c.HAS_REG_ADMIN_ACCESS %}
        {% block badge_counts %}
        <span class="badge_count btn" data-warning-threshold="1500" data-danger-thresold="250">{{ c.ATTENDEE_BADGE_STOCK - c.ATTENDEE_BADGE_COUNT }} Attendee badges left</span>
        {% endblock %}
        {% endif %}
    </div>
</div>



{% if search_results %}
    <div class="panel panel-info">
      <div class="panel-body">
        <a href="index?order={{ order }}&page=1&invalid={{ invalid }}">Click here</a> to view full attendee list instead of only search results.
      </div>
    </div>
{% endif %}
{% endblock admin_controls %}
{% block table %}
<ul class="pagination{% if not page %} pagination-lg{% elif pages|length > 100 %} pagination-sm{% endif %}">
{% for pagenum in pages %}
    {% if pagenum == page %}
    <li class="page-item active">
        <a class="page-link" href="#">{{ pagenum }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="index?order={{ order }}&page={{ pagenum }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">{{ pagenum }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>
<div class="panel panel-default">
    {% if page %}
      <table class="table table-striped" data-page-size="9999999">
        <thead>
          <tr>
            {% block tableheadings %}
            <th> <a href="index?order={{ order.group_name }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">Group Name</a> </th>
            <th> <a href="index?order={{ order.promo_code_group_name }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">Promo Code Group</a> </th>
            <th> <a href="index?order={{ order.last_first }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">Full Name</a> </th>
            <th> <a href="index?order={{ order.legal_name }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">Name on ID</a> </th>
            {% if c.PREASSIGNED_BADGE_TYPES %}<th> <a href="index?order={{ order.badge_printed_name }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">Badge Name</a> </th>{% endif %}
            <th> <a href="index?order={{ order.badge_type }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">Badges Type</a></th>
            {% if c.NUMBERED_BADGES %}<th> <a href="index?order={{ order.badge_num }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">Badge #</a> </th> {% endif %}
            <th> <a href="index?order={{ order.ribbon }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">Badge Ribbons</a></th>
            <th> <a href="index?order={{ order.amount_extra }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">Upgrade</a></th>
            <th> <a href="index?order={{ order.paid }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">Paid</a> </th>
            <th>{% if c.COLLECT_EXACT_BIRTHDATE %}<a href="index?order={{ order.birthdate }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">{% endif%}Age{% if c.COLLECT_EXACT_BIRTHDATE %}</a>{% endif %}</th>
            {% if c.AT_THE_CON %}
                <th> <a href="index?order={{ order.checked_in }}&page={{ page }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}"><nobr>Checked In</nobr></a> </th>
            {% endif %}
            {% endblock tableheadings %}
          </tr>
        </thead>
        <tbody>
          {% for attendee in attendees %}
            <tr {% if attendee.badge_status == c.INVALID_STATUS %}class="danger"{% endif %}>
                {% block tablerows scoped %}
                <td id="group_{{ attendee.id }}">
                    {% if attendee.group %}
                    <a href="../group_admin/form?id={{ attendee.group.id }}">{{ attendee.group.name }}</a>
                    {% endif %}
                </td>
                  <td id="promo_code_group_{{ attendee.id }}">
                  {% for group in attendee.promo_code_groups %}
                    <a href="promo_code_group_form?id={{ group.id }}" target="_blank">{{ group.name }}</a>
                  {% endfor %}
                  {% if attendee.promo_code and attendee.promo_code.group %}
                    <a href="promo_code_group_form?id={{ attendee.promo_code.group.id }}" target="_blank">{{ attendee.promo_code_group_name }}</a>
                  {% endif %}
                  </td>
                <td id="name_{{ attendee.id }}" style="text-align:left">
                    <a href="form?id={{ attendee.id }}">{{ attendee.last_first }}</a>
                </td>
                    <td id="name_{{ attendee.id }}" style="text-align:left">
                        <a href="form?id={{ attendee.id }}">{{ attendee.legal_name }}</a>
                    </td>
                {% if c.PREASSIGNED_BADGE_TYPES %}<td>{{ attendee.badge_printed_name }}</td>{% endif %}
                <td><nobr>{{ attendee.badge_type_label }}</nobr></td>
                {% if c.NUMBERED_BADGES %}<td>{{ attendee.badge_num }}</td>{% endif %}
                <td id="ribbon_{{ attendee.id }}">{{ attendee.ribbon_labels|join(", ") }}</td>
                <td id="amount_extra_{{ attendee.id }}">{{ attendee.amount_extra_label }}</td>
                <td id="paid_{{ attendee.id }}" ><nobr>{{ attendee.paid_label }}</nobr></td>
                <td> <nobr>{{ attendee.age_group_conf.desc }}</nobr> </td>
                {% if c.AT_THE_CON %}
                    {% if attendee.checked_in %}
                            <td>
                                {% if attendee.paid == c.LOST_BADGE %}
                                    <strong>Badge reported as lost!</strong>
                                {% else %}
                                    {{ hour_day_local(attendee.checked_in) }} <br/>
                                    <form method="post" action="lost_badge">
                                        <input type="hidden" name="id" value="{{ attendee.id }}" />
                                        <input type="submit" value="Report Lost Badge">
                                    </form>
                                {% endif %}
                            </td>
                    {% elif attendee.is_not_ready_to_checkin %}
                        <td>Can't checkin ({{ attendee.is_not_ready_to_checkin }})</td>
                    {% else %}
                      {% if not reg_station and attendee.amount_unpaid %}
                        <td>Can't checkin (Attendee owes ${{ '%0.2f' % attendee.amount_unpaid }})</td>
                      {% else %}
                        <td id="cin_{{ attendee.id }}">
                            <button class="attendee-checkin btn-sm btn-success" data-attendee-id="{{ attendee.id }}" onClick="loadCheckInModal('{{ attendee.id }}')">Check In</button>
                        </td>
                      {% endif %}
                    {% endif %}
                {% endif %}
              {% endblock tablerows %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="lead text-center">
        <em>Use the search box above to filter the attendees or select a page to browse all attendees.</em>
        <br/><br/>Try searching for 'email:name@example.com' or 'group:Group Name'. You can also search by phone number,
        unique confirmation ID, and most text fields.
      </div>
    {% endif %}
</div>
{% if attendees|length > 15 %}
<ul class="pagination{% if not page %} pagination-lg{% elif pages|length > 100 %} pagination-sm{% endif %}">
{% for pagenum in pages %}
   {% if pagenum == page %}
   <li class="page-item active">
      <a class="page-link" href="#">{{ pagenum }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="index?order={{ order }}&page={{ pagenum }}&search_text={{ search_text|urlencode }}&invalid={{ invalid }}">{{ pagenum }}</a>
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}

{% endblock table %}
{% endblock content %}
