<div class="row g-sm-3 row-cols-auto">
    <div class="col col-sm-6 col-md-4">
        <form role="form" method="get" action="../registration/index" id="search_form">
            <div class="input-group">
                <input class="focus form-control" id="search_bar" type="text" name="search_text" placeholder="Find another attendee..." value="{{ search_text }}" />
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col flex-grow-1"><a class="btn btn-primary" href="form?id=None">Add an attendee</a></div>
    </div>
    <br/>

{{ macros.nav_menu(
    attendee, c.PAGE_PATH,
    "../registration/form?id={id}", "Attendee Data", True,
    "../registration/shifts?id={id}&return_to=../registration/index", "Shifts", attendee.staffing and c.HAS_SHIFTS_ADMIN_ACCESS,
    "../registration/history?id={id}", "History", True,
    "../badge_printing/attendee_print_jobs?id={id}", "Badge Print Jobs", c.HAS_BADGE_PRINTING_ACCESS and c.BADGE_PRINTING_ENABLED,
    "../reg_admin/receipt_items?id={id}", "Receipt Items", c.HAS_REG_ADMIN_ACCESS,
    "../registration/watchlist?id={id}", "Watch List Entry", attendee.banned and c.HAS_SECURITY_ADMIN_ACCESS,
    "../registration/index", "Return to Attendee List", c.PRE_CON or c.POST_CON,
    "../registration/index?search_text={id}", "Return to Attendee List", c.AT_THE_CON,
) }}
