{% extends "base-admin.html" %}
{% block title %}Merch Booth{% endblock %}
{% block content %}

<script type="text/javascript">
    var $shirtOpts = $('<select/>').attr('id', 'shirt');
    $.each({{ c.MERCH_SHIRT_OPTS|jsonize }}, function(i,size) {
        $shirtOpts.append($('<option/>').val(size[0]).text(size[1]));
    });

    var recordSale = function () {
        $.post('record_sale', {
            id:         'None',
            what:       $('#what_select').val() || $('#what_text').val() || '',
            cash:       $('#store_cash').val(),
            mpoints:    $('#store_mpoints').val(),
            csrf_token: csrf_token
        }, function(json) {
            $('#message').html(json.message);
            if (json.success) {
                $('#message').append(' &nbsp; <a href="#" onClick="undoSale(\'' + json.id + '\') ; return false">Undo</a>');
            }
        }, 'json');
    }
    var undoSale = function (id) {
        $.post('undo_sale', {id: id, csrf_token: csrf_token}, function(message) {
            $('#message').html(message);
        });
    }

    var showOrHideWhatText = function (pageLoading) {
        $('#store_mpoints').val('0');
        if($('#what_select').val() === '') {
            $('#what_text').show().focus();
            $('#store_cash').val('');
        }
        else {
            var prices = {{ c.STORE_PRICES|jsonize }};
            $('#what_text').val('').hide();
            $('#store_cash').val( prices[$('#what_select').val()] );
            if (!pageLoading) {
                $('#store_amount').focus();
            }
        }
    }
    
    var recordMPointExchange = function () {
        $.post('record_old_mpoint_exchange', {
            badge_num:  $('#ex_badge_num').val(),
            amount:     $('#ex_mpoints').val(),
            csrf_token: csrf_token
        }, function(json) {
            $('#message').html(json.message);
            if (json.success) {
                $('#ex_badge_num,#ex_mpoints').val('');
                $("#message").append(' &nbsp; ').append(
                    $('<a href="#">Undo</a>').click(function(){
                        undoMPointExchange(json.id);
                        return false;
                    }));
            }
       }, 'json');
    }
    var undoMPointExchange = function (id) {
        $.post('undo_mpoint_exchange', {'id': id, csrf_token: csrf_token}, function(s) {
            $('#message').html(s);
        });
    }

    var giveMerch = function (noShirt, id, shirtSize) {
        $('#give button').attr('disabled', true);
        $.post('give_merch', {id: id, csrf_token: csrf_token, no_shirt: noShirt, shirt_size: shirtSize || null}, function(json) {
            $('#give').html('');
            $('#badge_num').val('');
            $('#message').html(json.message);
            if (json.success) {
                $('#message')
                    .append(' &nbsp; ')
                    .append(
                        $('<a href="#">Undo</a>').click(function(){
                            takeBackMerch(id);
                            return false;
                         }));
            }
        }, 'json');
    }
    var takeBackMerch = function (id) {
        $.post('take_back_merch', {id: id, csrf_token: csrf_token}, function(message) {
            $('#message').html(message);
        });
    }

    var checkDiscount = function () {
        var $num = $('#dis_badge_num'),
            $confirm = $('#discount_confirm'),
            $checkButton = $('#discount_check');
        var reset = function () {
            toastr.clear();
            $confirm.empty();
            $checkButton.show();
            $num.prop('disabled', false).val('');
        };
        $num.prop('disabled', true);
        $confirm.empty();
        $checkButton.hide();
        toastr.clear();
        var params = {badge_num: $num.val(), csrf_token: csrf_token};
        $.post('redeem_merch_discount', params, function (checkResponse) {
            if (!checkResponse.message) {
                reset();
                toastr.error(checkResponse.error || 'An unexpected error occurred');
            } else {
                toastr[checkResponse.warning ? 'warning' : 'info'](checkResponse.message);
                $confirm.append(
                    $('<button></button>').click(function () {
                        params.apply = 'true';
                        $.post('redeem_merch_discount', params, function (applyResponse) {
                            reset();
                            toastr.info(applyResponse.message || applyResponse.error);
                        });
                    }).text(checkResponse.warning ? 'Redeem Anyway' : 'Redeem')
                ).append('<span>&nbsp;&nbsp;</span>').append(
                    $('<button>Cancel</button>').click(reset)
                );
            }
        });
    };
    
    $(function(){
        $('#message').ajaxError(function () {
            toastr.error('Oh noes - the web server is down or something!!!!!');
        });

        $('input[type=text],input[type=number]').on('focus', function(event){
            var field = event.target;
            setTimeout(function(){ field.select(); }, 1);
        });

        showOrHideWhatText(true);
        $('#what_text,#store_amount').keypress(function(e){
            if( (e.keyCode || e.which) == 13 )  // ENTER
                recordSale();
        });

        $('#ex_badge_num,#ex_mpoints,#cash').keypress(function(e){
            if( (e.keyCode || e.which) == 13 )  // ENTER
                recordMPointExchange();
        });

        $('#dis_badge_num').keypress(function (e) {
            if ( (e.keyCode || e.which) == 13 ) {  // ENTER
                checkDiscount();
            }
        });

        $('#swag').on('submit', function(e){
            $('#give,#message').html('');
            $.post('check_merch', {csrf_token: csrf_token, badge_num: $('#badge_num').val()}, function(resp) {
                if (!resp.id) {
                    $('#message').html(resp.message);
                } else {
                    $('#give').html(resp.message.replace(' and ', ',')
                                        .replace(' received ', ' received<br/>- ')
                                        .replace(/,/g, '<br/>- ')
                                        .replace('<br/>- <br/>- ', '<br/>- ')
                                  + '<br/>');
                    if (resp.shirt != {{ c.NO_SHIRT }}) {
                        $('#give').append('Choose a shirt size:').append($shirtOpts);
                        $('#give select').val(resp.shirt);
                    }
                    $('#give').append(
                        $('<button>Give Merch</button>').click(function() {
                            giveMerch('', resp.id, $("#shirt").val());
                            return false;
                        })
                    );
                    {% if c.OUT_OF_SHIRTS %}
                        $("#give").append(
                            $('<button>Give Merch Without Shirt</button>').click(function() {
                                giveMerch('no_shirt', resp.id, $('#shirt').val());
                                return false;
                            })
                        );
                    {% endif %}
                }
            }, 'json');
            return false;
        });
    });
</script>

<div id="message" style="color:red ; margin-bottom:10px">&nbsp;</div>

<div class="center" style="margin-bottom:10px ; font-style:italic">
    Square not working?  In a pinch, you can create arbitrary charges <a href="arbitrary_charge_form">here</a>.
    <br/>See outstanding t-shirt counts <a href="../summary/shirt_counts">here</a>.
    <br/>To have one person pick up merch for others, <a href="multi_merch_pickup">click here</a>.
</div>

<table>
<tr>
    <td> Last year's MPoints turned in: </td>
    <td> Badge num: <input type="number" id="ex_badge_num" min="1" max="99999" /> </td>
    <td> exchanged <input type="number" id="ex_mpoints" min="1" max="9999" /> MPoints </td>
    <td> <input type="submit" id="record_mpe" value="Record Exchange" onClick="recordMPointExchange()" /> </td>
</tr>
</tr><tr> <td colspan="4"> ---OR--- </td> </tr>
<tr>
    <td> Record a Sale: </td>
    <td>
        <select id="what_select" onChange="showOrHideWhatText()">
            {% options c.STORE_ITEM_NAMES %}
            <option value="">Other...</option>
        </select>
        <input type="text" id="what_text" size="20" maxlength="50" />
    </td>
    <td> Money: $<input type="number" id="store_cash" min="0" max="999" /> </td>
    <td> MPoints: <input type="number" id="store_mpoints" min="0" max="999" /> </td>
    <td> <input type="submit" id="record_sale" value="Record Sale" onClick="recordSale()" />
</td>
</tr><tr> <td colspan="4"> ---OR--- </td> </tr>
    <td> Apply a merch discount </td>
    <td>
        Badge num: <input type="number" id="dis_badge_num" min="1" max="99999" />
        <input type="submit" id="discount_check" value="Check Eligibility" onClick="checkDiscount()" />
        &nbsp;
        <span id="discount_confirm"></span>
    <td></td>
    <td></td>
<tr> <td colspan="4"> ---OR--- </td>
<tr>
    <td> Give Merch </td>
    <td colspan="2">
        <form id="swag">
        Badge Number: <input type="number" id="badge_num" min="1" max="99999" />
        <input type="submit" id="give_merch" value="Check Merch" />
        </form>
    </td>
    <td colspan="2"></td>
</tr>
<tr>
    <td></td>
    <td id="give" colspan="4" style="color:red"></td>
</tr>
</table>

{% endblock %}
