{% extends "base-admin.html" %}
{% block title %}Recent Preregs{% endblock %}}
{% block content %}

<table>
{% for attendee in attendees %}
    <tr>
        <td> {{ attendee.registered }} </td>
        <td> <a href="form?id={{ attendee.id }}">{{ attendee.full_name }}</a> </td>
        <td>
            {{ attendee.badge_type_label }}
            {% if attendee.badge_type == c.DEALER_BADGE %}
                ({{ attendee.group.name }})
            {% endif %}
        </td>
        <td> paid: {{ attendee.paid_label }} </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
