{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Reg Money Take By Station{% endblock %}
{% block content %}

<h2>Reg Take Report</h2>

<form method="post" action="reg_take_report">
<table style="width:auto" align="center">
<tr>
    <td>Reg Station:</td>
    <td colspan="3"><select name="reg_station">{{ options(reg_stations,reg_station) }}</select></td>
</tr>
<tr style="font-weight:bold">
    <td></td>
    <td>Day</td>
    <td>Hour</td>
    <td>Minute</td>
</tr>
<tr>
    <td>Start Time:</td>
    <td><select name="startday">{{ options(c.DAYS,startday) }}</select></td>
    <td><select name="starthour">{{ options(c.HOURS,starthour) }}</select></td>
    <td><select name="startminute">{{ options(c.MINUTES,startminute) }}</select></td>
</tr>
<tr>
    <td>End Time:</td>
    <td><select name="endday">{{ options(c.DAYS,endday) }}</select></td>
    <td><select name="endhour">{{ options(c.HOURS,endhour) }}</select></td>
    <td><select name="endminute">{{ options(c.MINUTES,endminute) }}</select></td>
</tr>
<tr>
    <td></td>
    <td colspan="3" style="text-align:center"><input type="submit" name="report" value="Generate Report" /></td>
</tr>
</table>
</form>

{% if report %}
    <div style="text-align:center ; font-weight:bold ; margin:25px">
        Total Badge Sales: {{ attendees|length }}
        &nbsp; / &nbsp;
        Total Fees Taken: {{ sales|length }}
        &nbsp; / &nbsp;
        Total Cash: ${{ '%0.2f' % total_cash }}
        &nbsp; / &nbsp;
        Total Credit: ${{ '%0.2f' % total_credit }}
    </div>
    <table class="list">
    <tr class="header">
        <td>Fee</td>
        <td>Paid By</td>
        <td>Payment Type</td>
        <td>Payment Amount</td>
        <td>When</td>
    </tr>
    {% for sale in sales %}
        <tr>
            <td>{{ sale.what }}</td>
            <td><a href="./form?id={{ sale.attendee_id }}">{{ sale.attendee.full_name }}</a></td>
            <td>{{ sale.payment_method_label }}</td>
            <td>${{ '%0.2f' % sale.cash }}</td>
            <td>{{ sale.when }}</td>
        </tr>
    {% endfor %}
    </table>
    <br/> <br/>
    <table class="list">
    <tr class="header">
        <td>Name</td>
        <td>Badge</td>
        <td>Payment Type</td>
        <td>Payment Amount</td>
        <td>Registered</td>
    </tr>
    {% for attendee in attendees %}
        <tr>
            <td><a href="#attendee_form?id={{ attendee.id }}">{{ attendee.full_name }}</a></td>
            <td>{{ attendee.badge }}</td>
            <td>{{ attendee.payment_method_label }}</td>
            <td>${{ '%0.2f' % (attendee.amount_paid / 100) }}</td>
            <td>{{ attendee.registered }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}
