{% extends "registration/review-base.html" %}

{# By default, this page renders exactly what's in the base template. #}
{# Downstream plugins may override this file and change base blocks, so leave this file in place. #}


{# This is kind of a hack, it defines a way that admins can force marking someone as hotel eligible. #}
{# When we switch from Django to Jinja2, this can be injected into the main registration form #}
{% block extra %}
    {% if 'hotel eligib' in attendee.for_review|lower and not attendee.hotel_eligible and c.HAS_STAFF_ROOMS_ACCESS %}
        ++++++ <a href="../hotel/mark_hotel_eligible?id={{ attendee.id }}">Admin: Force mark as hotel eligible</a>
    {% endif %}
{% endblock extra %}
