{% extends "base-admin.html" %}
{% block title %}View Promo Codes{% endblock %}
{% block content %}
<style>
.decent > th,td{
    padding: 1em;
}
.decent-rows:hover{
    background-color: #f5f5f5;
}
.delete{
    font-size: 36px;
}

.delete:hover{
    color: #FF0011;
}
</style>
<h2> View Promo Codes </h2>

<table>
<tr class="decent">
    <th>
        Delete?
    </th>
    <th>
        Code
    </th>
    <th>
        Expiration Date
    </th>
    <th>
        Uses
    </th>
    <th>
        Ticket Price
    </th>
    <th>
        Expired
    </th>
    <th>
        Send Email?
    </th>
    <th>
        Users
    </th>
</tr>
{% for p in promo_codes %}
    <tr class="decent decent-rows">
        <td class="delete">
            <a href="#" onclick="deleteCode('{{ p.id }}')"><i>X</i></a>
        </td>
        <td>
            <a href="#" onclick="editCode('{{ p.id }}', '{{ p.code }}')">{{ p.code }}</a>
        </td>
        <td>
            <a href="#" id="date{{ forloop.counter }}" name="date{{ forloop.counter }}" onclick="dateID = '{{ p.id }}'; cal.showCalendar('date{{ forloop.counter }}')"><i>{{ p.expiration_date }}</i></a>
        </td>
        <td>
            {% if p.uses == None %}
                Unlimited
            {% else %}
                {{ p.uses }}
            {% endif %}
        </td>
        <td>
            ${{ p.price }}
        </td>
        <td>
            {% if not p.expired %}<a href="#" onclick="expireCode('{{ p.id }}')">False</a>{% else %}True{% endif %}
        </td>
        <td>
            <form onsubmit="generateEmail(this)">
                <input type="text" value="{{ p.id }}" name="id" class="hidden">
                <input type="submit" value="Click To Email Code">
            </form>
        </td>
        <td>
            {% for a in p.used_by %}
                <a href="form?id={{ a.id }}">{{ a.full_name }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>

<i>Bolded fields are required</i>

<script src="../static/js/CalendarPopup.js"></script>
<script>

var generateEmail = function(form){
    console.log(form);
    return false;

};

var expireCode = function(id){
    var confirmed = confirm("Are you sure you want to expire this code? This cannot be undone.");
    if (confirmed){
        $.ajax({
            url: 'expire_code',
            data: {
                csrf_token: csrf_token,
                id: id
            },
            type: "POST",
            success: function(message){
                toastr.info(message);
                setTimeout(function(){
                    location.reload(true);
                }, 3000);
            },
            error: function(message){
                toastr.error("An Unknown Error Occured.");
            }
        });
    }
};

var editCode = function(id, old_code){
    var new_code = prompt("Edit the Promo Code:", old_code);
    if (new_code != null) {
        $.ajax({
            url: 'edit_code',
            data: {
                csrf_token: csrf_token,
                id: id,
                new_code: new_code
            },
            type: 'POST',
            success: function (message) {
                toastr.info(message);
                setTimeout(function(){
                    location.reload(true);
                }, 3000);
            },
            error: function (message) {
                toastr.error("An Unknown Error Occured.");
            }
        });
    }
};

var deleteCode = function(id){
    $.ajax({
        url:'delete_code',
        data:{
            csrf_token:csrf_token,
            id:id
        },
        type:'POST',
        success: function(message){
            toastr.info(message);
                setTimeout(function(){
                    location.reload(true);
                }, 3000);
        },
        error: function(message){
            toastr.error("An Unknown Error Occured.");
        }
    });
};

var editDate = function(id, date){
    $.ajax({
            url: 'edit_date',
            data: {
                csrf_token: csrf_token,
                id: id,
                date: date
            },
            type: 'POST',
            success: function (message) {
                toastr.info(message);
                setTimeout(function(){
                    location.reload(true);
                }, 3000);

            },
            error: function (message) {
                toastr.error("An Unknown Error Occured.");
            }
        });
};

var dateID = "";
var changeDate = function(y, m, d){
    var date = m + '-' + d + '-' + y;
    editDate(dateID, date);
};

var cal = new CalendarPopup();
console.log(cal);
cal.addDisabledDates(null, '{{ now }}');
cal.addDisabledDates('{{ max }}', null);
cal.setReturnFunction("changeDate");
</script>
{% endblock %}
