{% extends "base-admin.html" %}
{% block title %}View Promo Codes{% endblock %}
{% block content %}
<script type="text/javascript">
    $().ready(function() {
        $("form[action='delete_promo_code']").submit(function(event){
            var formToSubmit = this;
            event.preventDefault();
            bootbox.confirm({
                message: "This will permanently delete this promo code. Anyone who has used the code will keep their " +
                "current badge price. This cannot be undone. Are you sure?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result) {
                        formToSubmit.submit();
                    }
                }
            });
        })
    });
</script>
<h2> View Promo Codes </h2>

    <div class="table-responsive">
    <table class="table table-striped datatable">
        <thead><tr>
            <th></th>
            <th>Promo Code</th>
            <th>Expiration Date</th>
            <th>Expired?</th>
            <th>Discount or Badge Price</th>
            <th>Number of Uses</th>
            <th>Attendees With Promo Code</th>
        </tr></thead>
        <tbody>
        {% for promo_code in promo_codes %}
            <tr id="{{ promo_code.id }}">
            <td>
                <div class="btn-group-vertical">
                    <form id="update_promo_code_{{ promo_code.id }}" method="post" action="update_promo_code">
                        {{ csrf_token() }}
                        <input type="hidden" name="id" value="{{ promo_code.id }}" />
                        <button type="submit" class="btn btn-primary update-button">
                            <span class="glyphicon glyphicon-floppy-disk"></span></button>
                    </form>
                <form method="post" action="delete_promo_code">
                    {{ csrf_token() }}
                    <input type="hidden" name="id" value="{{ promo_code.id }}" />
                    <button type="submit" class="btn btn-danger delete-button">
                        <span class="glyphicon glyphicon-trash"></span></button>
                </form>
            </div>
            </td>
            <td data-order="{{ promo_code.code }}" data-search="{{ promo_code.code }}">
                <input type="text" form="update_promo_code_{{ promo_code.id }}" name="code" class="form-control" value="{{ promo_code.code }}" placeholder="Enter a custom code, or leave blank to generate a new random one." />
            </td>
            <td data-order="{{ promo_code.expiration_date }}" data-search="{{ promo_code.expiration_date }}">
                <input type="text" form="update_promo_code_{{ promo_code.id }}" name="expiration_date" class="form-control expiration-date" value="{{ promo_code.expiration_date }}" />
            </td>
            <td>
                {% if promo_code.expired %}
                Yes
                {% else %}
                <button type="submit" class="btn btn-warning" name="expire" value="1" form="update_promo_code_{{ promo_code.id }}">Expire Now</button>
                {% endif %}
            </td>
            <td>
                {% if promo_code.discount is not none %}
                ${{ promo_code.discount }} discount
                {% else %}
                Badge price of ${{ promo_code.price }}
                {% endif %}
            </td>
            <td>
                <input type="text" form="update_promo_code_{{ promo_code.id }}" name="uses" class="form-control" size="4" value="{{ promo_code.uses if promo_code.uses is not none else '' }}" />
                <br />({{ promo_code.uses_remaining }} use(s) remaining)
            </td>
            <td>
                {{ promo_code.used_by|length }} attendees are using this promo code. <br/>
                {% for attendee in promo_code.used_by %}
                    <a href="form?id={{ attendee.id }}">{{ attendee.full_name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
