{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Promo Code Group: {{ group.name }}{% endblock %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Group Info for "{{ group.name }}"</h3> <a href="promo_code_groups">Return to group list</a>
    <form method="post" action="promo_code_group_form" class="form-horizontal">
        {{ csrf_token() }}
        <input type="hidden" name="id" value="{{ group.db_id }}" />
        {{ macros.form_group(group, 'name', placeholder="Group Name") }}
        {{ macros.form_group(group, 'code', is_readonly=True) }}
        <div class="form-group">
          <label class="col-sm-3 control-label">Buyer</label>
          <div class="col-sm-6 form-control-static">
            {{ group.buyer|form_link }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary">Update Group Info</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="table-responsive">
    <table id="group-table" class="table table-striped datatable" data-info="false" data-page-length="-1">
      <thead>
      <tr>
        <th>Code</th>
        <th>Claimed By</th>
        <th>Date Added</th>
        <th>Cost</th>
      </tr>
      </thead>
      <tbody>
      {% for code in group.promo_codes -%}
        <tr id="{{ code.id }}">
          <td>
            {{ code.code }}
          </td>
          <td data-order="{{ code.used_by[0].full_name if code.used_by else '' }}">
            {{ code.used_by[0]|form_link if code.used_by else 'N/A' }}
          </td>
          <td>{{ code.created.when|datetime_local }}</td>
          <td>${{ code.cost }}</td>
        </tr>
      {% endfor -%}
      </tbody>
    </table>
  </div>

{% endblock %}
