<html>
<head></head>
<body>

{{ attendee.first_name }},
<br/> <br/>

{% if attendee.badge_type == c.STAFF_BADGE %}    
Thanks again for Staffing at {{ c.EVENT_NAME }}!
{% endif %}
    
{% if attendee.ribbon == c.VOLUNTEER_RIBBON %}    
Thanks again for Volunteering at {{ c.EVENT_NAME }}!
{% endif %}
<br/> <br/>

{% if attendee.badge_type == c.STAFF_BADGE %}   
- Please remember to also pick up your TWO {{ c.EVENT_NAME }} Staff Shirts from the MAGFest MERCH Booth when you get to {{ c.EVENT_NAME }}.  As a reminder, there is an expectation that you will wear one of these two shirts while working your scheduled shifts during {{ c.EVENT_NAME }}, (Thurs-Sunday, not during load-in or load-out).  When not on shift, you should wear a different shirt, so you can enjoy MAGFest 2017 with everyone else.    
{% endif %}    
    
{% if attendee.takes_shifts and attendee.shifts %}
    The schedule of shifts you've signed up for is below; please print it out so that you can have your department managers
    mark each shift as worked.
    <br/> <br/>
    If you forget to print out this sheet and would like to pick up a spare copy, or if you want to change your hours,
    you can drop by Staffing Ops during {{ c.EVENT_NAME }}.
{% endif %}

{% include "signups/printable_schedule.html" %}

<br/> {{ c.STOPS_EMAIL_SIGNATURE|linebreaksbr }}

</body>
</html>
