{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set panelist_info = panelist_info or panelist_form['panelist_info'] %}
{% set panelist_credentials = panelist_credentials or panelist_form['panelist_credentials'] %}
{% set is_guest = is_guest or False %}
{% set readonly_fields = readonly_fields or {} %}
{% set pi_readonly = is_guest and not panelist_info._prefix %}

{# BLOCK NAMES in this form:
    x_data
    name
    contact_info
    pronouns
    communication_pref
    credentials
    schedule_info

  Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

<div x-data="{ {% block x_data %}{% endblock %} }">

<h3>Personal Information</h3>
<div class="row g-3 mb-3">
{% block name %}
<div class="col-sm">{{ form_macros.input(panelist_info.first_name, readonly=(pi_readonly or readonly_fields.first_name|boolean)) }}</div>
<div class="col-sm">{{ form_macros.input(panelist_info.last_name, readonly=pi_readonly or readonly_fields.last_name|boolean) }}</div>
{% endblock %}
</div>


<div class="row g-3 mb-3">
{% block contact_info %}
  <div class="col-sm">
    {{ form_macros.input(panelist_info.email, readonly=pi_readonly or readonly_fields.email|boolean) }}
  </div>
  <div class="col-sm">
    {% set cellphone_from_attendee = panelist and panelist.attendee|yesno and panelist_info.cellphone.data != '' and panelist_info.cellphone.data == panelist.attendee.cellphone %}
    {{ form_macros.input(panelist_info.cellphone, readonly=(pi_readonly and cellphone_from_attendee) or readonly_fields.cellphone|boolean) }}
  </div>
</div>
<div class="row g-3 mb-3">
  <div class="col-sm mt-0">
      {% call form_macros.input(panelist_info.communication_pref) %}
      <div class="d-flex gap-1 mt-2">
        <div class="col-form-label">Or: </div><div class=flex-grow-1>{{ form_macros.input(panelist_info.other_communication_pref, show_label=False) }}</div>
      </div>
      {% endcall %}
  </div>
{% endblock %}
</div>


<div class="row g-3 mb-3">
{% block pronouns %}
  <div class="col-sm">{{ form_macros.input(panelist_info.display_name) }}</div>
  <div class="col-sm">
      {% call form_macros.input(panelist_info.pronouns) %}
      <div class="row mt-2"><div class="col d-flex gap-1">
      <div class="col-form-label">Other: </div><div>{{ form_macros.input(panelist_info.other_pronouns, show_label=False) }}</div>
      </div></div>
      {% endcall %}
  </div>
{% endblock %}
</div>


{% if not is_guest %}
<h3>Credentials</h3>
<div class="row g-3 mb-3">
{% block credentials %}
<div class="col-sm">{{ form_macros.input(panelist_credentials.occupation) }}</div>
<div class="col-sm">{{ form_macros.input(panelist_credentials.website) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm">
        {{ form_macros.input(panelist_credentials.other_credentials) }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(panelist_credentials.social_media_info) }}
    </div>
{% endblock %}
</div>


<div class="row g-3 mb-3">
{% block schedule_info %}
  <div class="col-sm">
    {{ form_macros.input(panelist_credentials.guidebook_bio) }}
  </div>
{% endblock %}
</div>
{% endif %}

</div>