{% extends "base-admin.html" %}
{% block title %}Money{% endblock %}
{% block content %}

<script type="text/javascript" src="../static/lib/jquery-flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="../static/lib/jquery-flot/jquery.flot.crosshair.min.js"></script>
<script type="text/javascript" src="../static/lib/jquery-flot/jquery.flot.selection.min.js"></script>
<script type="text/javascript" src="../static/lib/date/date.js"></script>
<script type="text/javascript">
    function flotable(xs) {
        return $.map(xs, function(xy){ return [[Date.parse(xy[0]).getTime() ,xy[1]]] });
    }


    function flotable2(xs) {
        return $.map(xs, function(xy){ return [[xy[0] ,xy[1]]] });
    }

    function dayOf(time) {
        return new Date(parseFloat(time)).toString("yyyy-MM-dd");
    }
    function updateDay(time, lookup, sel) {
        var total = lookup[dayOf(time)];
        var prev = lookup[dayOf(time - 1000 * 60 * 60 * 24)] || 0;
        $(sel + "day").html("By " + dayOf(time) + " we had collected $" + total);
        $(sel + "on").html("On " + dayOf(time) + " we collected $" + (total - prev));
    }
    function updateRange(xaxis, lookup, sel) {
        var from = dayOf( xaxis.from.toFixed(1) );
        var to   = dayOf( xaxis.to.toFixed(1) );
        var diff = lookup[to] - lookup[from];
        $(sel + "range").html("Between " + from + " and " + to + " we collected $" + diff);
    }
    
    var conf = {
        //xaxis: {mode: "time"},
        crosshair: {mode: "x"},
        selection: { mode: "x" },
        grid: {hoverable: true, autoHighlight: false}
    };
    var graphs = [
        [
            {{ m6_lookup|jsonize }}, 
            {{ m6_coords|jsonize }}, 
            "{{ m6_date }}" 
        ],
        [
            {{ m7_lookup|jsonize }}, 
            {{ m7_coords|jsonize }},
            "{{ m7_date }}" 
        ],
        [
            {{ m8_lookup|jsonize }}, 
            {{ m8_coords|jsonize }},
            "{{ m8_date }}" 
        ],
        [
            {{ m9_lookup|jsonize }}, 
            {{ m9_coords|jsonize }},
            "{{ m9_date }}" 
        ],
        [
            {{ m10_lookup|jsonize }}, 
            {{ m10_coords|jsonize }},
            "{{ m10_date }}" 
        ]
    ];
   
    $(function(){

            // The number of milliseconds in one day
            var ONE_DAY = 1000 * 60 * 60 * 24

            var data = [];
            for (var i = 0; i < graphs.length; ++i)
            {
                // convert absolute dates to relative days til end of magfest

                var day_of_magfest = Date.parse(graphs[i][2]);
                var calendar_days = new Array(365);

                for (var _date in graphs[i][0])
                {
                   var absolute_date = Date.parse(_date);
                   var days_til_magfest = Math.round(Math.abs(day_of_magfest.getTime() - absolute_date.getTime()) / ONE_DAY);
                   var cash_on_that_day = graphs[i][0][_date];

                   calendar_days[365 - days_til_magfest] = [365 - days_til_magfest,cash_on_that_day];
                }

                data.push(calendar_days);
            }

            $.plot($("#graph"), data, conf);
   });


</script>

<br/> <br/>
<h3 align="center">all magfests</h3>
<div id="graph" style="width:100% ; height:300px"></div>

{% endblock %}
