{% extends 'forms/art_show/artist_check_out_info.html' %}

{% block artist_ids %}
{% if printable %}
</div>
<div class="d-flex justify-content-between mb-3">
<div class="text-center ms-1">
    <div class="form-text">Locations</div>
    <div style="outline: 1px solid black; width: 6em; height: 3em;" class="d-flex pt-0 justify-content-center align-items-center">
        <span class="locations-text">{{ app.get_printable_locations() }}</span>
    </div>
</div>
<div class="text-center">
    <div class="form-text">Artist ID</div>
    <span style="font-size: 2em;">{{ app.artist_id }}{% if app.artist_id_ad %}/{{ app.artist_id_ad }}{% endif %}</span>
</div>
{% else %}
<div class="col-sm">
    {% if c.USE_ASSIGNMENT_MAP %}
        <div class="form-text">Locations</div>
        {% for id, label in app.sorted_assignments %}
        {{ label }} <a href="#" class="text-danger unassign-location" data-app-id="{{ app.id }}" data-id="{{ id }}" data-label="{{ label }}"><i class="fa fa-remove"></i></a> {% if not loop.last %} / {% endif %}
        {% endfor %}
    {% else %}
        {{ form_macros.input(artist_check_in_out_info.locations) }}
    {% endif %}
</div>
<div class="col-sm">{{ form_macros.input(artist_check_in_out_info.artist_id) }}</div>
{% if artist_check_in_out_info.artist_id_ad.data %}
<div class="col-sm">{{ form_macros.input(artist_check_in_out_info.artist_id_ad) }}</div>
{% endif %}
</div><div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(artist_check_in_out_info.panels, choices=int_choices(0, 30)) }}</div>
    <div class="col-sm">{{ form_macros.input(artist_check_in_out_info.tables, choices=int_choices(0, 30)) }}</div>
    <div class="col-sm">{{ form_macros.input(artist_check_in_out_info.panels_ad, choices=int_choices(0, 30)) }}</div>
    <div class="col-sm">{{ form_macros.input(artist_check_in_out_info.tables_ad, choices=int_choices(0, 30)) }}</div>
{% endif %}
{% endblock %}

{% block artist_names %}
<div class="col-sm">{{ form_macros.input(artist_check_in_out_info.artist_name, placeholder=app.artist_or_full_name) }}</div>
<div class="col-sm">{{ form_macros.input(artist_check_in_out_info.banner_name, placeholder=app.display_name) }}</div>
{% if app.has_mature_space and artist_check_in_out_info.banner_name_ad.data %}
<div class="col-sm">{{ form_macros.input(artist_check_in_out_info.banner_name_ad, placeholder=app.mature_display_name) }}</div>
{% endif %}
{% endblock %}

{% block attendee_names %}
<div class="col-sm">{{ form_macros.input(artist_attendee_info.first_name) }}</div>
<div class="col-sm">{{ form_macros.input(artist_attendee_info.last_name) }}</div>
<div class="col-sm">{{ form_macros.input(artist_attendee_info.legal_name, label_text="Name on Photo ID") }}</div>
{% endblock %}

{% block addresses %}
{% if app.attendee.badge_status != c.NOT_ATTENDING %}
    {{ form_macros.address_fields(artist_attendee_info, label_prefix="Attendee ") }}
{% endif %}
{% if app.delivery_method == c.BY_MAIL or c.INDEPENDENT_ART_SHOW %}
    <div class="row g-3 mb-3"><div class="col-sm">{{ form_macros.input(artist_mailing_info.business_name) }}</div></div>
    {{ form_macros.address_fields(artist_mailing_info, label_prefix="Mailing " if app.delivery_method == c.BY_MAIL else "") }}
{% endif %}
{% endblock %}

{% block delivery_method_agent %}
<div class="col-sm">{{ form_macros.input(artist_check_in_out_info.delivery_method) }}</div>
{% if c.ONE_AGENT_PER_APP %}
<div class="col-sm">
    <div class="form-text">Agent</div>
    {% if printable %}
        {{ app.single_agent.full_name }}
    {% else %}
        <div class="form-control-plaintext">
            {{ app.single_agent.full_name }}
            {% if c.HAS_REGISTRATION_ACCESS %}
            (<a href="../registration/form?id={{ app.single_agent.id }}" target="_blank">View Attendee</a>)
            {% endif %}
        </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block notes %}
<div class="col-sm">{{ form_macros.input(artist_check_in_out_info.check_in_notes) }}</div>
{% endblock %}
