{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Registration Stats{% endblock %}
{% block content %}

<style type="text/css">
    ul { margin-top:0px; }
</style>

<b>Total Registrations:</b> {{ total_registrations }} <br/>
{% if c.AT_OR_POST_CON %}
    <b>Attendees checked in:</b> {{ counts.checked_in.yes }} <br/>
    <b>Attendees with free badges who didn't show up:</b> {{ counts.noshows.free }} <br/>
    <b>Attendees who paid and didn't show up:</b> {{ counts.noshows.paid }} <br/>
{% endif %}
<b>Number of remaining badges for sale (before event is sold out):</b> {{ c.REMAINING_BADGES }} <br/>
{% for amount, count in counts.donation_tiers.items() %}
  <b>Number of attendees who've donated at the ${{ '%0.2f' % amount }} level:</b> {{ count }} <br>
{% endfor %}

<h4>Badge Types</h4>
  The total number of badges in the system, by type.
  <br/>
<ul>
    {% for desc, count in counts.badges.items() %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

  <h4>Badge Counts by Type</h4>
  Badges that count against badge stocks -- these represent the physical badges we have promised attendees so far.
  <br/>
  <ul>
    {% for desc, count in counts.counts.items() %}
      <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
  </ul>

  <h4>Check-ins by Badge Type</h4>
  Badges that have actually been claimed, by type.
  <br/>
  <ul>
    {% for desc, count in counts.checked_in_by_type.items() %}
      <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
  </ul>

<h4>Badge Stocks</h4>
<ul>
    {% for desc, count in counts.stocks.items() %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

<h4>Interests</h4>
<ul>
    {% for desc, count in counts.interests.items() %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

<h4>Attendee ages</h4>
<ul>
    {% for desc, count in counts.ages.items() %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

<h4>Ribbons</h4>
<ul>
    {% for desc, count in counts.ribbons.items() %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

<h4>Badge Statuses</h4>
<ul>
    {% for desc, count in counts.statuses.items() %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

<h4>Paid</h4>
<ul>
    {% for desc, count in counts.paid.items() %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>
Of the "paid by group" badges,
<br/> {{ counts.groups.paid }} were from groups that actually gave us money, and
<br/>{{ counts.groups.free }} were from groups that we didn't charge.

{% endblock %}
