{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Watch List{% endblock %}
{% block message %}
{% endblock %}
{% block content %}

<h1>
  <a class="btn btn-primary" href="watchlist_form">Add a Watchlist Entry</a>
</h1>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Existing Watchlist Entries</h3>
  </div>
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Entry Status</th>
        <th>Details</th>
        <th>Possible Match(es)</th>
        <th>Confirmed Match(es)</th>
        <th>First Name(s)</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Date of Birth</th>
      </tr>
    </thead>
{% for entry in watchlist_entries %}
    <tr>
      <td>{{ entry.active|yesno("Active,Inactive") }}</td>
      <td><a href="watchlist_form?id={{ entry.id }}">View Entry Details</a></td>
      <td>
        {% for attendee in entry.attendee_guesses %}
        {{ attendee|form_link }}
        {% else %}N/A{% endfor %}
      </td>
      <td>
        {% for attendee in entry.attendees %}
        {{ attendee|form_link }}
        {% else %}N/A{% endfor %}
      </td>
      <td>{{ entry.first_names }}</td>
      <td>{{ entry.last_name }}</td>
      <td>{{ entry.email }}</td>
      <td>{{ entry.birthdate|datetime("%Y-%m-%d") }}</td>
    </tr>
{% endfor %}
  </table>
</div>

{% endblock %}
