{% extends "base.html" %}{% set admin_area=True %}

{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}

{% set watchlist_entry = watchlist_entry or forms['watch_list_entry'] %}

{% block title %}Watchlist Entry Form{% endblock %}
{% block content %}
{% if entry.is_new %}
{{ macros.nav_menu(
  entry, c.PAGE_PATH,
  "../security_admin/watchlist_form", "Create Watchlist Entry", True,
  "../security_admin/index" ~ return_to_hash, "Return to Watchlist Overview", True
) }}
{% else %}
{{ macros.nav_menu(
  entry, c.PAGE_PATH,
  "../security_admin/watchlist_form?id={id}", "Watchlist Entry", True,
  "../security_admin/index" ~ return_to_hash, "Return to Watchlist Overview", True
) }}
{% endif %}

  {% if not entry.is_new %}
    <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info">
        <i class="fa fa-list"></i>&nbsp;Watchlist Entry
      </button>
    </li>
    {% set attendees = entry.attendees + entry.attendee_guesses %}
    {% if attendees %}
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="attendees-tab" data-bs-toggle="tab" data-bs-target="#attendees" type="button" role="tab" aria-controls="attendees">
          <i class="fa fa-user"></i>&nbsp;Matching Attendees
        </button>
      </li>
    {% endif %}
    </ul>
    </div>

    <div class="tab-content">
    <div class="row" style="padding: 10px;"></div>
    <div role="tabpanel" class="tab-pane" id="info" aria-labelledby="info-tab">
  {% else %}
    <div>
    <h3>Watchlist Entry Info</h3>
  {% endif %}
  <form method="post" action="watchlist_form" class="form-horizontal">
    {{ csrf_token() }}
    <input type="hidden" name="id" value="{{ entry.db_id }}" />

    {% if not entry.is_new %}
      <div class="row g-sm-3">
        <div class="col">
          <div class="form-text">Created</div>
          <div class="mb-3">{{ entry.created_info.when|full_datetime_local }} by {{ entry.created_info.who }}</div>
        </div>
        {% if entry.last_update_info %}
        <div class="col">
          <div class="form-text">Last Updated</div>
          <div class="mb-3">{{ entry.last_update_info.when|full_datetime_local }} by {{ entry.last_update_info.who }}</div>
        </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="row g-sm-3">
      <div class="col-12 col-sm-6">
        {{ form_macros.form_input(watchlist_entry.first_names) }}
      </div>
      <div class="col-12 col-sm-6">
        {{ form_macros.form_input(watchlist_entry.last_name) }}
      </div>
    </div>
    <div class="row g-sm-3">
      <div class="col-12 col-sm-6">
        {{ form_macros.form_input(watchlist_entry.email) }}
      </div>
      <div class="col-12 col-sm-6">
        {{ form_macros.form_input(watchlist_entry.birthdate) }}
      </div>
    </div>
    <div class="row g-sm-3">
      <div class="col-12 col-sm-6">
        {{ form_macros.form_input(watchlist_entry.reason, admin_text="The reason this attendee is on the watchlist.") }}
      </div>
      <div class="col-12 col-sm-6">
        {{ form_macros.form_input(watchlist_entry.action, admin_text="What, if anything, the attendee should do before checking in.") }}
      </div>
    </div>
    <div class="row g-sm-3">
      <div class="col-12 col-sm-6">
        {{ form_macros.form_input(watchlist_entry.expiration, admin_text="The watchlist will deactivate on this day.") }}
      </div>
    </div>
    <div class="row g-sm-3">
      <div class="col-12 col-sm-6">
        {{ form_macros.form_input(watchlist_entry.active) }}
      </div>
    </div>
  
    {% if not page_ro %}
      <div class="form-entry">
        <div class="col-sm-6 col-sm-offset-3">
          <button type="submit" class="btn btn-primary" value="Upload">Save</button>
        </div>
      </div>
      </form>

      {% if not entry.is_new %}
        <form method="post" action="delete" id="delete">
          {{ csrf_token() }}
          <input type="hidden" name="id" value="{{ entry.id }}" />
        </form>
      {% endif %}
    {% else %}
      </form>
    {% endif %}

    {% if not entry.is_new and attendees %}
    </div>
    <div role="tabpanel" class="tab-pane" id="attendees" aria-labelledby="attendees-tab">
      <table class="table datatable table-striped">
      <thead>
      <tr>
        <th>Confirmed?</th>
        <th>Name</th>
        <th>Status</th>
        <th>Paid</th>
        <th>Badge Type</th>
      </tr>
      </thead>
      <tbody>
      {% for attendee in attendees %}
        <tr>
          <td>{{ (attendee in entry.attendees)|yesno("Y,N") }}</td>
          <td style="padding:15px;"> <a href="#attendee_form?id={{ attendee.id }}">{{ attendee.full_name }}</a> </td>
          <td>{{ attendee.badge_status_label }}</td>
          <td>{{ attendee.paid_label }}</td>
          <td>{{ attendee.badge_type_label }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    
    {% endif %}
    </div>
{{ "js/window-hash-tabload.js"|serve_static_content }}
{% endblock %}