{% extends "preregistration/preregbase.html" %}
{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}

{% block masthead %}{% endblock %}
{% block title %}{{ c.EVENT_NAME }} Registration{% endblock %}
{% block content %}
<img src="../static/images/landing-logo.png" width="100%">
<h1 class="text-center">{{ c.EVENT_NAME_AND_YEAR }} Registration</h1>
{% block landing_info_box %}
{% if c.BADGE_TYPE_PRICES and (c.BEFORE_PREREG_TAKEDOWN or c.AT_THE_CON) %}
<div class="row g-sm-3 row-cols-auto justify-content-center">
    <div class="col {% if c.FORMATTED_BADGE_TYPES|length > 2 %}col-sm-10 {% endif %}justify-content-center text-center">{{ form_macros.card_select(badge_extras.badge_type, attendee.available_badge_type_opts, disabled_opts=c.SOLD_OUT_BADGE_TYPES, ) }}</div>
</div>
{% endif %}
{% endblock %}

{% if kiosk_mode %}
    <a class="btn btn-success btn-xl" href="../preregistration/form" role="button">Register for {{ c.EVENT_NAME_AND_YEAR }}</a>
{% else %}
    {% if c.ATTENDEE_ACCOUNTS_ENABLED %}
        {% if logged_in_account %}
        <div class="text-center">
            {% if logged_in_account.attendees and (c.BEFORE_PREREG_TAKEDOWN or c.AT_THE_CON) %}
            <a class="btn btn-info btn-lg" href="../preregistration/homepage" role="button">Continue to Homepage</a>
            {% elif c.BEFORE_PREREG_TAKEDOWN or c.AT_THE_CON %}
            <div class="btn-group">
                <a class="btn btn-primary btn-lg" href="../preregistration/form" role="button">
                    Register for {{ c.EVENT_NAME_AND_YEAR }}
                </a>
                {% if c.DEALER_REG_START and c.DEALER_REG_PUBLIC and c.DEALER_REG_OPEN %}
                <a class="btn btn-success btn-lg" href="../preregistration/dealer_registration" role="button">
                    Register as Dealer
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% else %}
        {% block login_intro %}
        <div class="text-center">
            <h2>Log in</h2>
        </div>
        {% endblock %}
            {% include 'preregistration/login_or_create_account.html' %}
        {% endif %}
    {% elif c.BEFORE_PREREG_TAKEDOWN or c.AT_THE_CON %}
    <div class="text-center">
    <div class="btn-group">
        <a class="btn btn-primary btn-lg" href="../preregistration/form" role="button">
            Register for {{ c.EVENT_NAME_AND_YEAR }}
        </a>
        {% if c.DEALER_REG_START and c.DEALER_REG_PUBLIC and c.DEALER_REG_OPEN %}
        <a class="btn btn-success btn-lg" href="../preregistration/dealer_registration" role="button">
            Register as Dealer
        </a>
        {% endif %}
    </div>
    </div>
    {% endif %}
{% endif %}
{% if kiosk_mode %}
<p class="text-end">
    <a class="btn btn-link btn-lg" href="../landing/index?exit_kiosk=True" role="button">
        Exit Kiosk Mode
    </a>
</p>
{% elif c.AT_THE_CON and c.ATTENDEE_ACCOUNTS_ENABLED and not c.SPIN_TERMINAL_AUTH_KEY %}
<p class="text-end">
    <a class="btn btn-link btn-lg" href="../registration/register?kiosk_mode=True" role="button">
        Enter Kiosk Mode
    </a>
</p>
{% endif %}

{% if not c.SSO_EMAIL_DOMAINS %}
<p class="text-end">
    <a class="btn btn-link btn-lg" href="../accounts/homepage" role="button">
        Admin Login
    </a>
</p>
{% endif %}

{% if not c.ATTENDEE_ACCOUNTS_ENABLED %}
<p class="text-end">
    <a class="btn btn-link btn-lg" href="../staffing/login" role="button">
        Staff/Volunteer Login
    </a>
</p>

<p class="text-end">
    <a class="btn btn-link btn-lg" href="../preregistration/check_if_preregistered" role="button">
        Check If Registered
    </a>
</p>
{% endif %}
{% endblock %}