env
.env-success
.vagrant
__pycache__
sessions/session-*
*.egg-info
*.log
development.conf
production.conf
event.conf
development.ini
#Project
workspace.xml
tasks.xml
distribute-*.tar.gz
*.swp
up.bat
add_table_extras.sql
bower_components/
node_modules/
.tox
.cache
.eggs/
.coverage