env
.env-success
.vagrant
__pycache__
*.py[cod]
sessions/session-*
*.egg-info
*.log
development.conf
production.conf
event.conf
development.ini
test.ini
#Project
workspace.xml
tasks.xml
distribute-*.tar.gz
*.swp
up.bat
add_table_extras.sql
bower_components/
node_modules/
.tox
.cache
.eggs/
.coverage
uploaded_files/*
uber/static/analytics/extra-attendance-data.json
uber/static/fonts/free3of9.pkl
*.DS_Store
