alembic==1.16.4
authorizenet @ git+https://github.com/magfest/sdk-python.git@d8f30cff62234005d634864887604093f221b4a5
aztec-code-generator==0.11
bcrypt==4.3.0
bleach==6.2.0
boto3==1.39.4
celery==5.5.3
checkdigit==0.5.0
cherrypy==18.10.0
configobj==5.0.9
email_validator==2.2.0
fpdf2==2.8.3
geopy==2.4.1
ics==0.7.2
Jinja2==3.1.6
ortools==9.14.6206
phonenumbers==9.0.9
Pillow==11.3.0
pockets==0.9.1
psutil
pypsutil==0.2.0
psycopg2-binary==2.9.10
pycountry==24.6.1
python-barcode[images]==0.15.1
python-dateutil==2.9.0.post0
python3-saml==1.16.0
pytz==2025.2
pyyaml==6.0.2
redis==6.2.0
requests==2.32.4
residue @ git+https://github.com/magfest/residue.git@7e54dc756de01aa2d0152731ce678303ed88080c
rpctools @ git+https://github.com/appliedsec/rpctools.git@4e4108c3b7b4b6c482e515b1eeea2d79568cf065
sentry-sdk==2.32.0
signnow_python_sdk==2.0.1
SQLAlchemy==1.4.54
stripe==9.1.0
twilio==9.6.5
uszipcode==1.0.1
WTForms==3.2.1
XlsxWriter==3.2.5
xmlsec==1.3.16
