alembic==1.11.2
authorizenet @ git+https://github.com/magfest/sdk-python.git@5747db90be0ef42b81f5fb3916d5829275b80576
aztec-code-generator==0.11
bcrypt==4.0.1
bleach==6.1.0
boto3==1.28.20
celery==5.3.1
checkdigit==0.3.1
cherrypy==18.8.0
email_validator==2.0.0.post2
fpdf==1.7.2
geopy==2.3.0
ics==0.7.2
Jinja2==3.1.2
phonenumbers==8.13.18
Pillow==10.0.0
pockets==0.9.1
psycopg2==2.9.6
pycountry==22.3.5
python-dateutil==2.8.2
python3-saml==1.15.0
pytz==2023.3
pyyaml==6.0.1
redis==4.6.0
requests==2.31.0
residue @ git+https://github.com/magfest/residue.git@3935b8cce36f85f9c8a7837c52a88ee096f24d3d
sentry-sdk==1.9.0
spin_rest_utils>=0.0.1
signnow_python_sdk==2.0.1
SQLAlchemy==1.4.49
stripe==5.5.0
treepoem==3.23.0
twilio==8.5.0
uszipcode==1.0.1
WTForms==3.0.1
XlsxWriter==3.1.2
