{% extends "base.html" %}
{% block title %}Attendee History - {{ attendee.full_name }}{% endblock %}
{% block content %}

{% include "registration/menu.html" %}

<h2> {{ attendee.full_name }} changelog </h2>

<table class="list">
<tr class="header">
    <td>Which</td>
    <td>What</td>
    <td>When</td>
    <td>Who</td>
    <td>Changes</td>
</tr>
{% for tracked in changes %}
    <tr>
        <td style="white-space:nowrap">{{ tracked.model }}</td>
        <td style="white-space:nowrap">{{ tracked.get_action_display }}</td>
        <td style="white-space:nowrap">{{ tracked.when }}</td>
        <td style="white-space:nowrap">{{ tracked.who }}</td>
        <td>{{ tracked.data }}</td>
    </tr>
{% endfor %}
</table>

{% if attendee.past_years %}
    <h2> Past Years' Staffing </h2>
    {% for year in attendee.past_years_json %}
        <h3>{{ year.year }}</h3>
        <b>{{ year.worked_hours }}</b> hours worked ({{ year.nonshift_hours }} of them were nonshift hours) <br/>
        <b>{{ year.unworked_hours }}</b> hours unworked
        
    {% endfor %}
{% endif %}

<h2> Automated Emails </h2>

{% for email in emails  %}
    <h3> {{ email.subject }} ({{ email.when }}) </h3>
    <div style="font-family:courier">{{ email.html }}</div>
{% endfor %}

{% endblock %}
