{% extends "base.html" %}
{% block title %}Attendee History - {{ attendee.full_name }}{% endblock %}
{% block content %}

{% include "registration/menu.html" %}

<h2> {{ attendee.full_name }} changelog </h2>

<table class="list">
<tr class="header">
    <td>Which</td>
    <td>What</td>
    <td>When</td>
    <td>Who</td>
    <td>Changes</td>
</tr>
{% for tracked in changes %}
    <tr>
        <td style="white-space:nowrap">{{ tracked.model }}</td>
        <td style="white-space:nowrap">{{ tracked.get_action_display }}</td>
        <td style="white-space:nowrap">{{ tracked.when }}</td>
        <td style="white-space:nowrap">{{ tracked.who }}</td>
        <td>{{ tracked.data }}</td>
    </tr>
{% endfor %}

{% endblock %}
