{% extends "base.html" %}
{% block title %}Merch Booth{% endblock %}
{% block content %}

<script type="text/javascript">
    var $shirtOpts = $("<select/>").attr("id", "shirt");
    $.each({{ SHIRT_OPTS|jsonize }}, function(i,size) {
        $shirtOpts.append($("<option/>").val(size[0]).text(size[1]));
    });
    
    function recordSale() {
        $.post("record_sale", {
                id:      "None",
                what:    $("#what_select").val() || $("#what_text").val() || "",
                cash:    $("#store_cash").val(),
                mpoints: $("#store_mpoints").val()
            }, function(json) {
                $("#message").html(json.message);
                if (json.success) {
                    $("#message").append(' &nbsp; <a href="#" onClick="undoSale(' + json.id + ') ; return false">Undo</a>');
                }
            }, "json");
    }
    function undoSale(id) {
        $.post("undo_sale", {"id": id}, function(message) {
            $("#message").html(message);
        });
    }
    function showOrHideWhatText(page_loading) {
        $("#store_mpoints").val("0");
        if( $("#what_select").val() == "" ) {
            $("#what_text").show().focus();
            $("#store_cash").val("");
        }
        else {
            var prices = {{ STORE_PRICES|safe }};
            $("#what_text").val("").hide();
            $("#store_cash").val( prices[$("#what_select").val()] );
            if( !page_loading )
                $("#store_amount").focus();
        }
    }
    
    function recordMPointExchange() {
        $.post("record_mpoint_exchange", {
                badge_num:  $("#ex_badge_num").val(),
                mpoints:    $("#ex_mpoints").val()
            }, function(json) {
                $("#message").html(json.message);
                if (json.success) {
                    $("#ex_badge_num,#ex_mpoints").val("");
                    $("#message").append(' &nbsp; ').append(
                        $('<a href="#">Undo</a>').click(function(){
                            undoMPointExchange(json.id);
                            return false;
                        }));
                }
           }, "json");
    }
    function undoMPointExchange(id) {
        $.post("undo_mpoint_exchange", {"id": id}, function(s) {
            $("#message").html(s);
        });
    }
    
    function giveMerch(id, shirtSize) {
        $("#give button").attr("disabled", true);
        $.post("give_merch", {id: id, shirt_size: shirtSize || null}, function(json) {
            $("#give").html("");
            $("#badge_num").val("");
            $("#message").html(json.message);
            if (json.success) {
                $("#message")
                    .append(" &nbsp; ")
                    .append(
                        $('<a href="#">Undo</a>').click(function(){
                            takeBackMerch(id);
                            return false;
                         }));
            }
        }, "json");
    }
    function takeBackMerch(id) {
        $.post("take_back_merch", {id: id}, function(message) {
            $("#message").html(message);
        });
    }
    
    $(function(){
        $("#message").ajaxError(function(){
            showTop("Oh noes - the web server is down or something!!!!!");
        });
        
        $("input[type=text],input[type=number]").on("focus", function(event){
            var field = event.target;
            setTimeout(function(){ field.select(); }, 1);
        });
        
        showOrHideWhatText(true);
        $("#what_text,#store_amount").keypress(function(e){
            if( (e.keyCode || e.which) == 13 )  // ENTER
                recordSale();
        });
        
        $("#ex_badge_num,#ex_mpoints,#cash").keypress(function(e){
            if( (e.keyCode || e.which) == 13 )  // ENTER
                recordMPointExchange();
        });
        
        $("#swag").on("submit", function(e){
            $("#give,#message").html("");
            $.post("check_merch", {badge_num: $("#badge_num").val()}, function(resp) {
                if (!resp.id) {
                    $("#message").html(resp.message);
                } else {
                    $("#give").html(resp.message + "<br/>");
                    if (resp.tshirt) {
                        $("#give").append("Choose a shirt size:").append($shirtOpts);
                    }
                    $("#give").append(
                        $("<button>Give Merch</button>").click(function() {
                            giveMerch(resp.id, $("#shirt").val());
                            return false;
                        }));
                }
            }, "json");
            return false;
        });
    });
</script>

<table>
<tr>
    <td> Last year's MPoints turned in: </td>
    <td> Badge num: <input type="number" id="ex_badge_num" min="1" max="99999" /> </td>
    <td> exchanged <input type="number" id="ex_mpoints" min="1" max="9999" /> MPoints </td>
    <td> <input type="submit" id="record_mpe" value="Record Exchange" onClick="recordMPointExchange()" /> </td>
</tr>
</tr><tr> <td colspan="4"> ---OR--- </td> </tr>
<tr>
    <td> Record a Sale: </td>
    <td>
        <select id="what_select" onChange="showOrHideWhatText()">
            {% options STORE_ITEMS %}
            <option value="">Other...</option>
        </select>
        <input type="text" id="what_text" size="20" maxlength="50" />
    </td>
    <td> Money: $<input type="number" id="store_cash" min="0" max="999" /> </td>
    <td> MPoints: <input type="number" id="store_mpoints" min="0" max="999" /> </td>
    <td> <input type="submit" id="record_sale" value="Record Sale" onClick="recordSale()" />
</td>
<tr> <td colspan="4"> ---OR--- </td>
<tr>
    <td> Give Merch </td>
    <td colspan="2">
        <form id="swag">
        Badge Number: <input type="number" id="badge_num" min="1" max="99999" />
        <input type="submit" id="give_merch" value="Check Merch" />
        </form>
    </td>
    <td colspan="2"></td>
</tr>
<tr>
    <td></td>
    <td id="give" colspan="4" style="color:red"></td>
</tr>
</table>

{% endblock %}
