{% extends "base.html" %}
{% block title %}Recent At-the-Door Registrations{% endblock %}
{% block content %}

{% if checked_in %}
    <a href="undo_new_checkin?id={{ checked_in }}">Undo</a>
{% endif %}

<script type="text/javascript">
    var UNASSIGNED = {{ unassigned|jsonize }};
    function groupChosen(group) {
        var $group = $(group);
        var $link = $group.prev("a");
        var $badgeNum = $group.nextAll(":text");
        if ($group.val() == "") {
            $link.hide();
        } else {
            $link.show().attr("href", "../groups/form?id=" + $group.val());
        }
        $badgeNum.focus();
    }
</script>

<h2> Recent At-the-Door Registrations </h2>

<div style="text-align:center">
    <a href="index">Click Here</a> to view the preregistered and checked in attendee list
</div>

<br/>

<table class="list">
<tr class="header">
    <td align="left">Name</td>
    <td>Badge Type</td>
    <td>Age</td>
    <td>Paid</td>
    <td>Emergency #</td>
    <td>Badge</td>
    <td></td>
</tr>
{% for attendee in recent %}
    <tr>
        <td align="left">
            <a href="form?return_to=new%3f&id={{ attendee.id }}">{{ attendee.full_name }}</a>
            {% if attendee.banned %}
                <div style="color:red">This attendee's name matches the name of a banned person.  Please get a department head to handle this.</div>
            {% endif %}
        </td>
        <td>{{ attendee.get_badge_type_display }}</td>
        <td>{{ attendee.get_age_group_display }}</td>
        <td>
            {% if attendee.paid == HAS_PAID %}
                paid
            {% else %}
                <form method="post" action="mark_as_paid">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ attendee.id }}" />
                <input type="submit" value="Mark as Paid" />
                </form>
            {% endif %}
        </td>
        <form method="post" action="new_checkin">
        <td> <input type="text" name="ec_phone" value="{{ attendee.ec_phone }}" size="12" /> </td>
        <td>
            <a href="" style="display:none">View</a>
            <select name="group" onChange="groupChosen(this)">
                <option value="">No Group</option>
                {% options groups %}
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="badge_num" size="4" />
        </td>
        <td>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ attendee.id }}" />
            <input type="submit" value="Check In" />
        </td>
        </form>
    </tr>
{% endfor %}
</table>

{% endblock %}
