{% extends "base.html" %}
{% block title %}Recent At-the-Door Registrations{% endblock %}
{% block content %}

{% if checked_in %}
    <a href="undo_new_checkin?id={{ checked_in }}">Undo</a>
{% endif %}

<script type="text/javascript">
    // automatically log out after 5 minutes of inactivity
    setTimeout(function() {
        window.location = "../accounts/logout";
    }, 300000);
    
    var UNASSIGNED = {{ unassigned|jsonize }};
    var groupChosen = function(group) {
        var $group = $(group);
        var $link = $group.prev("a");
        var $badgeNum = $group.nextAll(":text");
        if ($group.val() == "") {
            $link.hide();
        } else {
            $link.show().attr("href", "../groups/form?id=" + $group.val());
        }
        $badgeNum.focus();
    };
    
    var toggleMarkButton = function(dropdown) {
        var $button = $(dropdown).parent().find(":submit");
        if ($(dropdown).val()) {
            $button.removeAttr("disabled");
        } else {
            $button.attr("disabled", "disabled");
        }
    };
    $(function() {
        $("table.list select[name=payment_method]").each(function(i, dropdown) {
            toggleMarkButton(dropdown);
        });
    });
    
    var recordFee = function() {
        $.post("record_sale", {
                id:             "None",
                what:           $("#what_select").val() || $("#what_text").val() || "",
                cash:           $("#store_cash").val(),
                badge_num:      $("#badge_num").val(),
                payment_method: $("#payment_method").val(),
                mpoints:        0,
                csrf_token:     csrf_token
            }, function(json) {
                $("#message").html(json.message);
                if (json.success) {
                    $("#badge_num").val("");
                    $("#message").append(' &nbsp; <a href="#" onClick="undoSale(' + json.id + ') ; return false">Undo</a>');
                }
            }, "json");
    };
    var undoSale = function(id) {
        $.post("undo_sale", {"id": id, csrf_token: csrf_token}, function(message) {
            $("#message").html(message);
        });
    };
    var showOrHideWhatText = function(page_loading) {
        $("#store_mpoints").val("0");
        if( $("#what_select").val() == "" ) {
            $("#what_text").show().focus();
            $("#store_cash").val("");
        }
        else {
            var prices = {{ FEE_PRICES|safe }};
            $("#what_text").val("").hide();
            $("#store_cash").val( prices[$("#what_select").val()] );
            if( !page_loading )
                $("#store_amount").focus();
        }
    };
    $(showOrHideWhatText);
</script>

<h2> {% if not show_all %}Recent{% endif %} At-the-Door Registrations </h2>

<div style="text-align:center">
    {% if show_all %}
        <a href="new">Click Here</a> to see only recent at-the-door registrations
    {% else %}
        <a href="new?show_all=true">Click Here</a> to see all at-the-door registrations instead of only recent ones
    {% endif %}
    <br/> <a href="index">Click Here</a> to view the preregistered and checked in attendee list
    <br/> <a href="arbitrary_charge_form">Click Here</a> to create arbitrary credit card charges if Square stops working
</div>

<div id="transactions" style="text-align:center ; margin-top:5px ; padding:10px ; background:lightgray">
    <table> <tr>
        <td>Record a Fee: </td>
        <td>
            Payment Method:
            <select id="payment_method">
                {% options FEE_PAYMENT_OPTS %}
            </select>
        </td>
        <td>Badge Num: <input type="text" id="badge_num" size="4" class="focus" /></td>
        <td>
            <select id="what_select" onChange="showOrHideWhatText()">
                {% options FEE_ITEMS %}
                <option value="">Other...</option>
            </select>
            <input type="text" id="what_text" size="20" maxlength="50" />
        </td>
        <td> Money: $<input type="text" id="store_cash" size="2" /> </td>
        <td> <input type="submit" id="record_sale" value="Record Fee" onClick="recordFee()" /> </td>
    </tr> </table>
</div>

<br/>

<table class="list">
<tr class="header">
    <td align="left">Name</td>
    <td>Badge Type</td>
    <td>Age</td>
    <td>Paid</td>
    <td>Emergency #</td>
    <td>Badge</td>
    <td></td>
</tr>
{% for attendee in recent %}
    <tr>
        <td align="left">
            <a href="form?return_to=new%3f&id={{ attendee.id }}">{{ attendee.full_name }}</a>
            {% if attendee.banned %}
                <div style="color:red">This attendee's name matches the name of a banned person.  Please get a department head to handle this.</div>
            {% endif %}
        </td>
        <td>{{ attendee.get_badge_type_display }}</td>
        <td>{{ attendee.get_age_group_display }}</td>
        <td>
            {% if attendee.paid == HAS_PAID %}
                paid
            {% elif attendee.payment_method == GROUP %}
                group
            {% else %}
                <form method="post" action="mark_as_paid">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ attendee.id }}" />
                <select name="payment_method" onChange="toggleMarkButton(this)">
                    <option value="">payment method</option>
                    {% options NEW_REG_PAYMENT_OPTS attendee.payment_method %}
                </select>
                <input type="submit" disabled="disabled" value="Mark as Paid" />
                </form>
            {% endif %}
        </td>
        <form method="post" action="new_checkin">
        <td> <input type="text" name="ec_phone" value="{{ attendee.ec_phone }}" size="12" /> </td>
        <td>
            <a href="" style="display:none">View</a>
            <select name="group" onChange="groupChosen(this)">
                <option value="">No Group</option>
                {% options groups %}
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="badge_num" size="4" />
        </td>
        <td>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ attendee.id }}" />
            <input type="submit" value="Check In" {% if attendee.paid == NOT_PAID %}disabled{% endif %} />
        </td>
        </form>
    </tr>
{% endfor %}
</table>

{% endblock %}
