{% extends "base.html" %}
{% block title %}Unpaid Attendees{% endblock %}
{% block content %}

<h2> Unpaid Attendees </h2>

<table class="list">
<tr class="header">
    <td> Name </td>
    <td> Registered </td>
    <td> Emails Sent </td>
    <td> Last Contacted </td>
    <td></td>
</tr>
{% for attendee in unpaid %}
    <tr bgcolor="{% cycle #FFFFFF,#DDDDDD %}">
        <td> <a href="form?id={{ attendee.id }}">{{ attendee.full_name }}</a> </td>
        <td> {{ attendee.registered }} </td>
        <td>
            {% if attendee.contacts %}
                <a href="past_emails?id={{ attendee.id }}">{{ attendee.contacts|length }}</a>
            {% else %}
                0
            {% endif %}
        </td>
        <td>
            {% if attendee.contacts %}
                {{ attendee.contacts.0.when }}
            {% else %}
                n/a
            {% endif %}
        </td>
        <td> <a href="reminder_email?id={{ attendee.id }}">Send Email</a> </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
