{% set password_help %}
<p class="form-text">
    Passwords must be at least {{ c.MINIMUM_PASSWORD_LENGTH }} characters long
    {% if c.PASSWORD_CONDITIONS %}
        and contain at least 
    {% for entry in c.PASSWORD_CONDITIONS %}
    {% if not loop.first and c.PASSWORD_CONDITIONS|length > 2 %}, {% elif not loop.first %} {% endif %}
    {% if loop.last %}and {% if c.PASSWORD_CONDITIONS|length <= 2 %}at least {% endif %}{% endif %}
    one {{ entry.split('_')[0] }}{% if entry.split('_')[1] %} letter{% endif %}{% if entry.split('_')[0] == 'special' %} character [{{ c.PASSWORD_SPECIAL_CHARS }}]{% endif %}
    {% endfor %}.
    {% endif %}
</p>
{% endset %}

{% set new_password_validation %}
<script type="text/javascript">
    var password = document.getElementById("new-password")
    , confirm_password = document.getElementById("confirm-password");

    function validatePassword(){
        new_password = password.value;
        var password_conditions = {{ c.PASSWORD_CONDITIONS|safe }};
        if (new_password.length < {{ c.MINIMUM_PASSWORD_LENGTH }}) {
            password.setCustomValidity("Password must be at least {{ c.MINIMUM_PASSWORD_LENGTH }} characters long.");
        } else if (!new_password.match(/[a-zA-Z0-9{{ c.PASSWORD_SPECIAL_CHARS|safe }}]/)) {
            password.setCustomValidity("Password must contain only letters, numbers, and the following symbols: {{ c.PASSWORD_SPECIAL_CHARS|safe }}");
        } else if (password_conditions.includes('lowercase_char') && !/[a-z]/.test(new_password)) {
            password.setCustomValidity("Password must contain at least one lowercase letter.");
        } else if (password_conditions.includes('uppercase_char') && !/[A-Z]/.test(new_password)) {
            password.setCustomValidity("Password must contain at least one uppercase letter.");
        } else if (password_conditions.includes('number') && !/[0-9]/.test(new_password)) {
            password.setCustomValidity("Password must contain at least one number.");
        } else if (password_conditions.includes('special') && !/[{{ c.PASSWORD_SPECIAL_CHARS|safe }}]/.test(new_password)) {
            password.setCustomValidity("Password must contain at least one of the following symbols: {{ c.PASSWORD_SPECIAL_CHARS|safe }}");
        } else {
            password.setCustomValidity('')
        }

        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Please make sure the passwords match.");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onkeyup = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
{% endset %}