{% macro label(field, label_text='', required_if=None) %}
  <label for="{{ field.label.field_id }}"
{% for key in kwargs %} {{ key }}="{{ kwargs[key] }}"{% endfor %}>{{ label_text }}
  <span class="required-indicator text-danger" x-show="{{ required_if }}"> *</span></label>
{% endmacro %}


{% macro input(field, label_text='', help_text='', admin_text='', show_label=True) %}
{#
  Renders the bootstrap scaffolding needed for a WTForms field based on its widget.
  field (Field): WTForms form field.
  help_text (str): Extra text to display on non-admin pages underneath the field.
  admin_text (str): Extra text to display on admin pages underneath the field.
  show_label (bool): Set to False to avoid rendering the label for the field.
#}

{% set custom_kwargs = {} %}

{% for key, val in kwargs.items() %}
  {% if key.startswith('alpine_') %}
  {% set _ = custom_kwargs.update({'x-' ~ key[7:]: val}) %}
  {% else %}
  {% set _ = custom_kwargs.update({key: val}) %}
  {% endif %}
{% endfor %}

{% if locked_fields|default(None, true) and field.name in locked_fields and not upgrade_modal %}
{% set _ = custom_kwargs.update({'readonly': true}) %}
{% endif %}

{% set widget = field.widget|string %}
{% set label_text = label_text or field.label.text %}
{% set label_required = kwargs['required_if'] if 'required_if' in kwargs else ("true" if field.flags.required else "false") %}
{% set is_readonly = ('readonly' in kwargs and kwargs['readonly'] == True) or 'readonly' in field.render_kw %}

{% set text_below_field %}
  {% if not admin_area and (help_text or field.description) %}
    <div class="form-text">
    {{ help_text or field.description }}
    </div>
  {% elif admin_area and admin_text %}
    <div class="form-text">
    {{ admin_text }}
    </div>
  {% endif %}
  <div id="{{ field.id }}-validation" class="invalid-feedback" role="alert"></div>
{% endset %}

{% if show_label and 'Checkbox' not in widget and 'SwitchInput' not in widget and 'Hidden' not in widget %}
  <div class="form-text">{{ label(field, label_text, label_required) }}</div>
{% endif %}
{% if 'CheckboxInput' in widget or 'SwitchInput' in widget %}
  <div class="form-check{% if type == 'switch' %} form-switch{% endif %}">
    {% if is_readonly %}
    <input type="hidden" name="{{ field.id }}" value="{{ field.data }}" />
    {{ field(checked=field.data, disabled=true, value=1, **custom_kwargs) }}
    {% else %}
    {{ field(checked=field.data, value=1, **custom_kwargs) }}
    {% endif %}
    {{ label(field, label_text, label_required) }}
    {{ text_below_field }}
    {% if caller %}{{ caller() }}{% endif %}
  </div>
{% elif 'NumberInputGroup' in widget %}
  <div class="input-group">
  {{ field(**custom_kwargs) }}
  </div>
  {{ text_below_field }}
  {% if caller %}{{ caller() }}{% endif %}
{% elif 'MultiCheckbox' in widget %}
<fieldset id="{{ field.id }}">
  {% if show_label %}<legend class="mb-0 form-text">{{ label(field, label_text, label_required) }}</legend>{% endif %}
  <div class="card card-body">
    <div class="checkgroup">
      {{ field(**custom_kwargs) }}
      {% if caller %}{{ caller() }}{% endif %}
    </div>
  </div>
  {{ text_below_field }}
</fieldset>
{% else %}
  {% if 'FileInput' in widget and field.data %}{{ field.data }}<br/>{% endif %}
  {{ field(**custom_kwargs) }}
  {{ text_below_field }}
  {% if caller %}{{ caller() }}{% endif %}
{% endif %}
{% endmacro %}


{% macro form_label(field, label_text='', required=None) %}
{% set is_required = required == True or (required == None and field.flags.required) %}
<label for="{{ field.label.field_id }}"
{% for key in kwargs %} {{ key }}="{{ kwargs[key] }}"{% endfor %}><span class="form-label">{{ label_text }}</span>
  <span class="required-indicator text-danger"{% if not is_required %} style="display: none"{% endif %}> *</span></label>
{% endmacro %}

{% macro form_input_extras(field, help_text='', admin_text='', extra_field=None) %}
  {% if not admin_area and (help_text or field.description) %}
    <div class="form-text">
    {{ help_text or field.description }}
    </div>
  {% elif admin_area and admin_text %}
    <div class="form-text">
    {{ admin_text }}
    </div>
  {% endif %}
  {% if extra_field %}
    {{ extra_field }}
  {% endif %}
  <div id="{{ field.id }}-validation" class="invalid-feedback" role="alert"></div>
{% endmacro %}

{% macro form_input(field, label_text='', help_text='', admin_text='', extra_field=None, no_margin=False, hidden_field_text='', force_hidden=False) %}
{#
  Renders the bootstrap scaffolding needed for a WTForms field based on its widget.
  field (Field): WTForms form field.
  help_text (str): Extra text to display on non-admin pages underneath the field.
  admin_text (str): Extra text to display on admin pages underneath the field.
  extra_field (Field): A second field to render underneath this field. Particularly useful for a toggle checkbox that affects the 
        field.
  no_margin (bool): If true, removes the `mb-3` class. Useful in cases where a containing div already has a margin.
  hidden_field_text (str): For fields with the HiddenInput widget, this is the custom display text for the field, which is 
        useful in situations where a field is always read-only. If not set, the field is rendered without any scaffolding.
  force_hidden (bool): If true, the field is rendered as a hidden field instead of whatever its widget is.
#}

{% set custom_kwargs = kwargs %}
{% if locked_fields|default(None, true) and field.name in locked_fields and not upgrade_modal %}
{% set _ = custom_kwargs.update({'readonly': true}) %}
{% endif %}

{% set type = field.meta.get_field_type(field) %}
{% set label_text = label_text or field.label.text %}
{% set label_required = kwargs['required'] if 'required' in kwargs else field.flags.required %}
{% set is_readonly = ('readonly' in kwargs and kwargs['readonly'] == True) or 'readonly' in field.render_kw %}
{% if type == 'hidden' or force_hidden %}
{% set field_data = field.data|yesno("True,False") if force_hidden and type in ['checkbox','switch'] else field.data %}
  {% if hidden_field_text %}
    <div class="form-text">{{ label_text }}</div>
    <div{% if not no_margin %} class="mb-3"{% endif %}>
      {% if force_hidden %}
        <input type="hidden" name="{{ field.name }}" id="{{ field.id }}" value="{{ field_data or kwargs['default']|default('') }}" />
      {% else %}
        {{ field(**custom_kwargs) }}
      {% endif %}
      {{ hidden_field_text }}
    </div>
  {% else %}
  {% if force_hidden %}
    <input type="hidden" name="{{ field.name }}" id="{{ field.id }}" value="{{ field_data or kwargs['default']|default('') }}" />
  {% else %}
    {{ field(**custom_kwargs) }}
  {% endif %}
  {% endif %}
{% elif type in ['checkbox','switch'] %}
<div class="form-check{% if type == 'switch' %} form-switch{% endif %}{% if not no_margin %} mb-3{% endif %}">
  {% if is_readonly %}
  <input type="hidden" name="{{ field.id }}" value="{{ field.data }}" />
  {{ field(class="form-check-input", checked=field.data, disabled=true, value=1, **custom_kwargs) }}
  {% else %}
  {{ field(class="form-check-input", checked=field.data, value=1, **custom_kwargs) }}
  {% endif %}

  {{ form_label(field, label_text=label_text, required=label_required, class="form-check-label") }}
  {{ form_input_extras(field, help_text, admin_text, extra_field) }}
</div>
{% elif type == 'inputgroup' %}
<div class="form-text">{{ form_label(field, label_text=label_text, required=label_required) }}</div>
<div {% if not no_margin %}class="mb-3"{% endif %}>
<div class="input-group">
{{ field(class="form-control", **custom_kwargs) }}
</div>
{{ form_input_extras(field, help_text, admin_text, extra_field) }}
</div>
{% elif type == 'checkgroup' %}
<div class="card card-body{% if not no_margin %} mb-3{% endif %}">
    {{ field(**custom_kwargs) }}
    {% if extra_field %}
    <div class="col col-6 mt-1">
      {{ extra_field }}
    </div>
    {% endif %}
    {{ form_input_extras(field, help_text, admin_text) }}
</div>
{% elif type == 'select' %}
<div class="form-floating{% if not no_margin %} mb-3{% endif %}">
    {{ field(class="form-select", **custom_kwargs) }}
    {{ form_label(field, label_text=label_text, required=label_required) }}
    {{ form_input_extras(field, help_text, admin_text, extra_field) }}
</div>
{% elif type == 'customselect' %}
<div class="form-floating{% if not no_margin %} mb-3{% endif %}">
    {{ field(**custom_kwargs) }}
    {{ form_label(field, label_text=label_text, required=label_required) }}
    {{ form_input_extras(field, help_text, admin_text, extra_field) }}
</div>
{% elif type == 'ranking' %}
  {% if is_readonly %}
  {{ field(**custom_kwargs) }}
  {{ form_input_extras(field, help_text, admin_text, extra_field) }}
  {% else %}
  <div{% if not no_margin %} class="mb-3"{% endif %}>
    {{ field(**custom_kwargs) }}
    {{ form_input_extras(field, help_text, admin_text, extra_field) }}
  </div>
  {% endif %}
{% elif type == 'file' %}
<div class="form-text">{{ form_label(field, label_text=label_text, required=label_required) }}</div>
<div{% if not no_margin %} class="mb-3"{% endif %}>
  {% if field.data %}{{ field.data }}<br/>{% endif %}
  {{ field(**custom_kwargs) }}
  {% if extra_field %}
  <div class="col col-6 mt-1">
    {{ extra_field }}
  </div>
  {% endif %}
  {{ form_input_extras(field, help_text, admin_text) }}
</div>
{% else %}
<div class="form-floating{% if not no_margin %} mb-3{% endif %}">
    {{ field(class="form-control", **custom_kwargs) }}
    {{ form_label(field, label_text=label_text, required=label_required) }}
    {{ form_input_extras(field, help_text, admin_text, extra_field) }}
</div>
{% endif %}
{% endmacro %}

{% macro toggle_checkbox(checkbox_field, target_fields, toggle_required=False, hide_on_checked=False, prop='visibility', closest_hide_selector='.row') -%}
{{ form_input(checkbox_field, **kwargs) }}

{{ toggle_fields_js(checkbox_field, target_fields, off_values=[1 if hide_on_checked == True else 0], toggle_required=toggle_required, prop=prop, closest_hide_selector=closest_hide_selector) }}
{%- endmacro %}

{% macro toggle_fields_js(source_field, target_fields, off_values=[], on_values=[], toggle_required=False, prop='visibility', closest_hide_selector='.row', source_field_id='', target_call_func='', target_field_prepend='') %}
{% set source_id = source_field_id or source_field.id %}
{% set suffix = "_" ~ source_id %}
<script type="text/javascript">
    var toggleField{{ suffix }} = function() {
        var toggleOn, toggleVal;

        // Get the checked/unchecked status if the field is a checkbox, otherwise get the field's value
        if ($("#{{ source_id }}").is(':checkbox')) {
            toggleVal = $('#{{ source_id }}').prop('checked') ? "1" : "0";
        } else if ($("#{{ source_id }}").is("fieldset")) {
            // For checkgroup source fields, we only support a single on_value
            toggleOn = $('#{{ source_id }}-{{ on_values[0]|string }}').prop('checked') ? true : false;
        } else {
            toggleVal = $("#{{ source_id }}").val();
        }

        // Set whether we should toggle the target fields "on" or "off" based on the values provided
        // If no off_values or on_values were provided, we rely on truthiness instead
        if (toggleOn === undefined) {
            {% if off_values %}
                toggleOn = ({{ off_values|safe }}.map(String).includes(toggleVal) === false);
            {% elif on_values %}
                toggleOn = {{ on_values|safe }}.map(String).includes(toggleVal);
            {% else %}
                toggleOn = Boolean(isNaN(parseInt(toggleVal)) ? toggleVal : parseInt(toggleVal));
            {% endif %}
        }

        {% for target_field in target_fields %}
          {%- if prop == 'visibility' %}
              $('#{{ target_field_prepend ~ target_field.id }}').toggle(toggleOn);
              {%- if closest_hide_selector %}
                  $('#{{ target_field_prepend ~ target_field.id }}').closest('{{ closest_hide_selector }}').toggle(toggleOn);
              {%- endif %}
          {%- elif prop %}
              $('#{{ target_field_prepend ~ target_field.id }}').prop('{{ prop }}', {{ "!" if prop != 'required' and prop != 'checked' else '' }}toggleOn);
          {%- endif %}
          {%- if toggle_required %}
            $('#{{ target_field_prepend ~ target_field.id }}').prop('required', toggleOn);
            $('#{{ target_field_prepend ~ target_field.id }}').siblings('label').children('.required-indicator').toggle(toggleOn);
          {%- endif %}
          {% if not target_call_func %}
            $('#{{ target_field_prepend ~ target_field.id }}').trigger('change');
          {% endif %}
        {% endfor %}
    }

    $(function () {
        toggleField{{ suffix }}();
        $('#{{ source_id }}').change(toggleField{{ suffix }});
        {% for target_field in target_fields %}
          {% if target_call_func %}
            $('#{{ target_field_prepend ~ target_fields[0].id }}').change({{ target_call_func }});
          {% endif %}
        {% endfor %}
    });
</script>
{%- endmacro %}

{% macro card_select(target_field, opts, text_class="text-center", help_text="", disabled_opts=[], target_field_id="", disabled_card_text="Sold Out") %}
{# 
    A set of card elements generated from opts. Each item in opts should include the following fields:
        name (str): The title displayed at the top of the card.
        desc (str): A short description of the card. Will be rendered as HTML.
        value (str): The value the card should set on the target_field when clicked.
        price (optional str): A price to display below the title.
        icon (optional str): The path for an icon for the card, e.g., ../static/icons/sponsor.png
        link (optional str): The path for a template. If present, a "Read more" link is added to the card that opens that template in a pop-up.

    Note that transform: rotate(0) is used to contain our stretched links to the desired element.
    Don't change it or the "Read More" links won't work.
#}

{% set is_preview = 'landing' in c.PAGE_PATH %}
{% set read_only = locked_fields|default(None, true) and target_field.name in locked_fields and not upgrade_modal %}
{% set label_required = kwargs['required'] if 'required' in kwargs else target_field.flags.required %}
{% set field_id = target_field_id or target_field.id %}
{% set show_desc = not admin_area and not is_preview and (help_text or target_field.description) %}

{% if is_preview %}
<strong>The following badges are currently available:</strong>
{% else %}
<fieldset id="{{ target_field.id }}-select">
  <legend class="mt-3 mb-0 form-text">
    {{ kwargs['label'] if 'label' in kwargs else target_field.label.text }}{% if label_required %}<span class="required-indicator text-danger"> *</span>{% endif %}
  </legend>
{% endif %}
<div class="card-group mt-0{% if not show_desc %} mb-3{% endif %}">
{% for opt in opts %}
{% set disabled_card = opt.value in disabled_opts %}
  <div class="card {{ target_field.name }}_card {{ text_class }}{% if disabled_card %} disabled-card bg-secondary text-white{% endif %}" style="max-width: 18rem;">
      <div class="card-header" style="transform: rotate(0);">
          <label for="{{ field_id }}-{{ opt.value }}" class="h5 card-title mb-0 text-nowrap">
            {% if disabled_card or is_preview or read_only %}
            {{ opt.name }}{% if opt.price and opt.price|int %}: {{ opt.price|format_currency }}{% endif %}
            {% else %}
              <a href="#" class="card-link stretched-link text-reset text-decoration-none {{ target_field.name }}_card_link"
                data-value="{{ opt.value }}">
                {{ opt.name }}</a>{% if opt.price and opt.price|int %}: {{ opt.price|format_currency }}{% endif %}
            {% endif %}
          </label>
      </div>
      <div class="card-body" style="transform: rotate(0);">
      {% if opt.icon %}
          <img src="{{ opt.icon }}" class="card-img mb-3" alt="{{ opt.name }} Icon">
      {% endif %}
        {% if disabled_card or is_preview or read_only %}
          {{ opt.desc|safe }}
          {% if disabled_card %}
          <div class="disabled-overlay position-absolute top-0 start-0 h-100 w-100" style="background: rgba(0,0,0,0.66)">
            <span style="text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);" class="text-uppercase text-center position-absolute w-100 fw-bolder top-50 start-50 translate-middle h2">
              {{ disabled_card_text }}
            </span>
          </div>
          {% endif %}
        {% else %}
          <a href="#" class="card-link stretched-link text-reset text-decoration-none {{ target_field.name }}_card_link"
              data-value="{{ opt.value }}">{{ opt.desc|safe }}</a>
              <input type="radio" id="{{ field_id }}-{{ opt.value }}" name="card-{{ field_id }}" class="visually-hidden" value="{{ opt.value }}" />
        {% endif %}
      </div>
      {% if opt.link %}
      <div class="card-footer">
          {{ opt.link|popup_link('Read More', 'link-light' if disabled_card else 'link-secondary') }}
      </div>
      {% endif %}
  </div>
{% endfor %}
</div>
<div id="{{ target_field.id }}-validation" class="invalid-feedback" role="alert"></div>
{% if show_desc %}<div class="form-text mb-3">{{ help_text or target_field.description }}</div>{% endif %}
{% if not is_preview %}
</fieldset>
{% endif %}

<script type="text/javascript">
    var setField_{{ target_field.name }} = function(value) {
        $("#{{ field_id }}").val(value).trigger('change');
        $(".{{ target_field.name }}_card").each(function(){
            var header = $(this).children('.card-header');
            var body = $(this).children('.card-body');
            var footer = $(this).children('.card-footer');

            if(body.find('a').length && body.find('a').data('value') == value) {
                header.addClass('text-white bg-primary');
                body.addClass('bg-light');
                if (footer.length) { footer.addClass('text-white bg-primary').children('a').removeClass('link-secondary').addClass('link-light') };
            } else {
                header.removeClass('text-white bg-primary');
                body.removeClass('bg-light');
                if (footer.length) { footer.removeClass('text-white bg-primary').children('a').addClass('link-secondary').removeClass('link-light') };
            }
        });
    };
    $(function () {
        setField_{{ target_field.name }}("{{ target_field.data }}");
        $('.{{ target_field.name }}_card_link').click(function(){
            setField_{{ target_field.name }}(this.dataset.value);
            return false;
        });
    });
    var makeBadgeMatchExtra = function () {}; // TODO: Remove
</script>
{%- endmacro %}

{% macro address_fields(model, form_obj) %}
<div class="row g-sm-3">
  <div class="col-12 col-sm-6">
    {{ form_input(form_obj.address1) }}
  </div>
  <div class="col-12 col-sm-6">
    {{ form_input(form_obj.address2) }}
  </div>
</div>
<div class="row g-sm-3">
  <div class="col-12 col-sm-6">
    {{ form_input(form_obj.country) }}
    <div class="form-floating selectToAutocomplete">
      <label for="{{ form_obj.country.id }}-selectToAutocomplete">
        {{ form_obj.country.label.text }}
        {% if form_obj.country.flags.required %}<span class="required-indicator text-danger"> *</span>{% endif %}
      </label>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    {{ form_input(form_obj.region_us) }}
    {{ form_input(form_obj.region_canada) }}
    {{ form_input(form_obj.region) }}
  </div>
</div>
<div class="row g-sm-3">
  <div class="col-12 col-sm-6">
    {{ form_input(form_obj.city) }}
  </div>
  <div class="col-12 col-sm-6">
    {{ form_input(form_obj.zip_code) }}
  </div>
</div>
<script type="text/javascript">
    {%- set country_id = form_obj.country.id %}
    var regionChange{{ country_id }} = function() {
        $('#{{ form_obj.region_us.id }}').prop('disabled', true).parent('.form-floating').hide();
        $('#{{ form_obj.region_canada.id }}').prop('disabled', true).parent('.form-floating').hide();
        $('#{{ form_obj.region.id }}').prop('disabled', false).parent('.form-floating').show();
        var whichCountry = $('#{{ country_id }}').find(':selected').text();
        switch(whichCountry) {
              case 'United States':
                $('#{{ form_obj.region.id }}').prop('disabled', true).parent('.form-floating').hide();
                $('#{{ form_obj.region_us.id }}').prop('disabled', false).parent('.form-floating').show();
                break;
              case 'Canada':
                $('#{{ form_obj.region.id }}').prop('disabled', true).parent('.form-floating').hide();
                $('#{{ form_obj.region_canada.id }}').prop('disabled', false).parent('.form-floating').show();
                break;
          }
    }
    $(function() {
        $('#{{ country_id }}').selectToAutocomplete().prop("required", false).change(function() {
            regionChange{{ country_id }}();
        });
        $('#{{ country_id }}').parents('.form-floating').addClass('visually-hidden');
        $('#{{ country_id }}').siblings("input.form-control.ui-autocomplete-input").attr(
          "id", "{{ country_id }}-selectToAutocomplete").insertBefore('label[for="{{ country_id }}-selectToAutocomplete');
        $('#{{ country_id }}-validation').insertAfter('label[for="{{ country_id }}-selectToAutocomplete');
        regionChange{{ country_id }}();
    })
</script>
{%- endmacro %}

{% macro form_validation(form_id, page_handler='validate_attendee', form_list=[], include_disclaimers_modal=false, callback='', always_use_callback=True) %}
<div class="alert" role="alert" id="form-validations-{{ form_id }}"><span></span></div>

<script type="text/javascript">
  serverValidationPassed = false;
  
  var runServerValidations_{{ form_id|replace('-','_') }} = function($form, submit_button_name, submit_button_val) {
    var form_data = new FormData($('#{{ form_id }}')[0]);
    var form_list = {{ form_list|safe }}.join(',')
    if (form_list != '') {
      form_data.set('form_list', form_list);
    }
    if (submit_button_name != '') {
      form_data.set(submit_button_name, submit_button_val);
    }
    $.ajax({
      method: 'POST',
      url: "{{ page_handler }}",
      data: form_data,
      processData: false,
      contentType: false,
      success: function (response) {
        $("#form-validations-{{ form_id }}").hide().removeClass().addClass("alert").children('span').html("");
        $(".is-invalid").each(function() {
          var field_id = $(this).attr('id');
          $(this).removeClass('is-invalid');
          $("#" + field_id + "-validation").hide();
        });
        if (response.warning) {
          let buttonText = response.button_text ? response.button_text : 'I understand, please continue!';
          $("#form-validations-{{ form_id }}").addClass("alert-warning").children('span').html(
            response.warning +
            "<button form='{{ form_id }}' class='btn btn-primary' name='"+ submit_button_name +"'>" +
              buttonText +
            "</button>"
            );
          $("#form-validations-{{ form_id }}").show();
          $('html, body').animate({scrollTop: $("#form-validations-{{ form_id }}").offset().top}, 50);
          serverValidationPassed = true;
        } else if (response.error) {
            if (typeof response.error === "string") {
              $("#form-validations-{{ form_id }}").addClass("alert-danger").children('span').html(response.error);
            } else {
              $("#form-validations-{{ form_id }}").addClass("alert-danger").children('span').html(
                "Please correct the following errors:" +
                "<ul></ul>"
              );
              $.each(response.error, function(key, val) {
                val = val.join(" ");
                if ($("#" + key).length != 0 && $("#" + key).attr('type') != 'checkbox') {
                  var field_label = $("label[for='" + key + "'] .form-label").text();
                  if (field_label == '') { field_label = $("#" + key).children("legend").children(".form-label").text(); }
                  if (field_label == '') { field_label = $("#" + key + "-select").children("legend").text(); }
                  if (field_label == '') {
                    $("#form-validations-{{ form_id }}").find("ul").append("<li>" + val + "</li>");
                  } else {
                    $("#form-validations-{{ form_id }}").find("ul").append("<li>" + field_label.trim() + ": " + val + "</li>");
                    $("#" + key).addClass("is-invalid");
                  }
                } else {
                  $("#form-validations-{{ form_id }}").find("ul").append("<li>" + val + "</li>");
                }

                if ($("#" + key + "-validation").length != 0)
                {
                  $("#" + key + "-validation").html(val).show();
                }
              });
            }
          $("#form-validations-{{ form_id }}").show();
          $('html, body').animate({scrollTop: $("#form-validations-{{ form_id }}").offset().top}, 50);
        } else {
          serverValidationPassed = true;
          {% if callback %}
            {{ callback|safe }};
          {% else %}
          if (submit_button_name != '') {
            console.log($("#{{ form_id }}").find($("[name=" + submit_button_name + "]")))
            $("#{{ form_id }}").find($("[name=" + submit_button_name + "]")).click();
          } else {
            $("#{{ form_id }}").submit();
          }
          {% endif %}
        }
      }
    });
  };
  

  $(function () {
    $("#form-validations-{{ form_id }}").hide();
    {{ submit_validation_and_disclaimer(form_id, include_disclaimers_modal, callback=callback if always_use_callback else '') }}
});
</script>
{%- endmacro %}

{% macro submit_validation_and_disclaimer(form_id, include_disclaimers_modal=false, callback='') %}
$("#{{ form_id }}").submit(function (event) {
  let submit_button_name = '';
  let submit_button_val = '';
  let response = '';
  if (event.originalEvent !== undefined) {
    submit_button_name = event.originalEvent.submitter.name;
    submit_button_val = event.originalEvent.submitter.value;
  }

  if(!serverValidationPassed) {
    event.preventDefault();
    runServerValidations_{{ form_id|replace('-','_') }}($(this), submit_button_name, submit_button_val);
    return false;
  }
  {% if include_disclaimers_modal %}
    if(!disclaimersConfirmed) {
      event.preventDefault();
      openDisclaimersModal();
      return false;
    }
  {% endif %}
  {% if callback %}
    event.preventDefault();
    {{ callback|safe }};
    return false;
  {% endif %}
});
{%- endmacro %}