{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set other_info = other_info or forms['other_info'] %}
{% set personal_info = personal_info or forms['personal_info'] %}

{# BLOCK NAMES in this form:
    staffing
    interests
    accessibility

Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

{% block staffing %}
{% set include_cellphone = (not personal_info or personal_info is none) and not other_info.cellphone.data %}
{% set staffing_readonly = False %}
{% if not admin_area %}
    {% if attendee.badge_type in [c.CONTRACTOR_BADGE, c.STAFF_BADGE] %}
    {% set staffing_readonly = True %}
    {% set staffing_message = "This checkbox is required for Contractors, Volunteers, and Staff. Please contact Staffing Operations if you wish to change your status." %}
    {% elif attendee.shifts %}
    {% set staffing_readonly = True %}
    {% set staffing_message = "Please " ~ 'see Staffing Operations to change your volunteer status.' if c.AT_THE_CON else 'unassign yourself from shifts before changing your volunteer status.' %}
    {% endif %}
{% endif %}
{% set staffing_readonly = not admin_area and (attendee.badge_type in [c.CONTRACTOR_BADGE, c.STAFF_BADGE] or attendee.shifts) %}
<div class="row g-sm-3">
    <div class="col-12">{{ form_macros.toggle_checkbox(other_info.staffing, 
        [other_info.requested_dept_ids, other_info.cellphone] if include_cellphone else [other_info.requested_dept_ids], toggle_required=True, readonly=staffing_readonly, help_text=staffing_message if staffing_only else "") }}</div>
</div>

{% if include_cellphone %}
<div class="row g-sm-3">
{% set cellphone_extra_field = form_macros.toggle_checkbox(other_info.no_cellphone, [other_info.cellphone], hide_on_checked=True, toggle_required=True, prop="disabled") %}
    <div class="col-12">{{ form_macros.form_input(other_info.cellphone, extra_field=cellphone_extra_field, readonly=cellphone_ro or (page_ro and not contact_write), required=True) }}</div>
</div>
{% elif not personal_info or personal_info is none %}
{# TODO: handle this better #}
<input type="hidden" name="no_cellphone" value="{{ other_info.no_cellphone.data }}" />
{% endif %}

{% if c.JOB_INTEREST_OPTS or c.PUBLIC_DEPARTMENT_OPTS_WITH_DESC|length > 1 %}
<div class="row g-sm-3">
    <div class="col-12">{{ form_macros.form_input(other_info.requested_dept_ids) }}</div>
</div>
{% endif %}
{% endblock %}


{% block interests %}
{% if c.INTEREST_OPTS %}
<div class="row g-sm-3">
    <div class="col-12 col-sm-6">{{ form_macros.form_input(other_info.interests) }}</div>
</div>
{% endif %}
{% endblock %}


{% block accessibility %}
<div class="row g-sm-3">
    <div class="col-12 col-sm-6">{{ form_macros.form_input(other_info.requested_accessibility_services) }}</div>
</div>
{% endblock %}
