{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set other_info = other_info or forms['other_info'] %}

{# BLOCK NAMES in this form:
    staffing
    interests
    accessibility
    consents

Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

{% block staffing %}
<div class="row g-3">
    <div class="col">{{ form_macros.toggle_checkbox(other_info.staffing, [other_info.requested_dept_ids]) }}</div>
</div>

<div class="row g-3">
    <div class="col">{{ form_macros.form_input(other_info.requested_dept_ids) }}</div>
</div>
{% endblock %}


{% block interests %}
{% if c.INTEREST_OPTS %}
<div class="row g-3">
    <div class="col">{{ form_macros.form_input(other_info.interests) }}</div>
</div>
{% endif %}
{% endblock %}


{% block accessibility %}
<div class="row g-3">
    <div class="col">{{ form_macros.form_input(other_info.requested_accessibility_services) }}</div>
</div>
{% endblock %}


{% block consents %}
<div class="row g-3">
    <div class="col">{{ form_macros.form_input(other_info.can_spam) }}</div>
</div>

{% if attendee.placeholder or attendee.is_new %}
<div class="row g-3">
    <div class="col">{{ form_macros.form_input(other_info.pii_consent) }}</div>
</div>
{% endif %}
{% endblock %}