export USER='CHANGEME'
export PASS='CHAMGEME'
export API_URL=http://CHANGEME

# ENSURE THAT FROM_ADDRESS is a verified email address from Amazon SES
# or else it will get rejected by SES
export AWS_KEY='CHANGEME'
export AWS_SECRET='CHANGEME'
export AWS_TO_ADDRESS='change@change.me'
export AWS_FROM_ADDRESS='change@change.me'
