{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set mivs_game_info = mivs_game_info or forms['mivs_game_info'] %}

{# BLOCK NAMES in this form:
    x_data
    title_desc
    genres
    platforms
    multiplayer_content
    checkboxes

  Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

<div x-data="{ {% block x_data %}
has_multiplayer: {{ mivs_game_info.has_multiplayer.data|jsonize }},
content_warning: {{ mivs_game_info.content_warning.data|jsonize }},
get numPlayers() { return this.has_multiplayer },
get warningDesc() { return this.content_warning },
{% endblock %} }">

<div class="row g-3 mb-3">
{% block title_desc %}
<div class="col-sm">{{ form_macros.input(mivs_game_info.title) }}</div>
<div class="col-sm">{{ form_macros.input(mivs_game_info.brief_description) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(mivs_game_info.description) }}</div>
{% endblock %}
</div>


<div class="row g-3 mb-3">
{% block genres %}
  <div class="col-sm">
    {% call form_macros.input(mivs_game_info.genres) %}
    <div class="col-sm-6">
    {{ form_macros.input(mivs_game_info.genres_text, show_label=False) }}
    </div>
    {% endcall %}
  </div>
{% endblock %}
</div>

<div class="row g-3 mb-3">
{% block platforms %}
  <div class="col-sm">
    {% call form_macros.input(mivs_game_info.platforms) %}
    <div class="col-sm-6">
    {{ form_macros.input(mivs_game_info.platforms_text, show_label=False) }}
    </div>
    {% endcall %}
  </div>
{% endblock %}
</div>

<div class="row g-3 mb-3">
{% block multiplayer_content %}
    <div class="col-sm">
        {% call form_macros.input(mivs_game_info.has_multiplayer, alpine_model="has_multiplayer") %}
        <div class="col-sm-6" x-show="numPlayers">
        {{ form_macros.input(mivs_game_info.player_count, required_if="numPlayers") }}
        </div>
        {% endcall %}
    </div>
</div><div class="row g-3 mb-3">
    <div class="col-sm">
        {% call form_macros.input(mivs_game_info.content_warning, alpine_model="content_warning") %}
        <div class="col-sm-6" x-show="warningDesc">
        {{ form_macros.input(mivs_game_info.warning_desc, required_if="warningDesc") }}
        </div>
        {% endcall %}
    </div>
{% endblock %}
</div>


<div class="row g-3 mb-3">
{% block checkboxes %}
  <div class="col-sm">{{ form_macros.input(mivs_game_info.photosensitive_warning) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(mivs_game_info.is_alumni) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(mivs_game_info.requires_gamepad) }}</div>
{% endblock %}
</div>

</div>