{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<h2 align="center"> Admin Login </h2>

<form method="post" action="login">

<table>
<tr style="text-align:center">
    <td width="50%">
        <b>Email Address:</b> <br/>
        <input class="focus" type="text" name="email" value="{{ email }}" />
    </td>
    <td width="50%">
        <b>Password:</b> <br/>
        <input type="password" name="password" />
    </td>
</tr>
</table>

<div style="text-align:center">
    <input type="submit" value="Login" />
    <br/> <br/>
    <a href="reset">Forgot your password?</a>
</div>

</form>

<div style="margin:20px ; font-style:italic">
    Note: This login is for administrators only.  If you are a staffer wanting to sign
    up for shifts, you may <a href="../signups/login">log in here</a>.
</div>

{% endblock %}
