{% extends "base.html" %}{% set admin_area=True %}
{% include 'tabletop_checkins/attendee_search.html' %}
{% block title %}Tabletop Checkins{% endblock %}
{% block content %}
    <script>
        function gameData() {
            return {
                games: {{ games | jsonize }},
                gameSearch: '',
                checkedOutOnly: false,
                availableOnly: false,
                get display_games() {
                    let inputValue = this.gameSearch;
                    if (inputValue && inputValue.trim().length > 0) {
                        inputValue = inputValue.trim().toLowerCase();
                        return this.games.filter((game) => {
                            let searchable = game.name + " " + game.code;
                            let checkout = true;

                            if (this.availableOnly) {
                                checkout = !game.checked_out;
                            } else if (this.checkedOutOnly) {
                                checkout = game.checked_out;
                            }
                            return searchable.toLowerCase().includes(inputValue) && checkout;
                        })
                    } else {
                        if (this.checkedOutOnly) {
                            return this.games.filter((game) => game.checked_out);
                        }
                        if (this.availableOnly) {
                            return this.games.filter((game) => !game.checked_out);
                        }
                        return this.games;
                    }
                },
                toggleCheckedOut() {
                    this.checkedOutOnly = !this.checkedOutOnly
                    this.availableOnly = false
                },
                toggleAvailable() {
                    this.availableOnly = !this.availableOnly
                    this.checkedOutOnly = false
                },
                attendees: {{ attendees | jsonize }},
                checkout(chosenGame, chosenAttendee) {
                    $.ajax({
                        type: 'POST',
                        url: 'checkout',
                        dataType: 'json',
                        data: {
                            game_id: chosenGame.id,
                            attendee_id: chosenAttendee.id,
                            csrf_token: csrf_token
                        },
                        success: (response) => {
                            this.games = response.games;
                        }
                    });
                },
                returnGame(chosenGame) {
                    $.ajax({
                        type: 'POST',
                        url: 'returned',
                        dataType: 'json',
                        data: {
                            game_id: chosenGame.id,
                            csrf_token: csrf_token
                        },
                        success: (response) => {
                            this.games = response.games;
                        }
                    });
                },
                returnToOwner(chosenGame) {
                    $.ajax({
                        type: 'POST',
                        url: 'return_to_owner',
                        dataType: 'json',
                        data: {
                            game_id: chosenGame.id,
                            csrf_token: csrf_token
                        },
                        success: (response) => {
                            this.games = response.games;
                        }
                    });
                }
            }
        }
    </script>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title"> Tabletop Games </h2>
        </div>
        <div class="card-body" x-data="gameData()">
            <h4 class="mb-3 text-center">Game Check-In / Check-Out</h4>
            <div class="row mb-2">
                <div class="col-auto">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-game-modal">Add a Game
                    </button>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-auto">
                    <label class="col-form-label" for="game-search">Filter Games:</label>
                </div>
                <div class="col-4">
                    <input type="text" id="game-search"
                           class="form-control"
                           autocomplete="off"
                           x-model="gameSearch"
                    >
                </div>
                <div class="col-auto">
                    <button class="btn btn-info" @click="toggleCheckedOut()">
                        <span x-show="!checkedOutOnly">View Checked Out</span>
                        <span x-show="checkedOutOnly">View All</span>
                    </button>
                    <button class="btn btn-info" @click="toggleAvailable()">
                        <span x-show="!availableOnly">View Available</span>
                        <span x-show="availableOnly">View All</span>
                    </button>
                </div>
            </div>
            <!-- include the add game form modal and all it's logic -->
            {% include 'tabletop_checkins/alpine_add.html' %}
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Game</th>
                    <th>Owner</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <template x-for="game in display_games" :key="game.id">
                    <tr>
                        <td x-text="game.code"></td>
                        <td><a :href="'checkout_history?id='+game.id" x-text="game.name"></a></td>
                        <td>
                            <a :href="'#attendee_form?id=' + game.attendee.id "
                               x-text="game.attendee.name"></a>
                        </td>
                        <template x-if="game.checked_out && !game.returned">
                            <td class="text-center" x-data="{attendee: game.checked_out.attendee}">
                                Checked out by: <a :href="'#attendee_form?id=' + attendee.id "
                                                   x-text="attendee.displayText"></a>
                                <button @click="returnGame(game)" class="btn btn-primary btn-sm">Game was returned
                                </button>
                            </td>
                        </template>
                        <template x-if="!game.checked_out && !game.returned">
                            <td class="text-center"
                                x-data="attendeeSearch({placeholder: 'Check out to:', attendeeList: attendees, maxDisplay:8})">
                                {% include 'tabletop_checkins/attendee_search_template.html' %}
                                <button :disabled="!selectedAttendee" class="btn btn-primary btn-sm"
                                        @click="checkout(game, selectedAttendee)">Checkout
                                </button>
                            </td>
                        </template>
                        <template x-if="game.returned">
                            <td class="text-center">
                                Not Available
                            </td>
                        </template>
                        <td x-show="game.returned">Returned</td>
                        <td x-show="!game.returned">
                            <button @click="returnToOwner(game)" class="btn btn-primary btn-sm">Return to Owner</button>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}