<script>
    function randInt(x) {
        return Math.floor(x * Math.random());
    }

    function choice(xs) {
        return xs[randInt(xs.length)];
    }

    function getGameId() {
        var id = '';
        for (var i = 0; i < 3; i++) {
            id += choice('ABCDEFGHJKMNPRSTUVWXYZ') + (2 + randInt(8));
        }
        return id;
    }
</script>
<div id="add-game-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-game-title"
     x-data="attendeeSearch({placeholder: 'Select Owner:', attendeeList: attendees, maxDisplay: 8})">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document"
         x-data="{
                    gameCode: getGameId(),
                    gameName: '',
                    createGame() {
                        $.ajax({
                            type: 'POST',
                            url: 'add_game',
                            dataType: 'json',
                            data: {
                                code: this.gameCode,
                                name: this.gameName,
                                attendee_id: selectedAttendee.id,
                                csrf_token: csrf_token
                            },
                            success: (response) => {
                                //Reach back to the parent page and add to games.
                                this.games = response.games;
                                //Reset data on this page for next use and close modal.
                                this.gameName = '';
                                this.selectedAttendee = null;
                                this.gameCode = getGameId();
                                $('#close-add-game').click();
                            }
                        });
                    }
                }"
    >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="add-game-title">
                    Add A Game
                </h4>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div class="mb-3">
                        <label for="game-code"><span class="form-label">
                                    Game Code
                                </span></label>
                        <span id="game=code" x-text="gameCode"></span>
                    </div>
                    <div class="mb-3">
                        <label for="game-name">
                            <span class="form-label">Game Name:</span>
                            <span class="required-indicator text-danger">*</span>
                        </label>
                        <input type="text" x-model="gameName" id="game-name">
                    </div>
                    <div class="mb-3">
                        {% include 'tabletop_checkins/attendee_search_template.html' %}
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" @click="createGame()" :disabled="!selectedAttendee || !gameName">Upload</button>
                        <button id="close-add-game" class="btn btn-danger"  data-bs-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>