{% set admin_area=True %}
{% extends "base.html" %}
{% block title %}Add-on Cost Summary{% endblock %}
{% block content %}
<h3 class="text-center">Add-on Cost Report -- {{ now|datetime("%m/%d/%Y, %-I:%M%p") }}</h3>
<table class="table table-bordered" style="margin: 20px; width: calc(100% - 40px);">
  
  <tr>
    <td><strong>Total Attendee w/ Add-ons</strong></td><td colspan="5">{{ total_addons }}</td><td><em>Total</em></td><td><em>Grand Total</em></td>
  </tr>
  <tr>
    <td><strong>Paid Add-ons</strong></td>
    <td colspan="5">{{ paid_preordered_merch_total + paid_extra_donations_total }}
      {% if not_unpaid_preordered_merch %} (plus {{ not_unpaid_preordered_merch }} merch packages that are neither comped nor unpaid){% endif %}
      {% if not_unpaid_extra_donations %} (plus {{ not_unpaid_extra_donations }} extra donations that are neither comped nor unpaid){% endif %}</td>
    <td></td>
    <td>{{ (paid_preordered_merch_sum + paid_extra_donations_sum)|format_currency }}</td>
  </tr>
  <tr>
    <td></td><td></td>
    <td colspan="4">{{ paid_preordered_merch_total }} merch packages</td>
    <td>{{ paid_preordered_merch_sum|format_currency }}</td>
    <td></td>
  </tr>
  {% for amount in paid_preordered_merch.keys()|sort() %}
  {% if loop.first %}
  <tr>
    <td></td><td></td><td></td>
    <td width="10%"><em>Level</em></td><td width="10%"><em>Count</em></td><td width="10%"><em>Total</em></td>
    <td></td>
  </tr>
  {% endif %}
  <tr>
    <td></td><td></td><td></td>
    <td>{{ amount|format_currency }}</td>
    <td>{{ paid_preordered_merch[amount] }}</td>
    <td>{{ (amount * paid_preordered_merch[amount])|format_currency }}</td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
  <tr>
    <td></td><td></td>
    <td colspan="4">{{ paid_extra_donations_total }} donations</td>
    <td>{{ paid_extra_donations_sum|format_currency }}</td>
    <td></td>
  </tr>
  {% for amount in paid_preordered_merch.keys()|sort() %}
  {% if loop.first %}
  <tr>
    <td></td><td></td><td></td>
    <td width="10%"><em>$ Donated</em></td><td width="10%"><em># Attendees</em></td><td width="10%"><em>Total</em></td>
    <td></td>
  </tr>
  {% endif %}
  <tr>
    <td></td><td></td><td></td>
    <td>{{ amount|format_currency }}</td>
    <td>{{ paid_extra_donations[amount] }}</td>
    <td>{{ (amount * paid_extra_donations[amount])|format_currency }}</td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
  <tr>
    <td><strong>Unpaid Add-ons</strong></td>
    <td colspan="5">{{ unpaid_preordered_merch_total + unpaid_extra_donations_total }}</td>
    <td></td>
    <td>{{ (unpaid_preordered_merch_sum + unpaid_extra_donations_sum)|format_currency }}</td>
  </tr>
  <tr>
    <td></td><td></td>
    <td colspan="4">{{ unpaid_preordered_merch_total }} merch packages</td>
    <td>{{ unpaid_preordered_merch_sum|format_currency }}</td>
    <td></td>
  </tr>
  {% for amount in unpaid_preordered_merch.keys()|sort() %}
  {% if loop.first %}
  <tr>
    <td></td><td></td><td></td>
    <td width="10%"><em>Level</em></td><td width="10%"><em>Count</em></td><td width="10%"><em>Total</em></td>
    <td></td>
  </tr>
  {% endif %}
  <tr>
    <td></td><td></td><td></td>
    <td>{{ amount|format_currency }}</td>
    <td>{{ unpaid_preordered_merch[amount] }}</td>
    <td>{{ (amount * unpaid_preordered_merch[amount])|format_currency }}</td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
  <tr>
    <td></td><td></td>
    <td colspan="4">{{ unpaid_extra_donations_total }} donations</td>
    <td>{{ unpaid_extra_donations_sum|format_currency }}</td>
    <td></td>
  </tr>
  {% for amount in unpaid_preordered_merch.keys()|sort() %}
  {% if loop.first %}
  <tr>
    <td></td><td></td><td></td>
    <td width="10%"><em>$ Donated</em></td><td width="10%"><em># Attendees</em></td><td width="10%"><em>Total</em></td>
    <td></td>
  </tr>
  {% endif %}
  <tr>
    <td></td><td></td><td></td>
    <td>{{ amount|format_currency }}</td>
    <td>{{ unpaid_extra_donations[amount] }}</td>
    <td>{{ (amount * unpaid_extra_donations[amount])|format_currency }}</td>
    <td></td>
    <td></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}