{% extends "base-admin.html" %}
{% block title %}Budget{% endblock %}
{% block content %}

<style type="text/css">
    table.list td {
        border: 0px;
    }
</style>

<ol class="breadcrumb">
  <li><a href="../accounts/homepage">Home</a></li>
  <li>Money</li>
  <li class="active">Budget</li>
</ol>

<div class="jumbotron">
    <h1 class="text-center">(${{ total }} total)</h1>
</div>


<div class="panel panel-default">
    <table class="table table-striped datatable">
    <thead><tr>
        <th>Name</th>
        <th>Amount</th>
    </tr></thead>
    <tr>
        <td>Attendee Badges</td>
        <td>${{ preregs.Attendee }}</td>
    </tr>
    <tr>
        <td>Extra Payments (Kickins, Shirts, Food, anything else)</td>
        <td>${{ preregs.extra }}</td>
    </tr>
    <tr>
        <td>Group Badges</td>
        <td>${{ preregs.group_badges }}</td>
    </tr>
    <tr>
        <td>Dealer Badges</td>
        <td>${{ preregs.dealer_badges }}</td>
    </tr>
    <tr>
        <td>Dealer Tables</td>
        <td>${{ preregs.dealer_tables }}</td>
    </tr>
    <tr>
        <td>Staff Badges</td>
        <td>${{ preregs.Staff }} </td>
    </tr>
    <tr>
        <td>Single Day Badges</td>
        <td>${{ preregs.OneDay }}</td>
    </tr>
    {% for what, total in sales.items %}
        <tr>
            <td>{{ what }} sales</td>
            <td>${{ total }}</td>
        </tr>
    {% endfor %}
    {% for item in credits %}
        <tr>
            <td><a href="form?id={{ item.id }}">{{ item.name }}</a>
            <td>${{ item.amount }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
