{% extends "base.html" %}{% set admin_area=True %}
{% block title %}MPoint Uses{% endblock %}
{% block content %}

<h2> M-Points Collected at Regdesk </h2>

<table class="list">
<tr class="header">
    <td>Total</td>
    <td>Group</td>
    <td>Breakdown</td>
</tr>
{% for total,group,mpus in all %}
    <tr bgcolor="{{ loop.cycle('#ffffff', '#eeeeee') }}">
        <td>${{ '%0.2f' % total }}</td>
        <td>
            {% if group %}
                <a href="../group_admin/form?id={{ group.id }}">{{ group.name }}</a>
            {% else %}
                No Group
            {% endif %}
        <td style="text-align:left">
            <ul>
                {% for mpu in mpus %}
                    <li>
                        ${{ '%0.2f' % mpu.amount }} from
                        {% if mpu.attendee %}
                            <a href="#attendee_form?id={{ mpu.attendee.id }}">{{ mpu.attendee.full_name }}</a>
                        {% else %}
                            {{ mpu.identifier }}
                        {% endif %}
                        at {{ mpu.when }}
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
