{% extends "base-admin.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}

<script src="../static/lib/moment/moment.min.js"></script>
<style type="text/css">
    .context-menu-item {
        padding: 2px 2px 2px 7px;
    }
    .highlight, .clicked { background: yellow; }
    .selected:not(.highlight) { background: orange; }
    .conflict:not(.highlight):not(.selected) { background: red; }
    #schedule thead {
        text-align: center;
        vertical-align: center;
    }
    #schedule thead td {
        border-right: 1px solid black;
    }
    #schedule tbody td.time {
        white-space: nowrap;
    }
    #schedule tbody td:not(.time):hover {
        background: yellow;
    }
    #schedule, #schedule tbody tr {
        border-spacing: 0px 0px;
        border-collapse: collapse;
    }
    #schedule tbody td {
        padding: 0px;
        text-align: center;
    }
    td.box {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
    td.top {
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    td.bottom {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
    td.middle {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
</style>

<script type="text/javascript">
    var SLOT_COUNT = {{ CON_LENGTH }} * 2;
    var EVENTS = {{ events|jsonize }};
    var EPOCH = moment('{{ EPOCH|datetime:"%Y-%m-%d %H:%M:%S" }}', 'YYYY-MM-DD HH:mm:ss');
    
    var swapProps = function(x, y) {
        $.each($.makeArray(arguments).slice(2), function(i,name) {
            var temp = x[name];
            x[name] = y[name];
            y[name] = temp;
        });
    };
    var dedup = function(xs) {
        var deduped = [], d = {};
        $.each(xs, function(i, x) {
            if (d[x] === undefined) {
                deduped.push(x);
            }
            d[x] = true;
        });
        return deduped;
    };
    var formatDate = function(slot) {
        var d = EPOCH.clone().add(30 * slot, 'minutes');
        if (d.minute()) {
            return d.format('h:mm');
        } else if (d.hour() == 0 || d.hour() == 12) {
            return d.format('ha ddd');
        } else {
            return d.format('ha');
        }
    };
    
    var $cell = function(loc, slot) {
        return $("#row" + slot + " .loc" + loc);
    };
    var $cells = function(event) {
        var $xs = $();
        for(var i=0; i<event.duration; i++) {
            $xs = $xs.add($cell(event.location, event.start_slot + i));
        }
        return $xs;
    };
    
    var shortestIndex = function(xs) {
        var pos = 0, shortest = xs[0];
        $.each(xs, function(i,s) {
            if (s.length < shortest.length) {
                pos = i;
                shortest = s;
            }
        });
        return pos;
    };
    var splitName = function(event) {
        var xs = event.name.split(/\s+/);
        while (xs.length > event.duration || (xs.length > 1 && xs[shortestIndex(xs)].length <= 3)) {
            var i = shortestIndex(xs);
            var shortest = xs.splice(i, 1)[0];
            if (xs[i] && (!xs[i-1] || xs[i].length < xs[i-1].length)) {
                xs[i] = shortest + " " + xs[i];
            } else {
                xs[i-1] += " " + shortest;
            }
        }
        return xs;
    };
    
    var CHECK_CHUNK = SLOT_COUNT;
    var markConflicts = function(startIndex) {
        var stopIndex = (startIndex || 0) + CHECK_CHUNK;
        for(var slot = startIndex || 0; slot < stopIndex && slot < SLOT_COUNT; slot++) {
            var panelists = {};
            $("#row" + slot + " td").each(function(i, td) {
                var event = $(td).data("event");
                if (event) {
                    $.each(event.panelists, function(id, name) {
                        panelists[id] = panelists[id] || {name: name, events: []};
                        panelists[id].events.push(event);
                    });
                }
            });
            $.each(panelists, function(id, panelist) {
                if (panelist.events.length > 1) {
                    var names = $.map(panelist.events, function(event) { return "'" + event.name + "'"; }).join(" and ");
                    $.each(panelist.events, function(i,event) {
                        var warning = panelist.name + " is assigned to " + names + ".";
                        $cells(event).addClass("conflict").each(function(i,td){
                            var warnings = $(td).data("warnings") || [];
                            warnings.push(warning);
                            $(td).data("warnings", warnings);
                        });
                    });
                }
            });
        };
        if (stopIndex < SLOT_COUNT) {
            setTimeout(function() { markConflicts(stopIndex); }, 1);
        } //else console.log(new Date(), new Date().getMilliseconds(), "all conflicts marked");
    };
    var conflictsMarked = false;
    var checkConflicts = function() {
        if (conflictsMarked) {
            $.each(EVENTS, function(i, event) {
                $cells(event).removeClass("conflict");
            });
        }
        //console.log(new Date(), new Date().getMilliseconds(), "previous conflicts cleared");
        markConflicts();
        conflictsMarked = true;
    };
    
    var clearEvents = function() {
        $.each(arguments, function(i,event) {
            $cells(event).removeData("event")
                         .text("")
                         .removeClass("box top middle bottom conflict");
        });
    };
    var renderEvents = function() {
        $.each(arguments, function(_,event){
            var name = splitName(event);
            $cells(event).each(function(i,td){
                $(td).data("event", event)
                     .text(name[i] || "")
                     .addClass(event.duration == 1 ? "box" : i==0 ? "top" : i==(event.duration - 1) ? "bottom" : "middle");
            });
        });
    };
    var RENDER_CHUNK = 999;
    var renderAll = function(startIndex) {
        startIndex = startIndex || 0;
        var stopIndex = startIndex + RENDER_CHUNK;
        renderEvents.apply(null, EVENTS.slice(startIndex, stopIndex));
        if (EVENTS[stopIndex]) {
            setTimeout(function() { renderAll(stopIndex); }, 1);
        } else {
            //console.log(new Date(), new Date().getMilliseconds(), "events rendered");
            setTimeout(scrollToHash, 1);
            setTimeout(checkConflicts, 2); //checkConflicts();
        }
    };
    var scrollToHash = function() {
        if (location.hash) {
            var top = $("#row" + location.hash.substr(1)).position().top;
            $(document.body).scrollTop(top);
        }
    };
    
    var selectedEvent = null;
    var clearSelected = function() {
        if (selectedEvent) {
            $cells(selectedEvent).removeClass("selected");
        }
    };
    var menuActions = {
        edit: function(event) {
            window.location = "form?id=" + event.id;
        },
        create: function($td) {
            var slot = $td.parent("tr").data("slot");
            var startTime = EPOCH.clone().add(30 * slot, 'minutes').format("YYYY-MM-DD HH:mm:ss");
            window.location = "form?id=None&location=" + $td.data("location") + "&start_time=" + startTime;
        },
        move: function(event) {
            clearSelected();
            $cells(event).addClass("selected");
            selectedEvent = event;
        },
        showWarnings: function(event) {
            alert(dedup($cells(event).data("warnings")).join("\n"));
        },
        moveHere: function($td) {
            var params = {
                id: selectedEvent.id,
                csrf_token: csrf_token,
                location: $td.data("location"),
                start_slot: $td.parent("tr").data("slot")
            };
            $.post("move", params, function(resp) {
                if (resp.error) {
                    alert(resp.error);
                } else {
                    clearSelected();
                    clearEvents(selectedEvent);
                    $.extend(selectedEvent, params);
                    renderEvents(selectedEvent);
                    selectedEvent = null;
                    checkConflicts();
                }
            }, "json");
        },
        swap: function(event) {
            $.post("swap", {id1: event.id, id2: selectedEvent.id, csrf_token: csrf_token}, function(resp) {
                if (resp.error) {
                    alert(resp.error);
                } else {
                    clearSelected();
                    clearEvents(event, selectedEvent);
                    swapProps(event, selectedEvent, "location", "start_slot");
                    renderEvents(event, selectedEvent);
                    selectedEvent = null;
                    checkConflicts();
                }
            }, "json");
        }
    };
    var setUpMenu = function() {
        $.contextMenu({
            autoHide: true,
            trigger: "left",
            selector: "#schedule tbody td:not(.time)",
            build: function($td, e) {
                var event = $td.data("event");
                var $box = event ? $cells(event) : $td;
                $box.addClass("clicked");
                $(document.body).one("contextmenu:hide", function(e) {
                    $box.removeClass("clicked");
                });
                var emptyItems = {
                    create: {name: "Create New Event"}
                };
                var eventItems = {
                    edit: {name: "Edit"},
                    move: {name: "Move"}
                };
                if (selectedEvent) {
                    emptyItems.moveHere = {name: "Move '" + selectedEvent.name + "' here"};
                    if (event && event.id != selectedEvent.id) {
                        eventItems.swap = {name: "Swap with '" + selectedEvent.name + "'"};
                    }
                }
                if (event && $td.data("warnings")) {
                    eventItems.showWarnings = {name: "Show Conflicts"};
                }
                return {
                    callback: function(menuItem, opts) {
                        var action = menuActions[menuItem];
                        if (action) {
                            action(event || $td);
                        }
                    },
                    items: event ? eventItems : emptyItems
                };
            }
        });
    };
    
    $(function(){
        //console.log(new Date(), new Date().getMilliseconds(), "document.onReady");
        var $schedule = $("#schedule");
        var $schedHead = $schedule.find("thead tr");
        var $schedBody = $schedule.find("tbody");
        var $emptyRow = $("<tr/>");
        $.each({{ EVENT_LOCATION_OPTS|jsonize }}, function(i,loc) {
            if (loc[1].indexOf("(") >= 0) {
                loc[1] = loc[1].replace("(", "<nobr>(").replace(")", ")</nobr>");
            } else {
                loc[1] = "<nobr>" + loc[1] + "</nobr>";
            }
            $schedHead.append( $("<td/>").html(loc[1]) );
            $emptyRow.append(
                $("<td/>").data("location", loc[0])
                          .addClass("loc" + loc[0])
                          .html("&nbsp;"));
        });
        for(var i = 0; i < SLOT_COUNT; i++) {
            $schedBody.append(
                $emptyRow.clone(true)
                         .data("slot", i)
                         .attr("id", "row" + i)
                         .prepend(
                            $("<td/>").text(formatDate(i))
                                      .addClass("time")));
        }
        $schedBody.on("mouseenter mouseleave", "td", function(e) {
            var event = $(e.target).data("event");
            if (event) {
                $cells(event)[e.type == "mouseenter" ? "addClass" : "removeClass"]("highlight");
            }
        });
        setUpMenu();
        //console.log(new Date(), new Date().getMilliseconds(), "empty table initialized");
        renderAll();
    });
</script>

<table width="100%" id="schedule" cellspacing="0" cellpadding="0">
    <thead><tr><td></td></tr></thead>
    <tbody></tbody>
</table>

{% endblock %}
