<html>
<head></head>
<body>

Our records show that you have submitted a Dealer application under the email {{ account.email }} for {{ c.EVENT_NAME }} before August 23rd, 11pm CT.
Due to an error in the system, confirmation emails for applications submitted before this time were not sent. This email is confirmation that we have received your application.

<br/><br/>You may <a href="{{ c.URL_BASE }}/preregistration/homepage" target="_blank">log in here</a> to view your application. You do not need to do anything else at this time.

<br/><br/>Note that if you submitted multiple applications, you will only receive one notice for your applications. We will be clearing extra applications over the next few days.

<br/><br/>If you were not able to view and sign your terms and conditions, you will receive an email notice soon with instructions on how to do so. You will not be removed from the jurying process until you have had ample chance to review and sign your terms and conditions.

</body>
</html>
