{% extends "base-admin.html" %}
{% block title %}Recently Sent Automated Emails{% endblock %}
{% block content %}

<form action="index">
    <input type="email" placeholder="Search by email..." name="search_text" value="{{ search_text }}">
    <input type="submit" value="Search">
</form>

{% pages page count %}

<table class="list">
<tr class="header">
    <td>Sent</td>
    <td>Subject</td>
    <td>Recipient</td>
</tr>
{% for email in emails %}
    <tr>
        <td>{{ email.when }}</td>
        <td>{{ email.subject }}</td>
        <td><a href="sent?dest={{ email.dest }}">{{ email.dest }}</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
