{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Automated Emails Pending Approval{% endblock %}
{% block content %}

<h2>Email Categories</h2>

<table class="table table-striped" data-page-size="9999999">
<thead>
<tr class="header">
    <th>Subject</th>
    <th>Sender</th>
    <th>Emails Sent</th>
    <th>Emails waiting to send but need approval</th>
    <th>Show Examples</th>
    <th>Approval Status</th>
    <th>Date emails generated</th>
</tr>
</thead>
<tbody>
{% for automated_email in automated_emails %}
    <tr>
        <td>{{ automated_email.subject }}</td>
        <td>{{ automated_email.sender }}</td>
        <td>{{ automated_email.sent_email_count }}</td>
        <td>{{ automated_email.unapproved_count }}</td>
        <td><a href="pending_examples?ident={{ automated_email.ident|urlencode }}">Examples</a></td>
        <td>
            {% if not automated_email.needs_approval %}
                Automatic
            {% else %}
                {% if not automated_email.approved %}
                    <form method="post" action="approve">
                    {{ csrf_token() }}
                    <input type="hidden" name="ident" value="{{ automated_email.ident }}" />
                    <input type="submit" value="Approve" />
                    </form>
                {% else %}
                    Yes
                {% endif %}
            {% endif %}
        </td>
        <td>{{ automated_email.active_label|linebreaksbr }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
