{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Automated Emails Pending Approval{% endblock %}
{% block content %}

<style>
  h2 {margin-bottom: 0;}
</style>

{% macro email_table(emails) %}
  <table class="table table-striped datatable"
      data-paging="false"
      data-info="false"
      data-ordering="false">
    <thead>
    <tr class="header">
      <th>Subject</th>
      <th>Sender</th>
      <th>Emails Sent</th>
      <th>Emails waiting to send but need approval</th>
      <th>Show Examples</th>
      <th>Approval Status</th>
      <th>Date emails generated</th>
    </tr>
    </thead>
    <tbody>
      {% for email in emails %}
        <tr>
          <td>{{ email.subject }}</td>
          <td>{{ email.sender }}</td>
          <td>{{ email.sent_email_count }}</td>
          <td>{{ email.unapproved_count }}</td>
          <td><a href="pending_examples?ident={{ email.ident|urlencode }}">Examples</a></td>
          <td>
            {% if not email.needs_approval %}
                Automatic
            {% else %}
                {% if not email.approved %}
                    <form method="post" action="approve">
                    {{ csrf_token() }}
                    <input type="hidden" name="ident" value="{{ email.ident }}" />
                    <input type="submit" value="Approve" />
                    </form>
                {% else %}
                    Approved
                    <form method="post" action="unapprove">
                    {{ csrf_token() }}
                    <input type="hidden" name="ident" value="{{ email.ident }}" />
                    <input type="submit" value="Undo Approval" />
                    </form>
                {% endif %}
            {% endif %}
        </td>
        <td>{{ email.active_when_label|linebreaksbr }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% if not pending_emails and not automated_emails %}
  <h2>Automated Emails</h2>
  <br>
  <p class="text-info">
    There are currently no automated emails. The system is probably updating,
    and should be finished in at most 5 minutes.
  </p>
{% else %}
  {% if pending_emails %}
    <h2>Automated Emails - Pending Approval</h2>
    {{ email_table(pending_emails) }}
    <br><br>
  {% endif %}
  {% if automated_emails %}
    <h2>Automated Emails</h2>
    {{ email_table(automated_emails) }}
  {% endif %}
{% endif %}

{% endblock %}
