{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Test email sending{% endblock %}
{% block content %}

<h2>Send a test email from RAMS. Please use with care.</h2>

<form action="test_email" method="POST">
    <table border="0">
        <tr>
            <td>To:</td>
            <td><input size="50" type="text" name="to_address" value="{{to_address}}" /></td>
        </tr>
        <tr>
            <td>From:</td>
            <td><input size="50" type="text" name="from_address" value="{{from_address}}" /></td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td><input size="50" type="text" name="subject" value="{{subject}}" /><br/></td>
        </tr>
    </table>

    Body:<br/>
    <textarea cols=100 rows=20 name="body">{{body}}</textarea>

    <br/><br/>
    <input type="submit" value="submit" name="submit">

</form>

{% endblock %}
