{% if job_info or ('job_info' in forms) %}
{% set job_or_template_info = job_info or forms['job_info'] %}
{% else %}
{% set job_or_template_info = job_template_info or forms['job_template_info'] %}
{% endif %}

{% set job_or_template = job or job_template %}

{# BLOCK NAMES in this form:
    extend_job_alpine_state
    

Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

<script type="text/javascript">
    function initBaseJobData() {
        return {
            no_slots: !{{ 'true' if job_or_template.is_new else job_or_template.slots|boolean|tojson }},

            name: {{ job_or_template.name|tojson }},
            description: {{ job_or_template.description|tojson }},
            duration: {{ job_or_template.duration|tojson }},
            extra15: {{ job_or_template.extra15|tojson }},
            weight: {{ job_or_template.weight|string|tojson }},
            visibility: {{ job_or_template.visibility|tojson }},
            required_roles_ids: {{ job_or_template.required_roles_ids|tojson }},
            all_roles_required: {{ job_or_template.all_roles_required|boolean|tojson }},
            {% block extend_job_alpine_state %}
            {% endblock %}
            //prior if statement was if job or job_or_template.is_new to even execute..
        }
    }
</script>

<div x-data="initBaseJobData()">
<div>HMD DEBUG <span x-text="JSON.stringify($data)"></span></div>
<div class="row g-3 mb-3">{% block type_interval %}{% endblock %}</div>

<div class="row g-3 mb-3">
{% block name_desc %}
<div class="col-sm">{{ form_macros.input(job_or_template_info.name, alpine_model="name") }}</div>
<div class="col-sm">{{ form_macros.input(job_or_template_info.description, alpine_model="description") }}</div>
{% endblock %}
</div>

<div class="row g-3 mb-3">
{% block start_duration %}
<div class="col-sm">{{ form_macros.input(job_or_template_info.start_time) }}</div>
<div class="col-sm">
    {% call form_macros.input(job_or_template_info.duration, alpine_model="duration") %}
    {{ form_macros.input(job_or_template_info.extra15, alpine_model="extra15") }}
    {% endcall %}
</div>
{% endblock %}
</div>

<div class="row g-3 mb-3">
{% block weight_visibility %}
<div class="col-sm">{{ form_macros.input(job_or_template_info.weight, alpine_model="weight") }}</div>
{% if job or job_or_template.is_new %}
<div class="col-sm">{{ form_macros.input(job_or_template_info.visibility, **{'x-model.number':'visibility',':disabled':'no_slots'}) }}</div>
{% else %}
<div class="col-sm">{{ form_macros.input(job_or_template_info.visibility,**{'x-model.number':'visibility'}) }}</div>
{% endif %}
{% endblock %}
</div>

<div class="row g-3 mb-3">
{% block roles %}
<div class="col-sm">
    {% call form_macros.input(job_or_template_info.required_roles_ids, choices=department.dept_roles_choices, alpine_model="required_roles_ids") %}
    {{ form_macros.input(job_or_template_info.all_roles_required,  **{'x-model.boolean':'all_roles_required'}) }}
    {% endcall %}
</div>
{% endblock %}
</div>

</div>