{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Attendees Without Accounts{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Attendees Without Accounts</h3>
    </div>
    <div class="card-body">
        <form class="form email-form form-inline" method="post" action="add_all_accounts">
            <input type="hidden" name="show_all" value="{{ show_all }}" />
            {{ csrf_token() }}
            <div class="input-group col-sm-7">
                <input type="text" class="form-control" name="email_contains" value="{{ email_contains }}" placeholder="Enter a string to limit matched attendees, e.g., furfest.org" />
                <button type="submit" class="btn btn-primary">
                Add Accounts for {% if show_all %}ALL{% else %}All Valid{% endif %} Attendees
                </button>
            </div>
        </form>
        <br/>
        {% if show_all %}
        <a href="orphaned_attendees" class="btn btn-info pull-left">Hide Invalid and Unassigned Attendees</a>
        {% else %}
        <a href="orphaned_attendees?show_all=True" class="btn btn-info pull-left">Show All Attendees</a>
        {% endif %}
    </div>
    <div class="card-body">
        <table class="table table-striped datatable" x-data="{ selectall: false, }">
        <thead>
            <tr>
            <th data-orderable="false">
                <label class="d-block"><input type="checkbox" class="form-check-input" @click="selectall=!selectall"></label>
            </th>
            <th>Attendee</th>
            <th>Email</th>
            <th>Badge Type</th>
            <th>Ribbons</th>
            <th>Badge Status</th>
            <th>Add Account</th>
            </tr>
        </thead>
        <tbody>
        {% for attendee in attendees %}
        <tr id="{{ attendee.id }}">
            <td>
                <label class="d-block">
                    <input type="checkbox" class="form-check-input" name="account-row" value="{{ attendee.id }}" x-bind:checked="selectall" />
                </label>
            </td>
            <td data-order="{{ attendee.full_name }}" data-search="{{ attendee.full_name }}">
                {{ attendee|form_link }}
            </td>
            <td>
                {{ attendee.email }}
            </td>
            <td>
                {{ attendee.badge_type_label }}
            </td>
            <td>
                {{ attendee.ribbon_labels|join(', ') }}
            </td>
            <td>
                {{ attendee.badge_status_label }}
            </td>
            <td>
                <form class="form form-inline" method="post" action="orphaned_attendees">
                <input type="hidden" name="id" value="{{ attendee.id }}" />
                {{ csrf_token() }}
                <div class="row">
                <div class="input-group col-sm-12">
                    <input type="email" name="account_email" class="form-control" placeholder="{{ attendee.group_leader_account.email if attendee.group_leader_account else attendee.email }}" />
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-plus"></i> Add Account
                    </button>
                </div>
                </div>
                </form>
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" onClick="addMultipleAccounts()">Add Selected Accounts</button>
    </div>
</div>
<script type="text/javascript">
    var addMultipleAccounts = function() {
        var attendee_ids = [];
        var account_emails = [];
        $('[name="account-row"]:checked').each(function () { 
            var attendee_id = $(this).val();
            account_emails.push($('#' + attendee_id).find('input[name="account_email"]').val());
            attendee_ids.push(attendee_id);
        });
        console.log(attendee_ids);
        $.post('add_multiple_accounts', {attendee_ids: attendee_ids.join(), 
                                         account_emails: account_emails.join(),
                                         csrf_token: csrf_token}, function(s) {
            var sep = location.href.indexOf('?') === -1 ? '?' : '&';
            location.href += sep + 'message=' + encodeURIComponent(s);
        });
    }
</script>
{% endblock %}
