{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Payment Pending Attendees{% endblock %}}
{% block content %}

<h3>Payment Pending Attendees</h3>

<p>The following is a list of attendees whose initial payments were never completed. Pending attendees with upgrades still count against stocks.</p>

<table class="table table-striped datatable">
<thead>
    <tr>
        <th>Registered</th>
        <th>Attendee</th>
        <th>Email</th>
        <th>Upgrade</th>
        <th>Possible Matches</th>
        <th></th>
    </tr>
</thead>
<tbody>
{% for attendee, matches in attendees %}
    <tr id="{{ attendee.id }}">
        <td data-sort="{{ attendee.created.when }}">{{ attendee.created.when|datetime_local }}</td>
        <td>{{ attendee|form_link("true") }}</td>
        <td>{{ attendee.email }}</td>
        <td>{{ attendee.amount_extra_label }}</td>
        <td>
            {% for match in matches|selectattr('id','!=',attendee.id) %}
                <p>
                    {{ match|form_link("true") }} [{{ match.badge_status_label }}] ({{ match.email }}){% if match.amount_extra %} Upgrade: {{ match.amount_extra_label }}{% endif %}
                </p>
            {% else %}
                (no matching attendees)
            {% endfor %}
        </td>
        <td><button class="btn btn-danger" onClick="invalidate('{{ attendee.id }}')">Invalidate</button></td>
    </tr>
{% endfor %}
</tbody>
</table>

<script>
    var hideRows = function (id) {
        $('#' + id).hide('slow');
    };
    var invalidate = function (attendeeId) {
        $.post('invalidate_badge', {csrf_token: csrf_token, id: attendeeId}, function (response) {
            if (response.error) {
                showErrorMessage(response.error);
            } else {
                $("#message-alert").addClass("alert-info").show().children('span').html('Invalidated badge');
                hideRows(response.invalidated);
            }
        }, 'json');
    };
</script>

{% endblock %}
