{% extends "base.html" %}{% set admin_area=True %}

{% if art_show_app %}
  {% set model_str = "application" %}
  {% set model = art_show_app %}
{% elif group %}
  {% set model_str = "group" %}
  {% set model = group %}
{% else %}
  {% set model_str = "attendee" %}
  {% set model = attendee %}
{% endif %}

{% block title %}Receipt Items - {% if model.attendee %}{{ model.attendee.full_name }}'s {{ model_str|title }}{% else %}{{ model.full_name|default(model.name) }}{% endif %}{% endblock %}
{% block content %}
<script type="text/javascript">
  var hideRow = function (id) {
    $('#' + id).hide('slow');
  };
  var updateRow = function (id, selector, text) {
    $('#' + id + selector).html(text);
  };
  var updateTotal = function (text, disable_button=true) {
    $('#receipt_total').html(text);
    $('.record_payment_refund').prop('disabled', disable_button);
  }
  var showForm = function(receiptId, whichForm) {
    $('#' + receiptId + whichForm).removeClass('d-none')
  };
  var hideForm = function(receiptId, whichForm) {
    $('#' + receiptId + whichForm).addClass('d-none')
  };
  var deleteItem = function (itemId) {
    bootbox.confirm({
      title: "Delete Receipt Item?",
      message: "This will permanently remove this receipt item. " +
      "This cannot be undone, and should only be used for receipt items " +
      "that were recorded incorrectly. Are you sure?",
      buttons: {
          confirm: {
              label: 'Delete Receipt Item',
              className: 'btn-danger'
          },
          cancel: {
              label: 'Nevermind',
              className: 'btn-outline-secondary'
          }
      },
      callback: function (result) {
        if(result) {
          $.post('remove_receipt_item', {csrf_token: csrf_token, id: itemId}, function (response) {
            hideMessageBox();
            if (response.error) {
              showErrorMessage(response.error);
            } else {
              $("#message-alert").addClass("alert-info").show().children('span').html('Item deleted');
              hideRow(response.removed);
              updateTotal(response.new_total, response.disable_button);
            }
          }, 'json');
        }
      }
    });
  };

  var compItem = function (itemId, processor_str) {
    bootbox.confirm({
      title: "Comp Receipt Item?",
      message: "This will mark this item as comped, adding a credit to the receipt. " +
               "Use the Refund button if you want to both comp and refund this item via " + processor_str + " (if applicable).",
      buttons: {
          confirm: {
              label: 'Comp Item',
              className: 'btn-success'
          },
          cancel: {
              label: 'Nevermind',
              className: 'btn-default'
          }
      },
      callback: function (result) {
        if(result) {
          $.post('comp_receipt_item', {csrf_token: csrf_token, id: itemId}, function (response) {
            hideMessageBox();
            if (response.error) {
              showErrorMessage(response.error);
            } else {
              window.location = 'receipt_items?id={{ model.id }}&message=Receipt item comped'
            }
          }, 'json');
        }
      }
    });
  };

  var undoItem = function (itemId) {
    bootbox.confirm({
      title: "Undo Receipt Item?",
      message: "This will revert this change to this {{ model_str }}'s registration. Are you sure?",
      buttons: {
          confirm: {
              label: 'Undo',
              className: 'btn-danger'
          },
          cancel: {
              label: 'Nevermind',
              className: 'btn-outline-secondary'
          }
      },
      callback: function (result) {
        if(result) {
          $.post('undo_receipt_item', {csrf_token: csrf_token, id: itemId}, function (response) {
            hideMessageBox();
            if (response.error) {
              showErrorMessage(response.error);
            } else {
              window.location = 'receipt_items?id={{ model.id }}&message=Receipt item reverted'
            }
          }, 'json');
        }
      }
    });
  };

  var refreshTxn = function(txnId) {
    $.post('refresh_receipt_txn', {csrf_token: csrf_token, id: txnId}, function (response) {
      if (response.refresh) {
        window.location.href = 'receipt_items?id={{ model.id }}&message=' + response.message;
      } else {
        hideMessageBox();
        $("#message-alert").addClass("alert-info").show().children('span').html(response.message);
      }
    }, 'json');
  }

  var cancelTxn = function (txnId) {
    bootbox.confirm({
      title: "Cancel Transaction?",
      message: "This will permanently mark this transaction as cancelled. " +
        "This cannot be undone, and should only be used if the receipt total " +
        "has changed since this payment was initiated. " +
        "Are you sure?",
      buttons: {
          confirm: {
              label: 'Mark Transaction as Cancelled',
              className: 'btn-danger'
          },
          cancel: {
              label: 'Nevermind',
              className: 'btn-outline-secondary'
          }
      },
      callback: function (result) {
        if(result) {
          $.post('cancel_receipt_txn', {csrf_token: csrf_token, id: txnId}, function (response) {
            hideMessageBox();
            if (response.error) {
              showErrorMessage(response.error);
            } else {
              $("#message-alert").addClass("alert-info").show().children('span').html('Transaction cancelled');
              updateRow(response.cancelled, ' td:last', "<em>Cancelled " + response.time + ".</em>");
              updateTotal(response.new_total, response.disable_button);
            }
          }, 'json');
        }
      }
    });
  };

  var refundTxn = function (txnId, amount) {
    var amountField = $("#refundTxnForm [name='amount']");
    amountField.attr('placeholder', amount.substring(1));

    var form = $("#refundTxnDiv").html();
    $("#refundTxnDiv").html('');

    bootbox.confirm({
      title: "Refund Transaction?",
      message: form,
      buttons: {
          confirm: {
              label: 'Process Refund',
              className: 'btn-warning'
          },
          cancel: {
              label: 'Nevermind',
              className: 'btn-outline-secondary'
          }
      },
      callback: function (result) {
        $("#refundTxnDiv").html(form);
        if(result) {
          $.post('refund_receipt_txn', {csrf_token: csrf_token, id: txnId, amount: $("#refundTxnForm [name='amount']").val() || 0}, function (response) {
            hideMessageBox();
            if (response.error) {
              showErrorMessage(response.error);
            } else {
              $("#message-alert").addClass("alert-info").show().children('span').html('Transaction refunded');
              updateRow(response.refunded, ' td:last #amt-refunded', " ($" + (response.refund_total / 100).toFixed(2) + " refunded)");
              updateTotal(response.new_total, response.disable_button);
            }
          }, 'json');
        }
      }
    });
  };

  var resendReceipt = function(txnId) {
    bootbox.confirm({
      title: "Resend Receipt?",
      message: "This will resend the payment receipt email for this transaction. " +
        {% if c.ATTENDEE_ACCOUNTS_ENABLED %}
        "Receipts for badge payments are sent to the account owner, not the badge holder. " +
        "All other receipts go to the respective badge holder. " +
        {% endif %}
        "Are you sure?",
      buttons: {
          confirm: {
              label: 'Resend Receipt',
              className: 'btn-primary'
          },
          cancel: {
              label: 'Nevermind',
              className: 'btn-outline-secondary'
          }
      },
      callback: function (result) {
        if(result) {
          $.post('resend_receipt', {csrf_token: csrf_token, id: txnId}, function (response) {
            hideMessageBox();
            if (response.error) {
              showErrorMessage(response.error);
            } else {
              $("#message-alert").addClass("alert-info").show().children('span').html('Receipt email sent!');
            }
          }, 'json');
        }
      }
    });
  }

  var compOrUndoRefundItem = function (page_handler, itemId, amount, exclude_fees = false) {
      $.post(page_handler, {csrf_token: csrf_token, id: itemId, amount: amount, exclude_fees: exclude_fees}, function (response) {
        if (response.error) {
          showErrorMessage(response.error);
        } else {
          window.location = 'receipt_items?id={{ model.id }}&message=' + response.message;
        }
      }, 'json');
    }

  var refundItem = function (itemId, amount, count, canRevert) {
    var bootboxBtns = {
          cancel: {
              label: 'Nevermind',
              className: 'btn-outline-secondary',
          },
          comp: {
              label: 'Comp and Refund',
              className: 'btn-success',
              callback: function (result) {
                if(result) {
                  compOrUndoRefundItem('comp_refund_receipt_item', itemId, amount.substring(1))
                }
              }
          }
        }

    if (canRevert == 'yes') {
      bootboxBtns.revert = {
        label: 'Undo and Refund',
        className: 'btn-danger',
        callback: function (result) {
          if(result) {
            compOrUndoRefundItem('undo_refund_receipt_item', itemId, amount.substring(1))
          }
        }
      }
      {% if not c.AUTHORIZENET_LOGIN_ID %}
      bootboxBtns.revertExcludeFees = {
        label: 'Undo and Refund Excluding Fees',
        className: 'btn-danger',
        callback: function (result) {
          if(result) {
            compOrUndoRefundItem('undo_refund_receipt_item', itemId, amount.substring(1), true)
          }
        }
      }
      {% endif %}
    }
    
    bootbox.dialog({
      title: "Refund Item?",
      message: "This will refund this purchase in full (" + amount + " x" + count + "). " +
      "If you need to refund an item without marking it as comped or reverting the change, " +
      "please refund the transaction directly.",
      buttons: bootboxBtns,
    });
  };

  var addPayment = function ($form, $btn) {
    $.post('add_receipt_txn', $form.serialize(), function(result) {
      $btn.prop('disabled', false);
      hideMessageBox();
      if (result.error) {
        showErrorMessage(result.error);
      } else if (result.success) {
        window.location = 'receipt_items?id={{ model.id }}&message=Receipt item added'
      }
    });
  };

  var fullRefund = function (receiptId) {
    let message = '';
    {% if group_leader_receipt and not receipt %}
      message = "This will refund this attendee's group leader the cost of one badge.";
    {% else %}
      let extra_message = '';
      {% if group_leader_receipt %}
        extra_message = " for this attendee, plus the cost of one badge for their group leader";
      {% endif %}
      message = "This will refund ALL existing {{ processors_str }} transactions that have not already been refunded" + 
                extra_message + ".";
    {% endif %}
    bootbox.confirm({
      title: "Refund and Cancel Registration?",
      message: message + " It will also cancel this {{ model_str }}'s registration. Are you sure?",
      buttons: {
          confirm: {
              label: 'Fully Refund and Cancel',
              className: 'btn-danger'
          },
          cancel: {
              label: 'Nevermind',
              className: 'btn-outline-secondary'
          }
      },
      callback: function (result) {
        if(result) {
          window.location = 'process_full_refund?id=' + receiptId +
          {% if attendee %}
          '&attendee_id={{ attendee.id }}'
          {% else %}
          '&group_id={{ group.id }}'
          {% endif %}
        }
      }
    });
  };

  var mostlyFullRefund = function (receiptId, fee_str, group_leader_fee_str = '') {
    let message = '';
    {% if group_leader_receipt and not receipt %}
      message = "This will refund this attendee's group leader the cost of one badge minus " + fee_str + " in processing fees. It will also";
    {% else %}
      let extra_message = '';
      {% if group_leader_receipt %}
        extra_message = " It will also refund their group leader the cost of one badge minus " + group_leader_fee_str + " in processing fees, and it will";
      {% else %}
        extra_message = " It will also"
      {% endif %}
      message = "This will refund ALL existing {{ processors_str }} transactions that have not already been refunded, " + 
                "minus " + fee_str + " in processing fees." + extra_message
    {% endif %}

    bootbox.confirm({
      title: "Refund and Cancel Registration?",
      message: message + " cancel this {{ model_str }}'s registration. Are you sure?",
      buttons: {
          confirm: {
              label: 'Fully Refund and Cancel',
              className: 'btn-danger'
          },
          cancel: {
              label: 'Nevermind',
              className: 'btn-outline-secondary'
          }
      },
      callback: function (result) {
        if(result) {
          window.location = 'process_full_refund?id=' + receiptId + '&exclude_fees=True' +
          {% if attendee %}
          '&attendee_id={{ attendee.id }}'
          {% else %}
          '&group_id={{ group.id }}'
          {% endif %}
        }
      }
    });
  };

  var settleUp = function(receiptId, refundAmt) {
    bootbox.confirm({
      title: "Settle Balance?",
      message: "This will refund this {{ model_str }} " + refundAmt +
              " on their latest refundable transaction that can cover the amount. " +
              " If refunding via cash, please simply record the refund. Please also " +
              "make sure we actually owe this {{ model_str }} " + refundAmt + " before proceeding.",
      buttons: {
          confirm: {
              label: 'Yes, Refund ' + refundAmt,
              className: 'btn-success'
          },
          cancel: {
              label: 'Nevermind',
              className: 'btn-outline-secondary'
          }
      },
      callback: function (result) {
        if(result) {
          window.location = 'settle_up?id=' + receiptId
        }
      }
    });
  };

  $().ready(function () {
    $('#refundTxnForm').submit(function(event) {
      return false;
    })
    $("form[action='add_receipt_item']").submit(function(event){
      var $form = $(this);
      $btn = $form.find('button[type=submit]');
      event.preventDefault();
      $btn.prop('disabled', true);
      $.post('add_receipt_item', $form.serialize(), function(result) {
        hideMessageBox();
        $btn.prop('disabled', false);
        if (result.error) {
          showErrorMessage(result.error);
        } else if (result.success) {
          window.location = 'receipt_items?id={{ model.id }}&message=Receipt item added'
        }
      });
    });

    $("form[action='add_receipt_txn']").submit(function(event){
      var $form = $(this);
      $btn = $form.find('button[type=submit]');
      event.preventDefault();
      $btn.prop('disabled', true);
      var submitForm = false;
      if (parseInt($("form[action='add_receipt_txn'] input[name='amount']").val()) > 0) {
        bootbox.confirm({
          title: "Record Payment?",
          message: "If you add a payment equal to what the attendee currently owes, " +
            "all open receipt items will be closed and marked as paid. " +
            "This cannot be undone. Are you sure?",
          buttons: {
              confirm: {
                  label: 'Record Payment',
                  className: 'btn-success'
              },
              cancel: {
                  label: 'Nevermind',
                  className: 'btn-outline-secondary'
              }
          },
          callback: function (result) {
            if(result) {
              addPayment($form, $btn);
            } else {
              $btn.prop('disabled', false);
            }
          }
        });
      } else {
        addPayment($form, $btn);
      }
    });
  });
</script>
{% if art_show_app %}
{{ macros.nav_menu(
  art_show_app, c.PAGE_PATH,
  "../art_show_admin/form?id={id}", "App Form", True,
  "../art_show_admin/pieces?id={id}", "Submitted Pieces", True,
  "receipt_items?id={id}", "Receipt Items", c.HAS_REG_ADMIN_ACCESS,
  "../art_show_admin/history?id={id}", "History", True,
  "../art_show_admin/index", "Return to App List", True
  ) }}

{% else %}
  {% include "registration/menu.html" if attendee else "group_admin/nav_menu.html" %}
{% endif %}

<h2>Receipt{% if other_receipts %}s{% endif %} for {% if model.attendee %}{{ model.attendee.full_name }}'s {{ model_str|title }}{% else %}{{ model.full_name|default(model.name) }}{% endif %}{% if c.AT_THE_CON and model.badge_num %} ({{ model.badge }}){% endif %}</h2>
  <div class="card">
    <div class="card-body">
    {% set processors_str = processors[c.STRIPE] ~ " or " ~ processors[c.SQUARE] if c.AT_THE_CON else processors[c.STRIPE] %}
    <p>Use this form to remove and add custom purchases and credits or payments and refunds for this {{ model_str }}.
      You will not be able to remove purchases or credits that were created before a successful payment was made.
      Confirmed {{ processors_str }} payments or refunds that have a {{ processors_str }} ID will also be locked.
    </p>
    
    <p>
      If a payment was made and confirmed through {{ processors_str }}, you can refund part or all of it using the "Refund Item" buttons.
      Note that some {{ processors_str }} payments may appear on multiple receipts, for example, when someone registers multiple badges in one transaction.
    </p>

    <p>
      Please always itemize purchases and credits. Items with the same price, and <em>only</em> items with the same price,
      may be grouped into one purchase by setting the Amount as the per-item price and the Quantity field to how many items were purchased.
    </p>
    </div>
  </div>

{% macro receipt_item_form(type="purchase") %}
<tr id="{{ receipt.id }}-{{ type }}-form" class="d-none">
  <td colspan="8">
    <button type="button" class="btn-close pull-left" onClick="hideForm('{{ receipt.id }}', '-{{ type }}-form')" aria-label="Close"></button>
    <form method="post" action="add_receipt_item">
      {{ csrf_token() }}
      <input type="hidden" name="id" value="{{ receipt.id }}" />
      <input type="hidden" name="item_type" value="{{ type }}" />
      <div class="row g-sm-3 justify-content-end">
        <label for="desc" class="col-auto col-form-label">Description</label>
        <div class="col-auto">
          <input type="text" name="desc" class="form-control" placeholder="{{ type|title }} Description" required>
        </div>
        <label for="amount" class="col-auto col-form-label">Amount</label>
        <div class="col-auto">
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" name="amount" class="form-control" placeholder="0" required step=".01">
          </div>
        </div>
        <label for="count" class="col-auto col-form-label">Quantity</label>
        <div class="col-auto">
            <input type="number" name="count" class="form-control" placeholder="1">
        </div>
        <button type="submit" class="col-2 btn {{ 'btn-primary' if type == 'purchase' else 'btn-success' }}">Record {{ type|title }}</button>
      </div>
    </form>
  </td>
</tr>
{% endmacro %}
{% macro receipt_txn_form(type="payment") %}
<tr id="{{ receipt.id }}-{{ type }}-form" class="d-none">
  <td colspan="8">
    <button type="button" class="btn-close pull-left" onClick="hideForm('{{ receipt.id }}', '-{{ type }}-form')" aria-label="Close"></button>
    <form method="post" action="add_receipt_txn">
      {{ csrf_token() }}
      <input type="hidden" name="id" value="{{ receipt.id }}" />
      <input type="hidden" name="txn_type" value="{{ type }}" />
      <div class="row g-sm-3 justify-content-end">
        <label for="amount" class="col-auto col-form-label">{{ type|title }} Method</label>
        <div class="col-auto">
          <select name="method" class="form-select">
            <option value="">Select a Method</option>
            {{ options(c.PAYMENT_METHOD_OPTS, c.CASH) }}
          </select>
        </div>
        <label for="count" class="col-auto col-form-label">Amount</label>
        <div class="col-auto">
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" name="amount" class="form-control" placeholder="0" required>
            <span class="input-group-text">.00</span>
          </div>
        </div>
        <label for="desc" class="col-auto col-form-label">Description</label>
        <div class="col-auto">
          <input type="text" name="desc" class="form-control" placeholder="Transaction Description">
        </div>
        <button type="submit" class="col-2 btn {{ 'btn-info' if type == 'payment' else 'btn-warning' }}">Record {{ type|title }}</button>
      </div>
    </form>
  </td>
</tr>
  {% endmacro %}

{% macro receipt_table(receipt, items) %}
<ul class="nav nav-tabs" role="tablist" id="tabs-{{ receipt.id }}">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="receipt-tab-{{ receipt.id }}" data-bs-toggle="tab" data-bs-target="#receipt-{{ receipt.id }}" type="button" role="tab" aria-controls="receipt-{{ receipt.id }}">
      Receipt
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="history-tab-{{ receipt.id }}" data-bs-toggle="tab" data-bs-target="#history-{{ receipt.id }}" type="button" role="tab" aria-controls="history-{{ receipt.id }}">
      History
    </button>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="receipt-{{ receipt.id }}">
  <table class="table table-striped">
    <thead><tr>
      <th>Added</th>
      <th>Admin</th>
      <th>Type</th>
      <th></th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
    </tr></thead>
    {% for item in items %}
      {#- Cache some properties that involve API calls or heavy DB calls #}
      {% set stripe_url = item.stripe_url %}

      <tr id="{{ item.id }}">
        <td>{{ item.added|datetime_local("%b %-d %-H:%M (%-I:%M%p)") }}</td>
        <td>{{ item.who }}</td>
        <td>
          {% if item.method %}
            {{ "Payment" if item.amount > 0 else "Refund" }} ({{ item.method_label }})
          {% else %}
            {{ "Purchase" if item.amount > 0 else "Credit" }}
          {% endif %}
        </td>
        <td>{% if item.card_info %}{{ item.card_info }}{% endif %}
          {% if stripe_url %}<a class="btn btn-sm btn-info" href="{{ stripe_url }}" target="_blank">View <span class="glyphicon glyphicon-new-window"></span></a>{% endif %}
        </td>
        <td>{{ item.desc }}{{ " (" ~ processors[item.method] ~ " ID: " ~ item.stripe_id ~ ")" if item.stripe_id else "" }}</td>
        <td>
          {{ (item.amount / 100)|format_currency(true) }}
          {% if item.count and item.count > 1 %}
             x{{ item.count }}: {{ (item.count * item.amount / 100)|format_currency }}
          {% endif %}
        </td>
        <td>
          {% if item.refundable and not item.method %} {# disabling transaction refunds for now #}
          <button class="btn btn-sm btn-warning text-nowrap"
                  onClick="
                  {% if item.method %}
                  refundTxn('{{ item.id }}', '{{ (item.amount_left / 100)|format_currency }}')">
                  Refund
                  {% else %}
                  refundItem('{{ item.id }}', '{{ (item.amount / 100)|format_currency }}', '{{ item.count }}', '{{ item.revert_change|yesno }}')">
                  Refund Options
                  {% endif %}
          </button>
          {% endif %}
        </td>
        <td class="text-nowrap">
          {% if item.available_actions %}
            {% for action in item.available_actions %}
              {% if action == 'refresh_receipt_txn' %}
              <button class="btn btn-sm btn-info text-nowrap" onClick="refreshTxn('{{ item.id }}')">Refresh from {{ processors[item.method] }}</button>
              {% endif %}
              {% if action == 'cancel_receipt_txn' %}
              <em class="text-wrap">This payment is pending. This {{ model_str }} can re-try the payment on their confirmation page.</em>
              <br/><button class="btn btn-sm btn-danger text-nowrap" onClick="cancelTxn('{{ item.id }}')">Mark as Cancelled</button>
              {% endif %}
              {% if action == 'resend_receipt' %}
              <button class="btn btn-sm btn-info text-nowrap" onClick="resendReceipt('{{ item.id }}')">Resend Receipt</button>
              {% endif %}
              {% if action == 'comp_receipt_item' %}
              <button class="btn btn-sm btn-success text-nowrap" onClick="compItem('{{ item.id }}', '{{ receipt.id }}', '{{ processors[item.method] }}')">Comp Item</button>
              {% endif %}
              {% if action == 'undo_receipt_item' %}
              <button class="btn btn-sm btn-danger text-nowrap" onClick="undoItem('{{ item.id }}', '{{ receipt.id }}')">Undo Item</button>
              {% endif %}
              {% if action == 'remove_receipt_item' %}
              <button class="btn btn-sm btn-danger text-nowrap" onClick="deleteItem('{{ item.id }}')">
                Delete {{ "Transaction" if item.method else "Item" }}
              </button>
              {% endif %}
            {% endfor %}
          {% elif item.cancelled %}
            <em>Cancelled {{ item.cancelled|datetime_local }}</em>
          {% elif item.closed %}
            <em>Paid {{ item.paid|datetime_local }}</em>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="8">
        <span class="pull-right"><strong>Total</strong>: <span id="receipt_total">{{ receipt.total_str }}</span></span>
      </td>
    </tr>
    {{ receipt_item_form(type="purchase") }}
    {{ receipt_item_form(type="credit") }}
    {{ receipt_txn_form(type="payment") }}
    {{ receipt_txn_form(type="refund") }}
    {% if not receipt.closed %}
    <tr id="{{ receipt.id }}">
      <td colspan="8">
        <div class="btn-group pull-right" role="group">
          <button class="btn btn-outline-secondary">Record:</button>
          <button class="btn btn-primary" onClick="showForm('{{ receipt.id }}', '-purchase-form')">Purchase</button>
          <button class="btn btn-success" onClick="showForm('{{ receipt.id }}', '-credit-form')">Credit</button>
          <button class="btn btn-info record_payment_refund" onClick="showForm('{{ receipt.id }}', '-payment-form')"{% if receipt.current_receipt_amount == 0 %} disabled{% endif %}>Payment</button>
          <button class="btn btn-warning record_payment_refund" onClick="showForm('{{ receipt.id }}', '-refund-form')"{% if receipt.current_receipt_amount == 0 %} disabled{% endif %}>Refund</button>
        </div>
      </td>
    </tr>
    {% endif %}
  </table>
</div>
<div role="tabpanel" class="tab-pane" id="history-{{ receipt.id }}">
  <table class="table table-striped table-bordered table-sm">
    <thead><tr>
      <th>Which</th>
      <th>What</th>
      <th>When</th>
      <th>Who</th>
      <th>Changes</th>
    </tr></thead>
    {% for tracked in receipt.changes %}
      <tr>
        <td valign="top" style="white-space:nowrap">{{ tracked.model }}</td>
        <td valign="top" style="white-space:nowrap">{{ tracked.action_label }}</td>
        <td valign="top" style="white-space:nowrap">{{ tracked.when|full_datetime_local }}</td>
        <td valign="top" style="white-space:nowrap">{{ tracked.who }}</td>
        <td valign="top">{{ tracked.data }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
</div>
{% endmacro %}

<div class="card mt-3">
  <div class="card-header">
    <h3 class="card-title">Current Receipt</h3>
  </div>
<div class="card-body">
  {% if c.HAS_ART_SHOW_ADMIN_ACCESS %}
    {% for receipt in model.art_show_receipts|selectattr("pieces") %}
    {% if loop.first %}<p>This attendee has the following art show invoices: <br/>{% endif %}
    <a href="../art_show_admin/pieces_bought?id={{ receipt.id }}" target="blank">Art Show Invoice #{{ receipt.invoice_num }}</a>{% if receipt.closed %} (Closed {{ receipt.closed|datetime_local("%b %-d %-I:%M%p") }}){% endif %}
    {% if loop.last %}</p>{% else %} | {% endif %}
    {% endfor %}
  {% endif %}
{% if receipt %}
  {{ receipt_table(receipt, receipt.all_sorted_items_and_txns) }}
  <button class="btn btn-danger" onClick="fullRefund('{{ receipt.id }}')">Refund and Cancel This {{ model_str|title }}</button>
  {% if not c.AUTHORIZENET_LOGIN_ID %}
  OR
  <button class="btn btn-danger" onClick="mostlyFullRefund('{{ receipt.id }}', '{{ (receipt.remaining_processing_fees / 100)|format_currency }}', '{{ (group_processing_fee / 100)|format_currency if group_leader_receipt else '' }}')">Refund and Cancel This {{ model_str|title }} Excluding Processing Fees</button>
  {% endif %}
  {% if receipt.current_receipt_amount < 0 %}
  <button class="btn btn-success" onClick="settleUp('{{ receipt.id }}', '{{ (receipt.current_receipt_amount * -1 / 100)|format_currency }}')">Settle Receipt (Refund {{ (receipt.current_receipt_amount * -1 / 100)|format_currency }})</button>
  {% endif %}
{% else %}
  There are no active receipts for this {{ model_str }}.
  <br/><a href="create_receipt?id={{ model.id }}" class="btn btn-success">Create Default Receipt</a> <a href="create_receipt?id={{ model.id }}&blank=true" class="btn btn-info">Create Blank Receipt</a>
  {% if group_leader_receipt and attendee and attendee.badge_status != c.REFUNDED_STATUS %}
  <button class="btn btn-danger" onClick="fullRefund('{{ group_leader_receipt.id }}')">Refund Badge Cost To Group Leader</button>
  <button class="btn btn-danger" onClick="mostlyFullRefund('{{ group_leader_receipt.id }}', '{{ (group_processing_fee / 100)|format_currency }}')">Refund Badge Cost To Group Leader Excluding Processing Fees</a>
  {% endif %}
{% endif %}
</div>
</div>

{% for other_receipt in other_receipts %}
<div class="card mt-3">
  <div class="card-header">
    <h3 class="card-title">{{ other_receipt.owner_model }} Receipt</h3>
  </div>
<div class="card-body">
  {{ receipt_table(other_receipt, other_receipt.all_sorted_items_and_txns) }}
</div>
</div>
{% endfor %}

{% for closed_receipt in closed_receipts %}
<div class="card mt-3">
  <div class="card-header">
    <h3 class="card-title">Closed Receipt ({{ closed_receipt.closed|datetime_local }})</h3>
  </div>
<div class="card-body">
  {{ receipt_table(closed_receipt, closed_receipt.all_sorted_items_and_txns) }}
</div>
</div>
{% endfor %}

<div id="refundTxnDiv" class="d-none">
  <p>This will refund this {{ model_str }} through {{ processors_str }}. You can enter an amount below or leave it blank to refund the full amount.</p>

  <div class="form-horizontal" id="refundTxnForm">
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" name="amount">
      </div>
  </div>
</div>

{% endblock %}
