{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block backlink %}
    {% if HAS_STUFF_ACCESS %}
        <span style="float:right"> <a href="../accounts/homepage">Return Home</a></span>
    {% endif %}
{% endblock %}
{% block content %}

<script type="text/javascript">/*
    $(document).ready(function(){
        {% if HAS_STUFF_ACCESS %}
            $(".schedule").mouseover(function(event) {
                var params = event.target.id.split(",");
                event.target.style.background = "lightyellow";
                window.status = "form?id="+params[0] + "&location="+params[1] + "&start_time="+params[2];
            });
            $(".schedule").mouseout(function(event) {
                event.target.style.background = "white";
                window.status = "";
            });
            $(".schedule").click(function(event) {
                var params = event.target.id.split(",");
                window.location = "form?id="+params[0] + "&location="+params[1] + "&start_time="+params[2];
            });
        {% endif %}
        $("td[title]").cluetip({splitTitle: "~~~", width: 450});
    });
*/</script>

<style type="text/css">
    td { padding: 2px }
    td.border {
        border: 1px solid black;
        height: 40px;
        vertical-align: top;
    }
    td.schedule {
        text-align:     center;
        vertical-align: middle;
    }
</style>

<div style="color:red ; text-align:center">
    <b>Note:</b>
    This schedule is not final.
</div>
<br/>

<table style="font-size:9pt ; border-collapse:collapse ; border:1px solid black">
<tr style="text-align:center">
    <td></td>
    <td></td>
    {% for id, name, colspan in max_simul %}
        <td colspan="{{ colspan }}" class="border"><nobr>{{ name }}</nobr></td>
    {% endfor %}
    <td></td>
    <td></td>
</tr>
{% for time, events in schedule %}
    <tr>
        {% if not time.hour and not time.minute %}
            <td class="border">{{ time|date:"D" }}</td>
        {% else %}
            {% ifequal time EPOCH %}
                <td class="border">{{ time|date:"D" }}</td>
            {% else %}
                {% ifequal time.hour 12 %}
                    {% if not time.minute %}
                        <td class="border">{{ time|date:"D" }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% else %}
                    <td></td>
                {% endifequal %}
            {% endifequal %}
        {% endif %}
        <td class="border">
            <a name="{{ time|date:"Y-m-d H:i:s" }}"></a>
            {% if not time.minute %}
                {{ time|date:"gA"|lower }}
            {% else %}
                {{ time|date:"f" }}
            {% endif %}
        </td>
        {% for location, event_list in events %}
            {% for event in event_list %}
                {% if event.colspan %}
                    <td rowspan="{{ event.duration|default:1 }}" colspan="{{ event.colspan }}" class="schedule"
                        id='{{ event.id|default:"None" }},{{ location }},{{ time|date:"Y-m-d H:i:s" }}'
                        {% if event.id %}style="border:1px solid black"{% endif %}
                        {% if event.description %}
                            title="{{ event.name|remove_newlines }}~~~{{ event.description|linebreaksbr }}"
                        {% endif %}>
                        {{ event.name }}
                    </td>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <td class="border">
            {% if not time.minute %}
                {{ time|date:"gA"|lower }}
            {% else %}
                {{ time|date:"f" }}
            {% endif %}
        </td>
        {% if not time.hour and not time.minute %}
            <td class="border">{{ time|date:"D" }}</td>
        {% else %}
            {% ifequal time EPOCH %}
                <td class="border">{{ time|date:"D" }}</td>
            {% else %}
                {% ifequal time.hour 12 %}
                    {% if not time.minute %}
                        <td class="border">{{ time|date:"D" }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% else %}
                    <td></td>
                {% endifequal %}
            {% endifequal %}
        {% endif %}
    </tr>
{% endfor %}
</table>

{% endblock %}
