
<style type="text/css">
  html, body { font-size: 14px; }
  h1 { font-size: 30px; }
  h2 { font-size: 25px; }
  @media (min-width: 500px) {
    html, body { font-size: 14px; }
    h1 { font-size: 36px; }
    h2 { font-size: 30px; }
  }

  .visible-xxs-block { display: none !important; }
  .visible-xxs-inline { display: none !important; }
  .visible-xxs-inline-block { display: none !important; }
  .hidden-xxs { display: initial !important; }

  @media (max-width: 499px) {
    .visible-xxs-block { display: block !important; }
    .visible-xxs-inline { display: inline !important; }
    .visible-xxs-inline-block { display: inline-block !important; }
    .hidden-xxs { display: none !important; }
  }

  .label-danger-empty {
    background-color: transparent;
    border: 1px solid #d9534f;
    color: #d9534f;
  }

  .label-danger-empty:hover, .label-danger-empty:focus {
    border: 1px solid #c9302c;
    color: #fff;
  }

  .event.soldout .event.unavailable {
    display: none;
  }

  .show-soldout .event.soldout {
    display: block;
  }

  .card-body .greeting {
    float: right;
    text-align: right;
  }

  .card-body .greeting .attendee {
    white-space: nowrap;
    margin-right: -5px;
  }

  .modal-body > .form-group:last-child {
    margin-bottom: 0;
  }

  .modal-header .greeting .attendee {
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
  }

  .card-body .greeting .logout {
    padding: 0.3em 0.6em;
  }

  .modal-header .greeting .logout {
    font-size: 65%;
    margin: 4px 0;
    padding: 0.3em 0.6em;
  }

  .attendee .badge-num {
    color: #808080;
    font-size: 65%;
    font-weight: bold;
  }

  .attendee .ident {
    white-space: nowrap;
  }

  .card-body .greeting .attendee {
    font-size: 1.75em;
    font-weight: bold;
  }

  .btn-xl {
    padding: 13px 18px;
    font-size: 18px;
    white-space: normal;
  }

  @media(min-width: 480px) {
    .btn-xl {
      padding: 15px 20px;
      font-size: 20px;
      white-space: normal;
    }
  }

  .btn-next {
    font-size: 24px;
    width: 48px;
    height: 48px;
    margin: 0 0 6px 6px;
    padding: 6px;
    max-width: 20%;
  }

  @media(min-width: 480px) {
    .btn-next {
      font-size: 32px;
      width: 64px;
      height: 64px;
      margin: 0 0 6px 6px;
      padding: 10px;
      max-width: 20%;
    }
  }

  .btn-next-sm {
    font-size: 24px;
    width: 48px;
    height: 48px;
    margin: 0 0 6px 6px;
    padding: 0;
    max-width: 20%;
  }

  .signedup .btn-next {
    text-shadow: none;
    background-color: #fff;
    background-image: none;
    border-color: #4cae4c;
    color: #4cae4c;
  }

  .signedup .btn-next:hover,
  .signedup .btn-next:focus {
    background-color: #fff;
  }

  .signedup .btn-next:active,
  .signedup .btn-next.active {
    background-color: #fff;
  }

  .unavailable .btn-next,
  .soldout .btn-next,
  .btn-next:disabled,
  .btn-next[disabled] {
    color: #909090;
    background-color: #fff;
    background-image: none;
    border-color: #909090;
  }

  .soldout.signedup .btn-next,
  .btn-next:disabled,
  .btn-next[disabled] {
    color: #8cc789;
    background-color: #fff;
    background-image: none;
    border-color: #8cc789;
  }

  .soldout .hidden-soldout,
  .signedup .hidden-signedup ,
  .loggedin .hidden-loggedin {
    display: none;
  }

  .visible-soldout-block,
  .visible-signedup-block,
  .visible-loggedin-block,
  .visible-soldout-inline,
  .visible-signedup-inline,
  .visible-loggedin-inline,
  .visible-soldout-inline-block,
  .visible-signedup-inline-block,
  .visible-loggedin-inline-block {
    display: none;
  }

  .soldout .visible-soldout-block,
  .signedup .visible-signedup-block,
  .loggedin .visible-loggedin-block {
    display: block;
  }

  .soldout .visible-soldout-inline,
  .signedup .visible-signedup-inline,
  .loggedin .visible-loggedin-inline {
    display: inline;
  }

  .soldout .visible-soldout-inline-block,
  .signedup .visible-signedup-inline-block,
  .loggedin .visible-loggedin-inline-block {
    display: inline-block;
  }

  .hidden-soldout.hidden-modal-form {
    display: none;
  }

  .btn-back {
  }

  .hover-btn {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #333;
    display: block;
    text-decoration: none;
    padding: 10px;
  }

  .hover-btn + .hover-btn {
    margin-top: 15px;
  }

  .hover-btn:after {
    content: ' ';
    clear: both;
    display: block;
  }

  .hover-btn:hover {
    background-color: #f0faf4;
    border-color: #4cae4c;
    color: #333;
    cursor: pointer;
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .hover-btn.soldout:hover,
  .hover-btn.unavailable:hover,
  .hover-btn:hover:disabled,
  .hover-btn:hover[disabled] {
    background-color: #f6f6f6;
    border-color: #888888;
    cursor: default;
  }

  .hover-btn:focus {
    color: #333;
    outline: none;
    outline-offset: 0;
    text-decoration: none;
  }

  .hover-btn:focus *, .hover-btn:hover * {
    text-decoration: none;
  }

  .hover-btn-title {
    margin-bottom: 5px;
  }

  .hover-btn-title h2 {
    margin-top: 0;
    display: inline;
  }

  .hover-btn-body {
    padding-left: 0.75em;
  }

  input[name=badge_num] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[name=badge_num]::-webkit-inner-spin-button,
  input[name=badge_num]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
</style>


<script>
  var updateGreeting = function(firstName, badgeNum, parent) {
    var $parent = $(parent || document);
    if (firstName) {
      $parent.find('.greeting').css('display', '');
      $parent.find('.attendee').css('display', '');
      $parent.find('.attendee .name').text(firstName);
    } else {
      $parent.find('.greeting').css('display', 'none');
      $parent.find('.attendee').css('display', 'none');
      $parent.find('.attendee .name').text('');
    }

    if (badgeNum) {
      $parent.find('.attendee .badge-num').text('#' + badgeNum);
    } else {
      $parent.find('.attendee .badge-num').text('No Badge');
    }
  };

  var clickNextButton = function(event) {
    event.preventDefault();
    var $next = $(this).find('a.btn-next');
    if ($next.attr('href')) {
      window.location = $next.attr('href');
    }
  };
</script>
