{% extends "preregistration/preregbase.html" %}
{% block title %}Attractions{% endblock %}
{% import 'attractions_macros.html' as attractions_macros with context %}

{% block content %}
{% include 'attractions/attractions_common.html' %}

<script>
  $(function() {
    $('#attractions').on('click', '.attraction', clickNextButton);
  });
</script>

<div class="card">
  <div class="card-body">
    {% if attendee %}
      {% include 'confirm_tabs.html' with context %}
    {% endif %}
    {% block body %}
      {% if attendee_id %}
        <a class="btn btn-primary mb-2" href="manage?id={{ attendee_id }}">
          <i class="fa fa-chevron-left"></i>
          My Signups
        </a>
      {% endif %}
      <h1 class="text-center">Sign up for {{ c.EVENT_NAME }} Attractions</h1>
      <hr>
      <div id="attractions">
        {% for attraction in attractions %}
          <div class="attraction hover-btn">
            <a class="btn btn-success btn-next pull-right" href="{{ attraction.slug }}?attendee_id={{ attendee_id }}">
              <i class="fa fa-chevron-right"></i>
            </a>
            <div class="hover-btn-title">
              <h2><span class="bling-icon"></span> {{ attraction.name }}</h2>
            </div>
            <div class="hover-btn-body">
              <p>
                {{ attraction.description|sanitize_html|linebreaksbr }}
              </p>
              {% if attraction.public_features %}
                <ul>
                  {% for feature in attraction.public_features[:4] %}
                    <li>
                      {% if loop.index0 > 2 %}
                        And more...
                      {% else %}
                        {{ feature.name }}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        {% else %}
          <em class="help-block text-center">There aren't any attractions available yet.</em>
        {% endfor %}
      </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
