{% extends 'forms/attendee/staffing_info.html' %}

{% set personal_info = personal_info or forms['personal_info'] %}
{% set badge_flags = badge_flags or forms['badge_flags'] %}

{% block staffing %}
{% set staffing_admin_text %}
    {% if attendee.staffing %}
        <a href="../shifts_admin/goto_volunteer_checklist?id={{ attendee.id }}" target="_blank">View Volunteer Checklist</a>
        {% if c.AT_THE_CON %}
        <br/>({{ attendee.worked_hours }} out of {{ attendee.weighted_hours }} hours worked)
        {% endif %}
    {% endif %}
{% endset %}
    <div class="col-12">
        <div class="form-text">Volunteering/Staffing</div>
        {{ form_macros.input(staffing_info.staffing, admin_text=staffing_admin_text, **{'x-model.boolean':'staffing'}) }}
    </div>
</div>
<div class="row g-3 mb-3" x-show="staffing">
    <div class="col-12">
        <div class="form-text">Walk-On Volunteer</div>
        {{ form_macros.input(staffing_info.walk_on_volunteer) }}
    </div>
{% if c.PUBLIC_DEPARTMENT_OPTS_WITH_DESC|length > 1 %}
</div>
<div class="row g-3 mb-3" x-show="staffing">
    <div class="col-12">{{ form_macros.input(staffing_info.requested_depts_ids) }}</div>
{% endif %}
</div>
<div class="row g-3 mb-3" x-show="staffing">
    <div class="col-12">{{ form_macros.input(staffing_info.assigned_depts_ids) }}</div>
{% endblock %}

{% block merch_info %}
{% if c.SEPARATE_STAFF_MERCH %}
    <div class="col-sm">
        <div class="form-text">Staff Merch Owed</div>
        <div class="mb-3">{{ attendee.staff_merch }}</div>
    </div>
    <div class="col-sm">
        <div class="form-text">Received Staff Merch</div>
        <div class="mb-3">{{ form_macros.input(staffing_info.got_staff_merch) }}</div>
    </div>
{% endif %}
{% endblock %}

{% block checklist_info %}
    {% if c.VOLUNTEER_AGREEMENT_ENABLED %}
    <div class="col-sm">
        {% call form_macros.input(staffing_info.agreed_to_volunteer_agreement) %}
        {{ staffing_info.agreed_to_volunteer_agreement.data|yesno("Yes,No") }}
        {% endcall %}
    </div>
    {% endif %}
    {% if c.EMERGENCY_PROCEDURES_ENABLED %}
    <div class="col-sm">
        {% call form_macros.input(staffing_info.reviewed_emergency_procedures) %}
        {{ staffing_info.reviewed_emergency_procedures.data|yesno("Yes,No") }}
        {% endcall %}
    </div>
    {% endif %}
    <div class="col-sm">
        <div class="form-text">Staff Crash Space</div>
        <div class="mb-3">
            {{ form_macros.input(staffing_info.hotel_eligible, readonly=not c.HAS_DEVTOOLS_ACCESS) }}
        </div>
    </div>
{% endblock %}