{% extends 'forms/attendee/badge_extras.html' %}

{% block badge_type %}{% endblock %}

{% block add_ons %}
    <div class="col-sm" x-show="showShirtOptOut">{{ form_macros.input(badge_extras.shirt_opt_out, **{'x-model.number': "shirt_opt_out"}) }}</div>
    <div class="col-sm" x-show="showStaffEventShirtOpts">{{ form_macros.input(badge_extras.num_event_shirts, **{'x-model.number': "num_event_shirts"}) }}</div>
    <div class="col-sm">{{ form_macros.input(badge_extras.amount_extra, alpine_model="amount_extra") }}</div>
{% endblock %}

{% block merch_info %}
    <div class="col-sm">
        <div class="form-text">Merch Owed</div>
        <div class="mb-3">{{ attendee.merch }}</div>
    </div>
    <div class="col-sm">{{ form_macros.input(badge_extras.extra_merch) }}</div>
    <div class="col-sm">
        <div class="form-text">Received Merch</div>
        <div class="mb-3">{{ form_macros.input(badge_extras.got_merch) }}</div>
    </div>
{% endblock %}

{% block donation %}
{% if c.COLLECT_EXTRA_DONATION %}
    <div class="col-sm">{{ form_macros.input(badge_extras.extra_donation) }}</div>
{% endif %}
{% endblock %}
