{% extends 'forms/attendee/badge_flags.html' %}

{% include 'badge_printing/queue_badge.html' %}

{% block x_data %}
{{ super() }}
last_paid: {{ attendee.paid|tojson }},
badge_status: {{ badge_flags.badge_status.data|tojson }},
no_badge_num: {{ (not attendee.badge_num)|tojson }},
paid: {{ badge_flags.paid.data|tojson }},
preassignedBadge() { return {{ c.PREASSIGNED_BADGE_TYPES|tojson }}.includes(this.badge_type) },
setPaidStatus() {
    if (this.badge_status == {{ c.REFUNDED_STATUS|tojson }}) {
        this.last_paid = this.paid;
        this.paid = {{ c.REFUNDED|tojson }};
    } else if ({{ [c.STAFF_BADGE, c.CONTRACTOR_BADGE, c.GUEST_BADGE]|tojson }}.includes(this.badge_type)) {
        this.last_paid = this.paid;
        this.paid = {{ c.NEED_NOT_PAY|tojson }};
    } else {
        this.paid = this.last_paid
    }
},
get badgeNumRequired() { return !this.no_badge_num && this.preassignedBadge() },
get noBadgeNumText() { return this.preassignedBadge() ? 'Use next available badge #' : 'Omit badge #' },
{% endblock %}

{% block attendee_info %}
{% if not attendee.is_new %}
    {% if attendee.created_info and attendee.created_info.when|full_datetime_local != attendee.registered|full_datetime_local and attendee.created_info.who == "non-admin" %}
    <div class="col-sm">
        <div class="form-text">Created</div>
        <div class="mb-4">{{ attendee.created_info.when|full_datetime_local }} by {{ attendee.created_info.who }}</div>
    </div>
    {% endif %}
    {% if attendee.registered %}
    <div class="col-sm">
        <div class="form-text">Signed Up</div>
        <div class="mb-4">{{ attendee.registered_local|full_datetime_local }}</div>
    </div>
    {% endif %}
    {% if attendee.last_update_info %}
    <div class="col-sm">
        <div class="form-text">Last Updated</div>
        <div class="mb-4">{{ attendee.last_update_info.when|full_datetime_local }} by {{ attendee.last_update_info.who }}</div>
    </div>
    {% endif %}
    {% if attendee.allocated_badges and (attendee.allocated_badges|length > 1 or not attendee.active_badge) %}
    </div>
    <div class="row g-sm-3 mb-3">
        <div class="col-sm">
            {% if attendee.active_badge %}
            Besides their current badge (#{{ attendee.badge_num }}), t{% else %}T{% endif %}his
            attendee has previously been allocated the following badges:
            <ul>
                {% for badge in attendee.allocated_badges|rejectattr('active') %}
                <li>
                    Badge #{{ badge.ident }}
                    {% if badge.picked_up %}| Picked up {{ badge.picked_up_local|datetime("%B %-d, %-I:%M %p") }}{% endif %}
                    {% if badge.reported_lost %} | Reported lost {{ badge.reported_lost_local|datetime("%B %-d, %-I:%M %p") }}{% endif %}
                    <button type="submit" class="btn btn-sm btn-primary" form="activate_badge-{{ badge.id }}">Make Current Badge</button>
                    {% if badge.picked_up %}
                    <button type="submit" class="btn btn-sm btn-warning" form="undo_badge_pickup-{{ badge.id }}">Undo Badge Pickup</button>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
    <div class="row g-sm-3 mb-3">
        {% if attendee.panel_applicants and c.HAS_PANELS_ADMIN_ACCESS -%}
        <div class="col-sm">
            <div class="form-text">Panel Applications</div>
            <div class="mb-4">
                {% for applicant in attendee.panel_applicants -%}
                    {% set outer_loop = loop %}
                    {% for app in applicant.applications %}
                    {% if not outer_loop.first %} / {% endif %}
                    <a href="../panels_admin/app?id={{ app.id }}">{{ app.name }}{{ " (Accepted)" if app.status == c.ACCEPTED else "" }}</a>
                    {% endfor %}
                {%- endfor %}
            </div>
        </div>
        {%- endif %}
        {% if c.ATTENDEE_ACCOUNTS_ENABLED %}
        <div class="col-sm">
            <div class="form-text">Account Email{{ attendee.managers|length|pluralize }}</div>
            <div class="mb-4">
                {% for manager in attendee.managers %}
                    {% if not loop.first %} / {% endif %}{{ manager|form_link(true) }}
                    {% if manager.attendees|length > 1 %}
                    (&nbsp;{%- for managed_attendee in manager.attendees|selectattr('id','!=',attendee.id) -%}
                        {% if not loop.first %} / {% endif %}{{ managed_attendee|form_link }}{% if not managed_attendee.is_valid %} <span class="badge bg-secondary">Invalid</span>{% endif %}
                        {%- endfor -%}&nbsp;)
                    {% endif %}
                {% else %}
                    This attendee has no attendee accounts.
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if c.AT_THE_CON or c.BADGE_PICKUP_ENABLED or c.AFTER_EPOCH or attendee.checked_in %}
        <div class="col-sm">
            <div class="form-text">Checked In</div>
            <div class="mb-4">
                {% if attendee.checked_in %}
                    {{ attendee.checked_in_local|datetime("%B %-d, %Y, %-I:%M %p") }}
                {% elif attendee.cannot_check_in_reason %}
                    Can't check in yet: {{ attendee.cannot_check_in_reason }}
                {% else %}
                    Not checked in yet
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row g-sm-3 mb-3">
{% endif %}
    <div class="col-sm">
        <div class="form-text">Placeholder</div>
        <div>{{ form_macros.input(badge_flags.placeholder, admin_text="You will only need to fill out their name and email address.", **{'x-model.boolean':'badge_placeholder'}) }}</div>
    </div>
    {% if c.TRANSFERABLE_BADGE_TYPES|length > 0 %}
        {% set transfer_admin_text %}
            {% if attendee.is_inherently_transferable %}
                This attendee can currently transfer their badge.
            {% else %}
                This attendee can {% if attendee.can_transfer %}only transfer their badge with this override turned on{% else %}<strong>NOT</strong> currently transfer their badge{% endif %}.
            {% endif %}
        {% endset %}
        <div class="col-sm">
            <div class="form-text">Is Transferable</div>
            <div class="mb-3">
                {% if attendee.is_inherently_transferable %}
                    This attendee can currently transfer their badge.
                {% elif attendee.cannot_transfer_reason %}
                    This attendee cannot transfer their badge under any circumstances because {{ attendee.cannot_transfer_reason|readable_join }}.
                {% else %}
                    {{ form_macros.input(badge_flags.can_transfer, admin_text=transfer_admin_text) }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% if c.HAS_ACCOUNTS_ACCESS %}
</div>
<div class="row g-sm-3 mb-3">
    <div class="col-sm">
        <div class="form-text">Admin Account</div>
        <div class="mb-3">
        {% if attendee.admin_account %}
            {{ attendee.admin_account.access_groups_labels|join(', ')|default("This attendee has an admin account but no accesses.", true) }}
        {% else %}
            This attendee does not have an admin account.
        {% endif %}
        </div>
    </div>
{% endif %}
{% endblock %}



{% block badge_info %}
    <div class="col-sm">{{ form_macros.input(badge_flags.badge_status,
            admin_text=attendee.cannot_edit_badge_status_reason,
            disabled=(attendee.cannot_edit_badge_status_reason != ''), alpine_model="badge_status",
            **{'x-init': "$watch('badge_status', value => setPaidStatus())"}) }}</div>
    <div class="col-sm">{{ form_macros.input(badge_flags.badge_type, **{'x-model.number':'badge_type', 'x-init': "$watch('badge_type', value => setPaidStatus())"}) }}</div>
    <div class="col-sm">
        {% call form_macros.input(badge_flags.badge_num, required_if="badgeNumRequired", **{':disabled': "no_badge_num"}) %}
        {{ form_macros.input(badge_flags.no_badge_num, checked=not attendee.badge_num,
                             alpine_model="no_badge_num", label_kwargs={'x-text': "noBadgeNumText"}) }}
        {% endcall %}
    </div>
{% endblock %}

{% block ribbons %}
    <div class="col-sm">{{ form_macros.input(badge_flags.ribbon, **{'x-model.number':'badge_ribbons'}) }}</div>
{% endblock %}

{% block group %}
{% set create_new_group_link = c.HAS_GROUP_ADMIN_ACCESS and not attendee.group and not attendee.is_new %}
{% set group_extra_text %}
    <a id="group_link" href="" target="_blank">View this Group's Page</a>
    {% if create_new_group_link %}
        <a id="new_group" href="../group_admin/new_group_from_attendee?id={{ attendee.id }}" target="_blank">Create New Group</a>
    {% endif %}
{% endset %}
    <div class="col-sm">{{ form_macros.input(badge_flags.group_membership, admin_text=group_extra_text) }}</div>
    {% if c.BADGE_PROMO_CODES_ENABLED and c.GROUPS_ENABLED %}
    <div class="col-sm">
        <div class="form-text">Promo Code Group</div>
        <div class="mb-3">
            {% for group in attendee.promo_code_groups %}
            This attendee is the buyer/group leader for <strong><a href="../registration/promo_code_group_form?id={{ group.id }}" target="_blank">{{ group.name }}</a></strong>.
            {% endfor %}
            {% if attendee.promo_code and attendee.promo_code.group %}
            This attendee used promo code <strong>{{ attendee.promo_code.code }}</strong> to claim a {{ attendee.promo_code.cost|format_currency }} badge in promo code group <strong><a href="../registration/promo_code_group_form?id={{ attendee.promo_code.group.id }}" target="_blank">{{ attendee.promo_code_group_name }}</a></strong>.
            {% endif %}
            {% if not attendee.promo_code_groups and (not attendee.promo_code or not attendee.promo_code.group) %}
            This attendee is not in a promo code group.
            {% endif %}
        </div>
    </div>
    {% endif %}
<script type="text/javascript">
    var setGroupLink = function () {
        var group = $('#{{ badge_flags.group_membership.id }}').val();
        if (group === '') {
            $('#group_link').hide();
            {% if create_new_group_link %}$('#new_group').show();{% endif %}
        } else {
            {% if create_new_group_link %}$('#new_group').hide();{% endif %}
            $('#group_link').attr("href", '../group_admin/form?id=' + group).show();
        }
    };
    $(function () {
        setGroupLink();
        $('#{{ badge_flags.group_membership.id }}').change(setGroupLink);
    });
</script>
{% endblock %}

{% block paid_status %}
{% set paid_admin_text %}
{{ (attendee.amount_paid / 100)|format_currency }} paid / {{ (attendee.amount_refunded / 100)|format_currency }} refunded
{% endset %}
    <div class="col-sm">
        {{ form_macros.input(badge_flags.paid, admin_text=paid_admin_text, alpine_model="paid") }}
    </div>
    {% if other_info and c.BADGE_PROMO_CODES_ENABLED %}
        <div class="col-sm">
        {% set promo_code_admin_text %}
            {% if c.HAS_REG_ADMIN_ACCESS and attendee.promo_code_code %}
            <a href="" id="remove_promo_code" onClick="removePromoCode(event)">Remove Promo Code</a>
            {% endif %}
        {% endset %}
        {{ form_macros.input(other_info.promo_code_code,
                                read_only=attendee.promo_code_code and not editing,
                                admin_text=promo_code_admin_text) }}
        {% if c.HAS_REG_ADMIN_ACCESS and attendee.promo_code_code %}
        <script type="text/javascript">
            var removePromoCode = function(event) {
                event.preventDefault();
                bootbox.confirm({
                    backdrop: true,
                    title: 'Remove "{{ attendee.promo_code_code }}" from "{{ attendee.full_name }}"?',
                    message: 'This will remove the promo code\'s discount from the attendee and ' +
                    'set them to unpaid. They will be asked to pay the difference to complete their registration.',
                    buttons: {
                        confirm: { label: 'Remove Promo Code', className: 'btn-danger' },
                        cancel: { label: 'Nevermind', className: 'btn-outline-secondary' }
                    },
                    callback: function(result) {
                        if (result) {
                            window.location.href = '../reg_admin/remove_promo_code?id={{ attendee.id }}'
                        }
                    }
                });
            };
        </script>
        {% endif %}
        </div>
    {% endif %}
    <div class="col-sm">
        {% call form_macros.input(badge_flags.overridden_price, value=attendee.overridden_price or attendee.badge_cost or 0) %}
        {{ form_macros.input(badge_flags.no_override, checked=not attendee.overridden_price) }}
        {% endcall %}
    </div>
{% endblock %}