{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set badge_admin_notes = badge_admin_notes or forms['badge_admin_notes'] %}

{# BLOCK NAMES in this form:
    admin_notes

Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

{% block admin_notes %}
<div class="row g-sm-3">
    <div class="col-12 col-sm-6">{{ form_macros.form_input(badge_admin_notes.regdesk_info, admin_text="Any instructions here are shown at the top of this form.") }}</div>
    {% set review_link = 'for <a href="../registration/review" target="_blank">reviewing after the event</a>'|safe if c.HAS_REGISTRATION_ACCESS else 'collected for registration admins after the event' %}
    <div class="col-12 col-sm-6">{{ form_macros.form_input(badge_admin_notes.for_review, admin_text="These notes are " ~ review_link ~ ".") }}</div>
</div>
<div class="row g-sm-3">
    <div class="col-12 col-sm-6">{{ form_macros.form_input(badge_admin_notes.admin_notes) }}</div>
</div>
{% endblock %}