{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set badge_flags = badge_flags or forms['badge_flags'] %}
{% set personal_info = personal_info or forms['personal_info'] %}
{% set other_info = other_info or forms['other_info'] %}
{% set badge_extras = badge_extras or forms['badge_extras'] %}
{% set staffing_info = staffing_info or forms['staffing_info'] %}

{# BLOCK NAMES in this form:
    x_data
    attendee_info
    badge_info
    ribbon
    group
    paid_status

Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

<div x-data="{ {% block x_data %}{% endblock %} }">

<div class="row g-sm-3 mb-3">
{% block attendee_info %}
    {# This line says if it's a placeholder badge, we want to force them to not be a placeholder.
       However we want to allow a dealer to fill out badges for someone else they don't have all the information for.
       That only works if attendee accounts are off.
    #}
{% if not admin_area and (attendee.placeholder or 'register_group_member' in c.PAGE_PATH and not c.ATTENDEE_ACCOUNTS_ENABLED) %}
    {% if attendee.placeholder %}
        <input type="hidden" name="placeholder" id="placeholder" value="False" />
    {% else %}
        <div class="col-sm">
            <div class="form-text">Placeholder</div>
            {{ form_macros.input(badge_flags.placeholder, checked=True, **{'x-model.boolean':'badge_placeholder'}) }}
        </div>
    {% endif %}
{% endif %}
{% endblock %}
</div>

<div class="row g-sm-3 mb-3">{% block badge_info %}{% endblock %}</div>
<div class="row g-sm-3 mb-3">{% block ribbons %}{% endblock %}</div>
<div class="row g-sm-3 mb-3">{% block group %}{% endblock %}</div>
<div class="row g-sm-3 mb-3">{% block paid_status %}{% endblock %}</div>

</div>