{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set personal_info = personal_info or forms['personal_info'] %}


{# BLOCK NAMES in this form:
  x_data
  name
  contact_info
  age
  address -- NOTE: no containing row
  ec_info

  Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

<script>
  function personalInfo() {
      return {
        {% block x_data %}
          copy_address: {{ (group and loaded_from_group and attendee.address1 == group.address1)|boolean|jsonize }},
          copy_cellphone: {{ (group and loaded_from_group and attendee.cellphone == group.phone)|boolean|jsonize }},
          copy_email: {{ (group and loaded_from_group and attendee.email == group.email_address)|boolean|jsonize }},
          dealer: {{ (is_prereg_dealer or attendee.is_dealer)|boolean|jsonize }},
          international: {{ personal_info.international.data|boolean|jsonize }},
          no_cellphone: {{ personal_info.no_cellphone.data|boolean|jsonize }},
          no_onsite_contact: {{ personal_info.no_onsite_contact.data|boolean|jsonize }},
          same_legal_name: {{ (attendee.first_name != '' and attendee.legal_name == '')|boolean|jsonize }},
          first_name: {{ personal_info.first_name.data|jsonize }},
          last_name: {{ personal_info.last_name.data|jsonize }},
          group_id: {{ attendee.group_id|jsonize }},
          get unassignedBadge() { return this.first_name == '' && this.last_name == '' && this.group_id != '' && {{ admin_area|boolean|tojson }} },
          get unassignedOrPlaceholder() { return this.badge_placeholder || this.unassignedBadge },
          get emailRequired() { return !this.copy_email && !this.unassignedBadge },
          get legalNameRequired() {return !this.unassignedOrPlaceholder && !this.same_legal_name},
          get onsiteContactRequired() {return !this.unassignedOrPlaceholder && !this.no_onsite_contact},
          get zipCodeRequired(){ return !this.international && !this.copy_address && !this.unassignedOrPlaceholder },
          get disableCellphone() { return this.no_cellphone || this.copy_cellphone},
          get cellphoneRequired() { return (this.staffing || this.dealer) && !this.no_cellphone && !this.copy_cellphone && !this.unassignedOrPlaceholder },
        {% endblock %}
      }
    }
</script>


{# Badge related values and staffing values are found in a higher level x-data that we leverage here. #}
<div x-data="personalInfo()">

<div class="row g-sm-3 mb-3">
{% block name %}
  {% set attendee_last_name = attendee.last_name[0] ~ '.' if limited_read else attendee.last_name %}
  <div class="col-sm">{{ form_macros.input(personal_info.first_name, alpine_model="first_name", required_if="!unassignedBadge") }}</div>
  <div class="col-sm">{{ form_macros.input(personal_info.last_name, value=attendee_last_name, alpine_model="last_name", required_if="!unassignedBadge") }}</div>

  {% if attendee.legal_name or attendee.is_new or attendee.placeholder or admin_area %}
  </div>
  <div class="row g-sm-3 mb-3">
    <div class="col-sm">
        {{ form_macros.input(personal_info.same_legal_name, alpine_model='same_legal_name') }}
    </div>
    <div class="col-sm">
      {{ form_macros.input(personal_info.legal_name, required_if="legalNameRequired", **{':disabled':'same_legal_name'}) }}
    </div>
  {% else %}
  <input type="hidden" id="same_legal_name" name="same_legal_name"{% if attendee.first_name != '' and attendee.legal_name == '' %} value="1"{% endif %}/>
  {% endif %}

  {% if admin_area or attendee.has_personalized_badge %}
  </div>
  <div class="row g-sm-3 mb-3">
    <div class="col-12">{{ form_macros.input(personal_info.badge_printed_name, required_if="type_requires_name && !unassignedOrPlaceholder") }}</div>
  {% endif %}
{% endblock %}
</div>

<div class="row g-sm-3 mb-3">
{% block contact_info %}
  {% set attendee_email = attendee.masked_email if limited_read else attendee.email %}
  <div class="col-sm">
    {% call form_macros.input(personal_info.email, value=attendee_email, required_if="emailRequired", **{':disabled':'copy_email'}) %}
      {% if is_prereg_dealer %}
        {{ form_macros.input(personal_info.copy_email, **{'x-model.boolean':'copy_email'}) }}
      {% endif %}
    {% endcall %}
  </div>
  {% if c.PREREG_CONFIRM_EMAIL_ENABLED and not admin_area and (attendee.needs_pii_consent or attendee.badge_status == c.PENDING_STATUS) %}
    <div class="col-sm">
      {{ form_macros.input(personal_info.confirm_email, value=attendee_email if edit_id or attendee.placeholder else '',
                           required_if="emailRequired", **{':disabled':'copy_email'}) }}
    </div>
    </div>
    <div class="row g-sm-3 mb-3">
  {% endif %}
  <div class="col-sm">
    {% call form_macros.input(personal_info.cellphone, required_if="cellphoneRequired", **{':disabled':'disableCellphone'}) %}
      {% if is_prereg_dealer %}
        {{ form_macros.input(personal_info.copy_phone, **{'x-model.boolean':'copy_cellphone'}) }}
      {% else %}
        <div x-show="cellphoneRequired || no_cellphone">
        {{ form_macros.input(personal_info.no_cellphone, **{'x-model.boolean':'no_cellphone'}) }}
        </div>
      {% endif %}
    {% endcall %}
  </div>
{% endblock %}
</div>

<div class="row g-sm-3 mb-3">
{% block age %}
  <div class="col-sm">
    {% if c.COLLECT_EXACT_BIRTHDATE %}
      {{ form_macros.input(personal_info.birthdate, admin_text=attendee.age_group_conf.desc, required_if="!unassignedOrPlaceholder") }}
    {% else %}
      {{ form_macros.input(personal_info.age_group, required_if="!unassignedOrPlaceholder") }}
    {% endif %}
  </div>
  <div class="col-sm">
    {% if c.CONSENT_FORM_URL and not admin_area %}
    <div class="alert alert-warning mb-0" role="alert">
      <em>
        Attendees under 18 <b>MUST</b> bring a signed (and notarized if not accompanied by parent or guardian during badge pickup)
        <a class="link-dark" target="_blank" href="{{ c.CONSENT_FORM_URL }}">parental consent form</a>.
      </em>
    </div>
    {% endif %}
  </div>
{% endblock %}
</div>


{% block address %}
  {% if c.COLLECT_FULL_ADDRESS %}
    {% if is_prereg_dealer %}
    <div class="row g-sm-3 mb-3">
      <div class="col-sm">
          {{ form_macros.input(personal_info.copy_address, **{'x-model.boolean':'copy_address'}) }}
      </div>
    </div>
    {% endif %}
    {{ form_macros.address_fields(personal_info) }}
  {% else %}
  <div class="row g-sm-3 mb-3">
    <div class="col-sm-6">
        {% call form_macros.input(personal_info.zip_code, required_if="zipCodeRequired", **{':disabled':'copy_address'}) %}
          {{ form_macros.input(personal_info.international,  **{'x-model.boolean':'international'}) }}
        {% endcall %}
    </div>
  </div>
  {% endif %}
{% endblock %}


<div class="row g-sm-3 mb-3">
{% block ec_info %}
{% set show_ec = admin_area and ((attendee.admin_read_access() and attendee.admin_read_access() > 2) or c.HAS_REG_ADMIN_ACCESS or c.HAS_SECURITY_ADMIN_ACCESS) or (attendee.is_new or not admin_area) %}
{% if show_ec or not personal_info.ec_name.data %}
  <div class="col-sm">
    {{ form_macros.input(personal_info.ec_name, required_if="!unassignedOrPlaceholder") }}
  </div>
  <div class="col-sm">
    {{ form_macros.input(personal_info.ec_phone, required_if="!unassignedOrPlaceholder") }}
  </div>
{% endif %}
{% if show_ec or not personal_info.onsite_contact.data %}
</div>
<div class="row g-sm-3 mb-3">
  <div class="col-sm">
      {{ form_macros.input(personal_info.onsite_contact, extra_field=onsite_extra_field, maxlength="500", required_if="onsiteContactRequired", **{':disabled':'no_onsite_contact'}) }}
      {{ form_macros.input(personal_info.no_onsite_contact, **{'x-model.boolean':'no_onsite_contact'}) }}
  </div>
  <div class="col-sm">
    <div class="alert alert-info mt-4" role="alert">
    Please provide names and contact info for a trusted friend or friends who will be at or near the venue during the event.
    </div>
  </div>
{% endif %}
{% endblock %}
</div>

</div>