{% extends "./preregistration/preregbase.html" %}
{% block title %}Add Members to {{ group.name }}{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}
{% include 'prereg_masthead.html' %}
<div class="panel panel-default">
  <div class="panel-body">
    <h2> Add Members to {{ group.name }} </h2>

    You've indicated you'd like to add {{ count }} {{ group.is_dealer|yesno(c.DEALER_HELPER_TERM + "s,group members") }}, at a cost of ${{ '%0.2f' % charge.dollar_amount }}.

    <table style="width: auto; margin: 15px auto 0;">
      <tr>
        <td>{{ stripe_form('pay_for_extra_members',charge) }}</td>
        <td style="width:100px ; text-align:center">or</td>
        <td><a href="group_members?id={{ group.id }}">{{ macros.stripe_button("Nevermind") }}</a></td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
