{% extends "./preregistration/preregbase.html" %}
{% block title %}Add Badge Codes to {{ group.name }}{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}
  {% include 'prereg_masthead.html' %}
  <div class="panel panel-default">
    <div class="panel-body">
      <h2> Add Badge Codes to {{ group.name }} </h2>

      You've indicated you'd like to add {{ count }} promo code{{ count|int|pluralize }}, at a cost of ${{ '%0.2f' % charge.dollar_amount }}.
      <table style="width: auto; margin: 15px auto 0;">
        <tr>
          <td>{{ stripe_form('pay_for_extra_codes',charge) }}</td>
          <td style="width:100px ; text-align:center">or</td>
          <td><a href="group_promo_codes?id={{ group.id }}">{{ macros.stripe_button("Cancel") }}</a></td>
        </tr>
      </table>
    </div>
  </div>

{% endblock %}
