<script type="text/javascript">
    var ageGroupSelected = function() {
        setVisible("#age_disclaimer", $.val("age_group") === {{ UNDER_18 }});
        if (!$.field("badge_type") || $.val("badge_type") !== {{ PSEUDO_DEALER_BADGE }}) {
            setVisible(".staffing", $.val("age_group") !== {{ UNDER_18}});
            staffingClicked(true);
        }
    }
    
    {% if not COLLECT_EXACT_BIRTHDATE %} $(ageGroupSelected); {% endif %}

    var staffingClicked = function(nonGui) {
        var checked = $.field("staffing").is(":visible:checked");
        setVisible("#departments", checked);
        setVisible("#nophone", checked);
        $("#phone").css("font-weight", checked ? "bold" : "normal");
        if (!nonGui) {
            $.focus("email");
        }
    }
    $(staffingClicked);
</script>

<div class="form-group">
<label for="{% if COLLECT_EXACT_BIRTHDATE %}birthdate{% else %}age_group{% endif %}" class="col-sm-2 control-label">Age as of {{ EVENT_NAME_AND_YEAR }}:</label>
<div class="col-sm-6">
{% if COLLECT_EXACT_BIRTHDATE %}
    <input type="text" class="form-control" name="birthdate" value="{{ attendee.birthdate|date:"Y-m-d"|default:"Click to select" }}" readonly="true" class="datepicker">
{% else %}
    <select name="age_group" class="form-control" onChange="ageGroupSelected()">
        {% options AGE_GROUP_OPTS attendee.age_group %}
    </select>
{% endif %}
</div>
</div>

    <div class="form-group">
    <p class="help-block col-sm-6 col-sm-offset-2"><span id="age_disclaimer" style="font-style:italic">
                    {% if CONSENT_FORM_URL %}
                        Attendees under 18 <b>MUST</b> bring a signed and notarized parental
                        <nobr><a target="_blank" href="{{ CONSENT_FORM_URL }}">permission slip</a></nobr>.
                    {% endif %}
                </span></p>
    </div>


{% include "preregistration/staffing_option.html" %}