{% extends "./preregistration/preregbase.html" %}
{% block title %}Additional Donation{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}
{% include 'prereg_masthead.html' %}
<div class="panel panel-default">
  <div class="panel-body">
    {% if attendee.paid == c.NOT_PAID %}
      <h2> Badge Payment for {{ attendee.full_name }} </h2>

      You've registered for {{ c.EVENT_NAME }} at a {% if attendee.overridden_price %}discounted{% endif %} price of ${{ '%0.2f' % attendee.badge_cost }}{% if attendee.amount_extra %} and you've also kicked in ${{ attendee.amount_extra }}{% endif %}; your total outstanding balance is ${{ attendee.amount_unpaid|round(2) }}.

      <table style="width: auto; margin: 15px auto 0;">
        <tr>
          <td>{{ stripe_form('process_attendee_donation', charge) }}</td>
          {% if attendee.amount_extra %}
            <td style="width:100px ; text-align:center">or</td>
            <td><a href="undo_attendee_donation?id={{ attendee.id }}">{{ macros.stripe_button("Undo Extra Money") }}</a></td>
          {% endif %}
          {% if attendee.can_abandon_badge or attendee.can_self_service_refund_badge %}
            <td style="width:100px ; text-align:center">or</td>
            <td>
              {% include '/preregistration/badge_refund.html' %}
            </td>
          {% endif %}
        </tr>
      </table>
      {% if attendee.can_abandon_badge or attendee.can_self_service_refund_badge %}
        <form method="post" action="abandon_badge" id="abandon_badge">
          <input type="hidden" name="id" value="{{ attendee.id }}"/>
        </form>
      {% endif %}
    {% else %}
      <h2> Extra Payment for {{ attendee.full_name }} </h2>

      Thanks for offering to kick in money to help make {{ c.EVENT_NAME }} better.  As thanks, your total donation (of which ${{ '%0.2f' % attendee.amount_unpaid }} is outstanding) entitles you to the following:
      <ul>
        {% for swag in attendee.donation_swag|list + attendee.addons|list %}
          <li>{{ swag }}</li>
        {% endfor %}
      </ul>

      <table style="width:auto ; margin-left:auto ; margin-right: auto">
        <tr>
          <td>{{ stripe_form('process_attendee_donation', charge) }}</td>
          <td style="width:100px ; text-align:center">or</td>
          <td><a href="undo_attendee_donation?id={{ attendee.id }}">{{ macros.stripe_button("Nevermind") }}</a></td>
        </tr>
      </table>
    {% endif %}
  </div>
</div>
{% endblock %}
