
{# To change this card in an event plugin, pick a row below and redefine it in a top-level template 'attendee_card_extra.html' #}
{# You can also change the mini-card below or add more rows by changing rows #}

{% set mini_card %}
<span class="h4 card-title">{{ attendee.first_name }} {{ attendee.last_name }}</span>
<p>"{{ attendee.badge_printed_name }}"</p>
<p class="text-uppercase">{{ attendee.badge_type_label }}</p>
{% endset %}

{% set row1 %}
<div class="col-12 col-sm-6">
    <strong>Name:</strong> {{ attendee.first_name }} {{ attendee.last_name }}
</div>
<div class="col-12 col-sm-6">
    <strong>Emergency Contact:</strong> {{ attendee.ec_name }}
</div>
{% endset %}

{% set row2 %}
<div class="col-12 col-sm-6">
    <strong>Badge Type:</strong> {{ attendee.badge_type_label }}
</div>
<div class="col-12 col-sm-6">
    <strong>Emergency Phone:</strong> {{ attendee.ec_phone|format_phone }}
</div>
{% endset %}

{% set row3 %}
<div class="col-12 col-sm-6">
    <strong>Name on Badge:</strong> {{ attendee.badge_printed_name }}
</div>
<div class="col-12 col-sm-6">
    <strong>Purchased:</strong> {{ attendee.registered|full_date_local }}
</div>
{% endset %}

{% set row4 %}
<div class="col-12 col-sm-6">
    <strong>Email:</strong> {{ attendee.email }}
</div>
<div class="col-12 col-sm-6">
    <strong>Volunteer?</strong> {{ attendee.staffing|icon_yesno("ok-sign,remove-sign","success,danger") }}</span>
</div>
{% endset %}

{% set row5 %}
<div class="col-12 col-sm-6">
    <strong>Phone:</strong> {{ attendee.cellphone|default('N/A', true) }}
</div>
<div class="col-12 col-sm-6">
    <strong>DOB:</strong> {{ attendee.birthdate|datetime('%m/%d/%Y') }}
</div>
{% endset %}

{% set rows = [row1,row2,row3,row4,row5] %}

{% include 'attendee_card_extra.html' %}

<div class="card">
    {% if attendee.group %}
        <div class="col-sm-12 text-center">
            <span class="h4">
                {% if attendee == attendee.group.leader %}Leader{% else %}Member{% endif %} of "{{ attendee.group.name }}"
                {% if attendee == attendee.group.leader and attendee.group.status != c.IMPORTED %}
                <span class="badge">{{ attendee.group.status_label }}</span>
                <a href="group_members?id={{ attendee.group.id }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-3 text-center">
            {{ mini_card }}
        </div>
        <div class="col-sm-9">
            {% for row in rows %}
            <div class="row g-sm-3">{{ row }}</div>
            {% endfor %}
                <div class="col-sm-12">
                {% if attendee.badge_status == c.IMPORTED_STATUS and not attendee.current_attendee %}
                    <div class="pull-right">
                    {% if attendee.group and attendee == attendee.group.leader and dealer_reg_open %}
                    <a href="../preregistration/reapply?id={{ attendee.id }}" class="btn btn-success">
                        Reapply as Dealer &nbsp;<i class="fa fa-plus"></i>
                    </a>
                    {% elif not prereg_message %}
                    <a href="../preregistration/repurchase?id={{ attendee.id }}&skip_confirm=true" class="btn btn-info">
                        Register With This Info &nbsp;<i class="fa fa-plus"></i>
                    </a>
                    {% endif %}
                    </div>
                {% elif attendee.is_valid or attendee.badge_status == c.PENDING_STATUS %}
                    {% set multiple_buttons = c.ART_SHOW_OPEN or c.AFTER_MARKETPLACE_REG_START and c.BEFORE_MARKETPLACE_DEADLINE or attendee.art_show_applications or attendee.marketplace_applications %}
                    {% if multiple_buttons %}
                    <div class="btn-group pull-right" role="group" aria-label="...">
                    {% endif %}
                    <a href="confirm?id={{ attendee.id }}" class="btn btn-sm btn-info" value="Edit">
                        <i class="fa fa-pencil"></i> Edit Details
                    </a>
                    {% if c.ART_SHOW_OPEN %}
                    {% if not attendee.art_show_applications %}
                    <a href="../art_show_applications/index?attendee_id={{ attendee.id }}" class="btn btn-sm btn-warning">
                        <i class="fa fa-tags"></i>&nbsp; Apply for Art Show
                    </a>
                    {% else %}
                    <a href="../art_show_applications/edit?id={{ attendee.art_show_applications[0].id }}" class="btn btn-sm btn-warning">
                        <i class="fa fa-tags"></i>&nbsp; View Art Show App
                    </a>
                    {% endif %}
                    {% endif %}
                    {% if c.AFTER_MARKETPLACE_REG_START %}
                    {% if c.BEFORE_MARKETPLACE_DEADLINE and not attendee.marketplace_applications %}
                    <a href="../marketplace/index?attendee_id={{ attendee.id }}" class="btn btn-sm btn-success">
                        <i class="fa fa-shopping-cart"></i> Apply for Marketplace
                    </a>
                    {% elif attendee.marketplace_applications %}
                    <a href="../marketplace/edit?id={{ attendee.marketplace_applications[0].id }}" class="btn btn-sm btn-success">
                        <i class="fa fa-shopping-cart"></i> View Marketplace App
                    </a>
                    {% endif %}
                    {% endif %}
                    {% if multiple_buttons %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
        </div>
    </div>
</div>