{% set abandon_hover_text = attendee.cannot_self_service_refund_reason if attendee.amount_paid else attendee.cannot_abandon_badge_reason %}
{% if c.REFUND_CUTOFF or not attendee.amount_paid %}
    <span class="tooltip-wrapper" tabindex="0" data-bs-toggle="tooltip" data-placement="top"{% if abandon_hover_text %} title="{{ abandon_hover_text }}"{% endif %}>
<button type="submit" form="abandon_badge" alt="{{ abandon_hover_text }}" id="abandon_button" class="btn btn-danger"
        {% if abandon_hover_text %}disabled style="pointer-events: none;" {% endif %}>
  {{ "Refund and " if attendee.amount_paid else "" }}Cancel My Registration</button>
{% if abandon_hover_text %}</span>{% endif %}

<script type="text/javascript">
    $(function() {
        $("#abandon_button").on('click', function(event){

            var formToSubmit = $('#abandon_badge');
            bootbox.confirm({
                title: 'Cancel Registration?',
                message: '{{ "Refunding" if attendee.amount_paid else "Abandoning" }} your badge will <strong>immediately</strong> cancel your registration.<br/><br/>The registration fee and any upgrades purchased will be refunded to the original payment method.<br/><br/>You will need to purchase a new badge if you wish to attend {{ c.EVENT_NAME }}.<br/><br/>Do you wish to proceed?',
                buttons: {
                    confirm: {
                        label: "Yes, Cancel My Registration",
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Nevermind!',
                        className: 'btn-outline-secondary'
                    }
                },
                callback: function (result) {
                    if(result) {
                        formToSubmit.submit();
                    }
                }
            });
            event.preventDefault();
            return false;
        })
    });
</script>
{% endif %}