{% extends "./preregistration/preregbase.html" %}
{% set title_text = "Badge Updated" %}
{% block backlink %}{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h2>{{ message }}!</h2>
    <p>
      You have successfully {% if 'registered' in message or 'confirmed' in message %}confirmed{% elif 'transferred' in message %}transferred{% elif 'deferred' in message %}deferred{% else %}updated{% endif %} your registration.
      Thank you{% if 'payment' in message %} for your payment{% endif %}!
    </p>
    {% if 'transferred' not in message %}<a href="confirm?id={{ id }}" class="btn btn-primary">Go Back to My Badge</a>{% endif %}
  </div>
</div>
{% endblock %}
