{% extends "base.html" %}
{% set name_ro = not attendee.placeholder %}
{% set assigned_depts_ro = True %}
{% import "fields/attendee.html" as attendee_fields with context %}
{% block title %}Confirm Your Details{% endblock %}
{% block backlink %}
    {% if c.HAS_REGISTRATION_ACCESS %}
        <a href="../registration/form?id={{ attendee.id }}" style="float:right">Return to Attendee Admin Form</a>
    {% endif %}
{% endblock %}
{% block content %}

<script type="text/javascript">
    $(function(){
        {% if attendee.has_personalized_badge %}
            $('.badge-row').show();
        {% endif %}
        {% if attendee.amount_extra and not attendee.amount_unpaid %}
            setTimeout(function () {  // make sure this happens after jQuery.select2
                $.field('amount_extra').find('option').each(function(){
                    if ($(this).val() < {{ attendee.amount_extra }}) {
                        $(this).remove();
                    }
                });
            }, 1);
        {% endif %}
    });
</script>

{% include 'prereg_masthead.html' %}
<div class="panel panel-default">
  <div class="panel-body">
    {% if (c.ATTRACTIONS_ENABLED and attractions) or attendee.promo_code_groups %}
      {% include 'confirm_tabs.html' with context %}
    {% endif %}
    {% block panel_top %}{% endblock %}

    <form method="post" action="confirm" class="form-horizontal">
      {{ csrf_token() }}
      <input type="hidden" name="id" value="{{ attendee.id }}" />
      <input type="hidden" name="return_to" value="{{ return_to }}" />
      <input type="hidden" name="undoing_extra" value="{{ undoing_extra }}" />

      {% block form_top %}{% endblock %}

      {% if attendee.amount_unpaid and c.HTTP_METHOD == 'GET' and 'attendee_donation_form' in attendee.payment_page %}
        <br/>
        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3 warning">
            You currently have an outstanding balance of ${{ '%0.2f' % attendee.amount_unpaid }}{% if attendee.amount_extra %} due to having requested
            registration add-ons and then not completing the payment form{% endif %}.  Please either
            <a href="attendee_donation_form?id={{ attendee.id }}">click here</a> to pay, or alter your registration below to
            eliminate whichever addons you've decided not to select.
          </div>
        </div>
      {% endif %}

      {% if attendee.is_dealer %}
      {% if attendee.group.status == c.DECLINED %}
        {% set bg_class = 'danger' %}
      {% elif attendee.group.status == c.APPROVED %}
        {% set bg_class = 'success' %}
      {% elif attendee.group.status == c.WAITLISTED %}
        {% set bg_class = 'warning' %}
      {% else %}
        {% set bg_class = 'info' %}
      {% endif %}
        <div class="alert alert-{{ bg_class }}">
          Your group "<a href="group_members?id={{ attendee.group.id }}" target="_blank">{{ attendee.group.name }}</a>"
          is currently {{ attendee.group.status_label }}.
          {% if c.AFTER_MARKETPLACE_REG_START and c.BEFORE_MARKETPLACE_DEADLINE %}
          <br/><br/>If you would like, you may instead
          <a href="../marketplace/index?attendee_id={{ attendee.id }}" target="_blank">apply for a table in the Marketplace.</a>{% endif %}
        </div>
      {% endif %}

      {{ attendee_fields.badge_buttons }}
      {{ attendee_fields.prereg_intro }}
      {{ attendee_fields.name }}
      {{ attendee_fields.badge_type }}
      {{ attendee_fields.amount_extra }}
      {{ attendee_fields.badge_printed_name }}
      {{ attendee_fields.shirt_size }}
      {{ attendee_fields.extra_donation }}
      {{ attendee_fields.staffing }}
      {{ attendee_fields.job_interests }}
      {{ attendee_fields.assigned_depts }}
      {{ attendee_fields.agreed_to_volunteer_agreement }}
      {{ attendee_fields.age }}
      {{ attendee_fields.email }}
      {{ attendee_fields.address }}
      {{ attendee_fields.emergency_contact }}
      {{ attendee_fields.cellphone }}
      {{ attendee_fields.promo_code }}
      {{ attendee_fields.interests }}
      {{ attendee_fields.found_how }}
      {{ attendee_fields.comments }}
      {{ attendee_fields.can_spam }}
      {{ attendee_fields.requested_accessibility_services }}
      {{ attendee_fields.requested_hotel_info }}
      {{ attendee_fields.attractions_opt_out }}
      {% if attendee.placeholder %}{{ attendee_fields.pii_consent_checkbox }}{% endif %}

      {# Deprecated form included for backwards compatibility with old plugins #}
      {% include "regform.html" %}

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" class="btn btn-primary" id="updateButton">
            {% if attendee.placeholder %}Register{% else %}Update My Info{% endif %}
          </button>
          {% if attendee.is_transferable %}
            <button type="button" class="btn btn-primary" onClick='location.href="transfer_badge?id={{ attendee.id }}"'>Transfer my Badge</button>
          {% endif %}
          {% include '/preregistration/badge_refund.html' %}
        </div>
      </div>

      {% if not attendee.is_not_ready_to_checkin and c.USE_CHECKIN_BARCODE %}
        <div class="form-group">
        <label class="col-sm-3 control-label">Check-in Barcode</label>
          <div class="col-sm-6">
            <img src="../registration/qrcode_generator?data={{ attendee.public_id }}" />
          </div>
          <p class="help-block col-sm-9 col-sm-offset-3">
            This can be shown at badge pick-up to help check in. <br/>
            <strong>This barcode <em>does not</em> replace your Photo ID.</strong> <br/>
            You will receive an email with this code before the event.
          </p>
        </div>
      {% endif %}
    </form>

    {% if attendee.can_abandon_badge or attendee.can_self_service_refund_badge %}
      <form method="post" action="abandon_badge" id="abandon_badge">
        <input type="hidden" name="id" value="{{ attendee.id }}"/>
      </form>
    {% endif %}
  </div>
</div>

{% endblock %}
