{% extends "./preregistration/preregbase.html" %}
{% block title %}
    {% if attendee.placeholder %}
        Finalize Your {{ EVENT_NAME }} Registration
    {% else %}
        Update Your {{ EVENT_NAME }} Registration
    {% endif %}
{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<script type="text/javascript">
    $(function(){
        {% if attendee.has_personalized_badge %}
            $(".badge-row").show();
        {% endif %}
        {% if attendee.amount_extra %}
            setTimeout(function(){  // make sure this happens after jQuery.select2
                $.field("amount_extra").find("option").each(function(){
                    if ($(this).val() < {{ attendee.amount_extra }}) {
                        $(this).remove();
                    }
                });
            }, 1);
        {% endif %}
    });
</script>

<form method="post" action="confirm">
{% csrf_token %}
<input type="hidden" name="id" value="{{ attendee.id }}" />
<input type="hidden" name="return_to" value="{{ return_to }}" />

<table class="form">
<tr>
    <td> <b><nobr>Name:</nobr></b> </td>
    <td>{{ attendee.full_name }}</td>
</tr>
{% include "preregistration/extra.html" %}
{% include "preregistration/age_and_staffing.html" %}
<tr>
    <td> <b>Email Address:</b> </td>
    <td> <input type="text" name="email" value="{{ attendee.email }}" class="focus" /> </td>
</tr>
<tr>
    <td> <b>Postal Code:</b> </td>
    <td>
        <input type="text" name="zip_code" value="{{ attendee.zip_code }}" />
        {% checkbox attendee.international %} I'm coming from outside the US.
    </td>
</tr>
{% include "preregistration/phone_numbers.html" %}
<tr>
    <td> What interests you? </td>
    <td> {% checkgroup attendee.interests %} </td>
</tr>
<tr>
    <td></td>
    <td> <input type="submit" value="{% if attendee.placeholder %}Register{% else %}Update My Info{% endif %}" /> </td>
</tr>
</table>

</form>

{% if not attendee.placeholder %}
    {% if attendee.is_transferrable %}
        <form method="GET" action="transfer_badge" style="margin-left:25ex">
        <input type="hidden" name="id" value="{{ attendee.id }}" />
        <input type="submit" value="Transfer my Badge" />
        </form>
    {% endif %}
{% endif %}

{% endblock %}
