{% if logged_in_account %}
<div class="text-center">You are currently logged in as <strong>{{ logged_in_account.email }}</strong>.
Your {{ 'registration(s)' if c.PAGE_PATH in ['/preregistration/form', '/preregistration/post_form', '/preregistration/index'] else 'application' }} will be added to your account.
<a href="../preregistration/logout?return_to={{ c.PAGE_PATH }}" class="btn btn-sm btn-danger">Logout</a></div>
{% else %}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#create" id="create-tab" aria-controls="create" role="tab" data-toggle="tab">Create Account</a></li>
  <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Log In</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="create">
    <form class="form-horizontal" id="account-form"{% if post_to %} method="post" action="{{ post_to }}"{% endif %}>
      <div class="form-group">
        <label class="col-sm-6 col-sm-offset-2"><h4>{{ account_form_label }}</h4></label>
      </div>
      {% include 'preregistration/create_account_fields.html' %}
      <input type="submit" class="hidden" />
    </form>
  </div>
  <div role="tabpanel" class="tab-pane" id="login">
    {% include 'preregistration/login.html' %}
  </div>
  </div>

  <script type="text/javascript">
    function validateAndIncludeAccountFields(params_list) {
      var create_account_fields = $(".account-form-input");
      if (create_account_fields.is(":hidden")) {
        $('#create-tab').click();
      }
      if(create_account_fields[0].form.checkValidity()) {
        create_account_fields.each(function( index ) {
            var account_input = $(this);
            if(typeof params_list !== 'undefined') {
              params_list[account_input.attr("name")] = account_input.val();
            }
            $(".copy-from-account-input").each(function( index ) {
              if ($(this).attr("name") == account_input.attr("name")) {
                $(this).val(account_input.val());
              }
            });
          });
      } else {
        create_account_fields[0].form.reportValidity();
        return false;
      }
      return params_list || true;
    }
    {% if not post_to %}
    $("#account-form").submit(function (event) { event.preventDefault(); return false; });
    {% endif %}
  </script>
{% endif %}