
<span class="h4 text-danger">Disclaimers</span>
<ul>
  <li>
    Please review our badge policies and other
    <a href="http://super.magfest.org/faq" target="_blank">frequently asked questions</a>
    prior to purchasing your badge for important information.
  </li>
  <li>
    If you don't pay for your registration, it will be deleted and you will
    have to pay full price at the door.
  </li>
  <li>
    {{ c.EVENT_NAME }} has a <a href="https://super.magfest.org/faq/#badge-refunds" target="_blank">limited refund policy</a>
    but you may <a href="https://super.magfest.org/faq/#sell-or-transfer" target="_blank">sell/transfer your badge</a>.
  </li>
  <li>
    MAGFest has a <a href="https://super.magfest.org/faq/#multiple-badges" target="_blank">one badge per person policy</a>.
    If you purchase multiple badges (for your family, as a gift), please
    ensure that each badge is purchased in the name of the individual who the
    badge is intended for. You may use the same email address for multiple
    badges so any surprises aren't ruined.
  </li>
  <li>
    Attendees (including {{ c.DEALER_TERM }}s) must abide by our
    <a href="http://super.magfest.org/codeofconduct" target="_blank">code of conduct</a>.
  </li>
  {% if c.CONSENT_FORM_URL %}
    <li>
      Attendees under 18 MUST bring a
      <a href="{{ c.CONSENT_FORM_URL }}" target="_blank">signed parental consent form</a>,
      which MUST be notarized if the parent is not with the minor when the
      badge is picked up. Also, all children 12 and under will need to be
      accompanied by an adult with a paid badge.
    </li>
  {% endif %}
  {% if c.DEALER_REG_START and attendee and attendee.is_dealer %}
    <li>
      Submitting this form to vend does not guarantee you will be selected for the Marketplace - it is only the application.
    </li>
  {% endif %}
</ul>

<script type="text/javascript">
    $(document).ready(function(){
        window.scrollTo(0,0);
    });
</script>
