{% extends "./preregistration/preregbase.html" %}
{% set title_text = "You are already registered" %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h2>You may already be registered</h2>

    We already have a {{ attendee.full_name }} with email address {{ attendee.email }} in our database with a
    {% if attendee.paid == c.PAID_BY_GROUP and attendee.group.status == c.WAITLISTED %}
        waitlisted
    {% elif attendee.paid == c.HAS_PAID or attendee.paid == c.PAID_BY_GROUP or attendee.promo_code and attendee.promo_code.group %}
        paid
    {% elif attendee.paid == c.NEED_NOT_PAY %}
        complimentary
    {% elif attendee.paid == c.NOT_PAID %}
        unpaid
    {% else %}
        {{ attendee.paid_label }}
    {% endif %}
    {{ attendee.badge_type_label }}
    {% if attendee.ribbon %}
        ({{ attendee.ribbon_labels|join(", ") }})
    {% endif %}
    badge{% if attendee.group or attendee.promo_code and attendee.promo_code.group %}
    {% set group = attendee.group or attendee.promo_code.group %}
        (with the group {{ group.name }}){% endif %}.

    If you have any questions then please contact us via <a href='{{ c.CONTACT_URL }}'>{{ c.CONTACT_URL }}</a>.

    {% if attendee.group and attendee.group.is_dealer and attendee.group.status not in [c.APPROVED, c.SHARED] %}
        <br/> <br/>
        It looks like your {{ c.DEALER_REG_TERM }} application has not been approved yet. If your application
        is not approved, you will be able to purchase badges for yourself and the number of assistants on the application
        at the pre-registration price of {{ attendee.badge_cost|format_currency }} when the waitlist is exhausted. You will receive an email
        when these badges are available for purchase.
    {% endif %}

    {% if attendee.badge_type == c.STAFF_BADGE and attendee.registered == [c.PREREG_OPEN, c.DEALER_REG_START]|min %}
        <br/> <br/>
        You were registered automatically for a complimentary Staff badge as thanks for volunteering
        last year.  You should have already received an email letting you know about this; if you didn't
        then please contact us via <a href='{{ c.CONTACT_URL }}'>{{ c.CONTACT_URL }}</a> and let us know.
    {% endif %}

    <br/> <br/>

    If you're absolutely sure that this is someone else, you can continue and pay for this registration.

    <br/> <br/>

    <table style="width:auto" align="center">
    <tr>
        {%- set url_string = ("?group_id=" ~ duplicate.group_id) if duplicate.badge_type == c.PSEUDO_DEALER_BADGE else ("?attendee_id=" ~ (duplicate.group.id if duplicate.group else duplicate.id)) %}
        {%- set next_page = "additional_info" ~ url_string -%}
        <td><a href="{{ next_page }}">I'm someone else, let me register!</a></td>
        <td> &nbsp;&nbsp;&nbsp;&nbsp; </td>
        <td><a href="delete{{ url_string }}&message=Duplicate badge canceled">Well never mind then!</a></td>
    </tr>
    </table>
  </div>
</div>

{% endblock %}
