{% if DONATIONS_ENABLED %}
    <script type="text/javascript">
        var donationChanged = function() {
            setVisible(".affiliate-row", $.val("amount_extra") > 0);
            setVisible(".shirt-row", $.val("amount_extra") >= {{ SHIRT_LEVEL }});
            {% if attendee.badge_type in PREASSIGNED_BADGE_TYPES %}
                setVisible(".badge-row", true);
            {% else %}
                setVisible(".badge-row", $.val("amount_extra") >= {{ SUPPORTER_LEVEL }});
            {% endif %}
        };
        $(function(){
            if ($.field("amount_extra")) {
                donationChanged();
                var format = function(opt) {
                    if (opt.id == {{ SUPPORTER_LEVEL }} || opt.id == {{ SEASON_LEVEL }}) {
                        return '<span>' + opt.text + '</span>';
                    } else {
                        return opt.text;
                    }
                };
                $.field("amount_extra").select2({
                    formatResult: format,
                    formatSelection: function(opt) { return opt.text; },
                    minimumResultsForSearch: 99,
                    escapeMarkup: function(m) { return m; },
                    width: "100%",
                });
                $.field("affiliate").select2({
                    placeholder: "I don't care about this",
                    createSearchChoice: function(term) {
                        return {id: term, text: term};
                    },
                    data: {{ affiliates|jsonize }},
                    width: "100%",
                }).select2("val", {{ attendee.affiliate|default:""|jsonize }});
                $("form").submit(function(){
                    $(":submit").attr("value", "Uploading Preregistration...").attr("disabled", true);
                });
            }
        });
    </script>

    {% if attendee.badge_type != PSEUDO_DEALER_BADGE %}
    <div class="extra-row form-group" {% if not COLLECT_INTERESTS %}style="display:none;"{% endif %}>
    <label for="amount_extra" class="col-sm-2 control-label">Want to kick in extra?</label>
    <div class="col-sm-6">
      {% if AFTER_PRINTED_BADGE_DEADLINE and attendee.amount_extra >= SUPPORTER_LEVEL %}
                    {{ attendee.amount_extra_label }}
                    <input type="hidden" name="amount_extra" value="{{ attendee.amount_extra }}" />
                {% else %}
                    <select name="amount_extra" onChange="donationChanged()" >
                        {% options PREREG_DONATION_OPTS attendee.amount_extra %}
                    </select>
                {% endif %}
    </div>
  </div>
    {% if COLLECT_INTERESTS %}
    <div class="extra-row form-group">
    <p class="help-block col-sm-6 col-sm-offset-2">{% popup_link "../static_views/givingExtra.html" "Why do this?" %}</p>
    <p class="help-block col-sm-6 col-sm-offset-2">Each level includes all lower levels.</p>
    <p class="help-block col-sm-6 col-sm-offset-2">Supporter level and higher {% if BEFORE_SUPPORTER_DEADLINE %}are{% else %}were{% endif %} only available until {{ SUPPORTER_DEADLINE|datetime }}.</p>
    </div>
    {% endif %}
    {% endif %}

    <div class="badge-row extra-row form-group" style="display:none">
        <label for="badge_printed_name" class="col-sm-2 control-label">Name Printed on Badge:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="badge_printed_name" maxlength="20" value="{{ attendee.badge_printed_name }}" {% if AFTER_PRINTED_BADGE_DEADLINE %}readonly{% endif %} autocomplete="off" />
        </div>
    </div>
    <div class="badge-row extra-row form-group" style="display:none">
        <p class="help-block col-sm-6 col-sm-offset-2">Badge names have a maximum of 20 characters.</p>
    </div>
    {% if AFTER_PRINTED_BADGE_DEADLINE %}
    <div class="badge-row extra-row form-group" style="display:none">
        <p class="help-block col-sm-6 col-sm-offset-2">(custom badges have already been ordered, so you can no longer set this)</p>
    </div>
    {% endif %}
    
{% if COLLECT_INTERESTS %}
<div class="affiliate-row extra-row form-group" style="display:none">
    <label for="affiliate" class="col-sm-2 control-label">Affiliate:</label>
    <div class="col-sm-6">
        <input type="hidden" name="affiliate" style="width:30ex" />
    </div>
</div>
<div class="affiliate-row extra-row form-group" style="display:none">
    <p class="help-block col-sm-6 col-sm-offset-2 popup">{% popup_link "../static_views/affiliates.html" "What's an affiliate?" %}</p>
</div>
{% endif %}
{% endif %}

{% include "preregistration/shirt_selection.html" %}
