{% extends "./preregistration/preregbase.html" %}
{% block title %}Preregistration{% endblock %}
{% block content %}

<div class="masthead">
</div>

<script>

{% if edit_id %}
$(document).ready(function(){
  
});
{% endif %}

function setBadge(badgeType) {
        $(".badge_type_selector").removeClass("active");
        $(".group_fields").addClass("hide");
        if (badgeType == 'Attendee') {
            $("input[name='badge_type']").val("{{ ATTENDEE_BADGE }}");
            $("#attendee_select").addClass("active"); 
            $.field("amount_extra").val('0').trigger("change");
        }
        if (badgeType == 'Group') {
            $("input[name='badge_type']").val("{{ PSEUDO_GROUP_BADGE }}");
            $(".group_fields").removeClass("hide");
            $("#group_select").addClass("active");
            $.field("amount_extra").val('0').trigger("change");
        }
        if (badgeType == 'Featured1') {
            $("input[name='badge_type']").val("{{ ATTENDEE_BADGE }}");
            $("#featured1_select").addClass("active");
            $.field("amount_extra").val('60').trigger("change");
        }
        if (badgeType == 'Featured2') {
            $("input[name='badge_type']").val("{{ ATTENDEE_BADGE }}");
            $("#featured2_select").addClass("active");
            $.field("amount_extra").val('160').trigger("change");
        }
    }

function setDealer() {
    if ($('#dealeropt').is(':checked')) {
        $("input[name='badge_type']").val("{{ IND_DEALER_BADGE }}");
    } else {
        $("input[name='badge_type']").val("{{ ATTENDEE_BADGE }}");
    }
}

{% if attendee.badge_type == IND_DEALER_BADGE %}
$(document).ready(function() {
        $('#dealeropt').prop('checked', true);
    }
)

{% if COLLECT_FULL_ADDRESS %}
$(document).ready(function() {
    $("input[name='international']").hide()
    setInternational()
});

function setInternational() {
    countryName = $("input[name='country']").val();

    if(countryName == "USA" || countryName == "US" || countryName == "United States") {
        $("input[name='international']").prop('checked', false);
    } else {
        $("input[name='international']").prop('checked', true);
    }
}
{% endif %}
</script>

<div class="panel panel-default">
<div class="row bs-wizard" style="border-bottom:0;border-top:0;">   
    <div class="col-xs-4 bs-wizard-step active">
      <div class="text-center bs-wizard-stepnum">Step 1</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Enter Info</div>
    </div> 
    <div class="col-xs-4 bs-wizard-step disabled">
      <div class="text-center bs-wizard-stepnum">Step 2</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Review &amp; Pay</div>
    </div>
    <div class="col-xs-4 bs-wizard-step disabled">
      <div class="text-center bs-wizard-stepnum">Step 3</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Done</div>
    </div>
</div>

<form method="post" action="form" class="form-horizontal" role="form">
<input type="hidden" name="badge_type" value="{{ attendee.badge_type }}" />
{% if edit_id %}
    <input type="hidden" name="edit_id" value="{{ edit_id }}" />
{% endif %}

<div class="form-group">
<label for="badge" class="col-sm-2 control-label">Badge</label>
<div class="list-group">
  <div class="col-sm-2">
  <a id="attendee_select" onclick="setBadge('Attendee')" class="list-group-item badge_type_selector active">
    <h4 class="list-group-item-heading">Attendee</h4>
    <p class="list-group-item-text">Register a single attendee.</p>
  </a>
  </div>

{% if GROUPS_ENABLED %}
  <div class="col-sm-2 {% if not BEFORE_GROUP_PREREG_TAKEDOWN %}disabled{% endif %}">
  <a id="group_select" {% if BEFORE_GROUP_PREREG_TAKEDOWN %}onclick="setBadge('Group')"{% endif %} class="list-group-item badge_type_selector">
    <h4 class="list-group-item-heading">Group Leader</h4>
    {% if BEFORE_GROUP_PREREG_TAKEDOWN %}
    <p class="list-group-item-text">Register a group of 8 or more at discounted rates.</p>
    {% else %}
    <p class="list-group-item-text">The deadline for Group registration has passed, but you can still register as a regular attendee.</p>
    {% endif %}
  </a>
  </div>
{% endif %}

{% if SUPPORTERS_ENABLED %}
  <div class="col-sm-2">
  <a id="featured1_select" onclick="setBadge('Featured1')" class="list-group-item badge_type_selector">
    <h4 class="list-group-item-heading">Supporter</h4>
    <p class="list-group-item-text">Get extra swag!</p>
  </a>
  </div>
{% endif %}

{% if SEASON_SUPPORTERS_ENABLED %}
  <div class="col-sm-2">
  <a id="featured2_select" onclick="setBadge('Featured2')" class="list-group-item badge_type_selector">
    <h4 class="list-group-item-heading">Season Supporter</h4>
    <p class="list-group-item-text">Extra swag for all our events this year!</p>
  </a>
  </div>
{% endif %}

</div>
</div>

<div class="group_fields hide">
    <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Group Name</label>
    <div class="col-sm-6">
      <input type="text" name="name" class="form-control" value="{{ group.name }}" />
    </div>
    </div>
</div>

<div class="group_fields hide">
    <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Badges</label>
    <div class="col-sm-6">
      <select name="badges" class="form-control">{% int_options MIN_GROUP_SIZE MAX_GROUP_SIZE badges %}</select>
            (${{ GROUP_PRICE }} each)
    </div>
    </div>
</div>

{% if attendee.is_dealer %}
    <tr>
        <td><b><nobr>Business Name:</nobr></b></td>
        <td> <input type="text" class="focus" name="name" value="{{ group.name }}" /> </td>
    </tr>
    <tr class="dealer">
        <td><b>Tables:</b></td>
        <td>
            <select name="tables">
                {% int_options 1 MAX_TABLES group.tables %}
            </select> ({{ TABLE_PRICES }}) &nbsp;&nbsp;
            <nobr>[<i>You may <a href="mailto:marketplace@magfest.org">send an email</a> to request more than {{ MAX_TABLES }} tables.</i>]</nobr>
        </td>
    </tr>
    <tr id="dealer_badges">
        <td><b>Badges:</b></td>
        <td>
            
                <select name="badges">{% int_options 1 MAX_DEALERS badges %}</select>
                (${{ DEALER_BADGE_PRICE }} each) &nbsp;&nbsp; <nobr>[<i>The number of people working your table.</i>]</nobr>
        </td>
    </tr>
    <tr class="dealer">
        <td>
            <b>Address</b>
            <br/> <i>For tax purposes</i>
        </td>
        <td> <textarea name="address" rows="4" cols="30">{{ group.address }}</textarea> </td>
    </tr>
    <tr class="dealer">
        <td>
            <b>What do you sell?</b>
            <br/> <i>Please be detailed; include a link to view your wares if possible.</i>
        </td>
        <td> <textarea name="wares" rows="4" cols="30">{{ group.wares }}</textarea> </td>
    </tr>
    <tr>
        <td> <b>Website URL</b> </td>
        <td>
            <input type="text" name="website" value="{{ group.website }}" size="40" />
            <i>The one you want us to link on our Confirmed Dealers page, or</i> n/a
        </td>
    </tr>
    <tr class="dealer">
        <td>
            <b>Brief Description</b>
            <br/> <i>For our website; please keep to one sentence.</i>
        </td>
        <td> <textarea name="description" rows="4" cols="30">{{ group.description }}</textarea> </td>
    </tr>
    <tr class="dealer">
        <td>
            <b>Special Needs / Requests</b>
            <br/> <i>No guarantees that we can accommodate any requests.</i>
        </td>
        <td> <textarea name="special_needs" rows="4" cols="30">{{ group.special_needs }}</textarea> </td>
    </tr>
{% endif %}

<div class="form-group">
    <label for="first_name" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-6">
      <input type="text" name="first_name" id="first_name" value="{{ attendee.first_name }}" class="form-control" placeholder="First Name">
    </div>
  </div>
  <div class="form-group">
    <label for="last_name" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-6">
      <input type="text" name="last_name" id="last_name" value="{{ attendee.last_name }}" class="form-control" placeholder="Last Name">
    </div>
  </div>
    <div class="form-group">
    <p class="help-block col-sm-6 col-sm-offset-2">These must be your legal name. <span class="popup">{% popup_link "../static_views/legal_name.html" "What does this mean?" %}</span></p>
    </div>


{% include "preregistration/extra.html" %}
{% include "preregistration/noise_levels.html" %}
{% include "preregistration/age_and_staffing.html" %}

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email Address</label>
    <div class="col-sm-6">
      <input type="email" name="email" id="email" value="{{ attendee.email }}" class="form-control" placeholder="Email Address">
    </div>
  </div>

{% include "preregistration/address.html" %}
{% include "preregistration/phone_numbers.html" %}

{% if COLLECT_INTERESTS %}
  <div class="form-group">
    <label class="col-sm-2 control-label">What interests you?</label>
    <div class="col-sm-10">
      {% checkgroup attendee.interests %}
    </div>
  </div>
{% endif %}

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">How did you find {{ EVENT_NAME }}?</label>
    <div class="col-sm-6">
      <input type="text" name="found_how" id="found_how" value="{{ attendee.found_how }}" class="form-control" placeholder="How did you find {{ EVENT_NAME }}?">
    </div>
  </div>

{% if COLLECT_INTERESTS %}
  <div class="form-group">
    <label for="comments" class="col-sm-2 control-label">Comments</label>
    <div class="col-sm-6">
      <input type="textarea" name="comments" id="comments" value="{{ attendee.comments }}" class="form-control" placeholder="Comments">
    </div>
  </div>
{% endif %}

  <div class="form-group">
    <label for="email_option" class="col-sm-2 control-label">Dealer Registration</label>
    <div class="col-sm-6">
      <input type="checkbox" id="dealeropt" onchange="setDealer()" /> I'm applying to be a dealer.
    </div>
  </div>

 <div class="form-group">
 <div class="col-sm-6 col-sm-offset-2">
        {% if attendee.is_dealer %}
            <button type="submit" class="btn btn-primary" value="Submit Application">Submit Application</button>
        {% else %}
            <button type="submit" class="btn btn-primary" value="Preregister">Preregister</button>
        {% endif %}
    </div>
</div>

{% include "preregistration/disclaimers.html" %}

{% endblock %}
