{% extends "./preregistration/preregbase.html" %}
{% block title %}Preregistration{% endblock %}
{% block content %}

<div class="masthead"></div>

<div class="panel panel-default">
{% if attendee.is_dealer %}
    <span class="text-center"><h2>Dealer Application</h2></span>
{% else %}
    <div class="row bs-wizard" style="border-bottom:0;border-top:0;">
        <div class="col-xs-4 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Enter Info</div>
        </div>
        <div class="col-xs-4 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Review &amp; Pay</div>
        </div>
        <div class="col-xs-4 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Done</div>
        </div>
    </div>

    {% if c.DEV_BOX %}
        <div class="form-group row">
            <p class="col-sm-8 col-sm-offset-2">
                <strong> You are on a development box.
                    {% if c.BADGES_SOLD >= c.MAX_BADGE_SALES %}
                        Otherwise, you would be automatically redirected to <a href="../static_views/prereg_soldout.html">the "badges sold out" page</a>.
                    {% elif c.BEFORE_PREREG_OPEN %}
                        Otherwise, you would be automatically redirected to <a href="../static_views/prereg_not_yet_open.html">the "prereg not yet open" page</a>.
                    {% elif c.AFTER_PREREG_TAKEDOWN and not c.AT_THE_CON %}
                        Otherwise, you would be automatically redirected to <a href="../static_views/prereg_closed.html">the "prereg closed" page</a>.
                    {% endif %}
                </strong>
            </p>
        </div>
    {% endif %}

    {% if c.DEALER_REG_START and c.DEALER_REG_PUBLIC and c.BEFORE_DEALER_REG_SHUTDOWN %}
        <div class="form-group row">
            <p class="col-sm-6 col-sm-offset-2">
                <strong>Dealers:</strong>
                {% if c.BEFORE_DEALER_REG_PUBLIC %}
                    Registrations for dealer memberships begin {{ c.DEALER_REG_START|datetime_local }}.
                {% else %}
                    Please register <a href="dealer_registration">here</a>.
                {% endif %}
            </p>
        </div>
    {% endif %}

    <div class="form-group" id="reg-types">
        <label class="col-sm-2 control-label" style="white-space:nowrap">Registration Type</label>
    </div>
{% endif %}

{#- The action is set to "post_form" in order to bypass the NGINX cache. -#}
<form method="post" action="post_form" class="form-horizontal" role="form">

{% if edit_id %}
    <input type="hidden" name="edit_id" value="{{ edit_id }}" />
{% endif %}

{% include "groupform.html" %}

{% include "regform.html" %}

<div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        {% if attendee.is_dealer %}
            <button type="submit" class="btn btn-primary" value="Submit Application">Submit Application</button>
        {% elif not edit_id %}
            <button type="submit" class="btn btn-primary" value="Add to Cart">Add to Cart</button>
        {% else %}
            <button type="submit" class="btn btn-primary" value="Update">Update</button>
        {% endif %}

        {% if edit_id or cart_not_empty %}
        <a href="index" class="btn btn-default" value="Cancel">Cancel</a>
        {% endif %}
    </div>
</div>

</form>

{% include "preregistration/disclaimers.html" %}

</div>

{% endblock %}
