{% extends "./preregistration/preregbase.html" %}
{% set title_text = "Group Members" %}
{% set attendee = group.buyer %}
{% block content %}
  <script type="text/javascript">
      toggleEmailForm = function(code) {
          $('#code_form_'+code).toggle();
          $('#code_link_'+code).toggle();
          return false;
      };
      $().ready(function() {
        $('[id^="code_form_"]').hide();
      })
  </script>
  <div class="card">
  <div class="card-body">
    {% include 'confirm_tabs.html' with context %}

    <h2> Members of "{{ group.name }}" </h2>
    <p>You have bought {{ group.paid_codes|length }} promo codes for a total of {{ group.total_cost|format_currency }} (not including your badge).</p>

    <p>{% if group.valid_codes %}Anyone can claim one of the {{ group.valid_codes|length }} remaining badges in this group using either an unclaimed promo code below or this group's universal code, <strong>{{ group.code }}</strong>.
    {% else %}All promo codes have been claimed. Please email us at {{ c.REGDESK_EMAIL|email_to_link }} if a promo code was claimed in error.{% endif %}</p>
    <strong>Below are the promo codes for your group "{{ group.name }}" and who is using them:</strong>
    <table class="table">
      <thead>
        <tr>
          <th>Promo Code</th>
          <th>Used By</th>
          <th>Last Sent To</th>
          <th></th>
        </tr>
      </thead>
    {% for code in group.sorted_promo_codes %}
    <tr>
      <td>{{ code.code }}</td>
      {% if code.valid_used_by %}
      {% set attendee = code.valid_used_by[0] %}
        <td>
          {{ attendee.full_name }} ({{ attendee.email|email_to_link }})
        </td>
      {% else %}
        <td>
          <a href="#" id="code_link_{{ code.code }}" onclick="toggleEmailForm('{{ code.code }}')">Send this code to someone</a>
          <form id="code_form_{{ code.code }}" class="row" method="post" action="email_promo_code">
            <input type="hidden" name="code" value="{{ code.code }}" />
            <input type="hidden" name="group_id" value="{{ group.id }}" />
            <div class="col-6">
              <input type="text" class="form-control " placeholder="email@example.com" name="email" required />
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-primary">Send Code</button>
              <button type="button" class="btn btn-outline-secondary" onclick="toggleEmailForm('{{ code.code }}')">Cancel</button>
            </div>
          </form>
        </td>
      {% endif %}
      <td>{% if emailed_codes[code.code] %}{{ emailed_codes[code.code] }}{% endif %}</td>
      <td>{% if code.refunded %}<em>Refunded</em>{% endif %}</td>
      </tr>
    {% endfor %}
  </table>

    <br/>

    {% if group.min_badges_addable %}
      <div id="add" style="display:none">
        <p>
          Enter the number of extra codes to purchase for <strong>{{ c.GROUP_PRICE|format_currency }}</strong> per code.&nbsp;
            {%- set hours_remaining = group.hours_remaining_in_grace_period -%}
            {%- if hours_remaining > 0 -%}
              You have {{ humanize_timedelta(hours=hours_remaining, granularity='minutes') }}
              remaining to add individual codes. After that you'll have to add at
              least {{ c.MIN_GROUP_ADDITION }} codes at a time.
            {%- else -%}
              You can't add fewer than {{ group.min_badges_addable }} codes to an existing group.
            {%- endif -%}
        </p>
        <form class="row" method="get" action="add_promo_codes">
          <input type="hidden" name="id" value="{{ group.id }}" />
          <div class="col-8 col-sm-4">
            <select class="form-select" name="count">
              {{ int_options(group.min_badges_addable, 10) }}
            </select>
          </div>
          <div class="col"><input class="btn btn-primary" type="submit" value="Add Promo Codes"></div>
        </form>
      </div>

      {% if c.REMAINING_BADGES > 50 %}
      <script type="text/javascript">
          $(function() {
            {% if attendee.amount_unpaid %}
              $('<div class="disabled" title="Please pay for your current registration and extras before buying more codes">' +
                  '<button disabled class="btn btn-primary">Click here to add more promo codes</button>' +
                  '</div>').insertAfter($("#add"));
            {% else %}
                $('<button class="btn btn-primary">Click here to add more promo codes</button>').click(function(e){
                    $(e.target).hide();
                    $("#add").show();
                }).insertAfter($("#add"));
            {% endif %}
          });
      </script>
      {% endif %}

    {% endif %}
  </div>
  </div>
{% endblock %}
