{% extends "./preregistration/preregbase.html" %}
{% block title %}Group Members{% endblock %}
{% block backlink %}
    {% if c.HAS_PEOPLE_ACCESS %}
        <a href="../groups/form?id={{ group.id }}" style="float:right">Return to Group Admin Form</a>
    {% endif %}
{% endblock %}
{% block content %}
<script type="text/javascript">
    $().ready(function() {
        $("form[action='unset_group_member']").submit(function(event){
            var formToSubmit = this;
            event.preventDefault();
            bootbox.confirm({
                message: "This will permanently delete this person's badge. They will receive an email about this. Are you sure?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result) {
                        formToSubmit.submit();
                    }
                }
            });
        })
    });
</script>
<div class="masthead">
</div>
<div class="panel panel-default">
<h2> Members of "{{ group.name }}" </h2>

{% if group.amount_unpaid and group.status != c.WAITLISTED %}
    {% if not group.is_dealer or group.status != c.UNAPPROVED %}
        <div style="text-align:center">
            {% stripe_form process_group_payment charge %}
        </div>
    {% endif %}
{% endif %}

<div style="margin:15px">
    {% if group.unregistered_badges and group.tables %}
        Some of your Dealer Assistant badges are not yet assigned to a specific person. Please assign these badges
        between now (using the links below) and the close of preregistation; any badges unclaimed at that time will be
        invalid. You may also distribute each of the registration links below to the individual members of your group,
        which will allow them to fill in their own information as well as purchase any upgrades on their own.
        <br/> <br/>
    {% endif %}
    If a {{ group.is_dealer|yesno:"planned Dealer Assistant,group member" }} cannot attend, you may use the "This person
    isn't coming" button next to their entry on the list below to unset their badge, which may then be assigned to
    someone else. Upgraded badges may only be transferred directly between two people; please contact us at
    <a href="{{ c.CONTACT_URL }}">{{ c.CONTACT_URL }}</a> if you wish to transfer badges.
</div>

<br/> <b>Here are the badges for your group:</b>
<table style="width:auto">
{% for attendee in group.sorted_attendees %}
    <tr>
        <td> <ul style="padding-right:0px"><li></li></ul> </td>
        {% if attendee.first_name %}
            <td>
                {{ attendee.full_name }}
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <a href="mailto:{{ attendee.email }}">{{ attendee.email }}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                {{ attendee.badge }}
            </td>
            <td>
                <!-- placeholder group leader registrations won't have a zip code -->
                {% if attendee.zip_code %}
                    zip code: {{ attendee.zip_code }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
            </td>
            <td>
                {% if attendee != group.leader and not attendee.amount_extra and attendee.is_transferable %}
                    <form method="post" action="unset_group_member">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ attendee.id }}" />
                    <button class="btn btn-warning" type="submit">This person isn't coming</button>
                    </form>
                {% elif attendee.is_transferable and attendee.total_donation %}
                    <form method="get" action="transfer_badge">
                    <input type="hidden" name="id" value="{{ attendee.id }}" />
                    <b> Added on an extra ${{ attendee.total_donation }}! </b>
                    <input type="submit" value="Transfer Registration" />
                    </form>
                {% endif %}
            </td>
        {% else %}
            <td> <a style="font-size:10pt" href="register_group_member?group_id={{ group.id }}">Register someone for this badge</a>: </td>
            <td colspan="3">
                {{ attendee.badge }}
            </td>
        {% endif %}
    </tr>
{% endfor %}
</table>

<br/>

{% if c.PRE_CON and group.min_badges_addable %}
    <div id="add" style="display:none">
        <form method="get" action="add_group_members">
        <input type="hidden" name="id" value="{{ group.id }}" />
        Enter a number of {{ group.is_dealer|yesno:"Dealer Assistants,group members" }} to add{% if group.min_badges_addable > 1 %} (you cannot add fewer than {{ group.min_badges_addable }} badges to an existing group){% endif %}: <br/>
        {% if group.is_dealer %}
            <select name="count">{% int_options group.min_badges_addable group.dealer_badges_remaining %}</select>
        {% else %}
            <select name="count">{% int_options group.min_badges_addable 10 %}</select>
        {% endif %}
        <input type="submit" value="{{ group.is_dealer|yesno:"Add Dealer Assistants,Add Group Members" }}">
        </form>
    </div>
    
    <script type="text/javascript">
        {% if group.amount_unpaid %}
            $(function(){
                $(".panel").append(
                    $('<button disabled title="Group must be paid for before new members can be added." style="cursor:pointer; background-color:#7F7F7F; border-style:none;">Click here to add more {{ group.is_dealer|yesno:"Dealer Assistants,group members" }}.</button>')
                );
            });
        {% else %}
            $(function(){
                $(".panel").append(
                    $('<button style="cursor:pointer">Click here to add more {{ group.is_dealer|yesno:"Dealer Assistants,group members" }}.</button>').click(function(e){
                        $(e.target).hide();
                        $("#add").show();
                    }));
            });
        {% endif %}
    </script>
    
{% endif %}
</div>
{% endblock %}
