{% extends "./preregistration/preregbase.html" %}
{% set page_ro = group.status not in c.DEALER_EDITABLE_STATUSES %}
{% import "forms/group.html" as group_fields with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set title_text = "Group Members" %}
{% block content %}
<script type="text/javascript">
  var unsetMemberConfirm = function(event) {
    var formToSubmit = this;
            event.preventDefault();
            bootbox.confirm({
                message: "This will permanently unassign this person's badge. They will receive an email about this. Are you sure?",
                buttons: {
                    confirm: {
                        label: 'Unassign Badge',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Nevermind',
                        className: 'btn-outline-secondary'
                    }
                },
                callback: function (result) {
                    if(result) {
                        formToSubmit.submit();
                    }
                }
            });
  }

  var cancelConfirm = function(event) {
            var formToSubmit = this;
            event.preventDefault();
            bootbox.confirm({
                title: "Cancel Dealer Application?",
                message: "This will permanently cancel your application. All registered badges in the group will be converted to individual badges. Are you sure?",
                buttons: {
                    confirm: {
                        label: 'Yes, Cancel My Application',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Nevermind',
                        className: 'btn-outline-secondary'
                    }
                },
                callback: function (result) {
                    if(result) {
                        formToSubmit.submit();
                    }
                }
            });
        }
    $().ready(function() {
        $("form[action='unset_group_member']").submit(unsetMemberConfirm);

        $("form[action='../preregistration/cancel_dealer']").submit(cancelConfirm);
    });
</script>

<div class="card">
  <div class="card-body">
    {% if group.leader %}
    {% set attendee = group.leader %}
    {% include 'confirm_tabs.html' with context %}
    {% endif %}
    {% if group.is_dealer %}
      {{ group_fields.status }}
      {{ group_fields.signed_document }}
      <h2 class="h5">"{{ group.name }}" Information</h2>
      {{ form_macros.form_validation('group-form', 'validate_dealer' if group.is_dealer else 'validate_group') }}
      <form method="post" action="group_members" role="form">
        <input type="hidden" name="id" value="{{ group.id }}" />
        {% if forms and 'group_info' in forms %}
          {% include "forms/group/group_info.html" %}
        {% elif forms and 'table_info' in forms %}
          {% include "forms/group/table_info.html" %}
          {% include "forms/group/contact_info.html" %}
        {% endif %}
        {% include "groupextra.html" %}
        {% if group.status in c.DEALER_EDITABLE_STATUSES %}
        <button type="submit" class="btn btn-primary" value="Update Application">Update Application</button>
        <button type="submit" class="btn btn-danger" value="Cancel {{ c.DEALER_APP_TERM|title }}" form="cancel_dealer">Cancel Application</button>
        {% endif %}
      </form>
        <form method="post" id="cancel_dealer" action="../preregistration/cancel_dealer" class="form-horizontal" role="form">
          <input type="hidden" name="id" value="{{ group.id }}" />
        </form>
    {% endif%}

{% if group.status not in [c.CANCELLED, c.DECLINED] %}
<hr/>
<h2 class="h5"> Members of "{{ group.name }}" </h2>

{% if group.amount_unpaid and not group.is_dealer %}
    <div style="text-align:center">
        {{ stripe_form('process_group_payment',group) }}
    </div>
{% elif not group.is_dealer and receipt and receipt.current_amount_owed and incomplete_txn %}
<div style="text-align:center">
  You currently have an incomplete payment of {{ (incomplete_txn.amount / 100)|format_currency }}.
  <br/><br/>Click here to complete your payment: {{ stripe_form('finish_pending_group_payment', group, txn_id=incomplete_txn.id, stripe_button_id="complete_txn") }}
</div>
{% endif %}

<div style="margin:15px">
    {% if group.unregistered_badges and group.tables %}
        Some of your {{ c.DEALER_HELPER_TERM }} badges are not yet assigned to a specific person. Using the links below, please assign these badges before the close of preregistration; any badges unclaimed at that time will be
        invalid. You may also distribute each of the registration links below to the individual members of your group,
        which will allow them to fill in their own information as well as purchase any upgrades on their own.
        <br/> <br/>
    {% endif %}
    {% if group.guest %}
      Please check your badge information to ensure it is correct.<br/><br/>
    {% endif %}
    If a {{ group.is_dealer|yesno("planned " + c.DEALER_HELPER_TERM + ",group member") }} cannot attend, you may use the "This person
    isn't coming" button next to their entry on the list below to unset their badge, which may then be assigned to
    someone else. Upgraded badges may only be transferred directly between two people; please contact us at
    {{ c.REGDESK_EMAIL|email_only|email_to_link }} if you wish to transfer badges.
</div>

<br/> <b>Here are the badges for your group:</b>
<table style="width: auto">
{% for attendee in group.sorted_attendees %}
    <tr>
        <td><ul style="margin: 5px 0; padding-right: 0"><li></li></ul></td>
        {% if attendee.first_name %}
            <td style="padding-right: 10px">
                {% if attendee.is_group_leader or c.ATTENDEE_ACCOUNTS_ENABLED and attendee in logged_in_account.attendees %}
                  <a href="confirm?id={{ attendee.id }}">{{ attendee.full_name }}</a>
                {% else %}{{ attendee.full_name }}{% endif %}
            </td>
            <td style="padding-right: 10px">
                {{ attendee.email|email_to_link }}
            </td>
            <td style="padding-right: 10px">
                {{ attendee.badge }}
            </td>
            <td style="padding-right: 10px">
                <!-- placeholder group leader registrations won't have a zip code -->
                {% if attendee.zip_code %}
                    zip code: {{ attendee.zip_code }}
                {% endif %}
            </td>
            <td>
                {% if attendee.can_abandon_badge %}
                  <form method="post" action="unset_group_member">
                    {{ csrf_token() }}
                    <input type="hidden" name="id" value="{{ attendee.id }}" />
                    <button class="btn btn-sm btn-warning" type="submit" style="margin: 5px 0;">This person isn't coming</button>
                  </form>
                {% elif attendee.is_transferable %}
                  <form method="get" action="transfer_badge">
                    <input type="hidden" name="id" value="{{ attendee.id }}" />
                    <button class="btn btn-sm btn-warning" type="submit" style="margin: 5px 0;">Transfer registration</button>
                  </form>
                {% endif %}
            </td>
        {% else %}
            <td colspan="5">
              <a href="register_group_member?group_id={{ group.id }}&id={{ attendee.id }}">Register someone for this badge</a>:
              {{ attendee.badge }}
            </td>
        {% endif %}
    </tr>
{% endfor %}
</table>

        <br/>{% if group.is_dealer and group.min_badges_addable %}
        You may purchase up to <strong>{{ group.dealer_badges_remaining }}</strong> additional badges.<br/><br/>
        {% elif group.is_dealer and group.amount_unpaid and group.dealer_badges_remaining %}
        You may purchase up to <strong>{{ group.dealer_badges_remaining }}</strong> additional badges after you are approved and paid.<br/><br/>
        {% elif group.is_dealer %}
        Please contact us at <strong>{{ c.MARKETPLACE_EMAIL|email_only|email_to_link }}</strong> if you wish to purchase additional badges.
        {% endif %}

{% if group.min_badges_addable %}
    <div id="add" style="display:none">
      <form method="get" action="add_group_members">
        <input type="hidden" name="id" value="{{ group.id }}" />
        <div class="row g-sm-3">
          {%- set min_badges = group.min_badges_addable -%}
          {%- set members = group.is_dealer|yesno(c.DEALER_HELPER_TERM + "s,group members") -%}
          Enter the number of {{ members }} to add.
          {% if min_badges > 1 -%}
            {%- set hours_remaining = group.hours_remaining_in_grace_period -%}
            {%- if hours_remaining > 0 -%}
              {%- set min_badges = 1 -%}
              You have {{ humanize_timedelta(hours=hours_remaining, granularity='minutes') }}
              remaining to add individual {{ members }}. After that you'll have to add at
              least {{ group.min_badges_addable }} badges at a time.
            {%- else -%}
              You can't add fewer than {{ group.min_badges_addable }} badges to an existing group.
            {%- endif -%}
          {%- endif -%}
        </div>
        <div class="row">
        <div class="col-auto">
          <select class="form-select" name="count">
          {%- if group.is_dealer -%}
            {{ int_options(min_badges, group.dealer_badges_remaining) }}
          {%- else -%}
            {{ int_options(min_badges, 10) }}
          {%- endif -%}
          </select>
        </div>
        <div class="col-auto"><input class="btn btn-primary" type="submit" value="{{ group.is_dealer|yesno("Add " + c.DEALER_HELPER_TERM + ",Add Group Members") }}"></div>
        </div>
      </form>
    </div>

    <script type="text/javascript">
        {% if group.amount_unpaid %}
            $(function(){
                $('<div class="disabled" title="Group must be paid for before new members can be added">' +
                    '<button disabled class="btn btn-primary">Click here to add more {{ group.is_dealer|yesno(c.DEALER_HELPER_TERM + "s,group members") }}</button>' +
                  '</div>').insertAfter($("#add"));
            });
        {% else %}
            $(function(){
                $('<button class="btn btn-primary">Click here to add more {{ group.is_dealer|yesno(c.DEALER_HELPER_TERM + "s,group members") }}</button>').click(function(e){
                        $(e.target).hide();
                        $("#add").show();
                    }).insertAfter($("#add"));
            });
        {% endif %}
    </script>
{% endif %}
{% endif %}
</div>
</div>
{% endblock %}
