{% extends "./preregistration/preregbase.html" %}
{% block title %}Preregistration{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}
<div class="masthead">
</div>
<div class="panel panel-default">
<h2> Payment for {{ attendee.full_name }} </h2>
    To complete your registration, please complete your payment of ${{ charge.dollar_amount }}.
     Your basic membership is {% if attendee.badge_cost %}${{ attendee.badge_cost }}{% else %}paid-for{% endif %}{% if not attendee.amount_extra %}.
    {% else %} and your donation of ${{ attendee.amount_extra }} entitles you to the following:
    <ul>
    {% for swag in attendee.donation_swag %}
        <li>{{ swag }}</li>
    {% endfor %}
    </ul>
{% endif %}

<table style="width:auto ; margin-left:auto ; margin-right: auto"><tr>
    <td>{% stripe_form process_group_member_payment charge %}</td>
    <td style="width:100px ; text-align:center">or</td>
    <td><a href="group_undo_extra_payment?id={{ attendee.id }}">{% stripe_button "Nevermind" %}</a></td>
</tr></table>
</div>
{% endblock %}
