{% extends "./preregistration/preregbase.html" %}
{% block title %}Request Hotel Booking Info{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="masthead"></div>
<div class="panel panel-default">
  <div class="panel-body">
    {{ macros.prereg_wizard(c.PAGE_PATH, c.PREREG_REQUEST_HOTEL_INFO_OPEN) }}

    <h3>Would you like to be informed when hotel booking is available?</h3>
    <p>
      In an effort to help hotel availability, we will initially only release
      hotel booking information to people registered for MAGFest. Checking this
      box will put you on the list of people to receive this information before
      it's posted publicly.
    </p>
    {% if is_group_leader %}
      <p>
        As a group leader, make sure your group members claim their badges so
        they can opt in to receive the email.
      </p>
    {% endif %}
    <p class="help-block"><i>Note: this does not guarantee hotel availability.</i></p>
    <form method="post" action="hotel" class="form-horizontal" role="form">
      <input type="hidden" name="id" value="{{ id }}" />

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <label for="requested_hotel_info" class="checkbox-label">
            <input type="checkbox" name="requested_hotel_info" id="requested_hotel_info" value="1" {% if requested_hotel_info %}checked{% endif %}>
            Yes, tell me when hotels begin accepting reservations
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          {% if edit_id %}
            <button type="submit" class="btn btn-primary" value="Update">Update Request</button>
          {% else %}
            <button type="submit" class="btn btn-primary" value="Submit">Submit Request</button>
          {% endif %}
        </div>
      </div>
    </form>
    {% include "preregistration/disclaimers.html" %}
  </div>
</div>
{% endblock %}
