{% if c.ATTENDEE_ACCOUNTS_ENABLED %}
<div class="row">
    <div class="text-center">
      <a href="form">{{ macros.stripe_button("Add Another Registration") }}</a>
      or
    {% if cart.total_cost > 0 %}
        {{ stripe_form('prereg_payment') }}
    {% else %}
        <a href="process_free_prereg">{{ macros.stripe_button("Complete Registration!") }}</a>
    {% endif %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="text-center">
        {% if cart.total_cost > 0 %}
            {{ stripe_form('prereg_payment') }}
        {% else %}
            <a href="process_free_prereg">{{ macros.stripe_button("Complete Registration!") }}</a>
        {% endif %}
        <br/>or
        <br/><a href="form">{{ macros.stripe_button("Add Another Registration") }}</a>
    </div>
</div>
{% endif %}