{% extends "./preregistration/preregbase.html" %}
{% block title %}Preregistration{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<script type="text/javascript">
    $().ready(function() {
        $("a[href^='delete']").click(function(event){
            var urlToUse = $(this).attr('href');
            event.preventDefault();
            bootbox.confirm({
                message: "Are you sure you want to delete this preregistration?",
                buttons: {
                    confirm: {
                        label: 'Delete Preregistration',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Nevermind',
                        className: 'btn-default'
                    }
                },
                callback: function (result) {
                    if(result) {
                        window.location.href = urlToUse
                    }
                }
            });
        })
    });
</script>

{% include 'prereg_masthead.html' %}

<div class="panel panel-default">
  <div class="panel-body">
    {{ macros.prereg_wizard(c.PAGE_PATH, c.PREREG_REQUEST_HOTEL_INFO_OPEN) }}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="col-sm-5 text-center">
                {% if charge.total_cost > 0 %}
                    {{ stripe_form('prereg_payment',charge) }}
                {% else %}
                    <a href="process_free_prereg">{{ macros.stripe_button("Complete Registration!") }}</a>
                {% endif %}
            </div>
            <div class="col-sm-2 text-center">
                or
            </div>
            <div class="col-sm-5 text-center">
                <a href="form">{{ macros.stripe_button("Add Another Prereg") }}</a>
            </div>
        </div>
    </div>
  </div>

  <table class="charge table table-striped">
    <thead>
      <tr>
        <th>Preregistration</th>
        <th data-hide="phone" data-sort-ignore="true">Details</th>
        <th data-type="numeric">Price</th>
        <th data-sort-ignore="true"></th>
      </tr>
    </thead>
    <tbody>
      {% for attendee in charge.attendees %}
        <tr>
          <td>{{ attendee.full_name }}{% if attendee.badges %} ({{ attendee.name }}){% endif %}</td>
          <td>
            <ul style="padding-left:15px">
              {% if attendee.badge_type in c.BADGE_TYPE_PRICES %}
              <li>{{ attendee.badge_type_label|replace(' ', '-') }}-level m{% else %}<li>M{% endif %}embership for {{ c.EVENT_NAME }}{% if attendee.badges %} for {{ attendee.badges }} people{% endif %}</li>
              {% if attendee.requested_hotel_info %}
                <li>Requested hotel booking info</li>
              {% endif %}
              {% if not attendee.badge_cost and attendee.age_discount and not attendee.promo_code_id %}
                <li>Attendees who are {{ attendee.age_group_conf.desc|lower }} get in for free!</li>
              {% elif attendee.age_discount and attendee.age_group_conf.discount != 0 %}
                <li>${{ attendee.age_group_conf.discount }} discount for attendees who are {{ attendee.age_group_conf.desc|lower }}.</li>
              {% endif %}
              {% for swag in attendee.donation_swag|list + attendee.addons|list %}
                <li>{{ swag }}</li>
              {% endfor %}
              {% if attendee.promo_code and not attendee.badges %}
                {% if attendee.promo_code.group_id %}
                  <li>Claiming a badge in group "{{ attendee.promo_group_name }}"</li>
                {% else %}
                <li>{{ attendee.promo_code.discount_str }} with promo code "{{ attendee.promo_code.code }}"</li>
                {% endif %}
              {% endif %}
            </ul>
          </td>
          <td>
            {% if attendee.badges %}
              ${{ '%0.2f' % (attendee.amount_extra_unpaid + (attendee.badges|int * c.GROUP_PRICE)) }}
            {% else %}
              ${{ '%0.2f' % attendee.total_cost }}
            {% endif %}
          </td>
          <td>
            <a href="form?edit_id={{ attendee.id }}">Edit</a> / <a href="delete?id={{ attendee.id }}">Delete</a>
          </td>
        </tr>
      {% endfor %}

      {% for group in charge.groups %}
        <tr>
          <td>{{ group.name }}</td>
          <td>
            <ul style="padding-left:15px">
              <li>{{ group.badges }} badges</li>
              {% if group.requested_hotel_info %}
                <li>Requested hotel booking info</li>
              {% endif %}
              {% for swag in group.attendees.0.donation_swag|list + group.addons|list %}
                <li>{{ swag }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>${{ '%0.2f' % group.default_cost }}</td>
          <td>
            <a href="form?edit_id={{ group.id }}">Edit</a> /
            <a href="delete?id={{ group.id }}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    {% if charge.has_targets %}
      <tfoot>
        <tr>
          <th></th>
          <th style="text-align:right;"><i>Total:</i></th>
          <th><b>${{ '%0.2f' % charge.dollar_amount }}</b></th>
          <th></th>
        </tr>
      </tfoot>
    {% endif %}
  </table>

  <div class="panel-body">
    {% include "preregistration/disclaimers.html" %}
  </div>
</div>
{% endblock %}
