  <div class="form-group">
    <label for="ec_phone" class="col-sm-2 control-label">Emergency Contact</label>
    <div class="col-sm-6">
      <input type="text" name="ec_name" id="ec_name" value="{{ attendee.ec_name }}" class="form-control" placeholder="Emergency Contact Name">
    </div>
    <br /><br />
    <div class="col-sm-6">
      <input type="text" name="ec_phone" id="ec_phone" value="{{ attendee.ec_phone }}" class="form-control" placeholder="Emergency Contact Phone Number">
    </div>
  </div>
    <div class="form-group">
    <p class="help-block col-sm-6 col-sm-offset-2">The person we should call if something happens to you.</p>
    </div>
  <div class="form-group">
    <label for="cellphone" class="col-sm-2 control-label">Your Cellphone Number:</label>
    <div class="col-sm-6">
      <input type="text" name="cellphone" id="cellphone" value="{{ attendee.cellphone }}" class="form-control" placeholder="Your Cellphone Number">
    </div>
    </div>
    <div class="form-group">
    <div class="checkbox col-sm-6 col-sm-offset-2">
    <label>
    {% checkbox attendee.no_cellphone %}
    I don't own a cellphone.
    </label>
    </div>
  </div>