{% extends "./preregistration/preregbase.html" %}
{% set title_text = "Repurchase Your Badge" %}
{% block backlink %}{% endblock %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h2>Refunded Badge</h2>

    <p>
    According to our records, your badge has been refunded. You may repurchase your badge at the current price of
    {{ c.BADGE_PRICE|format_currency }} for an Attendee badge. We will pre-fill your details into the pre-registration form.
    </p>

    <form method="post" action="repurchase" class="form-horizontal">
        {{ csrf_token() }}
        <input type="hidden" name="id" value="{{ id }}" />
        <button type="submit" class="btn btn-primary" value="Repurchase">Yes, I want to repurchase my badge</button>
    </form>
  </div>
</div>

{% endblock %}}
