{% extends "./preregistration/preregbase.html" %}
{% set title_text = "Reset Password" %}
{% block backlink %}{% endblock %}
{% block content %}
<div class="card">
<div class="card-body">
<form method="post" action="../preregistration/reset_password">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Reset password</h2>
        Enter your email address below to reset your password.
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <label for="account_email"><strong>Email address</strong></label>
        <input type="email" id="account_email" class="form-control" placeholder="Email address" name="account_email" required autofocus />
    </div>
    <div class="col-sm-3 col-sm-offset-3">
        <button class="btn btn-success" type="submit">Reset Password</button>
    </div>
</form>
</div>
</div>
{% endblock %}
