
<style>
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
{% if not stripe_loaded %}
{% if c.AUTHORIZENET_LOGIN_ID %}
<script type="text/javascript"
    src="https://js{{ 'test' if 'test' in c.AUTHORIZENET_ENDPOINT else '' }}.authorize.net/v1/Accept.js"
    charset="utf-8">
</script>
{% else %}
<script src="https://js.stripe.com/v3/" async></script>
{% endif %}
{% set stripe_loaded = true %}
{% endif %}
<button class="btn btn-info stripe-btn"{% if 'stripe_button_id' in params %} id="{{ params['stripe_button_id'] }}"{% endif %} onClick="callStripeAction();">
<span class="display: block; min-height: 30px;">Pay with Card</span>
</button>
{% if not stripeModal %}
<div id="stripeModal" class="modal" style="color:black;" tabindex="-1" role="dialog" data-bs-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body text-start jumbotron">
        <div class="alert alert-dismissible" role="alert" id="cc-message-alert"><span></span><button type="button" class="btn-close" onClick="hideMessageBox('cc-message-alert')" aria-label="Close"></button></div>
        <div class="modal-title h4 text-muted">Payment to {{ c.ORGANIZATION_NAME }}</div>
        <div class="row g-3">
            <div class="col-12">
                <div class="form-text">Payment amount</div><div class="h4" id="paymentAmount"></div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <div class="form-text">Payment description</div><div class="h5" id="chargeDesc"></div>
            </div>
        </div>
        {% if c.AUTHORIZENET_LOGIN_ID %}
            <form id="payment-form" class="d-none"
                method="POST"
                action="index">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="fullName" class="form-text">Name on card</label>
                        <input type="text" class="form-control" name="fullName" id="fullName"
                        autocomplete="name" autocorrect="off" value="{{ cc_full_name }}" />
                    </div>
                </div>
                
                <div class="row g-3">
                    <div class="col-12">
                        <label for="cardNumber" class="form-text">Card number</label>
                        <input type="text" class="form-control" name="cardNumber" id="cardNumber"
                        inputmode="numeric" autocomplete="cc-number" autocorrect="off" />
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-6">
                        <span class="form-text">Expires</span>
                        <div class="input-group">
                            <input type="text" maxlength="2" class="form-control" name="expMonth" id="expMonth" placeholder="MM"
                            inputmode="numeric" autocomplete="cc-exp-month" autocorrect="off" />
                            <label for="expMonth" class="visually-hidden">Two-digit credit or debit card expiration month</label>
                            <span class="input-group-text">/</span>
                            <label for="expYear" class="visually-hidden">Two-digit credit or debit card expiration year</label>
                            <input type="text" maxlength="2" class="form-control" name="expYear" id="expYear" placeholder="YY"
                            inputmode="numeric" autocomplete="cc-exp-year" autocorrect="off" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="cardCode" class="form-text">Security code</label>
                        <input type="text" class="form-control" name="cardCode" id="cardCode" placeholder="CVC"
                        inputmode="numeric" autocomplete="cc-csc" autocorrect="off" />
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="zip" class="form-text">Zip Code</label>
                        <input type="text" class="form-control" name="zip" id="zip"
                        autocomplete="cc-number" autocorrect="off" value="{{ cc_zip_code }}" />
                    </div>
                </div>
                <div class="row g-3 mt-2">
                    <div class="col-12">
                        <button class="btn btn-success">Submit Payment</button>
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                var forceNumbers = function() {
                    if (this.value) {
                        numberVal = this.value.replace(/\D/g,'');
                        this.value = numberVal;
                    }
                }
                $("#cardNumber").on("input", forceNumbers);
                $("#expMonth").on("input", function() {
                    if (this.value.length >= 2) {
                        $("#expYear").focus()
                    } else {
                        forceNumbers();
                    }
                });
                $("#expYear").on("input", function() {
                    if (this.value.length >= 2) {
                        $("#cardCode").focus()
                    } else {
                        forceNumbers();
                    }
                });
                $("#cardCode").on("input", forceNumbers);
            </script>
        {% else %}
        <div class="charge_desc" style="margin-bottom:10px;"></div>
        <form action="/charge" method="post" id="payment-form" class="d-none">
        <div class="form-row">
            <label for="card-element">
            Credit or debit card
            </label>
            <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
        </div>
        <div style="margin-top:10px;"><button class="btn btn-success">Submit Payment</button>
        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button></div>
        </form>
        {% endif %}
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('#stripeModal').detach().appendTo("body");

stripe_action_params = {id: '{{ id }}'};

var callStripeAction = function (autoTrigger=false) {
    hideMessageBox();
    if (autoTrigger == false) {
        var $btn = $(this);
        $btn.prop('disabled', true);
    }
    {% for key, val in params.items() %}
        stripe_action_params['{{ key }}'] = '{{ val }}';
    {% endfor %}
    stripe_action_params.csrf_token = csrf_token;
    $.post('{{ action }}', stripe_action_params, 
    function(result) {
        if (autoTrigger == false) { $btn.prop('disabled', false); }
        if (result.error) {
            showErrorMessage(result.error);
        } else if (result.stripe_intent) {
            var dollars = result.stripe_intent.amount / 100;
            dollars = dollars.toLocaleString("en-US", {style:"currency", currency:"USD"});
            var cancel_url = result.cancel_url || '../preregistration/cancel_payment'
            $('#stripeModal').find('#paymentAmount').text(dollars);
            $('#stripeModal').find('#chargeDesc').text(result.stripe_intent.description);
            {% if c.AUTHORIZENET_LOGIN_ID %}
                collectAuthNetPayment(result.stripe_intent.id, result.stripe_intent.receipt_email,
                                      result.stripe_intent.description, result.stripe_intent.customer_id,
                                      result.success_url, cancel_url, result.stripe_intent.amount)
            {% else %}
                collectStripePayment(result.stripe_intent.client_secret, result.stripe_intent.id, result.success_url, cancel_url);
            {% endif %}
        }
        });
};

var processSuccessUrl = function(success_url) {
    if(success_url == '') {
        // Special override for at-door check-in modal payment workflow
        window[loadCheckInForm()];
    } else {
        window.location.replace(success_url);
    }
}

var processCancelUrl = function(result, form, card=null) {
    hideMessageBox();
    if (result.redirect_url) {
        window.location.replace(result.redirect_url);
    } else if (result.message) {
        showErrorMessage(result.message);
        $(form).addClass('d-none');
        $('#stripeModal').off('hidden.bs.modal');
        if (card != null) {
            setTimeout(()=> {
                card.destroy();
            }
            ,3000);
        }
    }
}

{% if c.AUTHORIZENET_LOGIN_ID %}
var collectAuthNetPayment = function (ref_id, email, desc, customer_id, success_url, cancel_url, amount) {
    var form = $('#payment-form');
    form.removeClass('d-none');
    var authData = {
        clientKey: "{{ c.AUTHORIZENET_PUBLIC_KEY }}",
        apiLoginID: "{{ c.AUTHORIZENET_LOGIN_ID }}"
    };

    stripeModal = new bootstrap.Modal($('#stripeModal'))

    stripeModal.show();
    hideMessageBox("cc-message-alert");

    var handleAuthNetResponse = function (response) {
        if (response.messages.resultCode === "Error") {
            showErrorMessage(response.messages.message[0].text, "cc-message-alert")

            var i = 0;
            while (i < response.messages.message.length) {
                console.log(
                    response.messages.message[i].code + ": " +
                    response.messages.message[i].text
                );
                i = i + 1;
            }
        } else {
            $.post("../preregistration/submit_authnet_charge", {
                ref_id: ref_id,
                amount: amount,
                email: email,
                desc: desc,
                customer_id: customer_id,
                token_desc: response.opaqueData.dataDescriptor,
                token_val: response.opaqueData.dataValue,
                csrf_token: csrf_token
            },
            function(result) {
                if (result.error) {
                    showErrorMessage(result.error, "cc-message-alert");
                } else {
                    // The payment has been processed!
                    processSuccessUrl(success_url);
                };
            });
        }
    }
    
    form.on('submit', function(event) {
        event.preventDefault();
        var cardData = {
            fullName: $("#fullName").val(),
            cardNumber: $("#cardNumber").val(),
            month: $("#expMonth").val(),
            year: $("#expYear").val(),
            cardCode: $("#cardCode").val(),
            zip: $("#zip").val()
        };

        var secureData = {
            authData: authData,
            cardData: cardData
        };

        Accept.dispatchData(secureData, handleAuthNetResponse);
    });
}
{% else %}
var collectStripePayment = function (client_secret, stripe_id, success_url, cancel_url) {
    var stripeModal = bootstrap.Modal.getOrCreateInstance($('#stripeModal'));
    sripeModal.show();
    $("#cc-message-alert").hide().removeClass().addClass("alert").children("span").html("");
    var form = document.getElementById('payment-form');
    var stripe = Stripe('{{ c.STRIPE_PUBLIC_KEY }}');
    var elements = stripe.elements();
    var card = elements.create("card");

    $('#stripeModal').on('hidden.bs.modal', function (e) {
        $.post(cancel_url, {stripe_id: stripe_id, csrf_token: csrf_token},
        function(result) {
            processCancelUrl(result, form, card);
        });
    })

    // Set up Stripe.js and Elements to use in checkout form
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    card.mount("#card-element");

    card.addEventListener('change', ({error}) => {
        const displayError = $('#card-errors');
        if (error) {
            displayError.textContent = error.message;
        } else {
            displayError.textContent = '';
        }
    });

    $(form).removeClass('d-none');

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        hideMessageBox("cc-message-alert");
        stripe.confirmCardPayment(client_secret, {
            payment_method: {
                card: card
            }
            }).then(function(result) {
            if (result.error) {
                // Show error to your customer (e.g., insufficient funds)
                showErrorMessage(result.error.message, "cc-message-alert")
            } else {
                // The payment has been processed!
                if (result.paymentIntent.status === 'succeeded') {
                    processSuccessUrl(success_url);
                }
            };
        });
    });
}
{% endif %}
</script>
{% endif %}
{% set stripeModal = true %}