{% extends "./preregistration/preregbase.html" %}
{% import 'forms/macros.html' as form_macros with context %}

{% set title_text = "Transfer Your " ~ c.EVENT_NAME ~ " Registration" %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h2> Transfer {{ old.full_name }}'s Registration </h2>

    <p>
      By filling out this form, you will be transferring {{ old.full_name }}'s {{ c.EVENT_NAME }} registration
      to someone else.  {{ old.full_name }} will no longer have a paid {{ c.EVENT_NAME }} badge waiting at
      our Registration Desk; that will belong to whomever the badge is transferred.
    </p>

    {% if receipt and receipt.current_amount_owed %}
    <div class="alert alert-danger" role="alert">
      This badge currently has an outstanding balance of <strong>{{ (receipt.current_amount_owed / 100)|format_currency }}</strong>.
      You will be prompted for payment after transferring the badge.
    </div>
    {% endif %}

    {{ form_macros.form_validation('transfer-badge') }}

    <form method="POST" novalidate action="transfer_badge" id="transfer-badge">
      {{ csrf_token() }}
      <input type="hidden" name="id" value="{{ old.id }}" />

      {% include "forms/attendee/personal_info.html" %}
      {% include "forms/attendee/staffing_info.html" %}
      {% include "forms/attendee/other_info.html" %}
      {% include "forms/attendee/consents.html" %}

      {# Deprecated form included for backwards compatibility with old plugins #}
      {% include "regform.html" %}

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <button type="submit" class="btn btn-primary" id="updateButton">Transfer This Badge</button>
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}
