{% if c.ONLINE_PAYMENT_AVAILABLE %}{{ stripe_form('process_attendee_payment', attendee, receipt_id=receipt.id, cancel_url='cancel_payment_and_revert', stripe_button_id="upgrade-stripe-btn") }}{% endif %}
<div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog" aria-labelledby="upgradeTitle">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close visually-hidden" data-bs-dismiss="modal" aria-label="Close"></button>
          <span class="h4 modal-title" id="upgradeTitle">Add Upgrades</span>
        </div>
        <div class="modal-body">
            <div class="alert alert-dismissible" role="alert" id="upgrade-message-alert"><span></span><button type="button" class="btn-close" onClick="hideMessageBox('upgrade-message-alert')" aria-label="Close"></button></div>
            {% if c.ONLINE_PAYMENT_AVAILABLE %}
            <form method="post" action="purchase_upgrades" id="purchase-upgrades" x-data="attendeeMetadata()">
                {{ csrf_token() }}
                <input type="hidden" name="id" value="{{ attendee.id }}" />
                <input type="hidden" name="receipt_id" value="{{ receipt.id }}" />
                {% set upgrade_modal = true %}
                {% include "forms/attendee/badge_extras.html" %}
                {% set upgrade_modal = false %}
            </form>
            <table class="table table-striped" id="upgrade-preview">
                <tbody></tbody>
            </table>
            {% else %}
            Upgrades are not available online at this time. You can purchase upgrades at the Registration help desk.
            {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          {% if c.ONLINE_PAYMENT_AVAILABLE %}<button type="submit" id="upgrade-purchase" form="purchase-upgrades" type="button" class="btn btn-success">Purchase<span id="upgrade-preview-total"></span></button>{% endif %}
        </div>
      </div>
    </div>
</div>

{% if c.ONLINE_PAYMENT_AVAILABLE %}
<script type="text/javascript">
    var costChangeDict = {};
    var lastAmountExtra; // I hate JavaScript
    var upgradeModal = bootstrap.Modal.getOrCreateInstance($('#upgradeModal'))
    
    var updateReceiptPreview = function(colName, val=0, updateCol='') {
        if (colName == 'amount_extra' && lastAmountExtra !== undefined && val == lastAmountExtra) {
            return;
        } else if (colName == 'amount_extra') {
            lastAmountExtra = val;
        }

        if (colName == "") {
            return;
        } else if (val == "") {
            val = 0;
        }

        var row_id;
        if (typeof colName == 'object') {
            row_id = colName.join('-');
        } else {
            row_id = colName;
            colName = [colName];
            val = [val];
        }
        var existing_row = $('td#' + row_id + ' > span');

        var data = [
            {name: 'csrf_token', value: csrf_token},
            {name: 'id', value: "{{ attendee.id }}"}
        ];

        if (updateCol != '') { data.push({name: 'update_col', value: updateCol}) }

        colName.forEach(element => {
            data.push({name: 'col_names', value: element})
        });

        val.forEach(element => {
            data.push({name: 'new_vals', value: element})
        });

        $.post("get_receipt_preview", $.param(data),
        function(result) {
          if (result.error) {
            showErrorMessage(result.error, 'upgrade-message-alert');
          } else {
            change_str = result.change > 0 ? "$" + result.change / 100 : "-$" + result.change * -1 / 100;
            costChangeDict[colName] = result.change;
            if (result.change == 0) {
                if (existing_row.length) {
                    existing_row.parents('tr').remove();
                }
            } else if (existing_row.length) {
                existing_row.text(result.desc + ": " + change_str);
            } else {
                new_row = "<tr><td id='" + row_id + "'>" +
                    "<span class='pull-right'>" + result.desc + ": " + change_str +
                    "</span></td></tr>";
                $('#upgrade-preview > tbody:last-child').append(new_row);
            }

            var upgradePreviewTotal = 0;
            for (var col in costChangeDict) {
                upgradePreviewTotal += costChangeDict[col];
            }
            if (upgradePreviewTotal > 0) {
                $('#upgrade-purchase').prop('disabled', false);
                $('#upgrade-preview-total').text(' for $' + upgradePreviewTotal / 100);
            } else {
                $('#upgrade-purchase').prop('disabled', true);
                $('#upgrade-preview-total').text('');
            }
          }
        });
    };
    $().ready(function() {
        hideMessageBox("upgrade-message-alert");
        $('#upgrade-purchase').prop('disabled', true);
        $("form[action='purchase_upgrades']").submit(function(event){
        var $form = $(this);
        $btn = $form.find('button[type=submit]');
        event.preventDefault();
        $btn.prop('disabled', true);
        $.post('purchase_upgrades', $form.serialize(), function(result) {
            $btn.prop('disabled', false);
            if (result.error) {
                showErrorMessage(result.error, 'upgrade-message-alert');
                window.scrollTo(0,0);
            } else if (result.success) {
                upgradeModal.hide();
                callStripeAction(autoTrigger=true);
            }
        });
        });

        // Always hide the button we use for the upgrade modal
        $("#upgrade-stripe-btn").hide();
    });
</script>
{% endif %}