{% set checklist_items = band_checklist_items if band else guest_checklist_items %}
  <div class="table-responsive">
    <table class="datatable table table-striped" data-info="false">
      <thead>
      <tr>
        <th>Group</th>
        {% for item in checklist_items -%}
          {% if item.header -%}
            <th>{{ item.header }}</th>
          {% endif -%}
        {% endfor -%}
      </tr>
      </thead>
      <tbody>
      {% for group in groups if group.guest and (group.guest.group_type == c.BAND if band else group.guest.group_type == c.GUEST) -%}
        <tr id="{{ group.id }}" class="{{ group.guest.group_type_label|lower if group.guest else "" }} group-row">
          <td>
            <a href="form?id={{ group.id }}" target="_blank">{{ group.name }}</a>
            <span class="guest_info">
                {% if group.guest -%}
                  &nbsp;
                  <div class="btn-group" role="group" aria-label="...">
                  <a href="checklist_info?id={{ group.guest.id }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-cog" data-toggle="tooltip" title="{{ group.guest.group_type_label }} Info"></span></a>
                  <a href="../guests/index?id={{ group.guest.id }}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-check" data-toggle="tooltip" title="{{ group.guest.group_type_label }} Checklist"></span></a>
                  </div>
                {% endif %}
            </span>
          </td>
          {% for item in checklist_items -%}
            {% if item.header -%}
              {% set item_display = group.guest[item.name ~ '_status'] if group.guest else '' -%}
              {% if item.is_link -%}
                <td>
                  {%- if item_display.startswith('../') or item_display.startswith('/') or item_display.startswith('http') -%}
                    {{ item_display|url_to_link("Yes", "_blank") }}
                  {%- else -%}
                    {{ item_display }}
                  {%- endif -%}
                </td>
              {% else -%}
                <td>{% if item_display is not none %}{{ item_display }}{% endif %}</td>
              {% endif -%}
            {% endif -%}
          {% endfor -%}
        </tr>
      {% endfor -%}
      </tbody>
    </table>
  </div>

  {% if c.HAS_GUEST_REPORTS_ACCESS %}
  <p><a href="../guest_reports/rock_island">View all Rock Island merch</a></p>
  <p><a href="../guest_reports/checklist_info_csv">Export all checklist data as a CSV file</a></p>
  {% endif %}
