{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Group Admin{% endblock %}
{% block content %}

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="d-flex gap-2 align-items-center mb-3">
        <h2>{{ group_type_labels[group_type] or 'All' }} Groups</h2>
        <a class="btn btn-primary" href="form">Add a Group</a>
        {% if group_type == 'dealer' %}<a class="btn btn-success" href="form?id=None&new_dealer=true">Add {{ c.DEALER_INDEFINITE_TERM|title }}</a>{% endif %}
      </div>
      <div class="d-flex gap-2">
          <span>Group Type:</span>
          {% for type, label in group_type_labels.items() %}
          {% if group_type_permissions[type] %}
            {% if group_type == type %}
            {{ label }}
            {% else %}
            <a href="index?group_type={{ type }}&{{ c.query_str_for_search('group_type') }}">{{ label }}</a>
            {% endif %} /
          {% endif %}
          {% endfor %}
          {% if group_type != 'all' %}
          <a class="include-tab-hash" href="index?group_type={{ type }}&{{ c.query_str_for_search('group_type') }}">All</a>
          {% else %}
          <span>All</span>
          {% endif %}
      </div>
    </div>

  {% if group_type not in ['other', 'all'] %}
  {% include '/group_admin/' ~ group_type ~ '.html' %}
  {% else %}
    <table class="datatable table table-striped" data-info="false">
      <thead>
      <tr>
        <th>Group</th>
        <th>Group Type</th>
        <th>Group Leader</th>
        <th>Assigned/Total Badges</th>
        <th>Admin Notes</th>
      </tr>
      </thead>
      <tbody>
        {% for group in groups %}
        <tr>
          <td data-sort="{{ group.name }}">
            <a href="form?id={{ group.id }}" target="_blank">{{ group.name }}</a>
          </td>
          <td>
            {% if group.guest %}{{ group.guest.group_type_label }}
            {% elif group.is_dealer %}{{ c.DEALER_TERM|title }}
            {% else %}{{ group.leader.badge_type_label if group.leader and group.leader.badge_type in [c.STAFF_BADGE, c.CONTRACTOR_BADGE] else 'N/A' }}
            {% endif %}
          </td>
          <td data-sort="{{ group.leader.full_name if group.leader else 'ZZZZZZZ' }}">{{ group.leader|form_link if group.leader else 'None' }}</td>
          <td>{{ group.badges - group.unregistered_badges }} / {{ group.badges }}</td>
          <td>{{ group.admin_notes }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
  {{ "js/window-hash-tabload.js"|serve_static_content }}
{% endblock %}
