{% extends "base.html" %}
{% block title %}Challenge List{% endblock %}
{% block content %}

<h3> New Challenge: </h3>

<form method="post" action="create">
<input type="hidden" name="id" value="None" />
<table>
<tr>
    <td> <b>Game:</b> </td>
    <td> <input class="focus" type="text" name="game" /> </td>
</tr>
<tr>
    <td> <b>Levels:</b> </td>
    <td>
        <input type="checkbox" name="normal" value="1" />Normal &nbsp;&nbsp;
        <input type="checkbox" name="hard"   value="1" />Hard   &nbsp;&nbsp;
        <input type="checkbox" name="expert" value="1" />Expert &nbsp;&nbsp;
        <input type="checkbox" name="unfair" value="1" />Unfair
    </td>
</tr>
<tr>
    <td colspan="2"> <input type="submit" value="Add Challenge" /> </td>
</tr>
</table>
</form>

{% add_max_lengths Challenge %}

<hr/>

<h3> Existing Challenges </h3>

<table cellspacing="5" cellpadding="5" width="100%">
{% for challenge in challenges %}
    <tr>
        <td width="10px"></td>
        
        <td> <b>{{ challenge.game }}</b> </td>
        
        <form method="post" action="update">
        <td>
            <input type="hidden" name="id" value="{{ challenge.id }}" />
            <input type="checkbox" name="normal" value="1" {% if challenge.normal %}checked{% endif %} />Normal
            <input type="checkbox" name="hard"   value="1" {% if challenge.hard %}checked{% endif %}   />Hard
            <input type="checkbox" name="expert" value="1" {% if challenge.expert %}checked{% endif %} />Expert
            <input type="checkbox" name="unfair" value="1" {% if challenge.unfair %}checked{% endif %} />Unfair
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="Update" />
        </td>
        </form>
        
        <form method="post" action="delete">
        <td>
            <input type="hidden" name="id" value="{{ challenge.id }}" />
            <input type="submit" value="Delete" />
        </td>
        </form>
    </tr>
{% endfor %}
</table>

{% endblock %}
