{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Import Staffers{% endblock %}
{% block content %}

<style>
  .form {
    max-width: 720px;
  }

  table.form tbody td:first-child {
    width: 24px;
  }
</style>

<h2>Import Staffers</h2>

<form id="staff" action="staff" method="post" class="form form-horizontal">
  <div class="form-group">
    <label class="col-sm-12">Hostname</label>
    <div class="col-sm-12">
      <input
          class="form-control"
          type="text"
          name="target_server"
          value="{{ target_server }}"
          placeholder="event.uber.magfest.org"
          required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-12">API Token</label>
    <div class="col-sm-12">
      <input
          class="form-control"
          type="text"
          name="api_token"
          value="{{ api_token }}"
          placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
          required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-12">Comma or newline separated email addresses or "first last" names</label>
    <div class="col-sm-12">
      <textarea
          class="form-control"
          name="query"
          rows="8"
          placeholder="email@example.com, First Last"
          required>{{ query }}</textarea>
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Search Staffers" />
</form>

{% if unknown_emails %}
  <h3>Unrecognized Emails</h3>
  {% for email in unknown_emails %}
    <div>{{ email }}</div>
  {% endfor %}
{% endif %}

{% if unknown_names %}
  <h3>Unrecognized Names</h3>
  {% for name in unknown_names %}
    <div>{{ name }}</div>
  {% endfor %}
{% endif %}

{% if existing_attendees %}
  <h3>Existing Attendees</h3>
  <table id="existing" class="table table-responsive table-striped form">
    <thead><th>Email</th><th>Name</th></tr></thead>
    <tbody>
      {% for attendee in existing_attendees %}
        <tr><td>{{ attendee.email }}</td><td>{{ attendee|form_link }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if attendees %}
  <h3>Matching Attendees</h3>
  <form id="confirm_staff" action="confirm_staff" method="post" class="form">
    <input type="hidden" name="target_server" value="{{ target_server }}">
    <input type="hidden" name="api_token" value="{{ api_token }}">
    <input type="hidden" name="query" value="{{ query }}">
    <table id="matching" class="table table-responsive table-striped">
      <thead><tr><th></th><th>Email</th><th>Name</th></tr></thead>
      <tbody>
        {% for attendee in attendees %}
          <tr>
            <td><input type="checkbox" name="attendee_ids" value="{{ attendee.id }}" checked></td>
            <td>{{ attendee.email }}</td>
            <td><a href="{{ attendee.href }}">{{ attendee.first_name }} {{ attendee.last_name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" class="btn btn-primary" value="Import Selected">
  </form>
{% endif %}

{% endblock %}
