{% extends "./preregistration/preregbase.html" %}
{% import 'macros.html' as macros with context %} {{ macros.title('Welcome') }}
{% block content %}
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-xs-12">
                    <h1 class="text-center">ERROR!</h1>
                    <h2 class="text-center">{{ message }}</h2>
                    <h3 class="text-center">If you need further assistance please contact {{ c.DEVELOPER_EMAIL }}</h3>
                    <br>
                    <p class="text-center">
                        <a class="btn btn-primary btn-xl" onclick="window.history.back()" role="button">
                            Go Back
                        </a>
                        <br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
