{% import 'macros.html' as macros %}
<!DOCTYPE HTML>
<html>
<head>
    {{ macros.ie7_compatibility_check() }}
    <title>{{ c.EVENT_NAME }} - {% block title %}{% endblock %}</title>
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />

    {% block head_styles %}
        <link rel="stylesheet" href="../static/deps/combined.css" />
        <link rel="stylesheet" href="../static_views/styles/main.css" />
        {% if admin_area %}
            <link rel="stylesheet" type="text/css" href="../static_views/additional-styles.css" />
        {% else %}
            <link rel="stylesheet" href="../static/theme/prereg.css">
            <link rel="stylesheet" href="../static/theme/prereg_extra.css">
        {% endif %}
    {% endblock %}

    {% block head_javascript %}
        <script>
            var message = '{{ message|e }}';
        </script>

        <script type="text/javascript" src="../static/deps/combined.js"></script>
        <script src="../common.js" type="text/javascript"></script>

        {% if not admin_area %}
            <script>

            {# This <script> block should eventually get moved into prereg-common.js, but can't since it currently references 'attendee' variable via templates #}
            var REG_TYPES = {
                row: '#reg-types',
                selector: '.reg-type-selector',
                options: [{
                    title: 'Single Attendee',
                    description: 'A single registration; you can register more before paying.',
                    onClick: function () {
                        $('.group_fields').addClass('hide');
                        $('input[name="badge_type"]').val('{{ c.ATTENDEE_BADGE }}');
                        if ($.field('first_name')) {
                            $('#bold-field-message').insertBefore($.field('first_name').parents('.form-group'));
                        }
                        togglePrices();
                    }
                }]
            };
            {% if c.GROUPS_ENABLED and attendee.is_new and not group_id %}
                REG_TYPES.options.push({
                    title: 'Group Leader',
                    {% if c.BEFORE_GROUP_PREREG_TAKEDOWN %}
                        description: '<p class="list-group-item-text">Register a group of {{ c.MIN_GROUP_SIZE }} people or more.</p>',
                    {% else %}
                        description: '<p class="list-group-item-text">The deadline for Group registration has passed, but you can still register as a regular attendee.</p>',
                    {% endif %}
                    onClick: function () {
                        {% if c.BEFORE_GROUP_PREREG_TAKEDOWN %}
                            $('.group_fields').removeClass('hide');
                            $('input[name="badge_type"]').val('{{ c.PSEUDO_GROUP_BADGE }}');
                            $('#bold-field-message').insertBefore($.field('name').parents('.form-group'));
                            togglePrices();
                        {% else %}
                            setBadge(REG_TYPES, 0);
                            toastr.clear();
                            toastr.error('Group registration has closed.');
                        {% endif %}
                    }
                });
            {% endif %}
            var BADGE_TYPES = {
                row: '#badge-types',
                selector: '.badge-type-selector',
                options: [{
                    title: '{% if c.PAGE_PATH == "/preregistration/form" or c.PAGE_PATH == "/preregistration/dealer_registration" %}Attending{% elif attendee %}{{ attendee.ribbon_and_or_badge }}{% endif %}',
                    description: 'Allows access to the convention for its duration.',
                    extra: 0
                }]
            };
            {% if c.SHIRT_LEVEL in c.PREREG_DONATION_TIERS and (not attendee or not attendee.gets_free_shirt) %}
                BADGE_TYPES.options.push({
                    title: 'Add a tshirt',
                    description: 'Add a {{ c.EVENT_NAME }} themed t-shirt to your registration.',
                    extra: {{ c.SHIRT_LEVEL }}
                });
            {% endif %}
            {% if c.SUPPORTER_LEVEL in c.PREREG_DONATION_TIERS and c.SUPPORTER_AVAILABLE %}
                BADGE_TYPES.options.push({
                    title: 'Supporter',
                    description: 'Donate extra and get more swag with your registration.',
                    extra: {{ c.SUPPORTER_LEVEL }}
                });
            {% endif %}
            var PREREG_CHECK_INTERVAL = 15 * 60 * 1000;

            // TODO: all the inline JS below is ready to be moved into its own file, does not
            // need to be inside this template because it doesn't reference any models, just config.

            var checkCap = function () {
                $.getJSON('../preregistration/check_prereg', function (check) {
                    if (check.force_refresh) {
                        location.reload();  // Reload the page to prevent registering after reg is closed
                    } else {
                        setTimeout(checkCap, PREREG_CHECK_INTERVAL);
                    }
                });
            };
            setTimeout(checkCap, PREREG_CHECK_INTERVAL);

            {% if c.COLLECT_FULL_ADDRESS %}
                var setInternational = function () {
                    countryName = $('input[name="country"]').val();
                    if(countryName == 'USA' || countryName == 'US' || countryName == 'United States') {
                        $('input[name="international"]').prop('checked', false);
                    } else {
                        $('input[name="international"]').prop('checked', true);
                    }
                };
                $(function() {
                    $('#international').hide();
                    setInternational()
                });
            {% endif %}

            var togglePrices = function () {
                var showTotalPrices = {% if c.PAGE_PATH == '/preregistration/form' and not c.DONATION_SLIDER_DISPLAY %}($.val('badge_type') === {{ c.ATTENDEE_BADGE }}){% else %}false{% endif %};
                $.each(BADGE_TYPES.options, function (i, type) {
                    var $price = $(BADGE_TYPES.selector).slice(i, i + 1).find('.price').empty();
                    var $price_notice = $(BADGE_TYPES.selector).slice(i, i + 1).find('.price_notice').empty();
                    if (showTotalPrices) {
                        $price.append(': $').append(type.extra + {{ c.BADGE_PRICE }});
                        {% for amount_extra, val in c.PREREG_DONATION_OPTS %}
                            if (type.extra == {{ amount_extra }} && type.extra >= {{ c.SUPPORTER_LEVEL }}) {
                                $price_notice.append('{{ price_notice("Supporter registration", c.SUPPORTER_DEADLINE, c.SUPPORTER_LEVEL) }}')
                            } else if (type.extra == {{ amount_extra }}) {
                                $price_notice.append('{{ price_notice("Preregistration", c.PREREG_TAKEDOWN, amount_extra) }}')
                            }
                        {% endfor %}
                    } else if (type.extra) {
                        $price.append(': +$').append(type.extra);
                    }
                });
                $.each(REG_TYPES.options, function (i, type) {
                    var $price = $(REG_TYPES.selector).slice(i, i + 1).find('.price').empty();
                    var $price_notice = $(REG_TYPES.selector).slice(i, i + 1).find('.price_notice').empty();
                    if (!showTotalPrices) {
                        if (type.title == 'Single Attendee') {
                            $price.append(': $').append({{ c.BADGE_PRICE }});
                            $price_notice.append('{{ price_notice("Preregistration", c.PREREG_TAKEDOWN) }}')
                        } else if (type.title == 'Group Leader') {
                            $price.append(': $').append({{ c.GROUP_PRICE }}).append(' per badge');
                            $price_notice.append('{{ price_notice("Group registration", c.GROUP_PREREG_TAKEDOWN, 0, c.GROUP_DISCOUNT) }}')
                        }
                    }
                });
            };
            var setBadge = function (types, index) {
                var type = types.options[index];
                $(types.selector)
                    .removeClass('active')
                    .slice(index, 1 + index)
                    .addClass('active');
                (type.onClick || $.noop)();
            };
            var setKickinFromBadge = function (types, index) {
                var type = types.options[index];
                if (type.extra !== undefined && type.extra !== null && $.field('amount_extra')) {
                    {% if c.DONATION_SLIDER_DISPLAY %}
                        $('input:radio[name=amount_extra][value='+ type.extra +']').prop('checked', true).trigger('change');
                    {% else %}
                        $.field('amount_extra').val(type.extra).trigger('change');
                    {% endif %}
                }
            };
            var makeBadgeMatchExtra = function () {
                if (_(BADGE_TYPES.options).size()) {
                    var target = 0;
                    $.each(BADGE_TYPES.options, function (i, badgeType) {
                        if (badgeType.extra && $.field('amount_extra') && badgeType.extra == $.val('amount_extra')) {
                            target = i;
                        }
                    });
                    if (!$(BADGE_TYPES.selector).slice(target, 1 + target).is('.active')) {
                        setBadge(BADGE_TYPES, target);
                    }
                }
            };
            $(function () {
                if ($(BADGE_TYPES.row).size()) {
                    $.each([REG_TYPES, BADGE_TYPES], function (i, types) {
                        $.each(types.options, function (index, type) {
                            $(types.row).append(
                                $('<div class="col-sm-3"></div>').append(
                                    $('<a class="list-group-item"></a>').addClass(types.selector.substring(1)).click(function () {
                                        setBadge(types, index);
                                        setKickinFromBadge(types, index);
                                    }).append(
                                        $('<h4 class="list-group-item-heading"></h4>')
                                            .append(type.title)
                                            .append('<span class="price"></span>')
                                    ).append(
                                        $('<p class="list-group-item-text"></p>').html(type.description).append('<span class="price_notice"></span>'))));
                        });
                        $(types.row).append('<div style="clear:both">&nbsp;</div>');
                    });
                    if (window.REG_TYPES && $(REG_TYPES.row).size()) {
                        setBadge(REG_TYPES, $.field('name') && $.val('name') ? 1 : 0);  // default to attendee or group
                    }
                    makeBadgeMatchExtra();
                    if ($.field('amount_extra')) {
                        {% if not c.DONATION_SLIDER_DISPLAY %}
                            $.field('amount_extra').parents('.form-group').hide();
                        {% else %}
                            $.field('amount_extra').on('change', makeBadgeMatchExtra);
                        {% endif %}
                    }
                }
            });
            </script>
        {% endif %}
    {% endblock %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% if c.PRE_CON %}
        <div class="loader"><a class="loader_link" href="../static_views/slow_load.html" target="_blank"></a></div>
    {% endif %}
    {% block top_of_body_additional %}
        {% if admin_area %}
            <div id="floating_logo">
                <img src="../static/theme/bg-logo.png"/>
            </div>
            {% if c.DEV_BOX %}
                <div id="devbox_cautiontape"></div>
                <div id="devbox_text">DEVELOPMENT</div>
            {% endif %}
        {% endif %}
    {% endblock %}
    <div id="mainContainer" class="container-fluid">
        {% block backlink %}
        {% if admin_area %}
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="../accounts/homepage">{{ c.EVENT_NAME }}</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://github.com/magfest/ubersystem/issues"><span title="Report A Bug" class="glyphicon glyphicon-book"></span></a></li>
                        <li><a href="../accounts/sitemap"><span title="Site Map" class="glyphicon glyphicon-road"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Logged in as: {{ c.CURRENT_ADMIN.first_name }} {{ c.CURRENT_ADMIN.last_name }}</span> <span title="Account Settings" class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../accounts/change_password">Change Password</a></li>
                                <li><a href="../accounts/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" id="main-menu"></ul>
                </div>
            </nav>
        {% endif %}
        {% endblock %}
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        <div id="bottomAnchor" /></div>
    </div>
    {% block scripts %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% include "baseextra.html" %}
    {% endblock %}
    {% if c.COLLECT_FULL_ADDRESS %}
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    {% endif %}
</body>
</html>
