<div class="dialog-form" id="checkin-dialog" title="Quick Check-In"></div>
<script type="text/javascript">
$(function() {
        var $dialog = $('#checkin-dialog').dialog({
            autoOpen: false,
            width: 666,
            modal: true,
            buttons: [{
                text: 'Save & Check In',
                click: function() {
                    checkIn();
                    $dialog.dialog('close');
                }
            }, {
                text: 'Cancel',
                click: function () {
                    $dialog.dialog('close');
                }
            }]
        });

        $('.attendee-checkin').on('click', function () {
            var attendeeId = $(this).attr('data-attendee-id');
            $dialog.data('attendeeId', attendeeId).text('Loading...').dialog('open');
            $.ajax({
                method: 'GET',
                dataType: 'html',
                url: '../registration/check_in_form',
                data: {id: attendeeId},
                success: function (response) {
                    $dialog.html(response);
                    $dialog.find('input.num').keypress(function (event) {
                        if (event.keyCode === 13) {  // Enter key
                            event.preventDefault();
                            checkIn(attendeeId);
                            $dialog.dialog('close');
                        }
                    });
                    $dialog.find('input.date').datetextentry({
                        field_order: 'MDY',
                        show_tooltips: false
                    });
                    $dialog.dialog('option', 'position', {at: 'center', of: window});
                },
                error: function () {
                    $dialog.text('Unexpected error pulling up attendee form - please try again.');
                }
            });
        });
    });

    var checkIn = function () {
        var id = $('#checkin-dialog').data('attendeeId');
        $.ajax({
            method: 'POST',
            url: '../registration/check_in',
            dataType: 'json',
            data: $("#check_in_form_" + id).serialize(),
            success: function (json) {
                toastr.clear();
                var message = json.message;
                if (json.success) {
                    message += ' &nbsp; <a href="#" onClick="undoCheckIn(\'' + id + '\', ' + json.pre_badge + ') ; return false">Undo</a>';
                    $('#paid_' + id).html(json.paid);
                    $('#cin_' + id).html(json.checked_in);
                    $('#age_' + id).parent().html(json.age_group);
                    $('#num_' + id).parent().html(json.badge);
                    toastr.info(message);
                } else {
                    toastr.error(message);
                }
                if (json.increment) {
                    $('#checkin_count').html(1 + parseInt($("#checkin_count").text()));
                }
            },
            error: function () {
                toastr.error('Unable to connect to server, please try again.');
            }
        });
    };
    var undoCheckIn = function (id, pre_badge) {
        $.post('undo_checkin', {id: id, csrf_token: csrf_token, pre_badge: pre_badge}, function(s) {
            var sep = location.href.indexOf('?') === -1 ? '?' : '&';
            location.href += sep + 'message=' + encodeURIComponent(s);
        });
    };
</script>
<style type="text/css">
    table.check-in td {
        padding: 5px;
    }
    table.check-in input.num {
        width: 5em;
    }
    table.check-in td:first-child {
        font-weight: bold;
        white-space: nowrap;
    }
</style>