<div class="modal" id="checkin_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content"><div style='padding: 10px;'>Loading...</div></div>
    </div>
</div>

<script type="text/javascript">
checkInModal = new bootstrap.Modal($('#checkin_modal'));
printer_id = "{{ workstation_assignment.printer_id if workstation_assignment else '' }}";
minor_printer_id = "{{ workstation_assignment.minor_or_adult_printer_id if workstation_assignment else '' }}";

var loadCheckInFormModal = function (attendeeID) {
    $('#checkin_modal .modal-content').load('../registration/check_in_form?id=' + attendeeID, function() {
        if ($('.check-in').length) {
            $('#payment-loading-message').hide();
        } else {
            showErrorMessage("Form loading failed.");
            checkInModal.hide();
        }
    });
}

var loadCheckInGroupModal = function (badgePickupGroupId) {
    $('#checkin_modal .modal-content').load('../registration/check_in_group_form?id=' + badgePickupGroupId, function() {
        if ($('.check-in').length) {
            $('#checkin_modal').on('hidden.bs.modal', function (e) {
                $('#stripeModal').remove();
            });
            $('#payment-loading-message').hide();
            $('#checkin_modal .modal-dialog').removeClass().addClass('modal-dialog modal-xl');
            checkInModal.show();
        } else {
            showErrorMessage("Form loading failed.");
        }
    });
}

var loadCheckInModal = function (attendeeID) {
    checkInModal.show();
    $('#checkin_modal .modal-dialog').removeClass().addClass('modal-dialog modal-lg');
    loadCheckInFormModal(attendeeID);
};

// Hide modal on Esc keydown
$(document).keydown(function(event) { 
    if (event.keyCode == 27) { 
        checkInModal.hide();
    }
});

var checkIn = function (attendeeID) {
    $.ajax({
        method: 'POST',
        url: '../registration/check_in',
        dataType: 'json',
        data: $("#check_in_form_" + attendeeID).serialize(),
        success: function (json) {
            hideMessageBox();
            var message = json.message;
            if (json.success) {
                checkInModal.hide();
                message += ' &nbsp; <a href="#" onClick="undoCheckIn(\'' + attendeeID + '\', ' + json.pre_badge + ') ; return false">Undo</a>';
                $('#paid_' + attendeeID).html(json.paid);
                $('#cin_' + attendeeID).html(json.checked_in);
                $('#age_' + attendeeID).parent().html(json.age_group);
                $('#num_' + attendeeID).parent().html(json.badge);
                $("#message-alert").addClass("alert-success").show().children('span').html(message);
            } else {
                showErrorMessage(message);
            }
            if (json.increment) {
                $('#checkin_count').html(1 + parseInt($("#checkin_count").text()));
            }
        },
        error: function () {
            showErrorMessage('Unable to connect to server, please try again.');
        }
    });
};
var undoCheckIn = function (id, pre_badge) {
    $.post('undo_checkin', {id: id, csrf_token: csrf_token, pre_badge: pre_badge}, function(s) {
        var sep = location.href.indexOf('?') === -1 ? '?' : '&';
        location.href += sep + 'message=' + encodeURIComponent(s);
    });
};
</script>
<style type="text/css">
    table.check-in td {
        padding: 5px;
    }
    table.check-in input.num {
        width: 5em;
    }
    table.check-in td:first-child {
        font-weight: bold;
        white-space: nowrap;
    }
</style>