<div class="modal fade" id="checkin_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content"><div style='padding: 10px;'>Loading...</div></div>
    </div>
</div>

<script type="text/javascript">
checkInModal = new bootstrap.Modal($('#checkin_modal'));
reg_station = {{ reg_station|default(0, true) }};
printer_default_id = "{{ printer_default_id }}";
printer_minor_id = "{{ printer_minor_id }}";
badge_printing_enabled = {{ c.BADGE_PRINTING_ENABLED|yesno("true,false") }};

var loadCheckInFormModal = function (attendeeID, printerID='') {
    $('#checkin_modal .modal-content').load('../registration/check_in_form?id=' + attendeeID, function() {
        if ($('.check-in').length) {
            if (printerID) {
                $.field('printer_id').val(printerID);
            }
            checkInModal.find('input.date').datetextentry({
                field_order: 'MDY',
                show_tooltips: false
            });
            checkInModal.on('hidden.bs.modal', function (e) {
                $('#stripeModal').remove();
            });
        } else {
            showErrorMessage("Form loading failed.");
            checkInModal.hide();
        }
    });
}

var loadCheckInModal = function (attendeeID) {
    checkInModal.show();
    
    if (badge_printing_enabled && (!reg_station || !printer_default_id || !printer_minor_id)) {
    $('#checkin_modal .modal-content').load('../registration/printer_id_form?id=' + attendeeID, function() {
        if ($('.printer-id').length) {
        } else {
            showErrorMessage("Form loading failed.");
            checkInModal.hide();
        }
        });
    } else {
        loadCheckInFormModal(attendeeID);
    }
};

// Hide modal on Esc keydown
$(document).keydown(function(event) { 
    if (event.keyCode == 27) { 
        checkInModal.hide();
    }
});

var checkIn = function (attendeeID) {
    $.ajax({
        method: 'POST',
        url: '../registration/check_in',
        dataType: 'json',
        data: $("#check_in_form_" + attendeeID).serialize(),
        success: function (json) {
            hideMessageBox();
            var message = json.message;
            if (json.success) {
                checkInModal.hide();
                message += ' &nbsp; <a href="#" onClick="undoCheckIn(\'' + attendeeID + '\', ' + json.pre_badge + ') ; return false">Undo</a>';
                $('#paid_' + attendeeID).html(json.paid);
                $('#cin_' + attendeeID).html(json.checked_in);
                $('#age_' + attendeeID).parent().html(json.age_group);
                $('#num_' + attendeeID).parent().html(json.badge);
                $("#message-alert").addClass("alert-success").show().children('span').html(message);
            } else {
                showErrorMessage(message);
            }
            if (json.increment) {
                $('#checkin_count').html(1 + parseInt($("#checkin_count").text()));
            }
        },
        error: function () {
            showErrorMessage('Unable to connect to server, please try again.');
        }
    });
};
var undoCheckIn = function (id, pre_badge) {
    $.post('undo_checkin', {id: id, csrf_token: csrf_token, pre_badge: pre_badge}, function(s) {
        var sep = location.href.indexOf('?') === -1 ? '?' : '&';
        location.href += sep + 'message=' + encodeURIComponent(s);
    });
};
</script>
<style type="text/css">
    table.check-in td {
        padding: 5px;
    }
    table.check-in input.num {
        width: 5em;
    }
    table.check-in td:first-child {
        font-weight: bold;
        white-space: nowrap;
    }
</style>