<style type="text/css">
  ul.nav-tabs {
    background-color: #f8f8f8;
    font-size: 14px;
    margin: -15px -15px 15px -15px;
    padding: 15px 0 0 4%;
    white-space: nowrap;
  }

  ul.nav-tabs li {
    max-width: 48%;
    overflow: hidden;
  }

  ul.nav-tabs li a {
    overflow: hidden;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
  }

  ul.nav-tabs li a:hover {
    background-color: #fff;
  }
</style>

<ul class="nav nav-tabs" role="tablist">
  {% if attendee.is_group_leader and attendee.group %}
  <li class="nav-item" role="presentation">
    <a href="../preregistration/group_members?id={{ attendee.group.id }}" class="nav-link{% if 'group_members' in c.PAGE_PATH %} active{% endif %}">
      <i class="fa fa-briefcase"></i> {% if attendee.group.is_dealer %}Dealer Application{% else %}Manage {{ attendee.group.name }}{% endif %}
    </a>
  </li>
  {% endif %}
  <li class="nav-item" role="presentation">
    <a href="../preregistration/confirm?id={{ attendee.id }}" class="nav-link{% if 'confirm' in c.PAGE_PATH %} active{% endif %}">
      <i class="fa fa-user"></i> {{ attendee.full_name }}'s Info
    </a>
  </li>
{% for group in attendee.promo_code_groups %}
  <li class="nav-item" role="presentation">
    <a href="../preregistration/group_promo_codes?id={{ group.id }}" class="nav-link{% if 'group_promo_codes' in c.PAGE_PATH %} active{% endif %}">
      <i class="fa fa-tags"></i> Manage {{ group.name }}
    </a>
  </li>
{% endfor %}
{% for art_show_app in attendee.art_show_applications %}
  <li class="nav-item{% if 'art_show_applications' in c.PAGE_PATH and not bootstrap5 %} active{% endif %}" role="presentation">
    <a href="../art_show_applications/edit?id={{ art_show_app.id }}" class="nav-link{% if 'art_show_applications' in c.PAGE_PATH %} active{% endif %}">
      <i class="fa fa-picture"></i> Art Show Application{% if art_show_app.display_name != art_show_app.attendee.full_name %} ({{ art_show_app.display_name }}){% endif %}
    </a>
  </li>
{% endfor %}
{% if attendee.marketplace_application %}
  <li class="nav-item" role="presentation">
    <a href="../marketplace/edit?id={{ attendee.marketplace_application.id }}" class="nav-link{% if 'marketplace' in c.PAGE_PATH %} active{% endif %}">
      <i class="fa fa-shopping-cart"></i> Marketplace Application
    </a>
  </li>
{% endif %}
{% if c.ATTRACTIONS_ENABLED and (attractions or 'attractions' in c.PAGE_PATH) %}
  <li class="nav-item" role="presentation">
    <a href="../attractions/manage?id={{ attendee.id }}" class="nav-link{% if 'attractions' in c.PAGE_PATH %} active{% endif %}">
      <span class="bling-icon"></span> Attraction Signups
    </a>
  </li>
{% endif %}
{% if 'hotel_lottery' in c.PAGE_PATH or attendee.lottery_application and attendee.lottery_application.complete_or_processed %}
{% set which_page, button_text = attendee.lottery_application.homepage_link %}
<li class="nav-item" role="presentation">
  <a href="../hotel_lottery/index?attendee_id={{ attendee.id }}" class="nav-link{% if 'hotel_lottery' in c.PAGE_PATH %} active{% endif %}">
    <span class="fa fa-hotel"></span>
    {% if attendee.lottery_application and attendee.lottery_application.finalized and not attendee.lottery_application.final_status_hidden %}
      Hotel Lottery Results
    {% elif attendee.lottery_application and attendee.lottery_application.complete_or_processed %}
      {% set app_or_parent = attendee.lottery_application.parent_application if attendee.lottery_application.entry_type == c.GROUP_ENTRY else attendee.lottery_application %}
      {{ 'Suite Lottery Entry' if app_or_parent.entry_type == c.SUITE_ENTRY else 'Room Lottery Entry' }}
    {% else %}
      Hotel Lottery
    {% endif %}
  </a>
</li>
{% endif %}
{% if not c.ATTENDEE_ACCOUNTS_ENABLED %}
<li class="nav-item ms-auto">
  <div class="input-group me-2">
    {% if c.ART_SHOW_ENABLED and c.ART_SHOW_OPEN and not attendee.art_show_applications %}
    <a class="p-0" href="../art_show_applications/index?attendee_id={{ attendee.id }}">
      <button type="button" class="btn btn-outline-primary"><i class="fa fa-tags"></i>&nbsp; Apply for Art Show</button>
    </a>
    {% endif %}
    {% if c.AFTER_MARKETPLACE_REG_START and c.BEFORE_MARKETPLACE_DEADLINE and not attendee.marketplace_application and (attendee.has_badge or attendee.badge_status == c.UNAPPROVED_DEALER_STATUS) %}
    <a class="p-0" href="../marketplace/apply?attendee_id={{ attendee.id }}">
      <button type="button" class="btn btn-outline-primary"><i class="fa fa-shopping-cart"></i> Apply for Marketplace</button>
    </a>
    {% endif %}
    {% if 'hotel_lottery' not in c.PAGE_PATH and (c.HOTEL_LOTTERY_OPEN or c.STAFF_HOTEL_LOTTERY_OPEN and attendee.staff_hotel_lottery_eligible) and (not attendee.lottery_application or attendee.lottery_application.status not in [c.COMPLETE, c.PROCESSED, c.DISQUALIFIED] and not attendee.lottery_application.finalized) %}
      {% if attendee.hotel_lottery_eligible %}
      <a class="p-0" href="../hotel_lottery/start?attendee_id={{ attendee.id }}">
        <button type="button" class="btn btn-outline-primary"><i class="fa fa-hotel"></i>&nbsp; Enter Hotel Lottery</button>
      </a>
      {% else %}
      <span class="tooltip-wrapper" tabindex="0" data-bs-toggle="tooltip" data-placement="top" title="{{ attendee.hotel_lottery_ineligible_reason }}">
      <button type="button" class="btn btn-secondary" disabled><i class="fa fa-hotel"></i>&nbsp; Enter Hotel Lottery</button>
      </span>
      {% endif %}
    {% endif %}
  </div>
</li>
{% endif %}
</ul>

{% if not attendee.art_show_applications and c.ART_SHOW_OPEN %}
{% endif %}
