<style type="text/css">

#panelists_container h2 {
  display: inline-block;
  font-size: 1.625em;
  margin-top: 0;
}

#panelists_container h2 small {
  font-size: 75%;
}

#panelists_container h3 {
  font-size: 1.375em;
  margin-top: 0.25em;
}

#panelists_container > .panel {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.075)
}

.panelist-buttons {
  display: inline-block;
  float: right;
}

.panelist-buttons form {
  display: inline-block;
  margin-left: 15px;
}

.optional-field {
    font-weight: normal;
}

</style>
