{% import 'macros.html' as macros %}


{% macro panelist_form(
    panelist,
    application=None,
    suffix='',
    require_cellphone=True,
    require_communication_pref=True,
    is_readonly=False,
    is_admin=False) -%}

  {%- set is_class = panelist is class -%}
  {%- set app = application if is_class else panelist.application -%}

  {% if not is_readonly or (not is_class and (panelist.has_credentials or panelist.has_social_media)) -%}
    <h3>Personal Information</h3>
    <span class="help-block">Any information you provide will be used during the vetting process.</span>
  {%- endif %}
  <input type="hidden" name="app_id{{ suffix }}" value="{{ app.id }}"/>
  <input type="hidden" name="id{{ suffix }}" value="{{ 'None' if is_class else panelist.id }}"/>
  {{ macros.form_group(
      panelist,
      'first_name',
      suffix=suffix,
      is_required=True,
      is_readonly=is_readonly,
      is_admin=is_admin) }}
  {{ macros.form_group(
      panelist,
      'last_name',
      suffix=suffix,
      is_required=True,
      is_readonly=is_readonly,
      is_admin=is_admin) }}
  {{ macros.form_group(
      panelist,
      'email',
      suffix=suffix,
      type='email',
      is_required=True,
      is_readonly=is_readonly,
      is_admin=is_admin) }}
  {{ macros.form_group(
      panelist,
      'cellphone',
      suffix=suffix,
      type='tel',
      label='Phone Number',
      help='Please make this the phone number at which we can most easily reach you before the event.',
      is_required=require_cellphone,
      is_readonly=is_readonly,
      is_admin=is_admin) }}
  {% if not is_readonly or (not is_class and (panelist.pronouns or panelist.other_pronouns)) %}
      {{ macros.form_checkgroup(
        panelist,
        'pronouns',
        other_field='other_pronouns',
        other_placeholder='e.g., Xe/Xir',
        suffix=suffix,
        label='Pronouns',
        help="We will have both pre-printed and blank pronoun ribbons at the registration desk.",
        is_readonly=is_readonly,
        is_admin=is_admin) }}
  {% endif %}
  {% if not is_readonly or (not is_class and (panelist.communication_pref or panelist.other_communication_pref)) -%}
    {{ macros.form_checkgroup(
        panelist,
        'communication_pref',
        other_field='other_communication_pref',
        other_placeholder='What other way should we contact you?',
        suffix=suffix,
        label='Communication Preference',
        is_required=require_communication_pref,
        is_readonly=is_readonly,
        is_admin=is_admin) }}
  {%- endif %}

  {% if not is_readonly or (not is_class and panelist.has_credentials) -%}
    <h3>Credentials</h3>
    {% if not is_admin %}
      <p class="help-block">Your credentials may be included in the panel description on our public schedule.</p>
    {% endif %}
    {{ macros.form_group(
        panelist,
        'occupation',
        suffix=suffix,
        placeholder='What do you do?',
        is_readonly=is_readonly,
        is_admin=is_admin) }}
    {{ macros.form_group(
        panelist,
        'website',
        url_field='website',
        suffix=suffix,
        type='text',
        placeholder='www.example.com',
        is_readonly=is_readonly,
        is_admin=is_admin) }}
    {{ macros.form_group(
        panelist,
        'other_credentials',
        suffix=suffix,
        type='textarea',
        label='Other Experience',
        placeholder='What else qualifies you to conduct this panel?',
        is_readonly=is_readonly,
        is_admin=is_admin) }}
  {%- endif %}

  {% if not is_readonly or (not is_class and panelist.has_social_media) -%}
    <h3>Social Media</h3>
    {% if not is_admin %}
      <p class="help-block">Your social media links may be included in the panel description on our public schedule.</p>
    {% endif %}
    {% for name, label in panelist._social_media_fields.items() -%}
      {{ macros.form_group(
          panelist,
          name,
          url_field=name + '_url' if panelist._social_media_urls[name] else '',
          type='textarea' if panelist._social_media_fields.items()|length == 1 else 'text',
          suffix=suffix,
          label=label,
          placeholder=panelist.get_placeholder(name),
          is_readonly=is_readonly,
          is_admin=is_admin) }}
    {%- endfor %}
  {%- endif %}
{%- endmacro %}


{% macro app_panelists_form(app, is_readonly=False, is_admin=False) -%}
  <h1>
    Panelists
    <a class="btn btn-sm btn-primary" href="edit_panelist?app_id={{ app.id }}">Add Panelist</a>
  </h1>
  <div id="panelists_container">
    {% if app.submitter %}
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>
            Point of Contact
            {% if app.submitter.attendee %}
              <small>
                <a href="#attendee_form?id={{ app.submitter.attendee.id }}">
                  View attendee record for {{ app.submitter.attendee.full_name }}
                </a>
              </small>
            {% endif %}
          </h2>
          <div class="panelist-buttons">
            <a class="btn btn-sm btn-primary" href="edit_panelist?id={{ app.submitter.id }}">Edit Panelist</a>
          </div>
          {{ panelist_form(app.submitter, suffix='_0', is_readonly=is_readonly, is_admin=is_admin) }}
        </div>
      </div>
    {% endif %}
    {% for panelist in app.other_panelists %}
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>
            Other Panelist #{{ loop.index }}
            {% if panelist.attendee %}
              <small>
                <a href="#attendee_form?id={{ panelist.attendee.id }}">
                  View attendee record for {{ panelist.attendee.full_name }}
                </a>
              </small>
            {% endif %}
          </h2>
          <div class="panelist-buttons">
            <form method="post" action="change_submitter" class="btn-group" role="group">
              <a class="btn btn-sm btn-primary" href="edit_panelist?id={{ panelist.id }}">Edit Panelist</a>
              {{ csrf_token() }}
              <input type="hidden" name="applicant_id" value="{{ panelist.id }}" />
              <input type="submit" class="btn btn-sm btn-primary" value="Make POC" />
            </form>
            <form method="post" action="remove_submitter" onSubmit="return confirm('Are you sure you want to remove {{ panelist.full_name }}?');">
              {{ csrf_token() }}
              <input type="hidden" name="applicant_id" value="{{ panelist.id }}" />
              <input type="submit" class="btn btn-sm btn-danger" value="Remove Panelist" />
            </form>
          </div>
          <div class="clearfix"></div>
          {{ panelist_form(
              panelist,
              suffix='_' + loop.index|string,
              require_cellphone=False,
              require_communication_pref=False,
              is_readonly=is_readonly,
              is_admin=is_admin) }}
        </div>
      </div>
    {% endfor %}
  </div>
{%- endmacro %}
