{% extends "base.html" %}{% set admin_area=True %}{% set resend_email_form=True %}
{% block title %}Group History - {{ group.name }}{% endblock %}
{% block content %}

{{ macros.nav_menu(
    group, c.PAGE_PATH,
    "form?id={id}", "Group Page", True,
    "history?id={id}", "History", True,
    "index", "Return to Group List", True
) }}

<h2>Changelog for {{ group.name }}</h2>

<table class="table-striped table-bordered table-condensed">
<thead><tr>
    <th>Which</th>
    <th>What</th>
    <th>When</th>
    <th>Who</th>
    <th>Changes</th>
</tr></thead>
{% for tracked in changes %}
    <tr>
        <td valign="top" style="white-space:nowrap">{{ tracked.model }}</td>
        <td valign="top" style="white-space:nowrap">{{ tracked.action_label }}</td>
        <td valign="top" style="white-space:nowrap">{{ tracked.when|full_datetime_local }}</td>
        <td valign="top" style="white-space:nowrap">{{ tracked.who }}</td>
        <td valign="top">{{ tracked.data }}</td>
    </tr>
{% endfor %}
</table>

    {% if group.stripe_txn_share_logs %}
    <h2>Stripe Payment History for {{ group.name }}</h2>
    <table class="table-striped table-bordered table-condensed">
    <thead><tr>
        <th>Payment ID</th>
        <th>Amount</th>
        <th>Txn Total</th>
        <th>When</th>
        <th>Who</th>
        <th>Payment Description</th>
    </tr></thead>
    {% for log in group.stripe_txn_share_logs %}
        <tr>
        <td valign="top" style="white-space:nowrap">{{ log.stripe_transaction.stripe_id }}</td>
        <td valign="top" style="white-space:nowrap">${{ '%0.2f' % (log.share / 100) }}
        <td valign="top" style="white-space:nowrap">${{ '%0.2f' % (log.stripe_transaction.amount / 100) }} {{ log.stripe_transaction.type_label }}</td>
        <td valign="top" style="white-space:nowrap">{{ log.stripe_transaction.when|datetime_local("%b %-d %-H:%M (%-I:%M%p)") }}</td>
        <td valign="top" style="white-space:nowrap">{{ log.stripe_transaction.who }}</td>
        <td valign="top" style="white-space:nowrap">{{ log.stripe_transaction.desc }}</td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}

    {% if group.receipt_items %}
      <h2>Itemized Running Receipt for {{ group.name }}</h2>
    <table class="table-striped table-bordered table-condensed">
    <thead><tr>
        <th>Payment ID</th>
        <th>When</th>
        <th>Who</th>
        <th>Item</th>
        <th>Amount</th>
    </tr></thead>
    {% for item in group.receipt_items %}
        <tr>
        <td valign="top" style="white-space:nowrap">{{ item.stripe_transaction.stripe_id }}</td>
        <td valign="top" style="white-space:nowrap">{{ item.when|datetime_local("%b %-d %-H:%M (%-I:%M%p)") }}</td>
        <td valign="top" style="white-space:nowrap">{{ item.who }}</td>
        <td valign="top" style="white-space:nowrap">{{ item.desc }}{% if item.fk_id %}({{ item.model }}){% endif %}</td>
        <td valign="top" style="white-space:nowrap">${{ '%0.2f' % (item.amount / 100) }} {{ item.type_label }}
        </tr>
    {% endfor %}
    </table>
    {% endif %}

    <h2>Page View History for {{ group.name }} </h2>

<table class="table-striped table-bordered table-condensed">
<thead><tr>
    <th>When</th>
    <th>Who</th>
    <th>Page Path</th>
</tr></thead>
{% for view in pageviews %}
    <tr>
        <td valign="top" style="white-space:nowrap">{{ view.when|full_datetime_local }}</td>
        <td valign="top" style="white-space:nowrap">{{ view.who }}</td>
        <td valign="top">{{ view.page }}</td>
    </tr>
{% endfor %}
</table>

{% for email in emails  %}
    {% if loop.first %}<h2> Automated Emails </h2>{% endif %}
    <h3> {{ email.subject }} ({{ email.when|full_datetime_local }}) </h3>
    {{ macros.preview_email(email) }}
    <form method="post" action="resend_email" id="resend_email_{{ email.id }}">
        {{ csrf_token() }}
        <input type="hidden" name="id" value="{{ email.id }}" />
        <button class="btn btn-primary" type="submit">Resend Email</button>
    </form>
    <hr/>
{% endfor %}


{% endblock %}
