{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Waitlisted {{ c.DEALER_TERM|title }}s{% endblock %}
{% block content %}

<style type="text/css">
  h2 { margin-bottom: 40px; }
</style>

<script>
  $(function() {
    var $formDecline = $('#form-decline');
    $formDecline.on('submit', function(event) {
      event.preventDefault();
      bootbox.confirm({
        backdrop: true,
        title: 'Decline All Waitlisted {{ c.DEALER_TERM|title }}s?',
        message: '<p>Are you sure you want to decline <b>EVERY</b> waitlisted {{ c.DEALER_TERM }}?</p>' +
          '<p>This will convert the badges to normal Attendee badges at the price of registration ' +
          'when they first applied, minus the group discount. An email will be sent to ' +
          'each declined {{ c.DEALER_TERM }}.</p>' +
          '<p>This <b>CANNOT</b> be undone.</p>',
        buttons: {
          confirm: { label: '<span class="glyphicon glyphicon-repeat"></span> Decline & Convert', className: 'btn-danger' },
          cancel: { label: 'Nevermind', className: 'btn-default' }
        },
        callback: function (result) {
          if (result) {
            $formDecline[0].submit();
          }
        }
      });
    });
  });
</script>

<h2>
  <form id="form-decline" method="POST" action="waitlist" class="pull-right form-inline">
    <input type="hidden" name="decline_and_convert" value="1">
    <a href="../dealer_reports/waitlisted_group_info" class="btn btn-info">
      <span class="glyphicon glyphicon-download-alt"></span>
      Waitlisted {{ c.DEALER_TERM|title }} Report
    </a>
    <button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-repeat"></span>
      Decline & Convert
    </button>
  </form>
  Waitlisted {{ c.DEALER_TERM|title }}s
</h2>
<div class="clearfix"></div>
<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Approved</th>
      <th>Badges{{ macros.popup_link("../static_views/badgeCounts.html") }}</th>
      <th>Tables</th>
      <th>Cost</th>
      <th>Owed</th>
      <th>Paid</th>
      <th>Admin Notes</th>
    </tr>
  </thead>
  <tbody>
{% for group in groups %}
    <tr>
        <td style="text-align:left" data-order="{{ group.name }}" data-search="{{ group.name }}"> <a href="../group_admin/form?id={{ group.id }}">{{ group.name|default('?????', boolean=True) }}</a> </td>
        <td>
            {% if group.is_dealer %}
                {{ group.status_label }}
            {% else %}
                n/a
            {% endif %}
        </td>
        <td data-order="{{ group.badges_purchased }}" data-search="{{ group.badges_purchased }}"> {{ group.badges_purchased }} / {{ group.badges }} </td>
        <td>{{ group.tables }}</td>
        <td>${{ '%0.2f' % group.cost }}</td>
        <td>${{ '%0.2f' % group.amount_unpaid }}</td>
        <td>${{ '%0.2f' % (group.amount_paid / 100) }}</td>
        <td>{{ group.admin_notes }}</td>
    </tr>
{% endfor %}
  </tbody>
  <caption align="bottom">
    <ul class="pagination"></ul>
  </caption>
</table>
{% endblock %}
