label.error {
    color: #d00;
}

.navbar {
    margin-bottom: 0px;
}

#mainContainer > .navbar {
    margin: 0 -15px 15px -15px;
}

#mainContainer .navbar .navbar-nav > li > a {
    padding: 15px 12px;
}

#mainContainer {
    padding-bottom: 30px;
}

.loader_link {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 25%;
    z-index: 9999;
    background: rgb(249, 249, 249) url('../../static/images/loading.gif') no-repeat center center;
    background-size: 50%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: rgb(249, 249, 249);
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.btn-plain {
    text-shadow: 0 1px 0 #e0e0e0;
    background-color: #c0c0c0;
    border-color: #a0a0a0;
    color: #333;
}
.btn-plain:hover,
.btn-plain:focus {
    background-color: #d0d0d0;
}
.btn-plain:active,
.btn-plain.active {
    background-color: #b8b8b8;
}
.btn-plain:disabled,
.btn-plain[disabled] {
    color: #808080;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}


h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    white-space: nowrap;
}

h1 { margin-bottom: 20px; }
h1 small { font-size: 50%; }
h2 small { font-size: 55%; }
h3 small { font-size: 60%; }
h4 small { font-size: 65%; }
h5 small { font-size: 70%; }
h6 small { font-size: 75%; }

span.jq-dte {
    border-color: #ccc;
    height: 34px;
    margin: 0;
    padding: 6px 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.width-auto {
    width: auto;
}

.panel .dataTables_length {
    padding: 10px 0 0 15px;
}

.panel .dataTables_filter {
    padding: 10px 15px 0 0;
}

.panel .dataTables_paginate {
    padding: 0 15px 5px 0;
}

.panel .dataTables_info {
    padding: 0 0 5px 15px;
}

.disabled {
    cursor: not-allowed;
}

.checkbox-label {
    cursor: pointer;
}

.checkbox-label.disabled {
    cursor: not-allowed;
}

.checkgroup .checkbox-label {
    margin-right: 1em;
}

.checkgroup .checkbox-label.disabled {
    margin-right: 0;
}

.checkgroup .checkbox-label.disabled,
.checkgroup .checkbox-label.disabled input {
    cursor: default;
}

.checkgroup .checkbox-label.disabled input {
    display: none;
}

.checkgroup .checkbox-label.disabled:after {
    content: "/";
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.checkgroup .checkbox-label.disabled:last-child:after {
    content: none;
    padding-left: 0;
    padding-right: 0;
}

/* imported from styles.css */

table.navmenu {
    border-spacing: 5px;
    border-collapse: collapse;
    text-align:      center;
    margin-top:      10px;
    margin-bottom:   10px;
    width:          100%;

}
table.navmenu td {
    border: 2px solid gray;
    padding: 5px;
}

table.list {
    width:           100%;
    text-align:      center;
    border-collapse: collapse;
}
table.list td {
    border:  1px solid black;
    padding: 5px;
}
table.list tr.header {
    background:     #99CCFF;
    font-weight:    bold;
    vertical-align: bottom;
}
table.list tr.header a,
table.list tr.header a:hover,
table.list tr.header a:visited {
    color:           black;
    text-decoration: none;
}
table.list table td {
    border:  0;
    padding: 0;
}

.pad-top-10 li {
    padding-top: 10px;
}

.center {
    text-align: center;
}

ul.ui-autocomplete {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tooltip-wrapper {
 display: inline-block;
}
