
<hr/>

<div style="font-weight:bold ; color:red ; margin-bottom:5px">Disclaimers:</div>
<ul>
    <li> Your registration is non-refundable but may be sold/transferred. </li>
    <li> If you do not pay in advance of the event, you must pay full price at the door. </li>
    <li> Attendees (including dealers) must abide by our <a target="_blank" href="http://magfest.org/codeofconduct">code of conduct</a>. </li>
</ul>
<br/>

<script type="text/javascript">
    $(document).ready(function(){
        window.scrollTo(0,0);
    });
</script>
