{% extends "./preregistration/preregbase.html" %}
{% block title %}Group Members{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<h2> Members of "{{ group.name }}" </h2>

<div style="margin:15px">
    {% if group.unregistered_badges %}
        Some of your badges are not yet assigned to a specific person.  If you assign these
        badges now (using the links below) then it will take much less time for their owners
        to pick them up at the convention.
        <br/> <br/>
    {% endif %}
    If someone who has registered can't make it, you may use the "This person isn't coming"
    button next to their entry on the list below to unset their badge, which may then be
    assigned to someone else.  Badges with extra kicked in may only be transferred directly
    between two people; they may not be reverted to an unassigned badge.
</div>

<br/> <b>Here are the badges for your group:</b>
<table style="width:auto">
{% for attendee in group.attendee_set.all %}
    <tr>
        <td> <ul style="padding-right:0px"><li></li></ul> </td>
        {% if attendee.first_name %}
            <td>
                {{ attendee.full_name }}
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <a href="mailto:{{ attendee.email }}">{{ attendee.email }}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                zip code: {{ attendee.zip_code }}
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                {% if attendee != group.leader and not attendee.amount_extra %}
                    <form method="post" action="unset_group_member">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ attendee.secret_id }}" />
                    <input type="submit" value="This person isn't coming" />
                    </form>
                {% elif attendee.amount_extra %}
                    <form method="get" action="transfer_badge">
                    <input type="hidden" name="id" value="{{ attendee.secret_id }}" />
                    <b> Kicked in an extra ${{ attendee.amount_extra }}! </b>
                    <input type="submit" value="Transfer Registration" />
                    </form>
                {% endif %}
            </td>
        {% else %}
            <td> <a style="font-size:10pt" href="register_group_member?id={{ attendee.secret_id }}">Register someone for this badge</a>: </td>
            <td colspan="3"> {{ attendee.badge }} </td>
        {% endif %}
    </tr>
{% endfor %}
</table>

<br/>

{% if group.can_add %}
    <div id="add" style="display:none">
        <form method="get" action="add_group_members">
        <input type="hidden" name="id" value="{{ group.secret_id }}" />
        Enter a number of group members to add:
        <select name="count">{% int_options 1 10 %}</select>
        <input type="submit" value="Add Members to Group">
        </form>
    </div>
    <script type="text/javascript">
        $(function(){
            $("body").append(
                $('<a style="cursor:pointer">Click here to add more members to your group{% if not group.can_add and not group.amount_paid %} (after you pay you will be unable to add more badges){% endif %}.</a>').click(function(e){
                    $(e.target).hide();
                    $("#add").show();
                }));
        });
    </script>
{% endif %}

{% endblock %}
