{% extends "base.html" %}
{% block title %}Preregistration{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<h2> MAGFest Preregistration </h2>

<table style="width:auto ; margin-left:auto ; margin-right: auto"><tr>
    <td>{% stripe_form prereg_payment charge %}</td>
    <td style="width:100px ; text-align:center">or</td>
    <td>
        <a href="badge_choice">
            <button class="stripe-button-el">
                <span class="display: block; min-height: 30px;">Add Another Prereg</span>
            </button>
        </a>
    </td>
</tr></table>

<br/>

<table class="charge">
<thead><tr>
    <td>Preregistration</td>
    <td>Details</td>
    <td>Price</td>
</tr></thead>
{% for attendee in charge.attendees %}
    <tr>
        <td>{{ attendee.full_name }}</td>
        <td>Full weekend pass</td>
        <td>${{ attendee.total_cost }}</td>
     </tr>
{% endfor %}
{% for group in charge.groups %}
    <tr>
        <td>{{ prereg.name }}</td>
        <td>{{ prereg.badges }}</td>
        <td>${{ prereg.amount_owed }}</td>
    </tr>
{% endfor %}
{% if charge.targets|length > 1 %}
    <tr>
        <td></td>
        <td style="text-align:right ; padding-right:20px"><i>Total:</i></td>
        <td><b>${{ charge.amount }}</b></td>
    </tr>
{% endif %}
</table>

{% include "preregistration/disclaimers.html" %}

{% endblock %}
