{% extends "base.html" %}
{% block backlink %}{% endblock %}
{% block title %}Tranfer Your MAGFest Registration{% endblock %}
{% block content %}

<h2> Transfer {{ old.full_name }}'s Registration </h2>

By filling out this form, you will be transferring {{ old.full_name }}'s MAGFest registration
to someone else.  {{ old.full_name }} will no longer have a paid MAGFest badge waiting at
our Registration Desk; that will belong to whomever the badge is transferred.

<form method="POST" action="transfer_badge">
<input type="hidden" name="id" value="{{ attendee.id|obfuscated }}" />

<table width="100%" cellspacing="5" cellpadding="5">
<tr>
    <td width="25%"> <b><nobr>Name:</nobr></b> </td>
    <td width="75%">
        <input type="text" style="width:10em" name="first_name" value="{{ attendee.first_name }}" class="focus" />
        <input type="text" style="width:15em" name="last_name"  value="{{ attendee.last_name }}" />
    </td>
</tr>
{% if attendee.badge_type == SUPPORTER_BADGE and not state.CUSTOM_BADGES_ORDERED %}
    <tr>
        <td>Name Printed on Badge:</td>
        <td> <input type="text" name="badge_printed_name" value="{{ attendee.badge_printed_name }}" /> </td>
    </tr>
{% endif %}
{% include "preregistration/age_and_staffing.html" %}
<tr>
    <td> <b>Email Address:</b> </td>
    <td> <input type="text" name="email" value="{{ attendee.email }}" class="focus" /> </td>
</tr>
<tr>
    <td> <b>Postal Code:</b> </td>
    <td>
        <input type="text" name="zip_code" value="{{ attendee.zip_code }}" />
        {% checkbox international attendee %} I'm coming from outside the US.
    </td>
</tr>
<tr>
    <td> <b><nobr>Emergency Contact</nobr> <nobr>Phone Number:</nobr></b> </td>
    <td>
        <input type="text" name="ec_phone" value="{{ attendee.ec_phone }}" />
        <i>The person we should call if something happens to you.</i>
    </td>
</tr>
<tr>
    <td> <i>Your</i> Phone Number: </td>
    <td> <input type="text" name="phone" value="{{ attendee.phone }}" /> </td>
</tr>
<tr>
    <td> <nobr>What interests you?</nobr> </td>
    <td> {% checkgroup "interests" INTEREST_OPTS attendee.interests %} </td>
</tr>
<tr>
    <td></td>
    <td> <input type="submit" value="Transfer this Badge" /> </td>
</tr>
</table>

</form>

{% add_max_lengths Attendee %}

{% endblock %}
