{% block additional_css %}
#floating_logo {
	position: absolute;
	float: right;
	top: 0;
	right: 0;
	z-index: -1;
	width: 100%;
	background: url('../static/theme/bg-logo.jpg') no-repeat;
	height: 100%;
	background-position: right top;
    opacity: 0.2;
}
{% endblock additional_css %}
