<html><head></head><body style='text-align:center'>
    {{ c.DEALER_APP_TERM|capitalize }}s for {{ c.EVENT_NAME_AND_YEAR }} ({{ c.EVENT_MONTH }} {{ c.EVENT_YEAR }}) are now closed.<br/>
    {% if c.AFTER_DEALER_REG_DEADLINE %}
      <br/>
      The deadline for {{ c.DEALER_REG_TERM }} was {{ c.DEALER_REG_DEADLINE|datetime_local }}.
      <br/>
    {% elif c.AFTER_DEALER_REG_SHUTDOWN %}
      <br/>
      {{ c.DEALER_REG_TERM|title }} was shut down {{ c.DEALER_REG_SHUTDOWN|datetime_local }}.
      <br/>
    {% elif c.DEALER_APPS >= c.MAX_DEALER_APPS and c.MAX_DEALER_APPS > 0 %}
      <br/>
      We have already received the maximum number of {{ c.DEALER_APP_TERM }}s ({{ c.MAX_DEALER_APPS }}) we are accepting this year.
      <br/>
    {% endif %}
    <br/>
    {% if c.ATTENDEE_BADGE_AVAILABLE and (c.AFTER_PREREG_OPEN and c.BEFORE_PREREG_TAKEDOWN or c.AT_THE_CON) %}
    To register as a non-vendor attendee for {{ c.EVENT_NAME_AND_YEAR }}, click <a href="../preregistration/">here</a>.<br/>
    <br/>
    {% endif %}
    Please <a href="{{ c.CONTACT_URL }}">contact us</a> if you have any questions.<br/>
</body></html>
