<ul>
    <li> Be kind to your neighbors and respectful of space. </li>
    <li> No taking tables, even unused ones. You get the number of tables that you paid for. Also, you may not use the hotel carts as an addition to your table. </li>
    <li> Your displays and products cannot block the aisles or walkways. </li>
    <li> You can set up and leave anytime - there are no set {{ c.DEALER_TERM }} hours. We run 24 hours, but it is up to if you want to be open that long. </li>
    <li> No refunds are provided at anytime should you decide to leave {{ c.EVENT_NAME }} and stop selling before the event is over. We reserved your space on a per-event basis, not a per-day basis, so even partial refunds are not possible. </li>
    <li> No selling out of a hotel room (this is against state law), away from the {{ c.DEALER_TERM }}, or away from your table; i.e. no peddling. </li>
    <li> Only people with {{ c.DEALER_TERM }} ribbons or guest badges are allowed behind the table - no regular attendee badges. </li>
    <li> Electricity is free but not provided. You will need your own power strips, extension cords, and tape. However, we will help tape down the power cords. </li>
    <li> There is no security provided for tables in the {{ c.DEALER_LOC_TERM }}. Have a lockdown plan for when you leave or take your stuff with you. {{ c.EVENT_NAME }} is not responsible for lost or stolen property. There is minimal storage available on a first-come first-serve basis. A staffer will be required to access storage. Also, if you need a table watcher for a few minutes (e.g. for a bathroom break or run to the car), then we can get one for you. </li>
    <li> If you catch a shoplifter, then notify us and we will handle it. </li>
    <li> Do not leave trash in your {{ c.DEALER_TERM }} area once you pack up to leave. There will be a fine if {{ c.EVENT_NAME }} has to pick up the trash once you leave -- there are several trash bins provided for you to use. </li>
    <li> If you would like to donate any prizes to our treasure chests (which are chests we place randomly throughout the festival for attendees to get prizes from) or tournaments, then we will mention that the item came from your table for some advertising. If you want to do this, then you can give the item to {{ c.DEALER_LOC_TERM }} staff, who will make sure it gets to the right people. </li>
    <li> These rules are subject to change before {{ c.EVENT_NAME }}, but you will receive the most up to date rules at the start of the festival, which you will sign at that time. </li>
</ul>
