<!doctype html>
<html>
<head>
    <title> Giving More Money </title>
</head>
<body>

<h3 align="center"> Kicking in Extra Money </h3>

Want to give us a little extra cash to help make the festival better?  If you do, we'll
throw in a few special keepsakes!  Each donation level gets you an extra bit of swag,
in addition to all of the swag from all of the lower donation levels.  None of these
things (except the tshirt) will be for sale, so this is the only way to get them!

<br/> <br/>

The main donation tier is our <a href="supporters.html">Supporter package</a>.

</body>
</html>
