<html>
<head>
    <title> Explanation of Legal Name </title>
</head>
<body>

<h3 align="center"> Why Does {{ c.EVENT_NAME }} Need My Legal Name? </h3>

To help ensure the safety of everyone at {{ c.EVENT_NAME }}, registrations are tied to attendees using their photo ID. Attendees present their photo ID upon check-in at our registration desk.

<br/> <br/>

If you are unsure what name to use, or if your legal name is in flux, simply enter <strong>the name that will appear on your photo ID</strong> when you check in.

<br/> <br/>

If you do not enter a separate legal name, which is the likely case for most people, we will assume your preferred name is also what will appear on your photo ID.

<br/> <br/>

Your legal name is for internal use only and will not be printed on public materials, but is needed to check you in. We will use your preferred name in emails and when interacting with you, and may print it in cases such as when you do not enter a badge name (for personalized swag, staff badges, etc.)

</body>
</html>
