<html>
<head>
    <title> Explanation of Legal Name </title>
</head>
<body>

<h3 align="center"> Why Does {{ c.EVENT_NAME }} Need My Legal Name? </h3>

To help ensure the safety of everyone at {{ c.EVENT_NAME }}, registrations are tied to attendees using their photo ID. Attendees present their photo ID upon check-in to claim their badge.

<br/> <br/>

If you are unsure what name to use, or if your legal name is in flux, simply enter <strong>the name that will appear on your photo ID</strong> when you check in.

<br/> <br/>

Your legal name will not appear on your badge.

</body>
</html>
