<html><head></head><body style='text-align:center'>
    <h2 style='color:red'>{{ EVENT_NAME_AND_YEAR }} pre-registration has closed.</h2>
    We'll see everyone {{ EVENT_MONTH }} {{ EVENT_START_DAY }} - {{ EVENT_END_DAY }}.<br/>
    <br/>
    Full weekend passes will be available at the door for ${{ BADGE_PRICE }}. Single days passes will be available for {% single_day_prices %}. We do not anticipate selling out, so you should have no problem purchasing a pass at-event.<br/>
    <br/>
    Please <a href="http://magfest.org/contact">contact us</a> if you have any questions.<br/>
</body></html>