<html>
<head>
    <title> Page Slow / Not Loading </title>
</head>
<body>

<h3 align="center"> Why is this page loading slowly or not loading at all? </h3>

<p>We rely on modern technology in order to provide you with a safe and secure registration and checkout experience. Because of this, our registration interface may not work for everyone. Here are the common reasons behind problems you may be experiencing:</p>
<ul>
    <li><strong>Outdated Browsers</strong>: We support IE8+, Google Chrome, and Mozilla Firefox. Please make sure your browser is up-to-date.</li>
    <li><strong>JavaScript Disabled</strong>: We use Javascript to dynamically display our registration and payment form. Please make sure any script-blockers are turned off or disabled for this website.</li>
    <li><strong>Firewall Blocking</strong>: Some users may not be able to access our site from their place of work, as the form can be partially disabled by strict firewall rules. Please try accessing the form from home instead.</li>
</ul>

<p>If you are having trouble accessing the site and you need help, please contact us at <strong>registration AT furfest DOT org</strong></p>

</body>
</html>
