<html>
<head>
    <title> Volunteer Compensation </title>
</head>
<body>

<h3 align="center"> What You Get For Volunteering </h3>

The more hours you work, the more you get (don't forget about <a href="weightDesc.html">weighted hours</a>):
<ul>
    <li> Working at least {{ c.HOURS_FOR_SHIRT }} hours gets you a {{ c.EVENT_NAME }} t-shirt. <br/><br/> </li>
    {% if c.HOURS_FOR_FOOD %}<li> Working at least {{ c.HOURS_FOR_FOOD }} hours gets you food in addition to the shirt.  We have professional chefs preparing 3 meals per day throughout the event. <br/><br/> </li>{% endif %}
    <li> Working at least {{ c.HOURS_FOR_REFUND }} hours gets you a refund on your badge for this year. <br/><br/> </li>
    <li> Working at least {{ c.HOURS_FOR_HOTEL_SPACE }} hours <b>ONLY IF</b> you're a returning Staffer gets you space in one of our staff hotel rooms. <br/><br/> </li>
</ul>

</body>
</html>
