<!doctype html>
<html>
<head>
    <title> Supporters </title>
</head>
<body>

<h3 align="center"> Supporter Registration </h3>

We offer a special Supporter registration as a way for dedicated fans of {{ c.EVENT_NAME }}
to give us a little extra cash to help make the event better.  This is just one of
our <a href="givingExtra.html">donation levels</a>.

<br/> <br/>

The main thing you get as a Supporter is a special
swag bag{% if c.SUPPORTER_BADGE in c.PREASSIGNED_BADGE_TYPES %} and a cool customized badge{% endif %}.
As with all donation levels, you still get all of the swag from the lower donation levels,
and if you donate at a higher level, you still get the Supporter package.

{% if c.SEASON_LEVEL in c.DONATION_TIERS %}
    <br/> <br/>
    If you're interested in an even higher level of support and in other {{ c.ORGANIZATION_NAME }} events,
    then check out our <a href="seasonPasses.html">Season Supporter Passes</a>.
{% endif %}

</body>
</html>
