{% if attendee.staffing and not attendee.assigned_depts %}
    <br><br>
    Thanks for your interest in volunteering!
    {% if attendee.paid == c.HAS_PAID %}
        Now that we've received your payment
    {% elif attendee.paid == c.PAID_BY_GROUP %}
        As soon as we get a chance,
    {% else %}
        After we receive your payment
    {% endif %}
     we will review your request to volunteer at {{ c.EVENT_NAME }}. If you are selected, we will email further
    instructions about your department assignment and how to sign up for shifts.
{% endif %}

{% if c.CONSENT_FORM_URL and attendee.age_group_conf['consent_form'] %}
    <br><br>
    Our records indicate that you are under the age of 18, and as such, you
    will need a signed parental consent form. If a parent/legal guardian will
    be present at {{ c.EVENT_NAME }}, then they can sign the consent form when
    you pick up your badge at Registration in Expo Hall E. If a parent/legal
    guardian will not be at the event, the form may be brought pre-signed,
    however it MUST be notarized. We will not accept pre-signed forms that are
    not notarized. You may find the form at <a href="{{ c.CONSENT_FORM_URL }}">by clicking here</a>.
    <br><br>
    If you are actually over 18, please update your age in our
    <a href="{{ c.URL_BASE }}/preregistration/confirm?id={{ attendee.id }}">database here</a>
    prior to picking up your badge.
{% endif %}

{% if c.CODE_OF_CONDUCT_URL %}
    <br><br>
    Registered attendees agree to the <a href="{{ c.CODE_OF_CONDUCT_URL }}">{{ c.EVENT_NAME }} code of conduct</a> by picking up their badge.
{% endif %}