<!DOCTYPE HTML>
<html>
<head>
    <!-- TODO: upgrade jQuery next year so we don't need to serve a different version on this page -->
    <title>All Shifts</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css" />    
    <script type="text/javascript" src="../static/lib/jquery/jquery-2.1.3.min.js"></script>
    <script src="../common.js" type="text/javascript"></script>
</head>
<body>

<script type="text/javascript">
    {% comment %}var SHIFTS = {{ shifts|jsonize }};{% endcomment %}
    $(setupRatingClickHandler);

    var renderWorked = function (shiftId) {
        return $('<select></select>').change(function (event) {
            $.post('set_worked_from_everywhere', {
                id: shiftId,
                status: $(event.target).val(),
                csrf_token: csrf_token
            }, renderJob, 'json');
        }).append($.map({{ WORKED_STATUS_OPTS|jsonize }}, function (opt) {
            return $('<option></option>').val(opt[0]).text(opt[1]);
        }));
    };

    var renderJob = function (job, $tbody) {
        if (job.error) {
            alert(job.error);
            return;
        }
        $tbody = $tbody && $tbody.jquery ? $tbody : $('#job_' + job.id);
        if (job.slots <= job.shifts.length) {
            return $tbody.empty();
        }
        return $tbody
            .empty()
            .attr('id', 'job_' + job.id)
            .append(
                $('<tr></tr>')
                    .append('<td><b>' + job.timespan + ':</b> [x' + job.weight + '] </td>')
                    .append(
                        '<td>' +
                            (job.restricted ? '[R] ' : '') +
                            '<a href="form?id=' + job.id + '"><b>' + job.name + '</b></a>' +
                            ' (' + job.location_label + ')' +
                        '</td>')
                    .append('<td> <nobr>(' + job.shifts.length + '/' + job.slots + ' slots filled)</nobr> </td>')
                    .append(
                        $('<td></td>').append(
                            $('<button>Assign</button>').click(function () {
                                $.post('assign_from_everywhere', {
                                    csrf_token: csrf_token,
                                    job_id: job.id,
                                    staffer_id: $('#attendee').val()
                                }, renderJob, 'json');
                            }))))
            .append(
                $('<tr></tr>')
                    .append(
                        $('<td colspan="4"></td>')
                            .append('<table style="width:auto"></table>')
                            .append($.map(job.shifts, function (shift) {
                                return $('<tr></tr>')
                                    .attr('id', 'shift_' + shift.id)
                                    .append('<td> <ul><li></li></ul> </td>')
                                    .append('<td> <a href="../registration/shifts?id=' + shift.attendee_id + '">' + shift.attendee_name + '</a>&nbsp;&nbsp; </td>')
                                    .append(
                                        $('<button>Unassign</button>').click(function () {
                                            $.post('unassign_from_everywhere', {
                                                csrf_token: csrf_token,
                                                id: shift.id
                                            }, renderJob, 'json');
                                        }))
                                    .append(
                                        $('<td></td>').append(
                                            shift.worked === {{ SHIFT_UNMARKED }} ? renderWorked(shift.id) : ('<i>' + shift.worked_label + '</i>')))
                                    .append(shift.worked === {{ SHIFT_UNMARKED }} ? '' : renderRating(shift, $('<td></td>')));
                            }))));
    };

    var renderAll = function () {
        var $jobs = $('#jobs');
        $.each({{ jobs|jsonize }}, function (i, job) {
            $jobs.append(renderJob(job, $('<tbody></tbody>')));
        });
    };
    $(renderAll);
</script>

<h2> All Jobs With Unfilled Shifts </h2>

<div style="text-align:center">
    {% if show_restricted %}
        <a href="everywhere">Show Only Unrestricted Shifts</a>
    {% else %}
        <a href="everywhere?show_restricted=true">Show Regular and Restricted Shifts</a>
    {% endif %}
</div>

<div style="position:fixed ; top:25% ; right: 2% ; text-align:right">
    <b>Assign someone to any of these positions:</b> <br/>
    <select id="attendee">
        {% for attendee in attendees %}
            <option value="{{ attendee.id }}">{{ attendee.full_name }}</option>
        {% endfor %}
    </select>
</div>

<table id="jobs" style="width:66%"></table>

</body>
</html>
