{% extends "base.html" %}
{% block title %}Shifts{% endblock %}
{% block content %}

<script type="text/javascript">
    var SHIFTS = {{ shifts|jsonize }};
    $(setupRatingClickHandler);
</script>

<h2> All Jobs With Unfilled Shifts </h2>

<div style="text-align:center">
    {% if show_restricted %}
        <a href="everywhere">Show Only Unrestricted Shifts</a>
    {% else %}
        <a href="everywhere?show_restricted=true">Show Regular and Restricted Shifts</a>
    {% endif %}
</div>

<div style="position:fixed ; top:25% ; right: 10%">
    <b>Assign someone to any of these positions:</b> <br/>
    <select id="assignee">
        {% for attendee in attendees %}
            <option value="{{ attendee.id }}">{{ attendee.full_name }}{% if show_restricted and attendee.trusted %} [T]{% endif %}</option>
        {% endfor %}
    </select>
</div>

<table style="width:66%">
{% for job in jobs %}
    {% if job.shifts|length < job.slots %}
        <tr>
            <td> <a name="{{ job.id }}"></a><b>{% timespan job %}:</b> [x{{ job.weight }}] </td>
            <td>
                {% if job.restricted %}[R]{% endif %}
                <a href="form?id={{ job.id }}"><b>{{ job.name }}{% if job.restricted %}*{% endif %}</b></a>
                ({{ job.location_label }})
            </td>
            <td> <nobr>({{ job.shifts|length }}/{{ job.slots }} slots filled)</nobr> </td>
                {% if job.available_staffers %}
                    <td>
                        <form method="post" action="assign_from_everywhere" onSubmit="$(this).find('[name=staffer_id]').val($('#assignee').val())">
                        {% csrf_token %}
                        <input type="hidden" name="job_id" value="{{ job.id }}" />
                        <input type="hidden" name="staffer_id" value="" />
                        <input type="submit" value="Assign" />
                        </form>
                    </td>
                {% else %}
                    <td><i>(no extra available staffers)</i></td>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <table style="width:auto">
                {% for shift in job.shifts %}
                    <tr>
                        <td> <ul><li></li></ul> </td>
                        <td> <a href="../registration/shifts?id={{ shift.attendee.id }}">{{ shift.attendee.full_name }}</a>&nbsp;&nbsp; </td>
                        <td>
                            {% if shift.worked != SHIFT_UNMARKED %}
                                <i>{{ shift.worked_label }}</i>
                            {% else %}
                                <select onChange="setStatus({{ shift.id }}, this)">
                                    {% options WORKED_OPTS shift.worked %}
                                </select>
                            {% endif %}
                        </td>
                        <form method="post" action="unassign_from_everywhere">
                        <td>
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ shift.id }}" />
                            <input type="submit" value="Unassign" />
                        </td>
                        </form>
                        <td id="rating{{ shift.id }}"></td>
                        {% if shift.worked == SHIFT_WORKED %}
                            <script type="text/javascript">renderRating({{ shift.id }});</script>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
                <br/>
            </td>
        </tr>
    {% endif %}
{% endfor %}
</table>

{% endblock %}
