{% extends "base.html" %}{% set admin_area=True %}
{% block title %}All Shifts{% endblock %}
{% block content %}

<style type="text/css">
  h2 {
    margin-bottom: 40px;
  }

  #jobs-container #volunteers {
    top: 65px;
  }
</style>

<h2>
  All Unfilled Shifts
  {% if show_restricted %}
    <a href="everywhere" class="btn btn-xs btn-plain">
  {% else %}
    <a href="everywhere?show_restricted=true" class="btn btn-xs btn-default">
  {% endif %}
      <span class="glyphicon glyphicon-filter"></span>
      Show Restricted Shifts
    </a>
</h2>

<script>SHOW_FULL_JOBS = false;</script>
<div id="jobs-container">
{% include "jobs/job_renderer.html" %}
</div>

{% endblock %}
