{% extends "base-admin.html" %}
{% block title %}Shifts{% endblock %}
{% block content %}

{% include "jobs/main_menu.html" %}

{% if checklist.relevant %}
    {% if checklist.completed %}
        You've already indicated that what's here and/or whatever shifts STOPS creates are fine.  Let us know if that's in error.
    {% else %}
        {% if location in c.SHIFTLESS_DEPTS %}
            This department is on record as not needing any shifts.  Please click the following link to confirm this so we know we don't need to make any shifts.  If this is in error and you'd like shifts for your people, please let us know and we'll fix that.
        {% else %}
            STOPS usually makes shifts for each department based on last year's shifts.  You can create shifts yourself or let us do it for you.  If you want to make shifts yourself, please do so and then click the link below.  If you want us to make shifts for you, just click that link now and submit the form to confirm that.
        {% endif %}
        <br/> <a href="#" onClick="$('#checkoff').show(); return false;">I Don't Need To Do Anything Else Here</a>
        <form id="checkoff" style="display:none" method="post" action="../dept_checklist/mark_item_complete">
        {% csrf_token %}
        <input type="hidden" name="slug" value="{{ checklist.conf.slug }}" />
        <input type="submit" value="I Confirm I Don't Need To Do Anything Else Here" />
        </form>
    {% endif %}
    <br/><br/>
{% endif %}

<div style="border:1px">
    <h3>Setup Shifts</h3>
    <a href="form?id=None&location={{ location }}&type={{ c.SETUP }}">Add a setup shift</a>
    <ul>
    {% for job in setup %}
        <li>
            [<b>{{ job.start_time|datetime:"%I %p %a" }}</b> for an expected ~{{ job.duration }} hours]
            <a href="form?id={{ job.id }}">{{ job.name }}</a>:
            {{ job.shifts|length }}/{{ job.slots }} Staffers <a href="staffers_by_job?id={{ job.id }}">Signed Up</a>
        </li>
    {% endfor %}
    </ul>
    <br/>
</div>

<table class="calendar" border="1">
{% for curr_dt, prev_dt, jobs in times %}
    <tr>
        <td>
            <nobr>{{ curr_dt|date:"gA"|lower }} {{ curr_dt|date:"D" }}</nobr>
            <br/> <br/>
            <nobr><a href="form?id=None&location={{ location }}&start_time={{ curr_dt|date:"Y-m-d H:i:s" }}">Add Shift</a></nobr>
            <a name="{{ prev_dt|stringformat:"s" }}"></a>
        </td>
        {% for job in jobs %}
            <td rowspan="{{ job.duration }}">
                <nobr> <a href="form?id={{ job.id }}"><b>{{ job.name }}{% if job.restricted %}*{% endif %}</b></a> </nobr>
                <br/> <br/>
                <nobr> Weight: x{{ job.weight }}{% if job.extra15 %}*{% endif %} </nobr>
                <br/>
                <nobr> {{ job.shifts|length }}/{{ job.slots }} Staffers <a href="staffers_by_job?id={{ job.id }}">Signed Up</a>
                {% if job.shifts %}
                    <a href="#" onClick="$(this).next().show().prev().remove() ; return false" style="display:block">View Staffers</a>
                    <div style="display:none">
                        {% for shift in job.shifts %}
                            <a href="../registration/form?id={{ shift.attendee.id }}">{{ shift.attendee.full_name }}</a> <br/>
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

<div style="border:1px">
    <h3>Teardown Shifts</h3>
    <a href="form?id=None&location={{ location }}&type={{ c.TEARDOWN }}">Add a teardown shift</a>
    <ul>
    {% for job in teardown %}
        <li>
            [<b>{{ job.start_time|datetime:"%I %p %a" }}</b> for an expected ~{{ job.duration }} hours]
            <a href="form?id={{ job.id }}">{{ job.name }}</a>:
            {{ job.shifts|length }}/{{ job.slots }} Staffers <a href="staffers_by_job?id={{ job.id }}">Signed Up</a>
        </li>
    {% endfor %}
    </ul>
    <br/>
</div>

{% endblock %}
