
<div style="position:fixed ; top:25% ; right: 2% ; text-align:right">
    <b>Assign someone to any of these positions:</b> <br/>
    <select id="attendee">
        {% for attendee in attendees %}
            <option value="{{ attendee.id }}">{{ attendee.full_name }}</option>
        {% endfor %}
    </select>
</div>

<table id="jobs" style="width:66%"></table>

<script>
    $(setupRatingClickHandler);

    var renderWorked = function (shiftId) {
        return $('<select></select>').change(function (event) {
            $.post('set_worked', {
                id: shiftId,
                status: $(event.target).val(),
                csrf_token: csrf_token
            }, renderJob, 'json');
        }).append($.map({{ c.WORKED_STATUS_OPTS|jsonize }}, function (opt) {
            return $('<option></option>').val(opt[0]).text(opt[1]);
        }));
    };

    var renderJob = function (job, $tbody) {
        if (job.error) {
            alert(job.error);
            return;
        }
        $tbody = $tbody && $tbody.jquery ? $tbody : $('#job_' + job.id);
        var jobIsFull = job.slots <= job.shifts.length;
        if (!window.SHOW_FULL_JOBS && jobIsFull) {
            return $tbody.empty();
        }
        return $tbody
            .empty()
            .attr('id', 'job_' + job.id)
            .append(
                $('<tr></tr>')
                    .append('<td><b>' + job.timespan + ':</b> [x' + job.weight + '] </td>')
                    .append(
                        '<td>' +
                            (job.restricted ? '[R] ' : '') +
                            '<a href="form?id=' + job.id + '"><b>' + job.name + '</b></a>' +
                            ' (' + job.location_label + ')' +
                        '</td>')
                    .append('<td> <nobr>(' + job.shifts.length + '/' + job.slots + ' slots filled)</nobr> </td>')
                    .append(
                        $('<td></td>').append(
                            jobIsFull ? '' : $('<button>Assign</button>').click(function () {
                                $.post('assign', {
                                    csrf_token: csrf_token,
                                    job_id: job.id,
                                    staffer_id: $('#attendee').val()
                                }, renderJob, 'json');
                            }))))
            .append(
                $('<tr></tr>')
                    .append(
                        $('<td colspan="4"></td>')
                            .append('<table style="width:auto"></table>')
                            .append($.map(job.shifts, function (shift) {
                                return $('<tr></tr>')
                                    .attr('id', 'shift_' + shift.id)
                                    .append('<td> <ul><li></li></ul> </td>')
                                    .append('<td> <a href="../registration/shifts?id=' + shift.attendee_id + '">' + shift.attendee_name + '</a>&nbsp;&nbsp; </td>')
                                    .append(
                                        $('<button>Unassign</button>').click(function () {
                                            $.post('unassign', {
                                                csrf_token: csrf_token,
                                                id: shift.id
                                            }, renderJob, 'json');
                                        }))
                                    .append(
                                        $('<td></td>').append(
                                            shift.worked === {{ c.SHIFT_UNMARKED }} ? renderWorked(shift.id) : ('<i>' + shift.worked_label + '</i>')))
                                    .append(shift.worked !== {{ c.SHIFT_WORKED }} ? '' : renderRating(shift, $('<td></td>')));
                            }))));
    };

    var renderAll = function () {
        var $jobs = $('#jobs');
        $.each({{ jobs|jsonize }}, function (i, job) {
            $jobs.append(renderJob(job, $('<tbody></tbody>')));
        });
    };
    $(renderAll);
</script>
