<style type="text/css">
  #volunteers {
    position: fixed;
    right: 15px;
    top: 15px;
    text-align: right;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.075);
    z-index: 1001;
  }

  .table-shifts {
    width: 100%;
  }

  .attendee-name {
    min-width: 25%;
  }
</style>

<script type="text/javascript" src="../static_views/ratings.js"></script>

<div id="volunteers" class="panel panel-default">
  <div class="panel-body">
    <b>Assign someone to any of these positions</b> <br/>
    <select id="attendee">
        <option value="">Select a volunteer</option>
        {% for attendee in attendees %}
            <option value="{{ attendee.id }}">{{ attendee.full_name }}</option>
        {% endfor %}
    </select>
  </div>
</div>

<table id="jobs" class="table-jobs"></table>

<script>
    $(setupRatingClickHandler);

    var renderWorked = function (shiftId) {
        return $('<select></select>').change(function (event) {
            $.post('set_worked', {
                id: shiftId,
                status: $(event.target).val(),
                csrf_token: csrf_token
            }, renderJob, 'json');
        }).append($.map({{ c.WORKED_STATUS_OPTS|jsonize }}, function (opt) {
            return $('<option></option>').val(opt[0]).text(opt[1]);
        }));
    };

    var renderJob = function (job, $tbody) {
        if (job.error) {
            alert(job.error);
            return;
        }
        $tbody = $tbody && $tbody.jquery ? $tbody : $('#job_' + job.id);
        var jobIsFull = job.slots <= job.shifts.length;
        if (!window.SHOW_FULL_JOBS && jobIsFull) {
            return '';
        }
        return $tbody
            .empty()
            .attr('id', 'job_' + job.id)
            .append(
                $('<tr></tr>')
                    .append('<td><b>' + job.timespan + ':</b> [x' + job.weight + '] </td>')
                    .append(
                        '<td>' +
                            (job.restricted ? '[R] ' : '') +
                            '<a href="form?id=' + job.id + '"><b>' + job.name + '</b></a>' +
                            ' (' + job.department_name + ')' +
                        '</td>')
                    .append('<td><span class="text-nowrap">(' + job.shifts.length + '/' + job.slots + ' slots filled)</span></td>')
                    .append(
                        $('<td></td>').append(
                            jobIsFull ? '' : $('<button>Assign</button>').click(function () {
                                var attendee = $('#attendee').val();
                                if (attendee) {
                                    $.post('assign', {
                                        csrf_token: csrf_token,
                                        job_id: job.id,
                                        staffer_id: $('#attendee').val()
                                    }, renderJob, 'json');
                                } else {
                                    alert('You must select a volunteer to assign.');
                                }
                            }))))
            .append(
                $('<tr></tr>').append(
                    $('<td colspan="4"></td>').append(
                        $('<table class="table-shifts"></table>').append(
                            $.map(job.shifts, function (shift) {
                                return $('<tr></tr>')
                                    .attr('id', 'shift_' + shift.id)
                                    .append('<td class="attendee-name"><a href="../registration/shifts?id=' + shift.attendee_id + '">' + shift.attendee_name  + ' (#' + (shift.attendee_badge || 'TBD') + ')</a></td>')
                                    .append(
                                        $('<td></td>').append(
                                            $('<button>Unassign</button>').click(function () {
                                                $.post('unassign', {
                                                    csrf_token: csrf_token,
                                                    id: shift.id
                                                }, renderJob, 'json');
                                            })))
                                    .append(
                                        $('<td></td>').append(
                                            shift.worked === {{ c.SHIFT_UNMARKED }} ? renderWorked(shift.id) : ('<i>' + shift.worked_label + '</i>')))
                                    .append(shift.worked !== {{ c.SHIFT_WORKED }} ? '' : renderRating(shift, $('<td></td>')));
                            })))));
    };

    var renderAll = function () {
        var $jobs = $('#jobs'),
            jobList = {{ jobs|jsonize }};
        if (jobList && jobList.length) {
          $.each(jobList, function (i, job) {
              $jobs.append(renderJob(job, $('<tbody></tbody>')));
          });
        } else {
          $jobs.append($('<tr><td><i>There are no jobs available in this department.</i></td></tr>'));
        }
    };
    $(renderAll);
</script>
