
<script type="text/javascript">
    var mainMenuDropdownChanged = function () {
        window.location = $("#page").val() + "?location=" + $("#location").val();
    };
</script>

<table style="text-align:center">
<tr>
    <td width="50%">
        <select id="location" style="font-size:14pt ; font-weight:bold" onChange="mainMenuDropdownChanged()">
            {% options c.JOB_LOCATION_OPTS location %}
        </select>
    </td>
    <td width="50%">
        <select id="page" style="font-size:14pt ; font-weight:bold" onChange="mainMenuDropdownChanged()">
            {% options c.JOB_PAGE_OPTS page %}
        </select>
    </td>
</tr>
</table>

<br/>
