{% extends "base-admin.html" %}
{% block title %}Shifts{% endblock %}
{% block page_styles %}
<!--inside page_style -->
<link rel="stylesheet" href="../static/styles/fullcalendar.min.css" />
<link rel="stylesheet" href="../static/styles/fullcalendar.print.css" media="print"/>

<style>
.button_row div a.setup_button, .button_row div a.teardown_button {
 background-color: #239875;

    background-image: -webkit-linear-gradient(top, #239875 0%, #209572 100%);
    background-image: -o-linear-gradient(top, #239875 0%, #209572 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#239875), to(#209572));
    background-image: linear-gradient(to bottom, #239875 0%, #209572 100%);
}
.fc-list-item-title.fc-widget-content .btn {
	margin-right:15px;
}
</style>

{% endblock %}

{% block content %}
{% include "jobs/main_menu.html" %}

<div class="hidden csrf_token"> {% csrf_token %} </div>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
	<h4>Shift Signup View</h4>
	</div>
</div>
<div class="row>
	<div class="col-xs-10 col-xs-offset-1">
		<div id="shift_cal">

		</div>
	</div>
</div>
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="check_in_out_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
	<div class="attendee">Attendee:&nbsp;<span></span></div>
	<div class="shift">Shift:&nbsp;<span></span></div>
	<div class="shift_start">Start:&nbsp;<span></span></div>
	<div class="shift_end">End:&nbsp;<span></span></div>
		<span class="check_io_time">
			<select name="check_io_day" id="check_io_day"></select>
			<input type="time" value="" name="check_io_time" id="check_io_time"/>

		</span>

	<form id="shift_io" action="shift_check_io" method="POST">
		{% csrf_token %}
		<input type="hidden" value="" name="check_io_action" id="check_io_action"/>
		<input type="hidden" value="" name="shift_id" id="shift_id"/>
		<input type="hidden" value="" name="local_check_io_datetime" id="local_check_io_datetime"/>
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary check_io_btn" onclick="check_io_submit();">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% if c.POST_CON and checklist.relevant %}
    <div class="center">
        {% if checklist.completed %}
            You've already indicated that you've marked all of the shifts you can remember.  Don't forgot to also mark non-shift hours as needed.
        {% else %}
            <a href="#" onClick="$('#checkoff').show(); return false;">I've marked everything I can remember.</a>
            <form id="checkoff" style="display:none" method="post" action="../dept_checklist/mark_item_complete">
            {% csrf_token %}
            <input type="hidden" name="slug" value="{{ checklist.conf.slug }}" />
            <input type="submit" value="I've marked everything I remember" />
            </form>
        {% endif %}
    </div>
{% endif %}

<script>SHOW_FULL_JOBS = true;</script>
{% comment %}
{% include "jobs/job_renderer.html" %}
{% endcomment %}
{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="../static_views/ratings.js"></script>
<script type="text/javascript" src="../static/js/moment.js"></script>
<script type="text/javascript" src="../static/js/fullcalendar.min.js"></script>
<script type="text/javascript">
var eventList;
        $(document).ready(function() {
                eventList =  new Array();
                    {% for job in jobsb %}
			{% if job.shifts|length != job.slots %}
                    		eventList.push({
                                        title : "{{job.name}} ({{job.shifts|length}} / {{job.slots}})",
                                        start : "{{ job.start_time|datetime:"%Y-%m-%dT%H:%M:%S" }}",
                                        end: "{{job.start_time|shift_end:job.duration}}",
					id: "{{job.id}}",
					type: "job",
					idx: eventList.length
                                });
			{% endif %}
			{% for shift in job.shifts %}
				var cur_shift = {
                                        title : "{{job.name}} {{shift.attendee.full_name}}",
					attendee: "{{shift.attendee.full_name}}",
					job: "{{job.name}}",
                                        start : "{{ job.start_time|datetime:"%Y-%m-%dT%H:%M:%S" }}",
                                        end: "{{job.start_time|shift_end:job.duration}}",
					type: "shift",
					id: "{{shift.id}}",
					idx: eventList.length,
					{% if shift.check_in %}
						check_in: "{{ shift.check_in|datetime:"%Y-%m-%dT%H:%M:%S" }}",
					{% else %}
						check_in:"",
					{% endif %}
                                        {% if shift.check_out %}
                                                check_out: "{{ shift.check_out|datetime:"%Y-%m-%dT%H:%M:%S" }}"
                                        {% else %}
                                                check_out:""
                                        {% endif %}
                                };
				
			        eventList.push(cur_shift);

			{% endfor %}
                    {% endfor %}

                $('#shift_cal').fullCalendar({
                        header: {
                                left: 'prev,next today',
                                center: 'title',
                        },
                        slotDuration: '00:15:00',
                        allDaySlot: false,
                        slotEventOverlap: false,
                        defaultView: 'listDay',
                        editable: false,
                        slotEventOverlap:false,
                        eventLimit: false, // allow "more" link when too many events
                        events: eventList,
    			eventRender: function(event, element) {
				var eventButton = get_event_button(event);
				element.find(".fc-list-item-title.fc-widget-content").append(eventButton);

    			}
			
                });
                var curDate = $.urlParam('tgt_date');
                if(curDate != null) {
                        $("#shift_cal").fullCalendar( 'gotoDate',curDate);
                } else {
                        $("#shift_cal").fullCalendar('gotoDate', eventList[0].start);
                }

        });


function get_event_button(event) {
        var buttonList = '<span class="pull-right">';
        if(event.type=="shift") {
		if(event.check_in == "") {
			buttonList += '<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#check_in_out_modal" onclick="update_modal(' + event.idx+ ')">';

                	buttonList += 'Check in';
	               buttonList += '</button>';

		} else if (event.check_out==""){
		                buttonList += '<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#check_in_out_modal" onclick="update_modal(' + event.idx+ ')">';

                	buttonList += 'Check out';
                buttonList += '</button>';

		}
        }
        buttonList += '</span>';
        return buttonList
}


function update_modal(idx) {
	var cur_event = eventList[idx];
	// update default time 
	var actionName = "";
	console.log(cur_event);
        if(cur_event.check_in == "") {
		actionName = "Check-in";
		$("#check_io_time").val(eventList[idx].start.substring(11,16));
		
	}  else if (cur_event.check_out == "") {
		actionName = "Check-out";
		console.log("HIT");
		$("#check_io_time").val(eventList[idx].end.substring(11,16));
	}
        $("#myModalLabel").html(actionName + " Form");
	$("#check_in_out_modal .attendee span").html(cur_event.attendee);
	$("#check_in_out_modal .shift span").html(cur_event.job);
	//display scheduled duration
	$("#check_in_out_modal .shift_start span").html(cur_event.start);
	$("#check_in_out_modal .shift_end span").html(cur_event.end);
	$("#check_in_out_modal #check_io_action").val(actionName);
	$("#check_in_out_modal #shift_id").val(cur_event.id);
	// create option select
	var curdate = cur_event.start.substring(0,10);
	$("#check_io_day").append($("<option>",{value:curdate,text:curdate}));
	if(cur_event.end.substring(0,10)!=curdate) {
		curdate = cur_event.end.substring(0,10);
		$("#check_io_day").append($("<option>",{value:curdate,text:curdate}));		
	}
	$("#check_in_out_modal .btn-primary.check_io_btn").html(actionName);
}
function check_io_submit() {
	//get UTC epoch from input time
	var tgt_time = $("#check_io_day").val() + "T" + $("#check_io_time").val() + ":00";
	$("#local_check_io_datetime").val(tgt_time);
	$("form#shift_io").submit();
};
function check_in(idx,tgt_time) {
	var cur_event = eventList[idx];

        var postData = {};
        postData['csrf_token'] =  $("div.csrf_token input").attr('value');
        var confirmStr = "Do you check in this volunteer";

        confirmStr += "?"
        var r = confirm(confirmStr);
        if (r == true) {
                var tgtShiftURL = "check_in_out?";
		tgtShiftURL += "shift_id="+ cur_event.id;
		tgtShiftURL += "&action=check_in";
		tgtShiftURL += "&tgt_time=" + tgt_time;
                $.post( tgtShiftURL,postData,function( data,status ) {
                        var tgtURL = window.location.pathname;
			tgtURL += "?location=" + data["location"];
			tgtURL += "&tgt_date=" + cur_event.start;
			window.location.href = tgtURL;
                });
        }	
}
$.urlParam = function(name){
   var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
   if (results==null){
      return null;
   }
   else{
      return results[1] || 0;
   }
}

</script>
{% endblock %}
