{% extends "guest_checklist/merch_deadline.html" %}

{%- set HAS_ROCK_ISLAND = c.ROCK_ISLAND in c.GUEST_MERCHS and guest.group_type in c.ROCK_ISLAND_GROUPS -%}

{% block deadline_text %}
  {% if guest.merch_status %}
    You have already indicated your merchandise preferences, but you may update them using the link above.
  {% else %}
    {% if HAS_ROCK_ISLAND %}
      Please let us know by the above deadline whether you want to utilize our "Rock Island" merch selling service.
      Once opted in, you will have until <strong>{{ c.ROCK_ISLAND_DEADLINE|datetime_local }}</strong> to input your inventory.
    {% else %}
      Use the link above to provide details on any merchandise you are bringing to sell.
    {% endif %}
  {% endif %}
{% endblock %}

{% block form_desc %}
  <p>MAGFest will provide access to our Rock Island Merch Department during the event.</p>

  <p>
    <a href="../static/RockIsland.pdf">
      Click here for more info about our Rock Island service!
    </a>
  </p>

  <p>
      For mainstage performers, on the night of your performance, a full table will also be provided immediately across 
      from the entrance to the concert hall for merchandise sales and signings.
  </p>
{% endblock %}

{% block form_extra %}
  {{ super() }}

  <div class="form-group" id="confirm-ri-faq">
    <div class="col-sm-9 col-sm-offset-3 checkbox">
      {{ macros.toggle_checkbox(
          '#save-merch-button',
          'I acknowledge that I have read & understood the <a href="../static/RockIsland.pdf">Rock Island FAQ</a>, including the hours and policies.'|safe,
          suffix='_agreed_ri_faq',
          mode='#save-merch-button',
          hide_on_checked=False,
          checked=agreed_to_ri_faq) }}
    </div>
  </div>

  <script>
    var showOrRIFaq = function() {
      setVisible('#confirm-ri-faq', $.val('selling_merch') === {{ c.ROCK_ISLAND }});
      $('#save-merch-button').prop('disabled', $.val('selling_merch') === {{ c.ROCK_ISLAND }} && !$('#toggle_visibility_agreed_ri_faq').prop('checked'));
    };
    $(function () {
      $("[name='selling_merch'] option[value='{{ c.OWN_TABLE }}']").remove();
      showOrRIFaq();
      $.field('selling_merch').on('change', showOrRIFaq);
    });
  </script>
{% endblock %}
