{% extends "guest_checklist/merch_deadline.html" %}

{%- set HAS_ROCK_ISLAND = c.ROCK_ISLAND in c.GUEST_MERCHS and guest.group_type in c.ROCK_ISLAND_GROUPS -%}

{% block deadline_text %}
  {% if guest.merch_status %}
    You have already indicated your merchandise preferences, but you may update them using the link above.
  {% else %}
    We need you to tell us whether you have any merchandise to sell{% if HAS_ROCK_ISLAND %},
    and whether you intend to participate in our "Rock Island" program where we sell your merchandise so that you do
    not need to staff your own table{% endif %}.
  {% endif %}
{% endblock %}

{% block form_desc %}
  <p>
    Space will be provided for merchandise sales{% if not HAS_ROCK_ISLAND %}: either{% endif %} at a dedicated half table in our Marketplace area, which you will need to staff{% if not HAS_ROCK_ISLAND %}.
    {% else %}, or at our “Rock Island” area near our concert hall, where MAGFest staff will sell guest-and-band-provided merchandise throughout the festival.{% endif %}
  </p>

  {{ super() }}

  {% if c.REQUIRE_DEDICATED_GUEST_TABLE_PRESENCE %}
    <p>
      If you elect to{% if HAS_ROCK_ISLAND %} decline the use of Rock Island and{% endif %} sell your merchandise directly,
      we require that your half-table in the marketplace be staffed for at least <b>8 hours per day</b>.
    </p>
  {% endif %}

    <p>
        For mainstage performers, on the night of your performance, a full table will also be provided immediately across 
        from the entrance to the concert hall for merchandise sales and signings.
    </p>
{% endblock %}

{% block form_extra %}
  {{ super() }}

  <div id="coverage" style="display:none">
    {% if c.REQUIRE_DEDICATED_GUEST_TABLE_PRESENCE %}
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3 checkbox">
          <label class="checkbox-label">
            <input type="checkbox" name="coverage" value="yes" />
            I commit to staffing our table in the marketplace at least <b>8 hours per day</b>.
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3 checkbox">
          <label class="checkbox-label">
            <input type="checkbox" name="warning" value="yes" />
            I acknowledge that failing to staff our table for <b>8 hours per day</b> will revoke
            the privilege of selling our merchandise from our own dedicated table in the future.
          </label>
        </div>
      </div>
    {% endif %}
  </div>

  <script>
      var checkCoverage = function() {
          var isDedicated = $.val('selling_merch') === {{ c.OWN_TABLE }};
          setVisible('#coverage', isDedicated);

          {% if c.REQUIRE_DEDICATED_GUEST_TABLE_PRESENCE %}
              var allChecked = $.field('coverage').prop('checked') && $.field('warning').prop('checked');
              $('input[type="submit"]').prop('disabled', isDedicated && !allChecked);
          {% endif %}
      };

      $(function () {
          checkCoverage();
          {% if c.REQUIRE_DEDICATED_GUEST_TABLE_PRESENCE %}
            $.field('warning').on('click', checkCoverage);
            $.field('coverage').on('click', checkCoverage);
          {% endif %}
          $.field('selling_merch').on('change', checkCoverage);
      });
  </script>
{% endblock %}
