{% extends "guest_checklist/panel_deadline.html" %}
{% block deadline_headline %}Add a Panel{% endblock %}
{% block deadline_text %}
  {% if not guest.group.leader.panel_applications %}
    What panels and/or events are you putting on at {{ c.EVENT_NAME }}? Please use the above link to submit each panel.
  {% else %}
    You have already submitted {{ guest.group.leader.panel_applications|length }} panel
    idea{{ guest.group.leader.panel_applications|length|pluralize }}.
    {% if c.APP_LIMIT %}
      You may submit up to {{ c.APP_LIMIT }} panels for review.
    {% endif %}
  {% endif %}
  <script type="text/javascript">
      $(function() {
          $('a[href^="panel"]').prop("href", "../panel_applications/guest?poc_id={{ guest.group.leader.id }}&return_to=../guests/index?id={{ guest.id }}");
      });
  </script>
{% endblock %}
