{% extends "guest_checklist/taxes_deadline.html" %}

{% block form_desc %}
  {{ super() }}
  
  <p>If you are acting as a company (e.g., an LLC or corporation) with its own TIN, you should fill out the W9 with the
  information for that entity. If you are not incorporated, then please fill out the W9 with the information
  of the individual that payment will be made to.</p>

  <p>Please retitle your upload to include the department you were booked by and the taxpayer name on the W9. For example, if the Guests department booked Mario to do a voice acting panel, his upload would be titled "Guests - Mario - W9.pdf."</p>
{% endblock %}
