{% extends "guest_checklist/bio_deadline.html" %}

{% block deadline_headline %}Announcement Information{% endblock %}
{% block deadline_text %}
{% if guest.bio_status %}
  You have already provided us with your bio information, but you can use the link above to update it.
  {% if not guest.bio_pic %}
    We encourage you to upload a bio pic (which you have NOT yet done) so that we can
    include it on our website.
  {% endif %}
{% else %}
  Use this form to add a bio, pic, and your socials so we can let attendees know you'll be at {{ c.EVENT_NAME }}!
{% endif %}
{% endblock %}

{% block form_headline %}Guest/Group Info for {{ guest.group.name }}{% endblock %}

{% block form_extra %}
{% endblock %}
