{% extends "guest_checklist/charity_deadline.html" %}
{% block deadline_text %}
{{ c.EVENT_NAME }} runs a yearly charity auction. Let us know if you’d like to contribute any signed merchandise!
{% endblock %}
{% block form_desc %}
  {{ c.EVENT_NAME }} hosts a yearly charity auction, with 100% of proceeds going to
  <a href="http://childsplaycharity.org/" target="_blank">Child's Play</a>. Do you have any cool stuff you can
  sign that you think would sell at the auction? Our attendees love it when <em><strong>their heroes</strong></em> sign
  stuff! If you've got anything to donate, please tell us what it is!

<br/><br/>Our auction starts on {{ c.AUCTION_START|datetime_local("%A at %-H%p") }} and goes until everything is sold (usually around 3 hours).
{% endblock %}
