{% extends "guest_checklist/merch_deadline.html" %}

{%- set HAS_ROCK_ISLAND = c.ROCK_ISLAND in c.GUEST_MERCHS and guest.group_type in c.ROCK_ISLAND_GROUPS -%}


{% block deadline_text %}
{% if guest.merch_status %}
    You have submitted information for Rock Island, but you can edit it using the link above.
{% else %}
    Please let us know by the above deadline whether you want to utilize our "Rock Island" merch selling service.
    Once opted in, you will have until <strong>{{ c.ROCK_ISLAND_DEADLINE|datetime_local }}</strong> to input your inventory.
{% endif %}
{% endblock %}

{% block form_desc %}
<p>Please fill in your information for Rock Island below.</p>
<p>
    <a href="../static/RockIsland.pdf">
      Click here for more info about our Rock Island service!
    </a>
</p>
{% endblock %}