{% if snippet %}
  <tr>
    <td width="25">{{ macros.checklist_image(guest.stage_plot_status) }}</td>
    <td><b><a href="stage_plot?guest_id={{ guest.id }}">
      {% block deadline_headline %}Stage Layouts & Tech Requests{% endblock %}</a></b></td>
    <td><i>Deadline:</i> {{ guest.deadline_from_model('stage_plot')|datetime_local }}</td>
  </tr>
  <tr>
    <td colspan="3">
      {% block deadline_text %}
        We require that you upload an exact description of your desired stage layout.
        Please be sure to include any needed extra rental requests, setlists, information regarding video/visuals, etc...
        <br/></br>
        Failure to do so may result in you not receiving the setup you expect or want.
      {% endblock %}
      <br/></br>
    </td>
  </tr>
{% else %}
  <h2>{% block form_title %}Stage Layout for {{ guest.group.name }}{% endblock %}</h2>

  {% block form_desc %}
    {% if guest.stage_plot_status %}
      <a href="{{ guest.stage_plot.url }}">Click here to view the stage layouts you uploaded.</a>
      <br/><br/>
      Need to update something?
    {% endif %}

    Please upload your desired stage layouts. Also include any needed extra rental
    requests, set lists, information regarding video/visuals, etc...
    <br/><br/>
    This can be in the form of written directions, an image, PDF, or a zipfile
    containing a collection of files explaining what you need.
  {% endblock %}

  <br/><br/>

  <form method="post" action="stage_plot" class="form-horizontal" role="form" enctype="multipart/form-data">
    <input type="hidden" name="guest_id" value="{{ guest.id }}" />
    <input type="hidden" name="id" value="{{ guest_stage_plot.db_id }}" />
    {{ csrf_token() }}
    <div class="form-group">
      <label class="col-sm-3 control-label optional-field">Stage Layouts</label>
      <div class="col-sm-6">
        <input type="file" name="plot" />
      </div>
      {% if guest.stage_plot and guest.stage_plot.filename %}
      <div class="clearfix"></div>
      <p class="help-block col-sm-6 col-sm-offset-3">Uploading a new file will replace the existing one.</p>
      {% endif %}
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label optional-field">Additional Notes</label>
      <div class="col-sm-6">
        <textarea name="notes" class="form-control">{{ guest_stage_plot.notes }}</textarea>
      </div>
    </div>
    {% block form_extra %}{% endblock %}
    <input type="submit" class="btn btn-primary" value="Upload Desired Stage Layouts" />
  </form>
{% endif %}
