<!doctype html>
<html>
<head>
    <title> Season Passes </title>
</head>
<body>

<h3 align="center"> 2014 Supporter Season Passes </h3>

This year we're doing something new; when you decide to <a href="givingExtra.html">kick in extra</a>,
there's a donation level where we throw in a Season Pass for all events run by MAGFest.  This includes
<a target="_blank" href="http://magstock.net/">MAGStock</a>, 
<a target="_blank" href="http://www.bitgengamerfest.com/">Bitgen</a>, and
<a target="_blank" href="http://www.missiontix.com/events/product/17615/magfest-presents-game-over-baltimore-ii">Game Over</a>.

<br/> <br/>

You'll be emailed before each event and given a chance to fill out a form to claim your complementary
tickets.  These tickets are non-transferable; you're welcome to claim them for yourself but may not
sell or transfer them to anyone else.

</body>
</html>
