<html>
<head>
    <title> Badge Counts </title>
</head>
<body>

<h3 align="center"> Group Badge Counts </h3>

Two numbers are displayed in the "Badges" column for a group.  The first is the number
of badges purchased, and the second is the total number of badges.  Here's what this means:

<br/> <br/>

When a group registers, they indicate how many badges they're paying for.  However, we
admins often want to assign attendees to specific groups.  Sometimes people have 
paid for their own badges but still work with a group.  Other times we create a group
to keep track of a group of guests and the people they're bringing, but those people
are getting their badges comped.

<br/> <br/>

So the first badges number refers only to the number
of badges which the group is paying for.  You can assign attendees to the group on the
registration form for that attendee; these attendees will not count towards the group's
badges purchased unless you explicitly mark the badge as "paid by group".

</body>
</html>
