<html>
<head>
    <title> MAGFest - Dealer Arrangements </title>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css" />
    <style type="text/css">
        li { padding-top:10px }
    </style>
    <script type="text/javascript" src="../static/lib/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $.get("dealerRules.html", function(rules) {
                $("#rules").html(rules);
            });
        });
    </script>
</head>
<body>

<h3 class="center">Dealers</h3>

<div id="rules" />

</body>
</html>
