<html>
<head>
    <title> Explanation of Extra 15 </title>
</head>
<body>

<h3 align="center"> "Extra 15" Shifts </h3>

Some department chairs find it too chaotic to have one shift end just as
another shift is beginning, especially when staffers show up late for shifts.
This can leave a room desparately understaffed for a short time, as most
of your staffers have left as their shifts end before the staffers who are
supposed to start have arrived.

<br/> <br/>

To combat this problem, you may create "extra 15" shifts, which make the
shifts 15 minutes longer than their duration would indicate.  So a 2 hour
"extra 15" shift that starts at 3pm will actually have a staffer working
from 3 - 5:15pm instead of from 3-5pm.

</body>
</html>
