{% extends "base.html" %}
{% block title %}Email Links{% endblock %}
{% block content %}

<a href="mailto:eli@courtwright.org?bcc={{ all }}">Email all Attendees</a>

<br/> <br/>

<a href="mailto:eli@courtwright.org?bcc={{ unpaid }}">Email Unpaid Attendees</a>

<br/> <br/>

<a href="mailto:eli@courtwright.org?bcc={{ paid }}">Email Paid Attendees</a>

<br/> <br/>

<a href="mailto:eli@courtwright.org?bcc={{ neednot }}">Email Attendees Who Got Free Badges</a>

<br/> <br/>

<a href="mailto:eli@courtwright.org?bcc={{ groupies }}">Email Attendees Whose Badges Were Group-Paid</a>


{% endblock %}
