{% extends "preregistration/preregbase.html" %}
{% import 'panel_macros.html' as panel_macros %}
{% block title %}Panel Application{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}
  {% include "panels_common.html" %}

  <div class="panel">
    <div class="panel-body">
    {% if c.APP_LIMIT and attendee.panel_applications|length >= c.APP_LIMIT %}
      You have already submitted the maximum number of panels ({{ c.APP_LIMIT }}). Please contact your liaison if
      you need to change a panel or submit more ideas.

      <br/><br/><a href="{{ return_to }}" class="btn btn-primary">Go Back</a>
    {% else %}
      {% if c.APP_LIMIT %}
        You may submit up to {{ c.APP_LIMIT }} panel ideas.
        {% if attendee.panel_applications %}
          You have already submitted {{ attendee.panel_applications|length }}.
        {% endif %}
      {% endif %}
      <form method="post" action="guest" class="form-horizontal" role="form">

      <input type="hidden" name="attendee_id" value="{{ attendee_id }}" />
      <input type="hidden" name="return_to" value="{{ return_to }}" />

      <h3>Panel Information</h3>
      {% include "panel_app_form.html" %}

      <h3>Additional Information</h3>
      <div class="form-group">
        <label class="col-sm-3 control-label">When are you NOT available?</label>
        <div class="col-sm-6">
          <textarea class="form-control" name="unavailable" rows="4" required="required">{{ app.unavailable }}</textarea>
        </div>
        <div class="clearfix"></div>
        <p class="help-block col-sm-9 col-sm-offset-3">
          Please let us know of any schedule conflicts due to prior obligations, travel times, or other needs.
          (e.g. you made a deal with a fairy godmother to get here and have to be back in your room by midnight.)
          Panels run form 12 PM to 3 AM Thursday, 10 AM to 3 AM Friday, 10 AM to 3 AM Saturday, and 10 AM to 3 PM Sunday.
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label optional-field">Is there anything else you would like to provide regarding your submission?</label>
        <div class="col-sm-6">
          <textarea class="form-control" name="extra_info" rows="4">{{ app.extra_info }}</textarea>
        </div>
        <div class="clearfix"></div>
        <p class="help-block col-sm-9 col-sm-offset-3">
          This can include information not for public consumption, but merely things the event needs to know.
        </p>
      </div>

      <h3>Other Panelists</h3>
      {% include "other_panelists_form.html" %}

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <button type="submit" class="btn btn-primary">Submit Panel Idea</button>
          {% if not c.APP_LIMIT or attendee.panel_applications|length < c.APP_LIMIT %}
            <button type="submit" name="ignore_return_to" value="1" class="btn btn-success">Submit and Add Another Panel</button>
          {% endif %}
        </div>
      </div>
      </form>
    {% endif %}
    </div>
  </div>
{% endblock %}
