{% set room_type = 'suite' if app.assigned_suite_type else 'room' %}
{% set has_or_had_parent = app.parent_application or app.former_parent_id %}
<html>
<head></head>
<body>
<p>
    {{ app.attendee.full_name }},<br/>
    {% if not app.entry_started and not has_or_had_parent %}
        This message is to confirm that you have declined your {{ room_type }} reservation awarded in the {{ c.EVENT_NAME_AND_YEAR }} hotel lottery.
        This decision is final. We have also withdrawn your {% if app.valid_group_members %}and your {{ c.HOTEL_LOTTERY_GROUP_TERM|lower }} members' entries{% else %}entry{% endif %} from the hotel lottery.
    {% else %}
        <strong><span class="text-danger">{{ app.award_status_str }}</span></strong>
        This {{ room_type }} has been returned to the lottery{% if has_or_had_parent and not app.entry_started %} and your lottery entry has been withdrawn{% endif %}.
    {% endif %}
</p>
{% if not has_or_had_parent %}
<p>
    {% if not app.entry_started %}We appreciate you letting us know you don't need your {{ room_type }} reservation, and we will award this {{ room_type }} to another lottery entrant. T{% else %} We t{% endif %}hank you for participating in the {{ c.EVENT_NAME_AND_YEAR }} hotel lottery.
</p>
{% elif app.entry_started and (c.HOTEL_LOTTERY_OPEN or c.STAFF_HOTEL_LOTTERY_OPEN and app.qualifies_for_staff_lottery) %}
<p>
    If you'd like to be eligible for future lottery runs, you can
    {% if app.guarantee_policy_accepted %}
    leave your {{ c.HOTEL_LOTTERY_GROUP_TERM|lower }} and re-activate your previous lottery entry
    {% else %}
    withdraw from and re-enter the lottery
    {% endif %}
    by {% if c.ATTENDEE_ACCOUNTS_ENABLED %}logging into{% else %}visiting{% endif %} your <a href="{{ c.URL_BASE }}/hotel_lottery/index?attendee_id={{ app.attendee.id }}" target="_blank">lottery options page</a>.
</p>
{% endif %}
</body>
</html>