<html>
<head></head>
<body>
<p>
    {{ attendee.full_name }},<br/>
    Your registration qualifies for entering the {{ c.EVENT_NAME_AND_YEAR }} hotel lottery, but you haven't entered yet. 
    {% if c.HOTEL_LOTTERY_FORM_WAITLIST %}
    The deadline for entering the first run of the lottery is in {{ ((c.HOTEL_LOTTERY_FORM_WAITLIST - now_localized()).total_seconds() // 86400)|int }} days, on {{ c.HOTEL_LOTTERY_FORM_WAITLIST|datetime_local("%B %-d, %Y at %-I:%M%p %Z") }},
    {% else %}
    The lottery closes in {{ ((c.HOTEL_LOTTERY_FORM_DEADLINE - now_localized()).total_seconds() // 86400)|int }} days, on {{ c.HOTEL_LOTTERY_FORM_DEADLINE|datetime_local("%B %-d, %Y at %-I:%M%p %Z") }},
    {% endif %}
    so hurry and <a href="{{ c.URL_BASE }}/hotel_lottery/start?attendee_id={{ attendee.id }}" target="_blank">enter your preferences</a> before then!
</p>
<p>
    If you do not wish to enter the lottery, you do not need to do anything. This will be the only reminder email we send for the hotel lottery unless you start an entry.
</p>
<p>
    If you have any questions, please email us at {{ c.HOTEL_LOTTERY_EMAIL|email_only|email_to_link }}.
</p>
</body>
</html>