<html>
<head></head>
<body>
<p>
    {{ application.attendee.full_name }},<br/>
    This is notify you that your room group's leader has withdrawn the group's entry from the {{ room_or_suite }} lottery.
    Your group ("{{ application.parent_application.room_group_name }}") still has a {{ "standard room" if room_or_suite == "suite" else "suite" }} lottery entry.
</p>
<p>
    Room groups must always have either a room or suite lottery, and we will notify you if your group leader disbands the group.
    You can alternatively <a href="{{ c.URL_BASE }}/hotel_lottery/room_group?id={{ application.id }}" target="_blank">leave your room group</a> to enter the room and/or suite lottery as an individual. As a reminder, the room lottery closes at {{ c.HOTEL_LOTTERY_FORM_DEADLINE|datetime_local }}.
</p>
<p>You can also review the lottery terms and policies and view your group's current {{ "standard room" if room_or_suite == "suite" else "suite" }} lottery entry by logging into the <a href="{{ c.URL_BASE }}/hotel_lottery/index?attendee_id={{ application.attendee.id }}" target="_blank">lottery options page</a>.</p>
</body>
</html>