<html>
<head></head>
<body>
<p>
    {{ application.attendee.full_name }},<br/>
    This is notify you that {% if group_disbanded %}the room group you were in, "{{ parent.room_group_name }}", has been disbanded{% else %}you have been removed from the room group "{{ parent.room_group_name }}".{% endif %}
</p>
<p>
    {% if application.wants_room or application.wants_suite %}
    Since you entered the lottery before joining the room group, we have reverted back to your status before joining. You {{ application.current_status_str }}.
</p>
<p>
    For more options, log into your <a href="{{ c.URL_BASE }}/hotel_lottery/index?attendee_id={{ application.attendee.id }}" target="_blank">lottery options page</a>.
    {% else %}
    This means that you currently {{ application.current_status_str }}. You can enter the lottery by logging into your <a href="{{ c.URL_BASE }}/hotel_lottery/index?attendee_id={{ application.attendee.id }}" target="_blank">lottery options page</a>.
    {% endif %}
</p>
</body>
</html>