{% set _award_rooms = (app.attendee.room_assignments if app.attendee else [])
                      |selectattr('status', 'in', [c.ASSIGNED, c.SECURED])|list %}
{% set _has_suite = _award_rooms|selectattr('inventory.is_suite')|list|length > 0 %}
{% set room_type = 'suite' if _has_suite else 'room' %}
<html>
<head></head>
<body>
<p>
    {{ app.attendee.full_name }},<br/>
    <strong><span class="text-success">Congratulations! You{% if app.parent_application %}r {{ c.HOTEL_LOTTERY_GROUP_TERM|lower }} leader has{% else %} have{% endif %} successfully confirmed your hotel reservation{{ 's' if _award_rooms|length > 1 else '' }} for {{ c.EVENT_NAME_AND_YEAR }}!</span></strong>
</p>
{% if not app.parent_application %}
<p>
    You can <a href="{{ c.URL_BASE }}/hotel_lottery/rooms?attendee_id={{ app.attendee.id }}" target="_blank">view and update your reservation{{ 's' if _award_rooms|length > 1 else '' }} here</a>.
    If you have any questions about your {{ room_type }} amenities or hotel services, please contact your hotel.
</p>
{% endif %}

<strong>Reservation Details</strong>
{% include 'emails/hotel/_rooms_table.html' with context %}
<ul>
    {% if not app.parent_application and app.wants_ada %}<li><strong>Requested Accommodations</strong>: {{ app.ada_requests }}</li>{% endif %}
    {% if not app.parent_application %}
        <li><em>Primary Guest</em>: {{ app.attendee.effective_hotel_first_name }} {{ app.attendee.effective_hotel_last_name }}</li>
        {% if app.valid_group_members %}<li><em>Other Guests</em>: {{ app.group_member_names|readable_join }}</li>{% endif %}
    {% endif %}
</ul>
</body>
</html>
