{% extends "base.html" %}{% set admin_area=True %}
{% block title %}API Access{% if not admin_account.is_admin %} for {{ admin_account.attendee.full_name }}{% endif %}{% endblock %}

{% block content %}

  <div
      id="new_token"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="new_token_title"
      style="display: none">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="new_token_title">
            <span class="glyphicon glyphicon-plus"></span>
            New API Token
          </h4>
        </div>
        <form method="post" action="index" class="form-horizontal" role="form">
          <div class="modal-body">
            {{ csrf_token() }}
            <input type="hidden" name="id" value="None" />
            {{ macros.form_group(ApiToken, 'name') }}
            {{ macros.form_group(
                ApiToken,
                'description',
                type='textarea',
                label='Intended Usage',
                help='Please describe how you intend to use your API access.') }}
            <div class="form-group">
              <label class="col-sm-3 control-label">Access Controls</label>
              <div class="col-sm-9">
                <div class="form-control-static checkbox">
                  {%- set opts = admin_account.allowed_api_access_opts -%}
                  {{ macros.checkgroup_opts('access', opts, defaults=[c.API_READ|string]) }}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <h1>
    API Access{% if not admin_account.is_admin %} for {{ admin_account.attendee|form_link }}{% endif %}
    {% if show_revoked %}
      <a href="index" class="btn btn-xs btn-plain">
    {% else %}
      <a href="index?show_revoked=true" class="btn btn-xs btn-default">
    {% endif %}
        <span class="glyphicon glyphicon-filter"></span>
        Show Revoked Tokens
      </a>
    <button type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#new_token">
      <span class="glyphicon glyphicon-plus"></span>
      New API Token
    </button>
  </h1>

  {% if api_tokens %}
    <div class="responsive-table">
      <table class="table table-striped table-hover datatable">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Name</th>
            <th>Description</th>
            <th>Access</th>
            <th>Token</th>
            <th>Issued</th>
            <th>Revoked</th>
          </tr>
        </thead>
        <tbody>
          {% for token in api_tokens %}
            <tr>
              <td
                  data-order="{{ token.admin_account.attendee.full_name }}"
                  data-search="{{ token.admin_account.attendee.full_name }}">
                {{ token.admin_account.attendee|form_link }}
              </td>
              <td>{{ token.name }}</td>
              <td>{{ token.description }}</td>
              <td>{{ token.access_labels|join(', ') }}</td>
              <td class="text-nowrap">{{ token.id }}</td>
              <td data-order="{{ token.issued_time }}">
                {{ token.issued_time|datetime_local('%B %-e, %Y, %-I:%M%p') }}
              </td>
              <td data-order="{{ token.revoked_time }}">
                {% if token.revoked_time %}
                  {{ token.revoked_time|datetime_local('%B %-e, %Y, %-I:%M%p') }}
                {% else %}
                  <form method="post" action="revoke_api_token" role="form">
                    <input type="hidden" name="id" value="{{ token.id }}"/>
                    <button class="btn btn-xs btn-danger" type="submit">Revoke</button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div>
      No API tokens have been created yet.
    </div>
  {% endif %}
{% endblock %}
