{% extends "base.html" %}{% set admin_area=True %}
{% block title %}API Access Info{% endblock %}

{% block content %}
  <style type="text/css">
    .row {
      margin-bottom: 60px;
    }

    li {
      list-style: none;
    }

    li pre {
      margin: 10px 0;
    }
  </style>

  {% for name, methods in services %}
    <div class="row">
      <div class="col-sm-6">
        <h2>{{ name|title }}</h2>
      </div>
      <div class="col-sm-6">
        <ul>
          {% for method, params in methods %}
            {% set comma = joiner(', ') %}
            <li>
              <h3>{{ method }}</h3>
              <pre>{"method": "{{ name }}.{{ method }}"{% if params %}, "params": [{% for param in params %}{{ comma() }}"{{ param }}"{%endfor%}]{% endif %}}</pre>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
{% endblock %}
