{% extends "base.html" %}{% set admin_area=True %}
{% set title_text = "Showcase Studios" %}
{% import 'forms/macros.html' as form_macros with context %}
{% block content %}
<div class="card card-body">
<h2>
  {{ c.EVENT_NAME }} Indies Studios <small><a href="index">Back to Index</a></small>
</h2>
<p>
  <a href="../showcase/apply" class="btn btn-primary">Add a Studio</a>
  <a href="mailto:{{ c.INDIE_SHOWCASE_EMAIL|email_only }}?bcc={{ primary_contact_emails|join(',') }}" class="btn btn-info">Email All Studios</a>
</p>
<table class="table table-hover datatable" data-page-length="-1">
<thead>
  <tr>
    <th>Studio Name</th>
    <th>Primary Contacts</th>
    <th data-orderable="false"></th>
    <th>Website</th>
    <th>Games</th>
  </tr>
</thead>
<tbody>
{% for studio in studios %}
  <tr>
    <td><a href="studio?id={{ studio.id }}">{{ studio.name }}</a></td>
    <td>
      {% for contact in studio.primary_contacts %}
        {{ contact.full_name }} | 
        <a href="mailto:{{ contact.email_to_address }}">{{ contact.email_to_address }}</a>
        {% if contact.cellphone_num -%} | {{ contact.cellphone_num }}{% endif %}
        {% if not loop.last %}<br/>{% endif %}
      {% endfor %}
    </td>
    <td>
      {% if studio.primary_contacts|length > 1 %}
      <a class="btn btn-sm btn-primary" href="mailto:{{ c.INDIE_SHOWCASE_EMAIL|email_only }}?bcc={{ studio.primary_contacts|map(attribute='email_to_address')|join(',') }}">Email All Contacts</a>
      {% endif %}
    </td>
    <td>
      {{ studio.website|url_to_link(is_relative=False) }}
    </td>
    <td>
      {% for game in studio.games %}
      <a href="edit_game?id={{ game.id }}" target="_blank">{{ game.title }} <i class="fa fa-external-link"></i></a> ({{ game.showcase_type_label }})
      {% if not loop.last %}<br/>{% endif %}
      {% endfor %}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
