{% extends "base-admin.html" %}
{% block title %}Dietary Restrictions{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<h2> Dietary Restrictions </h2>

We feed our 
{% if attendee.badge_type == c.GUEST_BADGE %}
    guests
{% else %}
    volunteers
{% endif %}
three meals per day during {{ c.EVENT_NAME }}, and our chefs have an easier time planning meals
when they know what kind of food restrictions we all have.

<br/> <br/>

<form method="post" action="food_restrictions">
    {{ csrf_token() }}
    <input type="hidden" name="id" value="{{ fr.db_id }}" />

    {{ fr.html_checkgroup('standard') }}

    <br/> <br/>
    Please select sandwich options you like. This is to determine how much to buy: <br/>
    {{ fr.html_checkgroup('sandwich_pref') }}

    <br/> <br/>
    Let us know if you have any other allergies or restrictions,
    please use commas to separate each allergy and food restriction.
    (We do not serve seafood or use ingredients with seafood in it.)
    <textarea name="freeform" rows="3" cols="80">{{ fr.freeform }}</textarea>

    <br/> <br/> <input type="submit" value="Upload Restrictions" />

    <br/> <br/>
    [1] Does not eat meat. We understand that there are different types of vegetarians, but due to the amounts and restrictions we have to cook, we cannot accommodate all types. If you only eat chicken, please indicate that in the text box.
    <br/> <br/>
    [2] Does not eat animal by-products
</form>

<script>
    $(function () {
        $(':checkbox[value={{  c.VEGETARIAN }}]').parent().append('[1]');
        $(':checkbox[value={{  c.VEGAN }}]').parent().append('[2]');
    });
</script>

{% endblock %}
