{% extends "base-admin.html" %}
{% block title %}Volunteer Login{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<!-- Custom styles for this template -->
<link href="../static/styles/login.css" rel="stylesheet">

<div class="container">
    {% if c.DEV_BOX or c.AFTER_SHIFTS_CREATED %}
        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Volunteer Login</h2>
            <input type="text" class="form-control" placeholder="First and Last Name" name="full_name" value="{{ full_name }}" required autofocus>
            <input type="email" class="form-control" placeholder="Email address" name="email" value="{{ email }}" required>
            <input type="text" class="form-control" placeholder="Zip Code" name="zip_code" value="{{ zip_code }}" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    {% else %}
        <div class="well">
            Shifts are not yet available. If you are signed up as a volunteer, you will 
            be emailed when shifts become available.  We anticipate that volunteer shifts and the volunteer checklist will go live on {{ c.SHIFTS_CREATED }}.
            You should receive an email with more information at that time, thanks so much for volunteering!
        </div>
    {% endif %}
</div>

<div class="text-center">
    {% popup_link "../static_views/howToStaff.html" "How do I volunteer?" %}
</div>

{% endblock %}
