You are signed up for {{ attendee.weighted_hours }} hours (after weighting)

<br/> <br/>
After working each shift, make sure you get a department chair to initial under the <b>Worked</b> column below.
If your shifts are not marked as worked, you won't
{% if attendee.paid != NEED_NOT_PAY %}
    get your shirt and/or badge refund, plus you won't
{% endif %}
get a free badge or free hotel room space next year.

<br/> <br/>
Free food is available in the Hospitality Suite in Retreat I & II* located on the 3rd floor of the Retreat building for food during any of the following times:
<ul>
    <li>Breakfast: 8am to 11am</li>
    <li>Lunch: 1pm to 4pm</li>
    <li>Dinner: 6pm to 10pm</li>
    <li>Overnight: 10pm to 5am</li>
</ul>

<br/><br/>
*Exit the elevator in Retreat building on the 3rd floor and go to the right. Retreat I & II will be on the right shortly down the hall.

{% if attendee.badge_type == ATTENDEE_BADGE %}
    You'll become eligible for food after signing up for at least 12 weighted hours <b>AND</b> working at least 6 weighted hours.  Please come to Staffing Ops (in the Fest Ops room) to get your ribbon marked after working your first shift and getting your department head to sign this sheet.
    <br/>
{% endif %}

<br/>

{% if attendee.shifts %}
    <i>You should report to a Department Chair for each department you're working before the start of your first shift:</i>
    <div style="margin-left:5% ; font-weight:bold">
        {% must_contact attendee %}
    </div>

    <br/>
    <table width="95%" align="center">
    <tr style="font-weight:bold">
        <td>Job</td>
        <td>Dept</td>
        <td>Start</td>
        <td>Hours</td>
        <td>Weight</td>
        <td>Worked</td>
    </tr>
    {% for shift in attendee.shifts %}
        <tr>
            <td>{{ shift.job.name }}</td>
            <td>{{ shift.job.get_location_display }}</td>
            <td>{{ shift.job.start_time|time:"gA"|lower }} {{ shift.job.start_time|date:"D" }}</td>
            <td>{{ shift.job.duration }}</td>
            <td>(x{{ shift.job.weight }})</td>
            <td>__________</td>
        </tr>
        {% if shift.job.description %}
            <tr>
                <td colspan="5" align="center" valign="top" style="padding-top:0px"><i>{{ shift.job.description }}</i><br/><br/></td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    <h3>You have not signed up for any shifts.</h3>
{% endif %}
