You are signed up for {{ attendee.weighted_hours }} hours (after weighting)

<br/> <br/>
After working each shift, make sure you get a department chair to initial under the <b>Worked</b> column below.
If your shifts are not marked as worked, you won't
{% if attendee.paid != NEED_NOT_PAY %}
    get your shirt and/or badge refund, plus you won't
{% endif %}
get a free badge or free hotel room space next year.

<br/> <br/>
Free food is available in the Hospitality Suite in Room 6176 during the following times:
<ul>
    <li>Breakfast: 7:00 am to 11:00 am</li>
    <li>Lunch: 12:00 pm to 4:00 pm</li>
    <li>Dinner: 5:00 pm to 9:00 pm</li>
    <li>Overnight: 9:00 pm to 4:00 am (or until the hot food has run out, whichever occurs first)</li>
</ul>

{% if attendee.badge_type == ATTENDEE_BADGE %}
    You'll become eligible for food after signing up for at least 12 weighted hours <b>AND</b> working at least 6 weighted hours.  Please come to Staffing Ops (in the Fest Ops room) to get your ribbon marked after working your first shift and getting your department head to sign this sheet.
    <br/>
{% endif %}

<br/>
In addition to the Hospitality Suite, you can buy food at the Galaxy Cafe.  To get there, go to the far back of the Maryland Ballroom foyer, then go through the doors and turn left.  Just before you get to the Security desk in the hallway, look to your left and there will be a wide set of stairs going down.  Go down those stairs and then the Galaxy Cafe will be on your right.  You can use the Galaxy Cafe during any of the following times:
<ul>
    <li>Breakfast ($13.00): 6:30am - 8:00am</li>
    <li>Lunch ($15.00): 1:00pm - 2:30pm</li>
    <li>Dinner ($15.00): 7:00pm - 9:00pm</li>
</ul>

{% if attendee.shifts %}
    <i>You should report to a Department Chair for each department you're working before the start of your first shift:</i>
    <div style="margin-left:5% ; font-weight:bold">
        {% must_contact attendee %}
    </div>

    <br/>
    <table width="95%" align="center">
    <tr style="font-weight:bold">
        <td>Job</td>
        <td>Dept</td>
        <td>Start</td>
        <td>Hours</td>
        <td>Weight</td>
        <td>Worked</td>
    </tr>
    {% for shift in attendee.shifts %}
        <tr>
            <td>{{ shift.job.name }}</td>
            <td>{{ shift.job.location_label }}</td>
            <td>{{ shift.job.start_time|time:"gA"|lower }} {{ shift.job.start_time|date:"D" }}</td>
            <td>{% if shift.job.is_setup or shift.job.is_teardown %}__________
                {% else %}{{ shift.job.duration }}{% endif %}</td>
            <td>(x{{ shift.job.weight }})</td>
            <td>__________</td>
        </tr>
        {% if shift.job.description %}
            <tr>
                <td colspan="5" align="center" valign="top" style="padding-top:0px"><i>{{ shift.job.description }}</i><br/><br/></td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% else %}
    <h3>You have not signed up for any shifts.</h3>
{% endif %}
