{% extends "mits_base.html" %}
{% block body %}

<h2>MAGFest Indie Tabletop Showcase Application</h2>

This is your application for the MAGFest Indie Tabletop Showcase for your production team
<a href="team">{{ team.name }}</a>.  If you are not a member of {{ team.name }} then please
<a href="logout">log out</a>.

{% if team.steps_completed < c.MITS_APPLICATION_STEPS %}
    <h3 style="color:red">You have completed {{ team.completion_percentage }}% of your application!</h3>
    You <b>must</b> complete the remaining steps below by {{ c.MITS_SUBMISSION_DEADLINE|datetime_local }} to be considered for the showcase.
{% else %}
    <h3 style="color:green">You have completed your application!</h3>
    You can continue to edit your information below anytime until {{ c.MITS_EDITING_DEADLINE|datetime_local }}.  We expect to have completed our judging {{ c.MITS_RESPONSES_EXPECTED }} and expect to send out responses shortly after that.
{% endif %}


<h3>Manage Your Team</h3>

<p>
    We offer up to {{ c.MITS_BADGES_PER_TEAM }} complementary badges to each accepted team; each team member must
    commit to spending <b>at least {{ c.MITS_HOUR_REQUIREMENT }} running games</b> at the table space we provide.
</p>
<p>
    Additional team members must purchase their badges.  Transfer of badges between team members during the event is prohibited.
</p>
<table>
{% for applicant in team.applicants|sort(attribute='full_name') %}
    <tr>
        <td><ul><li></li></ul></td>
        <td>{{ applicant.full_name }}</td>
        <td>[<a href="applicant?id={{ applicant.id }}">Edit</a>]</td>
        <td>
            {% if applicant.primary_contact %}
                <i>Receives Emails</i>
            {% endif %}
        </td>
        <td>
            <form method="post" action="set_primary_contact">
                {{ csrf_token() }}
                <input type="hidden" name="id" value="{{ applicant.id }}" />
                {% if applicant.primary_contact %}
                    <input type="submit" value="Stop Sending Emails To This Person" />
                {% else %}
                    <input type="hidden" name="enable" value="true" />
                    <input type="submit" value="Include This Person on MITS Emails" />
                {% endif %}
            </form>
        </td>
        <td>
            {% if not applicant.attendee_id %}
                <form method="post" action="delete_applicant">
                    {{ csrf_token() }}
                    <input type="hidden" name="id" value="{{ applicant.id }}" />
                    <input type="submit" value="Delete" />
                </form>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% if team.can_add_badges %}
    <a href="applicant?id=None">Add a Team Member</a>
{% endif %}


<h3>Manage Your Games</h3>

<table>
{% for game in team.games|sort(attribute='name') %}
    <tr>
        <td><ul><li></li></ul></td>
        <td>{{ game.name }}</td>
        <td>[<a href="game?id={{ game.id }}">Edit</a>]</td>
        <td>
            <form method="post" action="delete_game">
                {{ csrf_token() }}
                <input type="hidden" name="id" value="{{ game.id }}" />
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
{% endfor %}
</table>

<a href="game?id=None">Add a Game</a>


{% if team.steps_completed >= 2 %}
    <h3>Manage Your Pictures</h3>
    We require applicants to upload pictures of their games to help us assess their current state of development.

    <table>
    {% for picture in team.pictures|sort(attribute='filename') %}
        <tr>
            <td><ul><li></li></ul></td>
            <td><a target="_blank" href="{{ picture.url }}" title="{{ picture.description }}">{{ picture.filename }}</a></td>
            <td>
                <form method="post" action="delete_picture">
                    {{ csrf_token() }}
                    <input type="hidden" name="id" value="{{ picture.id }}" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
    <a href="picture?id=None">Add a Picture</a>

    <br/> <br/>
    While you are <b>required</b> to upload at least one picture of your game, you may also optionally upload
    other documents such as rulebooks to assist our judges.  We can even include links to these documents on our
    website to help promote your game if you specifically request that we do so.

    <table>
    {% for doc in team.documents|sort(attribute='filename') %}
        <tr>
            <td><ul><li></li></ul></td>
            <td><a target="_blank" href="{{ doc.url }}" title="{{ doc.description }}">{{ doc.filename }}</a></td>
            <td>
                <form method="post" action="delete_document">
                    {{ csrf_token() }}
                    <input type="hidden" name="id" value="{{ doc.id }}" />
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
    <a href="document?id=None">Add a Document</a>
{% endif %}


{% if team.steps_completed >= 3 %}
    <h3>Request Timeslots</h3>

    <p>Tell us specifically when during the event you're available to present.</p>

    <p><a href="schedule?id={{ team.schedule.id if team.schedule else 'None' }}">Manage Requested Schedule Times</a></p>
{% endif %}

{% if team.steps_completed >= 4 %}
    <h3>Manage Hotel Room Requests</h3>

    <p>We have a limited number of rooms set aside for people who need hotel space and haven't secured it for themselves.</p>

    <p>Please let us know whether or not you would like to request room space.</p>

    <p><a href="hotel_requests">Enter your hotel request information</a></p>
{% endif %}

{% if team.steps_completed == 5 %}
    <h3>Submit Your Application</h3>
    <p>
        Now that you've filled out all of your information above, the only remaining step is to formally submit this
        application.  After you do so, our judges will begin evaluating it, so please do not do so until you're ready
        for us to begin judging.
    </p>
    <p>
        <form method="post" action="submit_for_judging">
            <input type="submit" value="Submit For Judging" />
        </form>
    </p>
{% endif %}

{% endblock %}
