<html>
<head></head>
<body>
    <strong>{{ c.EVENT_NAME_AND_YEAR }} Emails Awaiting Approval</strong>

    <p>
        The following automated emails have copies ready to send, but their current send policy is not set to {{ c.EMAIL_POLICYS[c.AUTOSEND] }}.
        You can use the links below to view the current emails waiting to send and set the send policy.
        
        <br/><br/>Setting the policy to {{ c.EMAIL_POLICYS[c.AUTOSEND] }} will approve all current and future copies for sending.
        <br/>Setting the policy to {{ c.EMAIL_POLICYS[c.DISABLED] }} will instead remove the existing copies and prevent new copies from being generated.
        They won't appear in future reports unless re-enabled.
    </p>
    {% if depts_by_sender[primary_sender|email_only] %}
    <p>
      <strong>Note</strong>: You need either full admin access to email management or admin access to one of the emails' departments
      in order to change that email's send policy.
    </p>
    {% endif %}

      {% for sender, emails in pending_emails_by_sender.items() %}
      <br/><br/>
          <b>{{ sender }}{% if depts_by_sender[sender|email_only] %} ({% for dept in depts_by_sender[sender|email_only] %}{{ dept|form_link(true) }}{% endfor %}){% endif %}</b>
          <ul>
            {% for email, count in emails.items() %}
                <li>
                    <b>{{ email.subject }}</b> ({{ count }} awaiting approval): 
                    <a href="{{ c.URL_BASE }}/email_admin/automated_email?id={{ email.id }}">View/Manage</a>
                </li>
            {% endfor %}
          </ul>
      {% endfor %}

    <p>
      The emails above are set to generate but not send; this allows departments have control over the text content
      and timing of their automated emails. You can set the "Default Send Policy" on an email if you want to change how it behaves in future years.
    </p>
</body>
</html>
