{% extends "mivs_base.html" %}
{% block body %}

<h2>Assign Judges to {{ game.title }}</h2>

<a class="return-link" href="index">Return to main judge/game list</a>

  <strong>{{ game.title }}'s Platform(s)</strong>: {{ game.platforms_labels|join(' / ') }}<br/>
  <strong>{{ game.title }}'s Genre(s)</strong>: {{ game.genres_labels|join(' / ') }}<br/><br/>

{% if game.reviews %}
    {{ game.title }} already has the following judges assigned:
    <form method="post" action="remove">
        {{ csrf_token() }}
        <input type="hidden" name="game_id" value="{{ game.id }}" />
        <input type="hidden" name="return_to" value="assign_judges?game_id={{ game.id }}" />
        <table class="table">
        <thead>
            <tr>
                <th>Judge</th>
                <th>Video Review</th>
                <th>Game Review</th>
                <th>Remove Judge</th>
            </tr>
        </thead>
        <tbody>
            {% for review in game.reviews %}
                <tr>
                    <td>{{ review.judge.full_name }}</td>
                    <td>{{ review.video_status_label }}</td>
                    <td>{{ review.game_status_label }}</td>
                    <td><input type="checkbox" name="judge_id" value="{{ review.judge.id }}" /></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <input type="submit" value="Remove Selected Judges" />
    </form>
{% else %}
    {{ game.title }} currently has no judges assigned to review it.
{% endif %}

{% if matching %}
    <h3>Judges matching {{ game.title }}'s platforms</h3>

    The following judges have platforms which match {{ game.title }}'s listed platforms.

    <form method="post" action="assign">
        {{ csrf_token() }}
        <input type="hidden" name="game_id" value="{{ game.id }}" />
        <input type="hidden" name="return_to" value="assign_judges?game_id={{ game.id }}" />
        <table class="table">
            <thead>
                <tr>
                    <th>Judge</th>
                    <th>Platforms</th>
                    <th>Genres</th>
                    <th>Matching Genres?</th>
                    <th>Assign <a href="#" onClick="return mivs.checkAll(this)">(Check All)</a></th>
                </tr>
            </thead>
            <tbody>
            {% for judge in matching %}
                <tr>
                    <td>{{ judge.full_name }}</td>
                    <td>{{ judge.platforms_labels|join(' / ') }}
                      {% if judge.platforms_text %}Other: {{ judge.platforms_text }}{% endif %}</td>
                    <td>{{ judge.genres_labels|join(' / ') }}</td>
                    <td>{{ matching_genre|yesno }}</td>
                    <td><input type="checkbox" name="judge_id" value="{{ judge.id }}" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Assign Selected Judges" />
    </form>
{% endif %}

{% if nonmatching %}
    <h3>Other Judges</h3>

    Below is a list of judges whose platforms do NOT match {{ game.title }}'s listed platforms,
    who you may still assign to review this game anyway as you find appropriate:

    <form method="post" action="assign">
        {{ csrf_token() }}
        <input type="hidden" name="game_id" value="{{ game.id }}" />
        <input type="hidden" name="return_to" value="assign_judges?game_id={{ game.id }}" />
        <table class="table">
            <thead>
                <tr>
                    <th>Judge</th>
                    <th>Platforms</th>
                    <th>Genres</th>
                    <th>Assign <a href="#" onClick="return mivs.checkAll(this)">(Check All)</a></th>
                </tr>
            </thead>
            <tbody>
            {% for judge in nonmatching %}
                <tr>
                    <td>{{ judge.full_name }}</td>
                    <td>{{ judge.platforms_labels|join(' / ') }}
                    {% if judge.platforms_text %}Other: {{ judge.platforms_text }}{% endif %}s</td>
                    <td>{{ judge.genres_labels|join(' / ') }}</td>
                    <td><input type="checkbox" name="judge_id" value="{{ judge.id }}" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Assign Selected Judges" />
    </form>
{% endif %}

{% endblock %}
