{% extends "mivs_base.html" %}
{% block body %}

<h2>Add a Judge</h2>

Enter the name and email address of the person you'd like to register as a MIVS judge.
<ul>
    <li>If this person is not already in our registration database, they will be registered for a complementary Staff badge.</li>
    <li>If this person doesn't already have an admin account, one will be created for them ONLY with MIVS judging access.</li>
    <li>Otherwise MIVS judging access will be added onto their existing registration/account.</li>
</ul>

<form method="post" action="create_judge" role="form" class="form-horizontal">
    {{ csrf_token() }}

    <div class="form-group">
        <label class="col-sm-3 control-label">First Name</label>
        <div class="col-sm-6">
            <input class="form-control focus" type="text" name="first_name" value="{{ first_name }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Last Name</label>
        <div class="col-sm-6">
            <input class="form-control focus" type="text" name="last_name" value="{{ last_name }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Email Address</label>
        <div class="col-sm-6">
            <input class="form-control focus" type="text" name="email" value="{{ email }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Genres</label>
        <div class="col-sm-6">
            {{ macros.checkgroup(judge, 'genres') }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Platforms Owned</label>
        <div class="col-sm-6">
            {{ macros.checkgroup(judge, 'platforms') }}
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6 col-sm-offset-3">
            <input id="platforms-other" class="form-control" type="text" name="platforms_text" value="{{ judge.platforms_text }}" placeholder="Other platform(s)"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label optional-field">MIVS Staff Notes</label>
        <div class="col-sm-6">
            <textarea class="form-control" name="staff_notes" rows="4">{{ judge.staff_notes }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Add Judge</button>
        </div>
    </div>
</form>

{% endblock %}
