{% extends "mivs_base.html" %}
{% block body %}

<h2>Edit {{ judge.full_name }}</h2>

<form method="post" action="edit_judge" role="form" class="form-horizontal">
    <input type="hidden" name="id" value="{{ judge.id }}" />
    {{ csrf_token() }}

    <div class="form-group">
        <label class="col-sm-3 control-label">Response Status</label>
        <div class="col-sm-6">
            <select name="status" class="form-control">
              {{ options(c.MIVS_JUDGE_STATUS_OPTS, judge.status) }}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Genres</label>
        <div class="col-sm-6">
            {{ macros.checkgroup(judge, 'genres') }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Platforms Owned</label>
        <div class="col-sm-6">
            {{ macros.checkgroup(judge, 'platforms') }}
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6 col-sm-offset-3">
            <input id="vr_text" class="form-control" type="text" name="vr_text" value="{{ judge.vr_text }}" placeholder="VR/AR platform(s)"/>
        </div>
        <script type="text/javascript">
            var showOrHideVRText = function() {
                setVisible('#vr_text', $(":checkbox[name=platforms][value={{ c.VR }}]").prop("checked"));
            };
    
            $(function () {
            showOrHideVRText();
                $(":checkbox[name=platforms]").click(showOrHideVRText);
            });
        </script>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">PC Specs and Other Platforms</label>
        <div class="col-sm-6">
          <textarea name="platforms_text" class="form-control" rows="4" placeholder="List their PC specs and any other platforms they own.">{{ judge.platforms_text }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Email Address</label>
        <div class="col-sm-6 form-control-static">
            {{ judge.attendee.email }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Has MIVS Submission?</label>
        <div class="col-sm-6">
          <label class="control-label optional-field">
            <input type="radio" name="no_game_submission" value="0" {% if not judge.no_game_submission %}checked{% endif %} /> Yes
          </label>
          <label class="control-label optional-field">
            <input type="radio" name="no_game_submission" value="1" {% if judge.no_game_submission %}checked{% endif %} /> No
          </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label optional-field">MIVS Staff Notes</label>
        <div class="col-sm-6">
            <textarea class="form-control" name="staff_notes" rows="4">{{ judge.staff_notes }}</textarea>
        </div>
    </div>
    
    <h3><a href="assign_games?judge_id={{ judge.id }}" target="_blank">Assigned Games</a></h3>
    <table class="table striped-table">
        <thead>
            <th>Game</th>
            <th>Video Review</th>
            <th>Game Review Status</th>
            <th>Review Scores</th>
            <th>Review Notes</th>
        </thead>
        <tbody>
            {% for review in judge.reviews %}
            <tr>
                <td>{{ review.game.title }}</td>
                <td>{{ review.video_status_label }}</td>
                <td>{{ review.game_status_label }}</td>
                <td>Readiness: {{ review.readiness_score }}
                    <br/>Design: {{ review.design_score }}
                    <br/>Enjoyment: {{ review.enjoyment_score }}
                </td>
                <td>{{ review.game_review }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Upload Changes</button>
            <a href="#" class="btn btn-danger" onClick="confirmDisqualify()">Disqualify for {{ c.EVENT_YEAR }}</a>
        </div>
    </div>
</form>
<script type="text/javascript">
    var confirmDisqualify = function() {
        bootbox.confirm({
        backdrop: true,
        title: 'Disqualify {{ judge.full_name }}?',
        message: 'Are you sure you want to disqualify this judge for this year? This will trigger an email letting them know they are disqualified.',
        buttons: {
            confirm: { label: 'Disqualify Judge', className: 'btn-danger' },
            cancel: { label: 'Nevermind', className: 'btn-outline-secondary' }
        },
        callback: function (result) {
            if (result) {
            window.location = "disqualify_judge?id={{ judge.id }}"
            }
        }
    });
}
</script>
{% endblock %}
