{% extends "guestbase.html" %}

{% block body %}
  <h3>MIVS Training</h3>
  <p>MIVS Training is a google form to help you learn about being an Indie at MAGFest. Once you have completed the form, a secret phrase will be shown that you must put in below to complete this checklist item.</p>

  <p>You can reference the <a href="{{ c.MIVS_HANDBOOK_URL }}" target="_blank">(MIVS Indie Handbook)</a> during Training.</p>

  <p><a href="{{ c.MIVS_TRAINING_URL }}" target="_blank">(Begin MIVS Training)</a></p>

  <form class="form form-horizontal" method="post" action="mivs_training">
  <input type="hidden" name="guest_id" value="{{ guest.id }}"/>
    {{ macros.form_group(guest.group.studio, 'training_password', label="Secret Phrase", help="What was the secret phrase shown after you finishing MIVS Training?") }}
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <button type="submit" class="btn btn-primary">Submit Secret Phrase</button>
      </div>
    </div>
  </form>
{% endblock body %}
