{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Badge Printing{% endblock %}
{% block content %}

{{ "js/servertimecheck.js"|serve_static_content }}

<h2> Printed Badges {% if pending %}Queue{% endif %}</h2>

<div style="text-align:center">
    <br/> <a href="../registration/index">Click Here</a> to view the preregistered and checked in attendee list
    {% if pending %}<br/><a href="index">Click here</a> to view the badges that have been printed.
    {% else %}<br/><a href="index?pending=True">Click here</a> to view the badges waiting to be printed.{% endif %}
</div>

<br/>
<ul class="pagination{% if not page %} pagination-lg{% elif pages|length > 100 %} pagination-sm{% endif %}">
    {% for pagenum in pages %}
        {% if pagenum == page %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ pagenum }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="index?pending={{ pending }}&page={{ pagenum }}">{{ pagenum }}</a>
        {% endif %}
        </li>
    {% endfor %}
</ul>
<div class="card">
{% if page %}
<table class="table table-striped" data-page-size="9999999">
<thead><tr>
    <th>Full Name</th>
    <th>Badge Type</th>
    <th>Badge Number</th>
    <th>Badge Name</th>
    <th>Ribbon</th>
    {% if pending %}<th>Last Queued</th>
    <th>Error</th>
    {% else %}<th>Last Printed</th>{% endif %}
</tr></thead>
{% for attendee in badges %}
    {% if pending %}
    {% set latest_print_job = attendee.print_requests|sort(reverse=true, attribute="created.when")|first %}
    {% else %}
    {% set latest_print_job = attendee.print_requests|selectattr("printed")|sort(reverse=true, attribute="printed")|first %}
    {% endif %}
    <tr>
        <td id="name_{{ attendee.id }}" style="text-align:left">
            <a href="../badge_printing/attendee_print_jobs?id={{ attendee.id }}">{{ attendee.last_first }}</a>
        </td>
        <td><nobr>{{ latest_print_job.json_data['badge_type_label'] }}</nobr></td>
        <td>{{ latest_print_job.json_data['badge_num'] }}</td>
        <td>
            {{ latest_print_job.json_data['badge_printed_name'] }}
        </td>
        <td id="ribbon_{{ attendee.id }}">{{ latest_print_job.json_data['ribbon_labels']|join(' / ') }}</td>
        <td>
            {% if pending %}
            {{ latest_print_job.queued|time_day_local|default("N/A", true) }}
            {% else %}
            {{ latest_print_job.printed|time_day_local }}
            {% endif %}
        </td>
        {% if pending %}
        <td>
            {{ latest_print_job.errors }}
        </td>
        {% endif %}
    </tr>
{% endfor %}
</table>
{% endif %}
</div>
<ul class="pagination{% if not page %} pagination-lg{% elif pages|length > 100 %} pagination-sm{% endif %}">
    {% for pagenum in pages %}
        {% if pagenum == page %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ pagenum }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="index?pending={{ pending }}&page={{ pagenum }}">{{ pagenum }}</a>
        {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}