{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Guest Group Admin{% endblock %}
{% block content %}

  <style>
    h1 {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .dataTables_length .dataTables_addon {
      margin-left: 25px;
    }
  </style>
  <div id="group-type-opts" style="display:none;">
    {{ options(c.GROUP_TYPE_OPTS) }}
  </div>

  <h1>Guest Groups <a class="btn btn-primary" href="group_form">Add a Group</a></h1>
  <div id="show-opts" class="btn-group" style="margin-bottom: 10px" data-toggle="buttons"></div>

  <div class="table-responsive">
    <table id="group-table" class="datatable table table-striped" data-info="false" data-page-length="-1">
      <thead>
      <tr>
        <th>Group</th>
        {% for item in c.GUEST_CHECKLIST_ITEMS -%}
          {% if item.header -%}
            <th>{{ item.header }}</th>
          {% endif -%}
        {% endfor -%}
        <th>Group Type</th>
      </tr>
      </thead>
      <tbody>
      {% for group in groups -%}
        <tr id="{{ group.id }}" class="{{ group.guest.group_type_label|lower if group.guest else "" }} group-row">
          <td>
            <a href="group_form?id={{ group.id }}" target="_blank">{{ group.name }}</a>
            <span class="guest_info">
                {% if group.guest -%}
                  &nbsp;
                  <div class="btn-group" role="group" aria-label="...">
                  <a href="group_info?id={{ group.guest.id }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-cog" data-toggle="tooltip" title="{{ group.guest.group_type_label }} Info"></span></a>
                  <a href="../guests/index?id={{ group.guest.id }}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-check" data-toggle="tooltip" title="{{ group.guest.group_type_label }} Checklist"></span></a>
                  </div>
                {% endif %}
            </span>
          </td>
          {% for item in c.GUEST_CHECKLIST_ITEMS -%}
            {% if item.header -%}
              {% set item_display = group.guest[item.name ~ '_status'] if group.guest else '' -%}

              {% if item.is_link -%}
                <td>
                  {%- if item_display.startswith('../') or item_display.startswith('/') or item_display.startswith('http') -%}
                    {{ item_display|url_to_link("Yes", "_blank") }}
                  {%- else -%}
                    {{ item_display }}
                  {%- endif -%}
                </td>
              {% else -%}
                <td>{% if item_display is not none %}{{ item_display }}{% endif %}</td>
              {% endif -%}
            {% endif -%}
          {% endfor -%}
          <td class="guest">
            {% if group.guest -%}
              <button class="btn btn-sm btn-danger btn-unmark" data-group_id="{{ group.id }}" data-group_name="{{ group.name }}">Unmark as {{ group.guest.group_type_label }}</button>
            {% else -%}
              <select class="form-control" class="group_type" name="group_type">
                <option value="">Select a group type</option>
                {{ options(c.GROUP_TYPE_OPTS) }}
              </select>
              <button class="btn btn-sm btn-primary btn-mark" data-group_id="{{ group.id }}" data-group_name="{{ group.name }}">Mark as Group Type</button>
            {% endif -%}
          </td>
        </tr>
      {% endfor -%}
      </tbody>
    </table>
  </div>

  <p><a href="everything">Export all group data as a CSV file</a></p>

  <script>
      var markAsGuest = function (groupId, groupName) {
          var $group = $('#' + groupId),
              $guest = $group.find('.guest'),
              $guestInfo = $group.find('.guest_info'),
              $button = $guest.find('.btn').prop('disabled', true).text('Marking...');
          var groupType = $guest.find('select[name=group_type]').val(),
              groupTypeLabel = $guest.find('select[name=group_type] option:selected').text();
          $.ajax({
              method: 'POST',
              url: 'mark_as_guest',
              data: {
                  group_id: groupId,
                  group_type: groupType,
                  csrf_token: csrf_token
              },
              success: function (response) {
                  if (response.id) {
                      $guest.empty().append(
                          '<button class="btn btn-sm btn-danger btn-unmark" data-group_id="' + groupId + '" data-group_name="' + groupName + '">Unmark as ' + groupTypeLabel + '</button>'
                      ).parents('tr').removeClass('nonguest').addClass('guest');
                      $guestInfo.empty().append(
                          '(<a href="group_info?id=' + response.id + '" class="text-nowrap">Group Info</a>)'
                      );
                  }
                  toastr.info(response.message);
              }
          });
      };

      var removeAsGuest = function (groupId, groupName) {
          var $group = $('#' + groupId),
              $guest = $group.find('.guest'),
              $guestInfo = $group.find('.guest_info'),
              $button = $guest.find('.btn').prop('disabled', true).text('Unmarking...');
          $.ajax({
              method: 'POST',
              url: 'remove_as_guest',
              data: {
                  group_id: groupId,
                  csrf_token: csrf_token
              },
              success: function (response) {
                  if (response.id) {
                      $guest.empty().append(
                          '<select class="form-control" class="group_type" name="group_type">'+
                          '<option value="">Select a group type</option>'+
                          $('#group-type-opts').innerHTML +
                          '</select>'+
                          '<button class="btn btn-sm btn-primary btn-mark" data-group_id="' + groupId + '" data-group_name="' + groupName + '">Mark as Group Type</button>'
                      ).parents('tr').removeClass('guest').addClass('nonguest');
                      $guestInfo.empty();
                  }
                  toastr.info(response.message);
              }
          });
      };

      $(function() {
          $(window).load(function() {
              $('#show-opts').append(
                  '<label class="btn btn-default dataTables_addon">' +
                  '<input type="radio" name="group_type" autocomplete="off" id="show-all"> All groups' +
                  '</label>');
              $('#show-all').on('change', function() {$('.group-row').show()});

              {% for key, type in c.GROUP_TYPE_OPTS %}
                  $('#show-opts').append(
                      '<label class="btn btn-default dataTables_addon">' +
                      '<input type="radio" name="group_type" autocomplete="off" id="only-{{ type|lower }}s"> Only {{ type }}s' +
                      '</label>');

                  var $only{{ type }}s = $('#only-{{ type|lower }}s').on('change', function () {
                      $('.group-row').hide();
                      setVisible('.{{ type|lower }}', $only{{ type }}s.prop('checked', true))
                  });
              {% endfor %}

              $('#{{ groups_filter }}').prop('checked', true).trigger('click');
          });

          $('#group-table').on('click', '.btn-mark', function(event) {
              event.preventDefault();
              var groupId = $(this).data('group_id'),
                  groupName = $(this).data('group_name');
              markAsGuest(groupId, groupName);
          });

          $('#group-table').on('click', '.btn-unmark', function(event) {
              event.preventDefault();
              var groupId = $(this).data('group_id'),
                  groupName = $(this).data('group_name');
              bootbox.confirm({
                  backdrop: true,
                  title: 'Unmark "' + groupName + '" as Guest Group',
                  message: 'Are you sure you want to unmark "' + groupName + '" as a guest group? This will permanently erase their bio info, stage layouts, agreements, etc...',
                  buttons: {
                      confirm: { label: 'Unmark as Guest Group', className: 'btn-danger' },
                      cancel: { label: 'Nevermind', className: 'btn-default' }
                  },
                  callback: function(result) {
                      if (result) {
                          removeAsGuest(groupId, groupName);
                      }
                  }
              });
          });
      });
  </script>

{% endblock %}
