<p>
    When the lottery concludes and results are announced, anyone awarded a room <strong><em>must</em></strong> then follow up and post a payment guarantee (credit card) to their reservation once it is created. Award information will include the deadline to post guarantee and instructions on how to do do so.
</p>

<p>
    <span class="text-danger"><strong>Hotel policy requires we cancel reservations without a form of payment to guarantee the reservation.</strong></span>
    Every year we have cancellations for lack of payment guarantee. PLEASE pay attention to your email following the conclusion of the lottery, and ensure you promptly confirm your reservation with a payment guarantee.
</p>