{% extends "./preregistration/preregbase.html" %}
{% set title_text = "Hotel Lottery Applications for " ~ application.attendee.full_name %}
{% set app_or_parent = application.parent_application or application %}
{% set app_editable = not application.current_lottery_closed and not application.status.finalized %}

{% block content %}
{% include 'hotel_lottery/withdraw_confirm.html' with context %}

<script type="text/javascript">
    var setStep = function (selector) {
        $('.collapse').hide();
        $(selector).show();
        if (selector == '#select-action') {
            const querystring = new URLSearchParams(window.location.search);
            querystring.delete('confirm');
            querystring.delete('action');
            history.replaceState( {} , '', "{{ c.PAGE }}" + '?' + querystring.toString() );
        }
    }

    leaveConfirm = function(event){
        var formToSubmit = this;
        event.preventDefault();
        bootbox.confirm({
            title: "Leave {{ c.HOTEL_LOTTERY_GROUP_TERM }}?",
            message: "<p>This will remove you from the group's lottery entry.</p>" + 
                     "<p>The group leader will be notified via email. " +
                    "You will {% if application.guarantee_policy_accepted %}be reverted to the lottery entry you had before joining the group{% else %}be withdrawn from the hotel lottery{% endif %}.</p>" +
                    "<p>Are you sure?</p>",
                        
            buttons: {
                confirm: {
                    label: 'Yes, Leave Group',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'Nevermind',
                    className: 'btn-outline-secondary'
                }
            },
            callback: function (result) {
                if(result) {
                    formToSubmit.submit();
                }
            }
        });
    }

    swapConfirm = function(event) {
        var formToSubmit = this;
        event.preventDefault();
        bootbox.confirm({
            title: "Change Entry Type?",
            {% if application.entry_type == c.SUITE_ENTRY %}
            message: "<p>This will convert your suite lottery entry to a standard room entry.</p>" + 
                     "<p><strong>Your entry will be considered incomplete until you confirm your entry details on the next page.</strong></p>" +
                     "<p>Are you sure?</p>",
            {% else %}
            message: "<p>This will convert your room lottery entry to a suite entry. You'll still be able to enter the lottery for a standard room.</p>" + 
                     "<p><strong>Your entry will be considered incomplete until you confirm your entry details on the next page.</strong></p>" +
                     {% if application.wants_ada and 'suite_ada_info' not in c.HOTEL_LOTTERY_FORM_STEPS %}
                     "<p>Additionally, <span class='text-danger'>we cannot accommodate ADA requests for suite entries</span>, so your ADA request and details will be removed from your entry.</p>" +
                     {% endif %}
                    "</p><p>Are you sure?</p>",
            {% endif %}
            buttons: {
                confirm: {
                    label: 'Yes, Change to {{ "Suite" if application.entry_type == c.ROOM_ENTRY else "Room" }} Entry',
                    className: 'btn-primary'
                },
                cancel: {
                    label: 'Nevermind',
                    className: 'btn-outline-secondary'
                }
            },
            callback: function (result) {
                if(result) {
                    formToSubmit.submit();
                }
            }
        });
    }

    $().ready(function () {
        {% if confirm != '' %}
        $('#confirm').show();
        {% else %}
        $('#select-action').show();
        {% endif %}
        if($('#leave-group').length) { $("#leave-group").submit(leaveConfirm); }
        if($('#switch-type').length) { $("#switch-type").submit(swapConfirm); }
    })
</script>

<div class="card card-body">
    {% if not c.ATTENDEE_ACCOUNTS_ENABLED %}
    {% set attendee = application.attendee %}
    {% include 'confirm_tabs.html' with context %}
    {% endif %}
    
    <h1>{{ c.EVENT_NAME }}{% if c.STAFF_HOTEL_LOTTERY_OPEN and application.qualifies_for_staff_lottery %} Staff{% endif %} Hotel Lottery <span class="text-muted h4">for {{ application.attendee.full_name }}</span></h1>
    <hr/>
    {% if c.HOTEL_LOTTERY_ROOM_INVENTORY and app_or_parent.finalized %}
        {% if app_or_parent.status == c.REJECTED or application.status == [c.REMOVED, c.CANCELLED] %}
        <p>
            <strong><span class="text-danger">{{ application.award_status_str }}</span></strong>
            {% if app_or_parent.status == c.CANCELLED and app_or_parent.assigned_hotel %}
                This may be because you{% if application.parent_application %}r {{ c.HOTEL_LOTTERY_GROUP_TERM|lower }} leader{% endif %} did not confirm the booking in time.
                {% if not application.parent_application %}Please email us at {{ c.HOTEL_LOTTERY_EMAIL|email_only|email_to_link }} if you have any questions.{% endif %}
            {% endif %}
        </p>
        {% if c.HOTEL_LOTTERY_OPEN or (c.STAFF_HOTEL_LOTTERY_OPEN and application.qualifies_for_staff_lottery) %}
        <p>You can use the button below to re-enter the{% if not c.STAFF_HOTEL_LOTTERY_OPEN and application.is_staff_entry %} attendee{% endif %} lottery.</p>

        <form method="post" action="reenter_lottery">
            {{ csrf_token() }}
            <input type="hidden" name="id" value="{{ application.id }}" />
            <button type="submit" class="btn btn-primary">Re-enter Lottery</button>
        </form>
        {% endif %}
        {% else %}
        <p>
            <strong><span class="text-success">{{ application.award_status_str }}</span></strong>
        </p>
        <p>
            Your booking is currently
            {% if app_or_parent.status == c.SECURED %}
                <span class="text-success">confirmed</span>! You can <a href="{{ application.booking_url }}" target="_blank">view or edit your booking</a> at any time.
            {% elif app_or_parent.status == c.AWARDED and app_or_parent.booking_url %}
                <span class="text-danger">awaiting confirmation</span>.
                Please{% if application.parent_application %} ask your {{ c.HOTEL_LOTTERY_GROUP_TERM|lower }} leader to{% endif %}
                {% if not application.parent_application %} <a href="{{ application.booking_url }}" target="_blank">confirm your booking</a>{% else %}confirm your booking{% endif %} as soon as possible.
            {% elif app_or_parent.status == c.AWARDED %}
                being processed. You{% if application.parent_application %}r {{ c.HOTEL_LOTTERY_GROUP_TERM|lower }} leader{% endif %} should expect an acknowledgment email with a link to confirm your booking in the coming weeks.
            {% endif %}
        </p>
            {% include 'hotel_lottery/award_info.html' with context %}
        {% endif %}
    {% else %}
        {% include 'hotel_lottery/app_management.html' with context %}
    {% endif %}
</div>

<div class="modal fade" id="lottery-terms" tabindex="-1" role="dialog" aria-labelledby="lottery-terms-title">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="lottery-terms-title">Hotel Lottery Policies</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% include 'hotel_lottery/lottery_tos.html' with context %}
        </div>
        <div class="modal-footer"><button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Close</button></div>
      </div>
    </div>
</div>

<div class="modal fade" id="room-group-terms" tabindex="-1" role="dialog" aria-labelledby="room-group-terms-title">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="room-group-terms-title">{{ c.HOTEL_LOTTERY_GROUP_TERM }} Information</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% include 'hotel_lottery/room_group_info.html' with context %}
        </div>
        <div class="modal-footer"><button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Close</button></div>
      </div>
    </div>
</div>
{% endblock %}
