<p>
    The {{ c.EVENT_NAME }} room lottery is open and applicable to all available room types at all {{ c.EVENT_NAME }} partner hotels, including suites, ADA rooms, and standard rooms.
    These rooms are only available through the lottery, and any unclaimed/cancelled rooms will be made available subsequently via booking links on our website as they become available.
    To ensure a safe and secure booking process, please <strong>ONLY</strong> book through these official channels -- third parties claiming to have rooms may not be looking out for your best interests!
</p>
<p>
    If this is your first time entering the room lottery or you just need a refresher on how things work, please review the following:
    <ul>
        <li>The lottery is only open to registered attendees and dealers.</li>
        <li>Only one room entry and one suite entry is allowed per attendee. Entries may be changed, modified, or withdrawn while the lottery is open.</li>
        {% if c.SHOW_HOTEL_LOTTERY_GROUPS %}
        <li>Attendees wishing to enter as a group should designate a "group leader" to complete a single room and/or suite entry. They can then invite others to join their group as group members.</li>
        {% endif %}
        <li>You will be able to rank your hotel choice, the type of room, and your check-in and check-out dates in order of preference.</li>
        <li>Results will take approximately seven business days after the lottery closes.</li>
        <li>Suites require a one night non-refundable deposit.</li>
    </ul>
</p>
<p>
    Detailed instructions are provided at each step explaining what information is needed.
    Additional information is available on the Room Lottery FAQ, or you may reach out to our <a href="mailto:{{ c.HOTEL_LOTTERY_EMAIL|email_only }}?subject=Hotel Lottery Question" target="_blank">Hotel Team</a>.
</p>
