{% extends "./preregistration/preregbase.html" %}
{% set title_text = "Hotel Room Lottery Application for " ~ application.attendee.full_name %}
{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set room_lottery = room_lottery or forms['room_lottery'] %}

{% block content %}
<h1>{{ c.EVENT_NAME }}{% if c.BEFORE_HOTEL_LOTTERY_FORM_START %} Staff{% endif %} Hotel Lottery <span class="text-muted h4">for {{ application.attendee.full_name }}</span></h1>
<div class="card">
    <div class="card-body">
        {{ form_macros.form_validation('room-lottery-form', 'validate_hotel_lottery', form_list=['RoomLottery'], callback="goToNextStep(response)", always_use_callback=False) }}

        {% if application.attendee.age_now_or_at_con and application.attendee.age_now_or_at_con < 21 %}
        <div class="alert alert-danger">
            Our records show that you will not be 21 years old by the start of {{ c.EVENT_NAME }}.
            You will not be able to complete this application if you will not be 21 on your earliest selected check-in date.
            If you believe this is an error, please contact us at {{ c.REGDESK_EMAIL|email_only|email_to_link }}.
        </div>
        {% endif %}

        <h2>Standard Room{% if suite %} & Suite{% endif %} Lottery <a class="btn btn-outline-secondary pull-right" href="index?attendee_id={{ application.attendee.id }}">Return to Options</a></h2>
        {% if not application.room_entry_completed %}
        <p>
            Please read the instructions for each step below carefully. Any completed steps (steps with a <i class='fa fa-check'></i>) will be saved if you leave and come back later, but your lottery entry is <strong>NOT</strong> complete until you see the confirmation screen.
        </p>
        <p>You can review or edit completed (<i class='fa fa-check'></i>) steps by clicking the name of the step. Changes to completed steps are saved when you click "Save and Continue" (or when you complete your entry, if you are on the last step).</p>
            {% if suite %}
            <p><strong>Note</strong>: You must enter the standard room lottery BEFORE entering the suite lottery. You will be able to complete your suite lottery entry after completing the room lottery entry below.</p>
            {% endif %}
        {% else %}
        <p>
            Below are the details for your current room lottery entry.
            Click or tap any of the steps below to update that step's information, then click "Update Room Lottery Entry" to save your changes.
        </p>
        {% endif %}

        <form novalidate method="post" id="room-lottery-form" action="room_lottery">
            {{ csrf_token() }}
            <input type="hidden" name="id" value="{{ application.id }}">
            <input type="hidden" name="suite" value="{{ suite }}">
            {{ form_macros.form_input(room_lottery.wants_room, force_hidden=True, default="1") }}
        <div class="accordion mb-3" id="room-lottery-accordion">
            {% include 'hotel_lottery/room_lottery_form.html' with context %}
        </div>
            <div class="row g-sm-3 mb-3">
                <div class="col-12">
                    <a id="return-btn" class="btn btn-outline-secondary" href="index?attendee_id={{ application.attendee.id }}">{% if not application.wants_room %}Cancel and {% endif %}Return to Options</a>
                    {% if application.room_entry_completed %}
                    <button type="submit" name="room_step" value="999" class="btn btn-primary pull-right">
                        Update Room Lottery Entry
                    </button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
