{% import 'hotel_lottery/_macros.html' as room_macros with context %}
{% if application.valid_group_members %}
    Here are the members of your {{ c.HOTEL_LOTTERY_GROUP_TERM|lower }}:
    <table class="table table-sm table-borderless">
        <tbody>
        {% for member in application.valid_group_members %}
        <tr>
            <td class="text-nowrap w-25">{{ member.attendee.full_name }}</td>
            <td>
                <div class="d-flex gap-2">
                <form method="post" action="remove_group_member"
                      {{ room_macros.confirm_attrs(
                            'Remove Group Member?',
                            '<p>This will remove {name} from your '
                            ~ c.HOTEL_LOTTERY_GROUP_TERM|lower ~ '.</p>'
                            '<p>They will be notified via email. They may be able to'
                            ' join again unless you disband the group.</p>'
                            '<p>Are you sure?</p>',
                            'Yes, Remove {name}') }}>
                    <input type="hidden" name="id" value="{{ application.id }}">
                    {{ csrf_token() }}
                    <input type="hidden" name="member_id" value="{{ member.id }}">
                    <input type="hidden" name="member_name" value="{{ member.attendee.full_name }}">
                    {% if app_editable %}
                    <button type="submit" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                    {% endif %}
                </form>
                {% if app_editable or application.finalized %}
                <form method="post" action="transfer_leadership"
                      {{ room_macros.transfer_leadership_confirm_attrs(application) }}>
                    <input type="hidden" name="id" value="{{ application.id }}">
                    {{ csrf_token() }}
                    <input type="hidden" name="member_id" value="{{ member.id }}">
                    <input type="hidden" name="member_name" value="{{ member.attendee.full_name }}">
                    <button type="submit" class="btn btn-sm btn-warning">
                        Make {{ c.HOTEL_LOTTERY_GROUP_TERM }} Leader
                    </button>
                </form>
                {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
