<p>
    In an effort to improve overall availability of rooms, anyone planning to room together may form a group of up to four people total.
    Each individual entry in a room group is weighted as though that person entered individually, <strong>plus an additional weighting for groups</strong>.
    This allows us to more efficiently fill rooms from the start and avoid cancellation churn.
</p>

<p>
    To form a room group, choose one person to complete a lottery entry for a room and/or suite for the group.
    They can then use this page or the "create a room group" link in their confirmation email to create a room group, after which they'll receive a unique invite code.
    The other three group members can then use the "Join Room Group" button below to enter the invite code and join the group.
</p>

<h3>Occupancy Limits</h3>
<p>
    Fire code and hotel policy typically limit king occupancy to three (3) guests.
    Some hotels limit king rooms to two (2) guests by fire code.
    Occupancy is limited to four (4) guests in all double rooms. Suite occupancy varies by suite type.
    Please see <a href="{{ c.HOTEL_LOTTERY_URL }}" target="_blank">our website</a> for hotel specific occupancy information.
</p>

<p>
    If a room group exceeds the occupancy limit of the awarded room, the group leader will be booked,
    followed by the roommates in the order they entered the lottery until the limit is met.
    Award notices will clearly show who was booked.
</p>

<h3>Additional Notes on Room Groups</h3>
<p>
    <ul>
        <li>Room groups awarded a room are not guaranteed rollaway beds.</li>
        <li>For privacy and security reasons, {{ c.EVENT_NAME }} is unable to answer questions related to group members or status.</li>
        <li>
            By their very nature, hotel bookings include the legal names of all guests.
            Lottery award notifications and hotel booking confirmations both contain the names of all guests.
            <strong>We strongly encourage people rooming together to know each other well.</strong>
            Should you be uncomfortable with your roommate knowing your identity,
            or if one of your roommates is uncomfortable with sharing theirs,
            we gently suggest rooming with others may not be in your best interest.
        </li>
    </ul>
</p>