{% extends "./preregistration/preregbase.html" %}
{% set title_text = "Hotel Lottery Application for " ~ application.attendee.full_name %}
{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set lottery_info = lottery_info or forms['lottery_info'] %}

{% block content %}
<div class="card card-body">
    <h1>{{ c.EVENT_NAME }}{% if c.BEFORE_HOTEL_LOTTERY_FORM_START %} Staff{% endif %} Hotel Lottery <span class="text-muted h4">for {{ attendee.full_name }}</span></h1>
    <hr/>
    {{ form_macros.form_validation('lottery-info-form', 'validate_hotel_lottery', form_list=['LotteryInfo']) }}

    <form novalidate method="post" id="lottery-info-form" action="terms">
        <input type="hidden" name="attendee_id" value="{{ attendee_id }}" />
        {{ csrf_token() }}

        <h2>How the Room Lottery Works</h2>
        {% include 'hotel_lottery/lottery_tos.html' with context %}

        {{ form_macros.input(lottery_info.terms_accepted) }}

        {% include 'hotel_lottery/data_policy.html' with context %}

        {{ form_macros.input(lottery_info.data_policy_accepted) }}
        <hr/>
        {% include 'forms/hotel/contact_info.html' with context %}

        <div class="d-flex gap-1 flex-wrap">
        {% if attendee.managers %}
            {% set room_group_owners = attendee.managers[0].get_room_group_owners(staff=attendee.staff_hotel_lottery_eligible) %}
            {% if attendee.managers and application.status in [c.PARTIAL, c.WITHDRAWN] %}
                {% for group_leader in room_group_owners %}
                <button type="submit" name="group_id" value="{{ group_leader.lottery_application.id }}" class="btn btn-primary">Join "{{ group_leader.lottery_application.room_group_name }}" {{ c.HOTEL_LOTTERY_GROUP_TERM }}</button>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if attendee.managers and application.status in [c.PARTIAL, c.WITHDRAWN] and room_group_owners %}
        <button type="submit" name="room" value="true" class="btn btn-secondary">Enter Room Lottery</button>
        <button type="submit" name="suite" value="true" class="btn btn-success">Enter Suite Lottery</button>
        <button type="submit" name="group" value="true" class="btn btn-outline-primary">Search {{ c.HOTEL_LOTTERY_GROUP_TERM }}s</button>
        {% else %}
        <button type="submit" name="group" value="true" class="btn btn-primary">Join {{ c.HOTEL_LOTTERY_GROUP_TERM }}</button>
        <button type="submit" name="room" value="true" class="btn btn-secondary">Enter Room Lottery</button>
        <button type="submit" name="suite" value="true" class="btn btn-success">Enter Suite Lottery</button>
        {% endif %}
        </div>
    </form>
</div>
{% endblock %}