{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Automated Emails{% endblock %}
{% block content %}
<script type="text/javascript">
    var deptIdChanged = function () {
        window.location = "{{ c.PAGE }}?department_id=" + $("#department_id").val() + "&{{ c.query_str_without_params(['department_id']) }}";
    };
    var emailStatusChanged = function () {
        window.location = "{{ c.PAGE }}?status=" + $("#status").val() + "&{{ c.query_str_without_params(['status']) }}";
    };
</script>

<div class="card">
    <div class="card-body">
        <div class="row g-3 mb-3">
            <div class="col-6 col-sm-4">
                <label for="department_id" class="form-text">Department</label>
                <select id="department_id" onChange="deptIdChanged()" class="form-select">
                {% if c.ADMIN_DEPARTMENTS|length > 1 %}
                    <option value="">Filter by department</option>
                    {% if c.HAS_FULL_EMAIL_ADMIN_ACCESS %}<option value="None"{% if department_id == 'None' %} selected{% endif %}>No Department</option>{% endif %}
                    <option value="All"{% if department_id == 'All' %} selected{% endif %}>All Departments</option>
                {% endif %}
                {{ options(c.ADMIN_DEPARTMENT_OPTS, department_id) }}
                </select>
            </div>
            <div class="col-6 col-sm-4">
                <label for="status" class="form-text">Email Status</label>
                <select id="status" onChange="emailStatusChanged()" class="form-select">
                <option value="">Filter by status</option>
                {{ options(c.EMAIL_STATUS_OPTS, status) }}
                </select>
            </div>
        </div>
        <div class="row g-3">
        <div class="col-6 col-sm-4">
        <form role="form" action="index">
            <div class="input-group">
                <input class="form-control" type="email" placeholder="Search by email..." name="search_text" value="{{ search_text }}">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        </div>
        <div class="col col-auto col-form-label">OR</div>
        <div class="col-6 col-sm-4">
            <form role="form" action="index">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search by subject..." name="search_text" value="{{ subject_search_text }}">
                    <input type="hidden" name="subject" value="True" />
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        </div>
    </div>
<div class="card-body">
    {{ pages(page, count) }}
<table class="table table-striped table-bordered table-sm">
<thead><tr>
    <th>Status</th>
    <th>Queued/Sent</th>
    {% if not department_id or department_id == 'All' %}
    <th>Department</th>
    {% endif %}
    <th>Subject</th>
    <th>Recipient</th>
    <th></th>
</tr></thead>
{% for email in emails %}
    <tr>
        <td>{{ "Errored" if email.error else email.status_label }}</td>
        <td style="white-space:nowrap">{{ (email.sent or email.generated)|datetime_local("%x %X") }}</td>
        {% if not department_id or department_id == 'All' %}
        <td>{{ email.department|form_link if email.deparment else 'N/A' }}</td>
        {% endif %}
        <td>{{ email.subject }}</td>
        <td><a href="sent?to={{ email.to }}">{{ email.to }}</a></td>
        <td>
            {% if email.status == c.SENT and False %}
            <form method="post" action="resend_email" id="resend_email_{{ email.id }}">
                {{ csrf_token() }}
                <input type="hidden" name="id" value="{{ email.id }}" />
                <button class="btn btn-sm btn-primary" type="submit">Resend Email</button>
            </form>
            {% elif email.error %}
            {{ email.error }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
</div>
</div>
{{ "js/resend-email-form.js"|serve_static_content }}
{% endblock %}
