{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Recently Sent Automated Emails{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row g-3">
        <div class="col-6 col-sm-4">
        <form role="form" action="index">
            <div class="input-group">
                <input class="form-control" type="email" placeholder="Search by email..." name="search_text" value="{{ search_text }}">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
        </div>
        <div class="col col-auto col-form-label">OR</div>
        <div class="col-6 col-sm-4">
            <form role="form" action="index">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search by subject..." name="search_text" value="{{ subject_search_text }}">
                    <input type="hidden" name="subject" value="True" />
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        </div>
    </div>
<div class="card-body">
    {{ pages(page, count) }}
<table class="table table-striped table-bordered table-sm">
<thead><tr>
    <th>Sent</th>
    <th>Subject</th>
    <th>Recipient</th>
    <th></th>
</tr></thead>
{% for email in emails %}
    <tr>
        <td style="white-space:nowrap">{{ email.when|datetime_local("%x %X") }}</td>
        <td>{{ email.subject }}</td>
        <td><a href="sent?to={{ email.to|urlencode }}">{{ email.to }}</a></td>
        <td>
            <form method="post" action="resend_email" id="resend_email_{{ email.id }}">
                {{ csrf_token() }}
                <input type="hidden" name="id" value="{{ email.id }}" />
                <button class="btn btn-primary" type="submit">Resend Email</button>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
</div>
</div>
{{ "js/resend-email-form.js"|serve_static_content }}
{% endblock %}
