{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Automated Emails Pending Approval{% endblock %}
{% block content %}
<script type="text/javascript">
    var deptIdChanged = function () {
        window.location = "{{ c.PAGE }}?department_id=" + $("#department_id").val() + "&{{ c.query_str_without_params(['department_id']) }}";
    };
    var emailPolicyChanged = function () {
        window.location = "{{ c.PAGE }}?status=" + $("#status").val() + "&{{ c.query_str_without_params(['status']) }}";
    };
</script>

{% macro email_table(emails) %}
  <table class="table table-striped datatable"
      data-paging="false"
      data-info="false"
      data-ordering="false">
    <thead>
    <tr class="header">
      <th>Subject</th>
      <th>Template</th>
      <th>Queued/Sent</th>
      <th>Email Policy</th>
      <th>Date Restrictions</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      {% for email in emails %}
        <tr>
          <td class="subject">
            <span>{{ email.subject }}</span>
          </td>
          <td>
            {% if email.fixture.template_url %}
            <a href="{{ email.fixture.template_url }}" target="_blank">{{ email.fixture.template_plugin_name }}</a>
            {% else %}{{ email.fixture.template_plugin_name }}{% endif %}
          </td>
          <td>{{ queued_email_counts[email.id] or 0 }} / {{ sent_email_counts[email.id] or 0 }}{% if queued_email_counts[email.id] or sent_email_counts[email.id] %} <a href="index?ident={{ email.ident }}" target="_blank">View <i class="fa fa-external-link"></i></a>{% endif %}</td>
          <td>{{ email.policy_label or 'Not Set' }}</td>
        <td>{{ email.active_when_label|linebreaksbr }}</td>
        {# <td><a href="pending_examples?ident={{ email.ident|urlencode }}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i>&nbsp;View/Edit</a></td> #}
        <td>
          {% if email.policy != c.AUTOSEND %}
              <form method="post" action="approve">
              {{ csrf_token() }}
              <input type="hidden" name="ident" value="{{ email.ident }}" />
              <input type="submit" value="Autosend" class="btn btn-sm btn-success"/>
              </form>
          {% else %}
              <form method="post" action="unapprove">
              {{ csrf_token() }}
              <input type="hidden" name="ident" value="{{ email.ident }}" />
              <input type="submit" value="Don't Autosend" class="btn btn-sm btn-warning"/>
              </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

<h2>Pending Automated Emails</h2>
<div class="card">
  <div class="card-body">
    <div class="row g-3 mb-3">
      <div class="col-6 col-sm-4">
          <label for="department_id" class="form-text">Department</label>
          <select id="department_id" onChange="deptIdChanged()" class="form-select">
          {% if c.ADMIN_DEPARTMENTS|length > 1 %}
            <option value="">Filter by department</option>
            {% if c.HAS_FULL_EMAIL_ADMIN_ACCESS %}<option value="None"{% if department_id == 'None' %} selected{% endif %}>No Department</option>{% endif %}
            <option value="All"{% if department_id == 'All' %} selected{% endif %}>All Departments</option>
          {% endif %}
          {{ options(c.ADMIN_DEPARTMENT_OPTS, department_id) }}
          </select>
      </div>
      <div class="col-6 col-sm-4">
          <label for="policy" class="form-text">Email Policy</label>
          <select id="policy" onChange="emailPolicyChanged()" class="form-select">
          <option value="">Filter by policy</option>
          {{ options(c.EMAIL_POLICY_OPTS, policy) }}
          </select>
      </div>
    </div>
{% if not automated_emails %}
  <p class="text-info">
    There are currently no automated emails. The system is probably updating,
    and should be finished in at most {{ "5" if c.DEV_BOX else "15" }} minutes.
  </p>
{% else %}
  <p>
    The emails below will be sent to any qualifying attendee or group as long as that email is active and approved.
    Attendees or groups who qualify for an email before it is approved will receive the email when it is approved.
  </p>
  <p>
    If there are date restrictions for an email, that email will not be sent outside of those dates.
    Emails may be "unapproved" after approval to stop them being sent to newly qualifying attendees or groups.
  </p>
  <hr/>
  {% for sender, emails in automated_emails.items() %}
  <a id="{{ sender|email_only }}"></a>
    <h3 class="mb-0 mt-4">{{ sender }} ({% if not depts_by_sender[sender] %}No Department{% else %}{% for dept in depts_by_sender[sender] %}{{ dept|form_link }}{% endfor %}{% endif %})</h3>
    {{ email_table(emails) }}
    {% if not loop.last %}<hr/>{% endif %}
  {% endfor %}
{% endif %}
  </div>
</div>


{% endblock %}
