{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Sent Emails{% endblock %}
{% block content %}
<div><a href="index">Go Back</a></div>

{% for email in emails  %}
    <h3>{{ email.subject }} ({{ email.when|full_datetime_local }})</h3>
    <h4>To:
      {% if email.fk_id %}
        {{ email.fk|form_link }} ({{ email.to }})
      {% else %}
        {{ email.to }}
      {% endif %}
    </h4>
    {{ macros.preview_email(email) }}
    <form method="post" action="resend_email" id="resend_email_{{ email.id }}">
        {{ csrf_token() }}
        <input type="hidden" name="id" value="{{ email.id }}" />
        <button class="btn btn-primary" type="submit">Resend Email</button>
    </form>
    <hr/>
{% endfor %}
<script src="../static/js/resend-email-form.js" type="text/javascript"></script>
{% endblock %}
