{% extends "mivs_base.html" %}
{% block body %}

<h2>Add a Game Code</h2>

<form method="post" action="code" class="form-horizontal" role="form">
    <input type="hidden" name="id" value="{{ code.db_id }}" />
    <input type="hidden" name="game_id" value="{{ code.game.id }}" />
    {{ csrf_token() }}

    <div class="form-group">
        <label class="col-sm-3 control-label">Code</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="code" value="{{ code.code }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Single or Shared Code</label>
        <div class="col-sm-6">
            {{ macros.checkbox(code, 'unlimited_use') }} This code can be shared among all judges instead of being assigned to a single judge.
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary">Add Code</button>
        </div>
    </div>
</form>

{% endblock %}
