{% extends "mits_base.html" %}

{% macro picture_manager(pic, can_delete=True) %}
<span id="{{ pic.id }}">
<a target="_blank" href="{{ pic.url }}">{{ pic.filename }}</a>
{% if can_delete %}
<button type="button" class="btn btn-xs btn-danger delete_pic" onClick="deletePic('{{ pic.id }}'); return false">Delete</button>
{% endif %}
<br/></span>
{% endmacro %}

{% block body %}

<h2>Enter Your Game Info</h2>

<form method="post" enctype="multipart/form-data" action="game" class="form-horizontal" role="form">
    {{ csrf_token() }}
    <input type="hidden" name="id" value="{{ game.db_id }}" />

    {{ macros.form_group(game, 'name', is_required=True) }}
    
    <div class="form-group">
        <label class="col-sm-3 control-label">Rules/Document</label>
        <div class="col-sm-6">
            <input type="file" name="upload_documents" multiple />
        </div>
        <p class="help-block col-sm-9 col-sm-offset-3">
            {% for doc in game.documents|sort(attribute='filename') %}
                <span id="{{ doc.id }}"
                {% if loop.first %} class="tooltip-wrapper" data-bs-toggle="tooltip" title="You must always have at least one document uploaded."{% endif %}>
                <a target="_blank" href="{{ doc.url }}">{{ doc.filename }}</a>
                <button type="button" class="btn btn-xs btn-danger delete_doc" 
                {% if loop.first %}disabled="disabled"{% else %}
                onClick="deleteDoc('{{ doc.id }}'); return false"
                {% endif %}>Delete</button>
                <br/></span>
            {% else %}
                You must upload at least one rulesbook or other document for your game.
            {% endfor %}
        </p>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Header Image</label>
        <div class="col-sm-6">
            <input type="file" name="header_image" />
            {% if game.guidebook_header %}
                {{ picture_manager(game.guidebook_header, False) }}
            {% endif %}
        </div>
        <p class="help-block col-sm-9 col-sm-offset-3">
            A {{ c.GUIDEBOOK_HEADER_SIZE|format_image_size }} image to display on the schedule next to your game details.<br/>
            {% if game.guidebook_header %}Uploading a file will replace the existing image.{% endif %}
        </p>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Thumbnail Image</label>
        <div class="col-sm-6">
            <input type="file" name="thumbnail_image" />
            {% if game.guidebook_thumbnail %}
                {{ picture_manager(game.guidebook_thumbnail, False) }}
            {% endif %}
        </div>
        <p class="help-block col-sm-9 col-sm-offset-3">
            A {{ c.GUIDEBOOK_THUMBNAIL_SIZE|format_image_size }} image to display on the schedule next to your game name.<br/>
            {% if game.guidebook_thumbnail %}Uploading a file will replace the existing image.{% endif %}
        </p>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label optional-field">Pictures</label>
        <div class="col-sm-6">
            <input type="file" name="upload_pictures" multiple />
        </div>
        <p class="help-block col-sm-9 col-sm-offset-3">
            Optional images of, e.g., game pieces and people playing the game.<br/>
            {% for pic in game.pictures|rejectattr('is_header')|rejectattr('is_thumbnail')|sort(attribute='filename') %}
                {{ picture_manager(pic) }}
            {% endfor %}
            <br/>We accept the following image types: {{ c.GUIDEBOOK_ALLOWED_IMAGE_TYPES|readable_join }}.
        </p>
    </div>

    {{ macros.form_group(game, 'description', label="Description for Internal Judging", type="textarea", is_required=True) }}
    <div class="form-group">
        <label class="col-sm-3 control-label">Age Group</label>
        <div class="col-sm-6">
            <select name="min_age" class="form-control">
                {{ options(c.MITS_AGE_OPTS, game.min_age) }}
            </select>
            <span id="age_desc"></span>
        </div>
        <p class="help-block col-sm-9 col-sm-offset-3">
        MITS reserves the right to adjust this rating based on submitted materials.
        </p>
    </div>
    {{ macros.form_group(game, 'age_explanation', label="Rating Explanation", type="textarea", help="Please explain what content your game has that rates it for the age category you selected.") }}
    {{ macros.form_group(game, 'max_players', is_required=True) }}
    {{ macros.form_group(game, 'copyrighted', type='radio_buttons', label="Copyrighted Materials", help="Does your game contain copyrighted materials?", is_required=True) }}

    {% if game.team.status == c.ACCEPTED %}
    <div class="form-group">
        <label class="col-sm-3 control-label">Description for Guidebook</label>
        <div class="col-sm-6">
            <textarea name="promo_blurb" class="form-control" rows="5">
                {{ game.promo_blurb }}
            </textarea>
        </div>
        <p class="help-block col-sm-9 col-sm-offset-3">
            If left empty, this game will not be not be added to Guidebook.
        </p>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Your Game's Genre</label>
        <div class="col-sm-6">
            <input class="form-control focus" type="text" name="genre" value="{{ game.genre }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Game's Development Phase</label>
        <div class="col-sm-6">
            <select name="phase" class="form-control">
                {{ options(c.MITS_PHASE_OPTS, game.phase) }}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Min Required Players</label>
        <div class="col-sm-6">
            <select name="min_players" class="form-control">
                {{ int_options(1, 20, game.min_players) }}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Interested In Running A Tournament?</label>
        <div class="col-sm-6">
            {{ macros.checkbox(game, 'tournament', label="Yes, we're interested in running a tournament for this game.") }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Do You Own This Game?</label>
        <div class="col-sm-6">
            {{ macros.checkbox(game, 'personally_own', label='I or the company I represent own this game.') }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Do You Own Your IP?</label>
        <div class="col-sm-6">
            {{ macros.checkbox(game, 'unlicensed', label='Not yet; this game involves IP (Intellectual Property) which I have not yet licensed.') }}
        </div>
        <p class="help-block col-sm-9 col-sm-offset-3">
            You are allowed to present games with unlicensed intellectual property if you are
            working towards securing those rights but you may NOT sell or even presell games
            with unlicensed IP even if you've paid us for the right to sell your merchandise.
        </p>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Is This Your Job?</label>
        <div class="col-sm-6">
            {{ macros.checkbox(game, 'professional', label='Yes, my employment involves working on this game for any large company, e.g. Fantasy Flight or Wizards of the Coast.') }}
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
<script type="text/javascript">
var deleteDoc = function (id) {
    $.post('delete_document', {id: id, csrf_token: csrf_token}, function(message) {
        hideMessageBox();
        $("#message-alert").addClass("alert-info").show().children('span').html(message);
        $('#' + id).remove();
    });
};
var deletePic = function (id) {
    $.post('delete_picture', {id: id, csrf_token: csrf_token}, function(message) {
        hideMessageBox();
        $("#message-alert").addClass("alert-info").show().children('span').html(message);
        $('#' + id).remove();
    });
};
$().ready(function() {
    ageToDesc = {{ c.MITS_DESC_BY_AGE|tojson }};
    explanationAges = [{{ c.TEEN }}, {{ c.MATURE }}, {{ c.ADULT }}]
    showAgeDesc = function() {
        $("#age_desc").text(ageToDesc[$.val('min_age')]);
    };
    showOrHideAgeExplanation = function() {
        $('[name="age_explanation"').parents('.form-group').toggle(explanationAges.indexOf($.val('min_age')) != -1)
    };
    $.field('min_age').on('change', function() {
        showAgeDesc();
        showOrHideAgeExplanation();
    });
    showAgeDesc();
    showOrHideAgeExplanation();
});
</script>
{% endblock %}
