{% extends "mits_base.html" %}
{% block body %}

<h2>MAGFest Indie Tabletop Showcase Application</h2>

This is your application for the MAGFest Indie Tabletop Showcase for your production team
<a href="team">{{ team.name }}</a>.  If you are not a member of {{ team.name }} then please
<a href="logout">log out</a>.

{% if team.status == c.CANCELLED %}
  {% if c.HAS_MITS_ADMIN_ACCESS %}
    <br/><br/>This application has been cancelled by its team "{{ team.name }}."
    <form method="post" action="uncancel" class="form-horizontal">
    <input type="hidden" name="id" value="{{ team.id }}" />
    {{ csrf_token() }}
    <button type="submit" class="btn btn-success">Re-enable This Application</button>
    </form>
  {% else %}
    <br/><br/>You have chosen to cancel your MITS application. If this was a mistake or if you have any questions, please contact us at {{ c.MITS_EMAIL|email_to_link }}.
  {% endif %}
{% else %}
{% if team.steps_completed < c.MITS_APPLICATION_STEPS %}
    <h3 style="color:red">You have completed {{ team.completion_percentage }}% of your application!</h3>
    You <b>must</b> complete the remaining steps below by {{ c.MITS_SUBMISSION_DEADLINE|datetime_local }} to be considered for the showcase.
{% else %}
    <h3 style="color:green">You have completed your application!</h3>
    You can continue to edit your information below anytime until {{ c.MITS_EDITING_DEADLINE|datetime_local }}.  We expect to have completed our judging {{ c.MITS_RESPONSES_EXPECTED }} and expect to send out responses shortly after that.
{% endif %}


<h3>Manage Your Team</h3>

<p>
    We offer up to {{ c.MITS_BADGES_PER_TEAM }} complementary badges to each accepted team; each team member must
    commit to spending <b>at least {{ c.MITS_HOUR_REQUIREMENT }} running games</b> at the table space we provide.
</p>
<p>
    Additional team members must purchase their badges.  Transfer of badges between team members during the event is prohibited.
</p>
<table>
{% for applicant in team.applicants|sort(attribute='full_name') %}
    <tr>
        <td><ul><li></li></ul></td>
        <td><h4>{{ applicant.full_name }}</h4></td>
        <td><a class="btn btn-default" href="applicant?id={{ applicant.id }}">Edit</a></td>
        <td>
            {% if applicant.primary_contact %}
                <i>Receives Emails</i>
            {% endif %}
        </td>
        <td>
            <form method="post" action="set_primary_contact">
                {{ csrf_token() }}
                <input type="hidden" name="id" value="{{ applicant.id }}" />
                {% if applicant.primary_contact %}
                  <button class="btn btn-warning" type="submit">Stop Sending Emails To This Person</button>
                {% else %}
                    <input type="hidden" name="enable" value="true" />
                  <button class="btn btn-primary" type="submit">Include This Person on MITS Emails</button>
                {% endif %}
            </form>
        </td>
        <td>
            {% if not applicant.attendee_id %}
                <form method="post" action="delete_applicant">
                    {{ csrf_token() }}
                    <input type="hidden" name="id" value="{{ applicant.id }}" />
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% if team.can_add_badges %}
<tr><td></td><td colspan="5"><a class="btn btn-success" href="applicant?id=None">Add a Team Member</a></td></tr>
{% endif %}
</table>



<h3>Manage Your Games</h3>

<table>
{% for game in team.games|sort(attribute='name') %}
    <tr>
        <td><ul><li></li></ul></td>
        <td><h4>{{ game.name }}</h4></td>
        <td><a class="btn btn-default" href="game?id={{ game.id }}">Edit</a></td>
        <td>
            <form method="post" action="delete_game">
                {{ csrf_token() }}
                <input type="hidden" name="id" value="{{ game.id }}" />
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>
    </tr>
{% endfor %}
<tr><td></td><td colspan="3"><a class="btn btn-success" href="game?id=None">Add a Game</a></td></tr>
</table>


{% if team.steps_completed >= 2 %}
    <h3>Manage Your Pictures</h3>
    We require applicants to upload pictures of their games to help us assess their current state of development.

    <table>
    {% for picture in team.pictures|sort(attribute='filename') %}
        <tr>
            <td><ul><li></li></ul></td>
            <td><h4><a target="_blank" href="{{ picture.url }}" title="{{ picture.description }}">{{ picture.filename }}</a></h4></td>
            <td>
                <form method="post" action="delete_picture">
                    {{ csrf_token() }}
                    <input type="hidden" name="id" value="{{ picture.id }}" />
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
            <td>
              {% if picture.is_header %}<em>Header</em>{% endif %}
              {% if picture.is_thumbnail %}<em>Thumbnail</em>{% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr><td></td><td colspan="3"><a class="btn btn-success" href="picture?id=None">Add a Picture</a></td></tr>
    </table>

    <h3>Manage Your Documents</h3>
    <p>While you are <b>required</b> to upload at least one picture of your game, you may also optionally upload
      other documents such as rulebooks to assist our judges.  We can even include links to these documents on our
      website to help promote your game if you specifically request that we do so.</p>

    <table>
    {% for doc in team.documents|sort(attribute='filename') %}
        <tr>
            <td><ul><li></li></ul></td>
            <td><h4><a target="_blank" href="{{ doc.url }}" title="{{ doc.description }}">{{ doc.filename }}</a></h4></td>
            <td>
                <form method="post" action="delete_document">
                    {{ csrf_token() }}
                    <input type="hidden" name="id" value="{{ doc.id }}" />
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    <tr><td></td><td colspan="2"><a class="btn btn-success" href="document?id=None">Add a Document</a></td></tr>
    </table>
{% endif %}

{% if team.steps_completed >= 3 %}
    <h3>Panel Submission</h3>
    <p>If you are interested in participating in or running a panel, let us know the details using the button below. Applying for a panel is optional.</p>

    <table><tr><td></td><td>
    {% if team.panel_interest != False %}
      <form method="post" action="team" class="form-inline">
      <div class="btn-group">
    {% endif %}
    <a href="panel?id={{ team.panel_app.db_id if team.panel_app else 'None' }}&schedule_id={{ team.schedule.id if team.schedule else 'None' }}" class="btn
      {% if team.panel_interest %}btn-default">Update Panel Application
      {% else %}btn-success">Apply for a Panel{% endif %}
    </a>

    {% if team.panel_interest != False %}
      <input type="hidden" name="id" value="{{ team.id }}" />
      <input type="hidden" name="no_panel" value="1" />
      {{ csrf_token() }}
      <button type="submit" class="btn btn-warning">
        {% if team.panel_interest %}Nevermind, {% endif %}I Don't Want a Panel
      </button>
      </div>
      </form>
    {% endif %}
    </td></tr></table>
{% endif %}

{% if team.steps_completed >= 4 %}
    <h3>MITS Showcase</h3>

    <p>MITS has added a new showcase available to a subset of accepted presenters.
      This is completely optional, and it's more competitive than just being accepted by MITS!</p>

    <table><tr><td></td><td>
    {% if team.showcase_interest != False %}
      <form method="post" action="team" class="form-inline">
      <div class="btn-group">
    {% endif %}

    <a href="schedule?id={{ team.schedule.id if team.schedule else 'None' }}" class="btn
      {% if team.showcase_interest %}btn-default">Update Showcase Availability
      {% else %}btn-success">Apply for the Showcase{% endif %}
    </a>

    {% if team.showcase_interest != False %}
      <input type="hidden" name="id" value="{{ team.id }}" />
      <input type="hidden" name="no_showcase" value="1" />
      {{ csrf_token() }}
      <button type="submit" class="btn btn-warning">
        {% if team.showcase_interest %}Nevermind, {% endif %}I Don't Want to Be in the Showcase
      </button>
      </div>
      </form>
    {% endif %}
    </td></tr></table>

{% endif %}

{% if team.steps_completed >= 5 %}
    <h3>Manage Hotel Room Requests</h3>

    <p>We have a limited number of rooms set aside for people who need hotel space and haven't secured it for themselves.</p>

    <p>Please let us know whether or not you would like to request room space.</p>

    <table><tr><td></td><td>
    {% if not team.no_hotel_space %}
      <form method="post" action="team" class="form-inline">
      <div class="btn-group">
    {% endif %}

    <a href="hotel_requests" class="btn
      {% if team.completed_hotel_form %}btn-default">Update Hotel Request Information
      {% else %}btn-success">Enter Hotel Request Information{% endif %}
    </a>

    {% if not team.no_hotel_space %}
      <input type="hidden" name="id" value="{{ team.id }}" />
      <input type="hidden" name="no_hotel_space" value="1" />
      {{ csrf_token() }}
      <button type="submit" class="btn btn-warning">
        {% if team.completed_hotel_form and not team.no_hotel_space %}Nevermind, {% endif %}No One Needs Hotel Space
      </button>
      </div>
      </form>
    {% endif %}
    </td></tr></table>
{% endif %}

{% if team.steps_completed == 6 %}
    <h3>Submit Your Application</h3>
    <p>
        Now that you've filled out all of your information above, the only remaining step is to formally submit this
        application.  After you do so, our judges will begin evaluating it, so please do not do so until you're ready
        for us to begin judging.
    </p>
    <p>
        <form method="post" action="submit_for_judging">
          <button class="btn btn-success" type="submit">Submit For Judging</button>
        </form>
    </p>
{% endif %}
{% if team.status == c.ACCEPTED and false %}
  <h3>Sign MITS Waiver</h3>

    <p>We require accepted MITS teams to sign a waiver to confirm our policies.
      {% if team.waiver_signed %}<br/><strong>{{ team.waiver_signature }}</strong> signed this waiver at {{ team.waiver_signed|datetime_local }}.
      {% else %}You have <strong>not</strong> signed this waiver.{% endif %}</p>

  <a target="_waiver" href="waiver" class="btn btn-primary">Review{% if not team.waiver_signature %} and Sign{% endif %} the Waiver</a>

{% endif %}
{% if team.status not in [c.ACCEPTED, c.CANCELLED] %}
  <form method="post" action="cancel" class="form-horizontal">
  <input type="hidden" name="id" value="{{ team.id }}" />

  <br/><button type="submit" id="cancel_app" class="btn btn-danger">Cancel My MITS Application</button>
  </form>
{% endif %}
<div class="form-group">
    <p class="text-center help-block">
        <br/>If you have any questions, please email us at {{ c.MITS_EMAIL|email_to_link }}.
    </p>
</div>
{% endif %}

  <script type="text/javascript">
      $('#cancel_app').on('click', function(event) {
          event.preventDefault();
          var formToSubmit = $(this).closest('form');

          bootbox.confirm({
              backdrop: true,
              message: '<p>Are you sure you want to cancel your MITS application?</p>',
              buttons: {
                  confirm: { label: 'Yes, Cancel My Application', className: 'btn-danger' },
                  cancel: { label: 'Nevermind', className: 'btn-default' }
              },
              callback: function (result) {
          if (result) {
              formToSubmit.submit();
          }
      }});
      });
  </script>

{% endblock %}
