{% extends "mits_base.html" %}
{% block body %}

<h2>MITS Showcase</h2>

<p>
    MITS has added a new showcase available to a subset of accepted presenters.
    This is completely optional, and it's more competitive than just being accepted by MITS!
</p>
<p>
    This is a time for promotion and selling, so if accepted then you should prepare for larger foot
    traffic and have all your staff ready to explain your games, demo your games, talk about your games, etc.
</p>
<p>
    The showcase is for more polished games which have either already been published or are ready for publication.
</p>

<p><strong>To apply for the showcase, simply select your availability from the times below.</strong></p>

<form method="post" action="schedule" class="form-horizontal" role="form">
    {{ csrf_token() }}
    <input type="hidden" name="id" value="{{ times.db_id }}" />

    <table class="table">
    {% for val, desc, avail_checked in list %}
        <tr>
            <td>{{ desc }}</td>
            <td>
                <label class='checkbox-label'>
                    <input type="checkbox" name="showcase_availability" value="{{ val }}" {% if avail_checked %}checked{% endif %} />
                    Available
                </label>
            </td>
        </tr>
    {% endfor %}
    <tr>
    <td colspan="2"><label class="optional-field"><input type="checkbox" name="showcase_consent" {% if team.showcase_interest %}checked="checked" {% endif %}> I agree that if my tabletop game is chosen to be a part of the {{ c.EVENT_NAME_AND_YEAR }} Indie Tabletop Showcase, information on my game and its creators may be shared by MAGFest, Inc. in its promotional materials in any form.</label>
    
    <br/><br/><button type="submit" class="btn btn-primary">Update Availability</button></td>
    </tr>
    </table>
</form>

{% endblock %}
