{% import 'forms/macros.html' as form_macros with context %}
{% extends "base.html" %}{% set admin_area=True %}
{% set title = "Panel Application" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$().ready(function () {
    let input = document.getElementById('tags');
    tagify = new Tagify(input, {
        whitelist: {{ panel_tags|safe }},
        dropdown: {
            highlightFirst: true,
            maxItems: 20,           // <- maximum allowed rendered suggestions
            classname: 'tags-look', // <- custom classname for this dropdown, so it could be targeted
            enabled: 0,             // <- show suggestions on focus
            closeOnSelect: false    // <- do not hide the suggestions dropdown once an item has been selected
        }
    })
})
</script>

<h2>Panel Application{% if not app.is_new %} for {{ app.name }}{% endif %}
    <small><a href="index">View all panel applications</a>{% if department %} or
        <a href="index?department_id={{ department.id }}">View panel applications for {{ department.name }} Department</a>{% endif %}</small></h2>

<div class="card card-body">
    <div class="row g-sm-3">
        <div class="col-12 col-sm-4 form-control-static">
        <label class="form-text">Panel Status</label>
            <form method="post" action="mark">
                {{ csrf_token() }}
                <input type="hidden" name="id" value="{{ app.id }}" />
                {% if app.status != c.PENDING %}
                    <b>{{ "Confirmed" if app.confirmed else app.status_label }}</b>
                    <br/>Change:
                {% endif %}
                {% if app.status != c.ACCEPTED %}
                    <button name="status" class="btn btn-success" value="{{ c.ACCEPTED }}">Accept</button>
                {% endif %}
                {% if app.status != c.WAITLISTED %}
                    <button name="status" class="btn btn-warning" value="{{ c.WAITLISTED }}">Waitlist</button>
                {% endif %}
                {% if app.status != c.DECLINED %}
                    <button name="status" class="btn btn-danger" value="{{ c.DECLINED }}">Decline</button>
                {% endif %}
                {% if app.status == c.ACCEPTED %}
                    <button name="status" class="btn btn-outline-secondary" value="{{ c.CANCELLED }}">Cancel Panel</button>
                {% endif %}
                <br/>
                {{ macros.popup_link("email_statuses", "Will this trigger an email?") }}
            </form>
        </div>
        <div class="col-12 col-sm-4 form-control-static">
        <label class="form-text">Panel Tags</label>
        <form method="post" action="update_tags">
            {{ csrf_token() }}
            <input type="hidden" name="id" value="{{ app.id }}" />
            <div class="d-flex gap-3">
                <div class="flex-grow-1">
                    <input id="tags" name="tags" class="form-control" value="{{ app.tags }}" placeholder="Type tags separated by a comma">
                </div>
                <div><button type="submit" class="btn btn-primary">Update</button></div>
            </div>
        </form>
        </div>
        {% if app.status == c.ACCEPTED %}
            <div class="col-12 col-sm-4 form-control-static">
                <label class="form-text">Event</label>
                <br/>
                {% if app.event_id %}
                    <a href="../schedule/form?id={{ app.event_id }}">{{ app.event.name }}</a>
                    (<a href="panel_feedback?event_id={{ app.event_id }}">leave feedback</a>)
                {% else %}
                    <a href="associate?id={{ app.id }}">Click here</a> to associate
                    this application with an event on the schedule.
                {% endif %}
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        var setTrack = function(track) {
            if ($.field('track')) {
                $.field('track').val(track);
            }
        }
    </script>

    <div class="row g-sm-3">
        {% if app.poc_id %}
            <div class="col-12 col-sm-6 form-control-static">
            <label class="form-text">Point of Contact</label>
                <form method="post" action="set_poc">
                    {{ csrf_token() }}
                    <input type="hidden" name="app_id" value="{{ app.id }}" />
                    <div class="row">
                        <div class="col-6">
                            <select class="form-select" name="poc_id">
                                {{ options(c.PANEL_POC_OPTS, app.poc_id) }}
                            </select>
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-outline-secondary" value="Change Point of Contact" />
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}

        <div class="col-12 col-sm-6 form-control-static">
            <label class="form-text">Staff Comments</label>
            <form method="post" action="update_comments">
                {{ csrf_token() }}
                <input type="hidden" name="id" value="{{ app.id }}" />
                <textarea name="comments" class="form-control mb-2" rows="3" style="width:80%">{{ app.comments }}</textarea>
                <input type="submit" class="btn btn-outline-primary" value="Update Staff Comments" />
            </form>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-lg">
            <h2>Panel Information</h2>
            <div class="card card-body shadow-sm">
                {{ form_macros.form_validation('panel-app-form', 'validate_panel_app') }}
                <form novalidate id="panel-app-form" method="post" action="form" role="form">
                    <input type="hidden" name="id" value="{{ app.id }}" />
                    {{ csrf_token() }}
                    {% include 'forms/panel/panel_info.html' %}
                    {% include 'forms/panel/panel_other_info.html' %}
                    <button type="submit" class="btn btn-primary">Update Panel Information</button>
                </form>
            </div>
        </div>
        {% set is_guest = app.group and app.group.guest %}
        <div class="col-lg">
            <h2>
                Panelists
                <a class="btn btn-sm btn-primary" data-bs-toggle="collapse" href="#new-panelist" role="button">Add Panelist</a>
            </h2>
            <div class="card card-body mb-3 collapse shadow-sm" id="new-panelist">
                <h3>
                    New Panelist
                    <small><a class="btn-close pull-right" data-bs-toggle="collapse" href="#new-panelist" role="button"></a></small>
                </h3>
                <hr>
                {{ form_macros.form_validation('new-applicant-form', 'validate_panelist') }}
                <form novalidate id="new-applicant-form" method="post" action="edit_panelist" role="form">
                    {{ csrf_token() }}
                    <input type="hidden" name="app_id" value="{{ app.id }}" />
                    {% set panelist_form = panelist_forms['new'] %}
                    {% include "forms/panel/panelist_form.html" %}
                    <button type="submit" class="btn btn-primary">Add Panelist</button>
                </form>
            </div>
            {% for panelist in [app.submitter] + app.other_panelists %}
            <div class="card card-body mb-3 shadow-sm">
                <h3 class="d-flex gap-3">
                    <div>
                    {% if app.submitter and panelist == app.submitter %}
                    Point of Contact
                    {% else %}
                    Other Panelist #{{ loop.index0 }}
                    {% endif %}
                    {% if panelist.attendee %}
                    <small>
                        <a href="#attendee_form?id={{ panelist.attendee.id }}">
                        View attendee record for {{ panelist.attendee.full_name }}
                        </a>
                    </small>
                    {% endif %}
                    </div>
                    {% if not app.submitter or panelist != app.submitter %}
                    <small class="ms-auto d-flex gap-1">
                        <form method="post" action="change_submitter">
                            {{ csrf_token() }}
                            <input type="hidden" name="app_id" value="{{ app.id }}" />
                            <input type="hidden" name="applicant_id" value="{{ panelist.id }}" />
                            <input type="submit" class="btn btn-sm btn-primary" value="Make POC" />
                        </form>
                        {% if panelist.submitter %}
                        {% else %}
                        <form method="post" action="remove_panelist" onSubmit="return
                                confirm('Are you sure you want to remove {{ panelist.full_name }}?');">
                            {{ csrf_token() }}
                            <input type="hidden" name="app_id" value="{{ app.id }}" />
                            <input type="hidden" name="applicant_id" value="{{ panelist.id }}" />
                            <input type="submit" class="btn btn-sm btn-danger" value="Remove Panelist" />
                        </form>
                        {% endif %}
                    </small>
                    {% endif %}
                </h3>
                {% for app in panelist.applications|rejectattr("id", "equalto", app.id) %}
                {% if loop.first %}<small><em>Other panels:{% endif %}
                    {{ app|form_link }}{% if not loop.last %}, {% endif %}
                {% if loop.last %}</em></small>{% endif %}
                {% endfor %}
                <hr>
                {{ form_macros.form_validation('applicant-' ~ panelist.id ~ '-form', 'validate_panelist') }}
                <form novalidate id="applicant-{{ panelist.id }}-form" method="post" action="edit_panelist" role="form">
                    {{ csrf_token() }}
                    <input type="hidden" name="id" value="{{ panelist.id }}" />
                    <input type="hidden" name="app_id" value="{{ app.id }}" />
                    {% set panelist_form = panelist_forms[panelist.id] %}
                    {% include "forms/panel/panelist_form.html" %}
                    <button type="submit" class="btn btn-primary">
                        Update {{ "Point of Contact" if app.submitter and panelist == app.submitter else "Panelist" }} Information
                    </button>
                </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
