{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Hotel Requests{% endblock %}
{% block content %}
<script type="text/javascript">
    function setApproved(approved, id, btn) {
        var $td = $(btn).parent("td");
        $td.find("button").attr("disabled", true);
        $.post("approve", {id: id, approved: approved, csrf_token: csrf_token}, function(resp) {
            $td.text(approved);
            $td.siblings(".nights").text(resp.nights);
        }, "json");
    }
</script>

{% include "dept_checklist/dept_menu.html" %}

<h2> {{ department_name }} Hotel Requests </h2>

{% if c.HOTEL_REQUESTS_URL %}

<div class="center">
    {% if checklist.relevant %}
        <br/>
        {% if checklist.completed %}
            You've already signed off that all approvals have been completed in the external hotel system. Please contact STOPS if changes still need to be made.
        {% else %}
            <a href="#" onClick="$('#checkoff').show(); return false;">I have approved everyone who should be approved</a>
            <form id="checkoff" style="display:none" method="post" action="../dept_checklist/mark_item_complete">
            {{ csrf_token() }}
            <input type="hidden" name="department_id" value="{{ department_id }}" />
            <input type="hidden" name="slug" value="{{ checklist.conf.slug }}" />
            <input type="submit" value="No One Else Needs To Be Approved" />
            </form>
        {% endif %}
    {% endif %}
</div>
<br>
<a href="{{ c.HOTEL_REQUESTS_URL }}/hotels/approvals?id={{ attendee.id }}&department={{ department_id }}"><h2>Click here to approve hotel requests from your staffers</h2></a>

{% else %}
<div class="center">
    {% if checklist.relevant %}
        <br/>
        {% if checklist.completed %}
            You've already signed off that everyone who needs approval is here and no one is missing; email STOPS if this is a mistake.
        {% else %}
            <p>Many staffers want to work setup and teardown shifts rather than work during the event itself. We will have more interested 
            volunteers than we need. Below is a list of requests from people within your department for the extra nights they need to be 
            approved for. Please approve requests for anyone you would like or need to have on site to help with your load-in. If you only 
            need them for a few of their requested nights, please make a note so STOPS can adjust their nights given.</p>

            <p>Note 1: Utilizing the "roles" feature (available on your department page) can help you restrict shifts to specific volunteers 
            in your department. For further information, follow the question mark icon on the top right on this page.</p>

            <p>Note 2: Approving and denying will affect the volunteer's requests for ALL of the departments they are assigned to, so only 
            deny if you know for a fact that they aren't needed. Approving will make them eligible for shifts in ALL departments they are 
            assigned to, so make sure you follow up with your volunteers to let them know that you approved them, and that you're expecting 
            them to pick up shifts in your department.</p>
            <a href="#" onClick="$('#checkoff').show(); return false;">I have approved everyone who should be approved</a>
            <form id="checkoff" style="display:none" method="post" action="../dept_checklist/mark_item_complete">
            {{ csrf_token() }}
            <input type="hidden" name="department_id" value="{{ department_id }}" />
            <input type="hidden" name="slug" value="{{ checklist.conf.slug }}" />
            <input type="submit" value="No One Else Needs To Be Approved" />
            </form>
        {% endif %}
    {% endif %}
</div>

<div style="font-weight: bold">
  {{ staffer_count }} eligible staffers
  <br>
  {{ requests|length }} requested hotel space
  <br>
  {{ declined_count }} declined hotel space
</div>

<br/>

<table class="list">
<tr class="header">
    <td>Staffer Name</td>
    <td>Departments</td>
    {% if admin_has_room_access %}
      <td>Roommate Requests</td>
      <td>Roommate Anti-requests</td>
      <td>Special Needs</td>
    {% endif %}
    <td>Requested Nights</td>
    <td>Extra Nights</td>
</tr>

{% for request in requests %}
    <tr bgcolor="{{ loop.cycle('#FFFFFF','#DDDDDD') }}">
        <td><a href="#attendee_form?id={{ request.attendee.id }}">{{ request.attendee.full_name }}</a></td>
        <td>{{ request.attendee.assigned_depts_labels|join(" / ") }}</td>
        {% if admin_has_room_access %}
          <td>{{ request.wanted_roommates|linebreaksbr }}</td>
          <td>{{ request.unwanted_roommates|linebreaksbr }}</td>
          <td>{{ request.special_needs }}</td>
        {% endif %}
        <td class="nights">{{ request.attendee.hotel_requests.nights_display }}</td>
        <td>
            {% if not request.setup_teardown %}
                n/a
            {% else %}
                {% if request.approved %}
                    approved
                {% else %}
                    <button onClick="setApproved('approved', '{{ request.id }}', this)">Approve</button>
                    <button onClick="setApproved('n/a',      '{{ request.id }}', this)">Reject</button>
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}