{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Unfilled Hotel Requirements{% endblock %}
{% block content %}
<h2> {{ staffers|length }} Staffers With Hotel Space Need More Hours </h2>

<table class="list">
<tr class="header">
    <td> Staffer Name </td>
    <td> Departments </td>
    <td> Room Nights </td>
    <td> Hours </td>
</tr>
{% for attendee in staffers %}
    <tr>
        <td> <a href="#attendee_form?id={{ attendee.id }}">{{ attendee.full_name }}</a> </td>
        <td> {{ attendee.assigned_depts_labels|join(" / ") }} </td>
        <td> {{ attendee.hotel_requests.nights_display }} </td>
        <td> {{ attendee.weighted_hours }} </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
