{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Department Checklist - Tech Ops{% endblock %}
{% block content %}

<h2>Tech Requirements for {{ department.name }}</h2>

<h3><a href="{{ c.TECHOPS_DEPT_CHECKLIST_FORM_URL }}" target="_blank">{{ c.EVENT_NAME }} Tech Requirements Form</a></h3>

<form method="post" action="tech_requirements">
{{ csrf_token() }}
<input type="hidden" name="department_id" value="{{ department.id }}" />
Once you've filled out the linked form above, please click the button below. Your department must fill out the form, even if you don't need anything. If you have any questions, please contact TechOps on Slack ( #techops ) or via email ( {{ c.TECHOPS_EMAIL|email_only|email_to_link }} ).
<br/>
<input type="submit" name="submitted" value="I Have Filled out the Tech Requirements Form" />
</form>

{% endblock %}
