{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Department Checklist - Tech Ops{% endblock %}
{% block content %}

<h2>MPoint Needs for {{ department.name }}</h2>

<h3><a href="{{ c.TREASURY_DEPT_CHECKLIST_FORM_URL }}">{{ c.EVENT_NAME_AND_YEAR }} MPoints Form</a></h3>

<h2>Instructions</h2>
<ol>
    <li>If your department doesn't need MPoints, just skip to the bottom and click the button to complete this Checklist. Otherwise, click on the link above AFTER reading the following.</li>
    <li>For the contacts area, please do the following:
    <ol type="a">
        <li>Under Legal Name:</li>
        <ol type="i">
            <li>Enter the name of the people who can make decisions about MPoints in <b>bold</b>.</li>
            <li>Enter the name of the people who can receive MPoints onsite in regular text.</li>
        </ol>
        <li>Under MAGName:</li>
        <ol type="i">
            <li>Enter the name by which the person is known.  For example: Big Adam, Tronster, Hachi.</li>
        </ol>
        <li>Under email:</li>
        <ol type="i">
            <li>Enter the email address of the decision makers only.</li>
        </ol>
    </ol>
    </li>
    <li>Department Heads should have recieved their assigned MPoints budget for the event. As you update it, this spreadsheet will compare your request against the budget.</li>
    <li>All departments start with a “General” request.  If you want to enter separate MPoint requests for different divisions in your department, then copy and paste the General section to the columns next to it, change the title, and enter each division separately.
    <ol type="a">
        <li>For examples, see the Arcade or Tabletop sections.</li>
    </ol></li>
    <li>Determine the quantity of denominations you need for each day based on this year's expected activity. The “Total Requested” for the event should calculate.</li>
    <li>When you are done, please highlight all the rows in your section in dark green.</li>

</ol>

<form method="post" action="treasury">
{{ csrf_token() }}
<input type="hidden" name="department_id" value="{{ department.id }}" />
Once you've filled out the form above OR done nothing if your department does not need MPoints, please click the button below.<br/>
<br/>
<input type="submit" name="submitted" value="I Have Completed This Checklist" />
</form>

{% endblock %}
