{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Department Checklist - Treasury Needs{% endblock %}
{% block content %}

<h2>Treasury Needs for {{ department.name }}</h2>

Do you need cash or Mpoints for your department? Please fill out the following form:
<h3><a href="{{ c.TREASURY_DEPT_CHECKLIST_FORM_URL }}">{{ c.EVENT_NAME_AND_YEAR }} MPoints/Cash Form</a></h3>

<form method="post" action="treasury">
{{ csrf_token() }}
<input type="hidden" name="department_id" value="{{ department.id }}" />
Once you've filled out the form above, or if you don't need any cash or Mpoints for your department, please click the button below.<br/>
<br/>
<input type="submit" name="submitted" value="I Have Completed This Checklist" />
</form>

{% endblock %}
