{% extends "base-admin.html" %}
{% block title %}Department Checklist - Treasury{% endblock %}
{% block content %}

<h2>Cash / MPoint Needs</h2>

<form method="post" action="treasury">
{% csrf_token %}
<input type="checkbox" name="needs" value="yes" onClick="setVisible('#formcontent', $(this).is(':checked'))" /> Check this box if your department needs cash and/or mpoints, otherwise just submit this form to let us know you DON'T need any of that <br/>
<div id="formcontent" style="display:none">
    <br/>
    Please provide the name of the department head who will be making cash/MPoint decisions: <br/>
    <input type="text" name="dept_head_name" />

    <br/> <br/>
    Please provide the email of the department head who will be making cash/MPoint decisions: <br/>
    <input type="text" name="dept_head_email" />

    <br/> <br/>
    Please provide the needs for the following:

    <h3>Cash Needs</h3>
    <table style="width:auto">
    <tr><td colspan="2">Each Day:</td></tr>
    <tr>
        <td>Number of Cash Boxes Needed</td>
        <td><input type="text" name="cash_boxes_num" size="3" /></td>
    </tr>
    <tr><td colspan="2">For each box:</td></tr>
    <tr>
        <td>Number of $1 Bills</td>
        <td><input type="text" name="1bills" size="3" /></td>
    </tr>
    <tr>
        <td>Number of $5 Bills</td>
        <td><input type="text" name="5bills" size="3" /></td>
    </tr>
    <tr>
        <td>Number of $10 Bills</td>
        <td><input type="text" name="10bills" size="3" /></td>
    </tr>
    <tr>
        <td>Number of $20 Bills</td>
        <td><input type="text" name="20bills" size="3" /></td>
    </tr>
    </table>

    <h3>MPoints</h3>
    <table style="width:auto">
    <tr><td colspan="2">Each Day:</td></tr>
    <tr>
        <td>MPoint Allotment</td>
        <td><input type="text" name="mpoint_allotment" size="3" /></td>
    </tr>
    <tr>
        <td>Number of $1 mpoint tokens</td>
        <td><input type="text" name="1mpoint" size="3" /></td>
    </tr>
    <tr>
        <td>Number of $5 mpoint tokens</td>
        <td><input type="text" name="5mpoint" size="3" /></td>
    </tr>
    <tr>
        <td>Number of $10 mpoint tokens</td>
        <td><input type="text" name="10mpoint" size="3" /></td>
    </tr>
    <tr>
        <td>Number of $20 mpoint tokens</td>
        <td><input type="text" name="20mpoint" size="3" /></td>
    </tr>
    </table>

    <br/>
    If you have different requests for specific days, click this box and we will email for details: <br/>
    <input type="checkbox" name="different_days" value="yes" /> Yes, my needs will differ on different days

    <br/> <br/>
    When will your department need its cash/MPoints in the morning? <br/>
    <input type="text" name="start_time" />

    <br/> <br/>
    When should we trade in new cash boxes for full ones?  (Number of hours between each trade) <br/>
    <input type="text" name="hour_interval" />

    <br/> <br/>
    When will your department close for the night and no longer need cash? <br/>
    <input type="text" name="close_time" />

    <br/> <br/>
    Any other comments? <br/>
    <textarea rows="5" cols="80" name="comments"></textarea>

    <br/> <br/>
    Notes:
    <ul>
        <li>
            If we see a significant difference between cash or MPoint requests between here and last year's 
            usage, then we will contact you to discuss the difference.
        </li>
        <li>
            Answers here are not firm.  They will be a basis for final determination along with resource availability
            and overall need.  For example, if there are shift conflicts, registration will probably take priority.
        </li>
    </ul>
</div>
<br/>
<input type="submit" name="submitted" value="Submit Treasury Needs" />
</form>

{% endblock %}
