AWS_ACCESS_KEY_ID = "ABCDEFGHIJKLMNOPQRST"
AWS_SECRET_KEY = "ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/abc"

STRIPE_SECRET_KEY = "sk_test_abcdefghijklmnopqrstuvwx"
STRIPE_PUBLIC_KEY = "pk_test_abcdefghijklmnopqrstuvwx"

BANNED_STAFFERS = set()
BANNED_ATTENDEES = set()
