<html>
<head></head>
<body>

You ({{ attendee.full_name }}) have preregistered for MAGFest.
If you haven't paid already, please use the Paypal button
<a href="{{ URL_BASE }}/preregistration/paypal?id={{ attendee.secret_id }}">on this page</a>
to pay the ${{ attendee.total_cost }} you owe.
You can use a credit or debit card with Paypal, even if you don't have a Paypal account.
<b>If you do not pay within two weeks, your preregistration will be deleted.</b>

<br/> <br/>

Your registration includes:
<ul>
    {% if attendee.badge_type == ATTENDEE_BADGE %}
        <li> a badge (${{ BADGE_PRICE }}) </li>
    {% else %}
        <li> a Supporter Badge (${{ SUPPORTER_BADGE_PRICE }}) </li>
        <li> a tshirt </li>
        <li> a special Supporter pack of cool stuff </li>
    {% endif %}
</ul>

{% include "emails/reg_notes.html" %}

</body>
</html>
