{% extends "base.html" %}{% set admin_area=True %}
{% import "forms/macros.html" as form_macros with context %}
{% set lottery_admin_info = lottery_admin_info or forms['lottery_admin_info'] %}
{% block title %}Lottery Application{% if id != "None" and application.attendee %} for {{ application.attendee_name }}{% endif %}{% endblock %}
{% block content %}

{{ macros.nav_menu(
    application, c.PAGE_PATH,
    "../hotel_lottery_admin/form?id={id}", "Application Data", True,
    "../hotel_lottery_admin/history?id={id}", "History", True,
    "../hotel_lottery_admin/index", "Return to Application List", True)
}}

{{ "deps/Sortable.js"|serve_static_content }}

<style>
    .sortable-ghost {
        opacity: 0.6;
    }
    .chosen {
        opacity: 1;
    }
    input[type=date]:invalid {
        background-color: hsl(0, 100%, 97%);
        border-color: #d00;
    }
    .placeholder-deselect-opt::after, .placeholder-select-opt::after {
        content: "Drag an item here.";
        opacity: 0.33;
        font-style: italic;
        display: "block";
        vertical-align: middle;
        text-align: center;
    }
    .placeholder-deselect-opt::after {
        content: "Drag an item here to deselect it.";
    }
    .placeholder-select-opt::after {
        content: "Drag an item here to select it.";
    }
</style>

{% if not application.is_new and application.attendee %}
{% set edit_link = "suite_lottery" if application.entry_type == c.SUITE_ENTRY else "room_lottery" %}
<div class="row g-3 mb-3">
    <div class="col-sm">
        {% if application.parent_application %}
        <a class="btn btn-primary" href="../hotel_lottery/index?id={{ application.id }}" target="_blank">View as Attendee</a>
        {% else %}
        <a class="btn btn-primary" href="../hotel_lottery/{{ edit_link }}?id={{ application.id }}" target="_blank">View as Attendee</a>
        {% endif %}
    </div>
</div>
{% endif %}

<div class="card">
<div class="card-body">

{{ form_macros.form_validation('application-form', 'validate_hotel_lottery') }}

<form novalidate method="post" id="application-form" action="form" x-data="{}">
{{ csrf_token() }}
<input type="hidden" name="id" value="{{ application.db_id }}" />
<input type="hidden" name="return_to" value="{{ return_to }}" />

<div class="d-flex gap-3 mb-3 align-items-end justify-content-between">
    <div>
        {% if application.attendee %}
        This lottery application is for <strong>{{ application.attendee|form_link }}</strong>.
        {% else %}
        This lottery application is not associated with any attendee.
        {% endif %}
    </div>
    <div>
        <button type="submit" name="save_return_to_search" class="btn btn-primary" value="1">Save & Return{% if not return_to %} to Search{% endif %}</button>
        <button type="submit" name="save" class="btn btn-primary" value="1">Save</button>
    </div>
</div>

{% if not application.is_new %}
<div class="row g-3 mb-3">
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.response_id) }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.confirmation_num) }}
    </div>
    {% if application.entry_started %}
    <div class="col-sm">
        <div class="form-text">Entry Started</div>
        {{ application.entry_started|full_datetime_local }}
    </div>
    {% endif %}
    {% if application.last_submitted %}
    <div class="col-sm">
        <div class="form-text">Last Submitted</div>
        {{ application.last_submitted|full_datetime_local }}
    </div>
    {% endif %}
</div>
{% endif %}

<div class="row g-3 mb-3">
    <div class="col-sm align-self-center">{{ form_macros.input(lottery_admin_info.can_edit) }}</div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.current_step, admin_text="Controls what fields are required and which step is shown to the attendee.") }}
    </div>
    <div class="col-sm">{{ form_macros.input(lottery_admin_info.status) }}</div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.entry_type, disabled=application.parent_application|default(False, true)) }}
    </div>
</div>

<div class="row g-sm-3 mb-3">
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.assigned_hotel, disabled=application.parent_application|default(False, true)) }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.assigned_room_type, disabled=application.parent_application|default(False, true)) }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.assigned_suite_type, disabled=application.parent_application|default(False, true)) }}
    </div>
</div>

<div class="row g-sm-3 mb-3">
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.admin_notes) }}
    </div>
</div>

<div class="row g-3 mb-3">
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.legal_first_name) }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.legal_last_name) }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.cellphone) }}
    </div>
</div>

{% if application.parent_application %}
<div class="alert alert-warning">
    This application is a group member of <a href="form?id={{ application.parent_application.id }}" target="_blank">{{ application.parent_application.attendee_name }}'s entry (conf # {{ application.parent_application.confirmation_num }})</a>.
    The details below are INACTIVE and will not be included in the lottery export. They will become active again if this attendee leaves the group, at which point a new confirmation number will be generated.
</div>
{% else %}
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(lottery_admin_info.room_group_name, admin_text="Setting a " ~ c.HOTEL_LOTTERY_GROUP_TERM|lower ~ " name allows attendees to join this application as a " ~ c.HOTEL_LOTTERY_GROUP_TERM|lower ~ ".", readonly=application.parent_application or application.status != c.COMPLETE) }}</div>
    <div class="col-sm">
        <div class="form-text">Group Members</div>
        {% if not application.room_group_name %}N/A{% elif not application.group_members %}None{% else %}
        {% for member in application.group_members %}{% if not loop.first %} / {% endif %}{{ member.attendee|form_link }} ({{ member|form_link }}){% endfor %}
        {% endif %}
    </div>
    <!-- <div class="col-sm">{{ form_macros.input(lottery_admin_info.invite_code) }}</div> -->
</div>
{% endif %}

<div class="row g-3 mb-3">
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.legal_first_name) }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.legal_last_name) }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.cellphone) }}
    </div>
</div>

{% if 'room_dates' in c.HOTEL_LOTTERY_FORM_STEPS or 'suite_dates' in c.HOTEL_LOTTERY_FORM_STEPS %}
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(lottery_admin_info.earliest_checkin_date) }}</div>
    <div class="col-sm">{{ form_macros.input(lottery_admin_info.latest_checkout_date) }}</div>
</div>
<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(lottery_admin_info.latest_checkin_date) }}</div>
    <div class="col-sm">{{ form_macros.input(lottery_admin_info.earliest_checkout_date) }}</div>
</div>
{% endif %}

<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(lottery_admin_info.wants_ada) }}</div>
    <div class="col-sm">{{ form_macros.input(lottery_admin_info.ada_requests) }}</div>
</div>

{{ form_macros.input(lottery_admin_info.suite_type_preference) }}

<div class="row g-3 mb-3">
    <div class="col-sm">{{ form_macros.input(lottery_admin_info.room_opt_out) }}</div>
</div>

{{ form_macros.input(lottery_admin_info.hotel_preference) }}
{{ form_macros.input(lottery_admin_info.room_type_preference) }}
{% if 'room_selection_pref' in c.HOTEL_LOTTERY_FORM_STEPS or 'suite_selection_pref' in c.HOTEL_LOTTERY_FORM_STEPS %}
{{ form_macros.input(lottery_admin_info.selection_priorities) }}
{% endif %}

<div class="row g-3 mb-3">
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.terms_accepted, force_hidden=true, hidden_field_text="Yes" if lottery_admin_info.terms_accepted.data else "No") }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.data_policy_accepted, force_hidden=true, hidden_field_text="Yes" if lottery_admin_info.data_policy_accepted.data else "No") }}
    </div>
</div>

<div class="row g-3 mb-3">
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.suite_terms_accepted, force_hidden=true, hidden_field_text="Yes" if lottery_admin_info.suite_terms_accepted.data else "No") }}
    </div>
    <div class="col-sm">
        {{ form_macros.input(lottery_admin_info.guarantee_policy_accepted, force_hidden=true, hidden_field_text="Yes" if lottery_admin_info.guarantee_policy_accepted.data else "No") }}
    </div>
</div>

<div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" name="save_return_to_search" class="btn btn-primary" value="1">Save & Return{% if not return_to %} to Search{% endif %}</button>
        <button type="submit" name="save" class="btn btn-primary" value="1">Save</button>
    </div>
</div>

</form>
</div>
</div>
{% endblock %}
