{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Hotel Lottery Admin{% endblock %}
{% block content %}

  <div class="row g-sm-1 row-cols-auto">
    <div class="col-12 col-sm-10 col-md-8">
      <div class="row g-sm-1 row-cols-2">
        <div class="col-12 col-sm-6">
          <form role="form" method="get" action="index" id="search_form">
          <input type="hidden" name="order" value="{{ order }}" />
          <div class="input-group">
              <input class="focus form-control" id="search_bar" placeholder="Search applications..." type="text" name="search_text" value="{{ search_text }}" />
              <button class="btn btn-outline-secondary" type="submit">
                  <i class="fa fa-search"></i>
              </button>
          </div>
          </form>
        </div>
        <div class="col-12 col-sm-6">
          <form role="form" method="get" action="feed" id="feed_search">
            <div class="input-group">
              <input class="form-control" id="feed_search_bar" placeholder="Search application history..." type="text" name="what" value="" />
              <button class="btn btn-outline-secondary" type="submit">
                  <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col flex-grow-1 text-end">
      Download <a href="interchange_export"><i class="fa fa-download"></i> Interchange CSV</a>
      OR <a href="interchange_export?staff_lottery=True"><i class="fa fa-download"></i> Staff Lottery CSV</a>
    </div>
  </div>

<div class="row mt-3 justify-content-between">
    <div class="col col-auto">
        <span class="ms-2">{{ total_count }} total application{{ total_count|pluralize }}</span>
        <span class="ms-2">{{ complete_count }} completed application{{ complete_count|pluralize }}</span>
    </div>
    <div class="col col-auto mb-3">
        <form method="post" action="run_lottery">
          {{ csrf_token() }}
          <button type="submit" class="btn btn-primary">Run Lottery</button>
        </form>
    </div>
</div>

{% if search_results %}
    <div class="card mt-3 mb-3">
      <div class="card-body">
        <a href="index?order={{ order }}&page=1">Click here</a> to view full application list instead of only search results.
      </div>
    </div>
{% endif %}

{% block table %}
<div class="card card-body">
<ul class="pagination flex-wrap {% if pages == 1 %} pagination-lg{% elif pages|length > 100 %} pagination-sm{% endif %}">
  <li class="page-item{% if page == 1 %} disabled{% endif %}">
    <a class="page-link" href="{% if page == 1 %}#{% else %}index?order={{ order }}&page={{ page - 1 }}&search_text={{ search_text|urlencode }}{% endif %}">Previous</a>
  </li>
{% for pagenum in pages %}
    {% if pagenum == page %}
    <li class="page-item active">
        <a class="page-link" href="#">{{ pagenum }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="index?order={{ order }}&page={{ pagenum }}&search_text={{ search_text|urlencode }}">{{ pagenum }}</a>
    </li>
    {% endif %}
{% endfor %}
  <li class="page-item{% if page == pages|length %} disabled{% endif %}">
    <a class="page-link" href="{% if page == pages|length %}#{% else %}index?order={{ order }}&page={{ pages|length }}&search_text={{ search_text|urlencode }}{% endif %}">Next</a>
  </li>
</ul>
    {% if page %}
      <table class="table table-hover" data-page-size="9999999">
        <thead>
          <tr>
            {% block tableheadings %}
            <th><a href="index?order={{ order.status }}&page={{ page }}&search_text={{ search_text|urlencode }}">Entry Status</a></th>
            <th><a href="index?order={{ order.entry_type }}&page={{ page }}&search_text={{ search_text|urlencode }}">Entry Type</a></th>
            <th><a href="index?order={{ order.confirmation_num }}&page={{ page }}&search_text={{ search_text|urlencode }}">Confirmation #</a></th>
            <th><a href="index?order={{ order.room_group_name }}&page={{ page }}&search_text={{ search_text|urlencode }}">Room Group Name</a></th>
            <th>Attendee</th>
            <th># Group Members</th>
            <th>Admin Notes</th>
            <th><a href="index?order={{ order.is_staff_entry }}&page={{ page }}&search_text={{ search_text|urlencode }}">Staff Entry</a></th>
            {% endblock tableheadings %}
          </tr>
        </thead>
        <tbody>
          {% for app in applications %}
            <tr{% if app.status != c.COMPLETE %} class="bg-light"{% endif %}>
                {% block tablerows scoped %}
                <td>
                  {% if app.status in [c.WITHDRAWN, c.DISQUALIFIED] %}
                  <span class="text-danger">{{ app.status_label }}</span>
                  {% else %}{{ app.status_label }}{% endif %}
                </td>
                <td>{{ app.entry_type_label }}</td>
                <td><a href="form?id={{ app.id }}">{{ app.confirmation_num }}</a></td>
                <td>{{ app.room_group_name }}</td>
                <td>{{ app.attendee|form_link if app.attendee else 'Dissociated/No Attendee' }}</td>
                <td>{{ app.group_members|length if app.room_group_name else "" }}</td>
                <td>{{ app.admin_notes }}</td>
                <td>{{ app.is_staff_entry|yesno("Yes,No") }}</td>
              {% endblock tablerows %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="lead text-center">
        <em>Use the search box above to filter applications or select a page to browse all applications.</em>
        <br/><br/>You can search by confirmation number, check-in name, or admin notes.
      </div>
    {% endif %}
{% if applications %}
{% set start_app_num = (page * 100) - 100 + 1 %}
<div>Showing {{ start_app_num }} to {{ start_app_num + applications|length - 1 }} out of {{ search_count }} applications</div>
{% endif %}
{% if applications|length > 15 %}
<ul class="pagination flex-wrap {% if pages == 1 %} pagination-lg{% elif pages|length > 100 %} pagination-sm{% endif %}">
  <li class="page-item{% if page == 1 %} disabled{% endif %}">
    <a class="page-link" href="{% if page == 1 %}#{% else %}index?order={{ order }}&page={{ page - 1 }}&search_text={{ search_text|urlencode }}{% endif %}">Previous</a>
  </li>
{% for pagenum in pages %}
    {% if pagenum == page %}
    <li class="page-item active">
        <a class="page-link" href="#">{{ pagenum }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="index?order={{ order }}&page={{ pagenum }}&search_text={{ search_text|urlencode }}">{{ pagenum }}</a>
    </li>
    {% endif %}
{% endfor %}
  <li class="page-item{% if page == pages|length %} disabled{% endif %}">
    <a class="page-link" href="{% if page == pages|length %}#{% else %}index?order={{ order }}&page={{ pages|length }}&search_text={{ search_text|urlencode }}{% endif %}">Next</a>
  </li>
</ul>
{% endif %}
</div>

{% endblock table %}
{% endblock content %}
