
a, a:visited {
    color:           blue;
    text-decoration: none;
}
a:hover {
    color:           red;
    text-decoration: underline;
}

a.withtooltip, a.withtooltip:hover {
    color:           black;
    font-style:      italic;
    text-decoration: none;
}

h2 {
    text-align: center;
}

ul {
    margin: 0px;
}

table {
    width:          100%;
    border-spacing: 5px;
}
td {
    padding: 5px;
}

table.calendar {
    width:          auto;
    border:         2px solid black;
    text-align:     center;
    border-spacing: 5px;
}
table.calendar td {
    border:  1px solid black;
    padding: 15px;
}

table.menu {
    border-collapse: collapse;
    text-align:      center;
    margin-top:      10px;
    margin-bottom:   10px;
}
table.menu td {
    border: 2px solid gray;
}

table.list {
    width:           100%;
    text-align:      center;
    border-collapse: collapse;
}
table.list td {
    border:  1px solid black;
    padding: 5px;
}
table.list tr.header {
    background:     #99CCFF;
    font-weight:    bold;
    vertical-align: bottom;
}
table.list tr.header a,
table.list tr.header a:hover,
table.list tr.header a:visited {
    color:           black;
    text-decoration: none;
}
table.list table td {
    border:  0;
    padding: 0;
}

span.popup {
    font-size: 10px;
}
