{% extends "base.html" %}
{% block title %}Budget{% endblock %}
{% block content %}

<h2> Spending done by {{ donor.name }} </h2>

<div style="text-align:center">
    <a href="index">Return to Budget</a>
</div>
<br/>
<div style="margin-left:10%">
    <table class="list" style="width:35%">
    <tr class="header">
        <td width="80%" align="left">Name</td>
        <td width="20%">Amount</td>
    </tr>
    {% for item in debits %}
        <tr bgcolor="{% cycle #FFFFFF,#EEEEEE %}">
            <td align="left"> <a href="form?id={{ item.id }}">{{ item.name }}</a>
            <td align="center"> ${{ item.amount }} </td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
