{% extends "base.html" %}
{% block title %}Budget Item Form{% endblock %}
{% block content %}

<script type="text/javascript">
    function typeChanged() {
        var func = $("[name=type]").val()=={{ DEBIT }} ? "show" : "hide";
        $(".debit_only")[func]();
        $("[name=name]").focus();
    }
    function pledgedClicked() {
        if( $("[name=pledged]").attr("checked") )
            $(".pledged_option").show();
        else
            $(".pledged_option").hide().find(":checkbox").attr("checked", false);
    }
    $(document).ready(typeChanged).ready(pledgedClicked);
    $(function(){
        $("#day").datepicker({dateFormat: "yy-mm-dd"});
    });
</script>

<h3>Budget Item Form</h3>

<form method="post" action="form">
<input type="hidden" name="id" value="{{ money.id }}" />

<table width="100%" cellspacing="5" cellpadding="5">
<tr>
    <td width="15%"><b>Type:</b></td>
    <td width="85%">
        <select name="type" onChange="typeChanged()">
            {% options BUDGET_TYPE_OPTS money.type %}
        </select>
    </td>
</tr>
<tr class="debit_only">
    <td> <b>Paid By:</b> </td>
    <td>
        <select name="paid_by_id" onChange="$('[name=name]').focus()">
            {% options paidby_opts money.paid_by.id %}
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="add_source?return_id={{ money.id }}">Add donor</a>
    </td>
</tr>
<tr>
    <td><b>Name:</b></td>
    <td> <input class="focus" type="text" name="name" value="{{ money.name }}" /> </td>
</tr>
<tr class="debit_only">
    <td> <b>Department:</b> </td>
    <td>
        <select name="dept_id">
            {% options dept_opts money.dept.id %}
        </select>
    </td>
</tr>
<tr>
    <td><b>Amount:</b></td>
    <td>
        $<input type="text" name="amount" style="width:5em" value="{% if money.amount %}{{ money.amount }}{% endif %}" />
        {% if money.id %}
            (${{ money.payment_total }} in payments made)
        {% endif %}
    </td>
</tr>
<tr class="debit_only">
    <td>Pledged:</td>
    <td>
        <input type="checkbox" name="pledged" value="1" onClick="pledgedClicked()" {% if money.pledged %}checked{% endif %} />
        We plan to spend this money but at least some of it has not yet been spent
    </td>
</tr>
<tr>
<tr class="pledged_option">
    <td>Estimate:</td>
    <td>
        <input type="checkbox" name="estimate" value="1" {% if money.estimate %}checked{% endif %} />
        This amount is an estimate; we don't have an exact amount.
    </td>
</tr>
<tr class="pledged_option">
    <td>Pre-Con:</td>
    <td>
        <input type="checkbox" name="pre_con" value="1" {% if money.pre_con %}checked{% endif %} />
        The not-already-paid remainder of this item must be paid before the start of MAGFest.
    </td>
</tr>
<tr>
    <td valign="top">Description:</td>
    <td> <textarea name="description" rows="6" style="width:75%">{{ money.description }}</textarea> </td>
</tr>
<tr>
    <td></td>
    <td> <input type="submit" value="Upload to Budget" /> </td>
</tr>
</table>

</form>

{% if money.id %}
    <table width="100%" cellspacing="5" cellpadding="5">
    <tr>
        <td width="15%"></td>
        <td width="85%">
            <form method="post" action="delete">
            <input type="hidden" name="id" value="{{ money.id }}" />
            <input type="submit" value="Delete from Budget" />
            </form>
        </td>
    </tr>
    </table>
    
    {% if money.type == DEBIT %}
        <a name="payments"></a>
        <br/> <hr/> <br/>
        
        {% if payments %}
            <h3> Payments Already Made: </h3>
            <table style="width:auto" cellspacing="5" cellpadding="5">
            {% for payment in payments %}
                <tr>
                    <td> <ul><li></li></ul> </td>
                    <td> {{ payment.day }} -> </td>
                    <td> ${{ payment.amount }} </td>
                    <td style="font-family:courier"> {{ payment.get_type_display }} Payment: </td>
                    <td> {{ payment.name }} </td>
                    <td>
                        <form method="post" action="delete_payment">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="hidden" name="id" value="{{ payment.id }}" />
                        <input type="submit" value="Delete" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        
        <h3> Add a payment: </h3>
        <form method="post" action="add_payment">
        <input type="hidden" name="id" value="None" />
        <input type="hidden" name="money_id" value="{{ money.id }}" />
        <table>
        <tr style="text-align:center">
            <td>
                <b>Date</b> <br/>
                <input id="day" type="text" name="day" size="10" readonly />
            </td>
            <td>
                <b>Amount</b> <br/>
                $<input type="text" name="amount" size="4" />
            </td>
            <td>
                <b>Payment Type</b> <br/>
                <select name="type">{% options PAYMENT_TYPE_OPTS %}</select>
            </td>
            <td>
                <b>Description</b> <br/>
                <input type="text" name="name" size="30" />
            </td>
            <td> <input type="submit" value="Add Payment" /> </td>
        </tr>
        </table>
        </form>
        <br/>
    {% endif %}
{% endif %}

{% add_max_lengths Money %}

{% endblock %}
