{% extends "base.html" %}
{% block title %}We'll see you at MAGFest{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

The MAGFest registration/staffing database is now offline.

<h2>At-door prices:<br/><br/>$55 for a 4 day badge.<br/><br/>$40 for a one-day badge.</h2>
(All preregistrations were for full-weekend passes.)
<br/><br/> 
We will have plenty of badges this year at the door and will not be selling out, promise. :) You can also still reserve a hotel room at the Magfest group rate.
<br/><br/> 
See you on Jan 5 - 8!

<br/><br/>
<font size="+2"><b>Staffers:</b> your printed schedules will be waiting for you when you check in at regdesk.</b>

{% endblock %}
