{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Panel Submissions{% endblock %}}
{% block content %}

<h1>
  Panel Applications
  <a href="../panel_applications/index" class="btn btn-primary pull-right">Create Panel Application</a>
</h1>

<table class="table datatable" data-page-length="-1">
<thead>
    <tr>
        <th>Panel Name</th>
        <th>Panel Type</th>
        <th>Submitted By</th>
        <th>Applied</th>
        <th>Status</th>
        <th>Point of Contact</th>
    </tr>
</thead>
<tbody>
{% for app in apps %}
    <tr>
        <td><a href="app?id={{ app.id }}">{{ app.name }}</a></td>
        <td>{{ app.presentation_label }}</td>
        <td>{{ app.submitter.full_name }}</td>
        <td>{{ app.applied_local|datetime("%Y-%m-%d") }}</td>
        <td>
            {% if app.event_id %}
                <a href="../schedule/form?id={{ app.event_id }}">{{ app.status_label }}</a>
            {% else %}
                {{ app.status_label }}
            {% endif %}
        </td>
        <td>
            {% if app.poc_id %}
                <a href="assigned_to?id={{ app.poc_id }}">{{ app.poc.full_name }}</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
