{% extends "base.html" %}{% set admin_area=True %}
{% set title_text = "Close Out / Piece Status" %}
{% block content %}

{% block adminheader %}

<script>
  let showBidderInfo = function() {
    $('#winning-bidder-info').show();
  }
  
  $(function() {
    $('#winning-bidder-info').hide();
    $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      showErrorMessage('Please select an option.')
      return false;
    }
  });
  });
</script>
{% endblock adminheader %}
{% block admin_controls %}

<h3>Close Out / Piece Status</h3>
<div class="card">
  <div class="card-body">
    Enter the artist code and piece number and select the piece's status.
    <form role="form" method="post" action="close_out">
    {{ csrf_token() }}
    <div class="row g-3 row-cols-auto align-items-end">
      <div class="col">
        <label class="form-text">Piece Code</label>
        <div class="mb-3">
          <input class="focus form-control" type="text" name="piece_code" value="{{ piece_code }}" placeholder="ART-1" />
        </div>
      </div>
      <div class="col">
        <label class="form-text">Does this piece have bids?</label>
        <div class="mb-3">
          <button type="button" class="btn btn-success" onClick="showBidderInfo()">Won by Bidder</button>
          <button type="submit" name="action" value="voice_auction" class="btn btn-primary">Send to Voice Auction</button>
          <button type="submit" name="action" value="no_bids" class="btn btn-danger">No Bids</button>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
        <button type="submit" name="action" value="get_info" class="btn btn-info">Get Piece Info</button>
        </div>
      </div>
    </div>
    <div id="winning-bidder-info">
    Enter the winning bidder number and bid below.<br/>
      <div class="row g-3 row-cols-auto align-items-end">
        <div class="col">
          <label class="form-text">Bidder Number</label>
          <div class="mb-3">
            <input class="form-control" type="text" name="bidder_num" value="{{ bidder_num }}" placeholder="A-0001" />
          </div>
        </div>
        <div class="col">
          <label class="form-text">High Bid</label>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input class="form-control" type="text" name="winning_bid" value="{{ winning_bid }}" />
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <button type="submit" name="action" value="set_winner" class="btn btn-success">Set Winning Bid</button>
          </div>
        </div>
      </div>
    </div>
    </form>
    {% if piece %}
    <div class="row g-3 row-cols-auto align-items-end">
      <div class="col">
        <div class="form-text">Piece ID</div>
        <div class="mb-3">{{ piece.artist_and_piece_id }}</div>
      </div>
      <div class="col">
        <div class="form-text">Piece Title</div>
        <div class="mb-3">{{ piece.name }}</div>
      </div>
      <div class="col">
        <div class="form-text">Gallery</div>
        <div class="mb-3">{{ piece.gallery_label }}</div>
      </div>
      <div class="col">
        <div class="form-text">Artist</div>
        <div class="mb-3"><a href="../art_show_admin/form?id={{ piece.app.id }}" target="_blank">{{ piece.app.artist_or_full_name }}</a></div>
      </div>
      <div class="col">
        <div class="form-text">Artist Location(s)</div>
        <div class="mb-3">{{ piece.app.locations }}</div>
      </div>
      <div class="col">
        <div class="form-text">Piece Status</div>
        <div class="mb-3">{{ piece.status_label }}</div>
      </div>
      {% if piece.status in [c.SOLD, c.PAID, c.QUICK_SALE] %}
      <div class="col">
        <div class="form-text">Sale Price</div>
        <div class="mb-3">{{ piece.sale_price|format_currency }}</div>
      </div>
      {% endif %}
      {% if piece.winning_bid %}
      <div class="col">
        <div class="form-text">Winning Bidder</div>
        <div class="mb-3">{{ piece.winning_bidder.bidder_num }} ({{ piece.winning_bidder.attendee|form_link(true) }})</div>
      </div>
      {% endif %}
      {% if piece.receipt %}
      <div class="col">
        <div class="form-text">Invoice #</div>
        <div class="mb-3"><a href="../art_show_admin/pieces_bought?id={{ piece.receipt.id }}" target="_blank">{{ piece.receipt.invoice_num }}</a>{% if piece.closed %} (Paid {{ piece.closed|time_day_local }}){% endif %}</div>
      </div>
      {% endif %}
      <div class="col align-self-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#history-modal">View History</button>
      </div>
    </div>
    <div id="history-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="history-title">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="history-title">
              {{ piece.artist_and_piece_id }} History
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-striped table-bordered table-sm">
              <thead><tr>
                  <th>What</th>
                  <th>When</th>
                  <th>Who</th>
                  <th>Changes</th>
              </tr></thead>
              {% for tracked in piece.history %}
                  <tr>
                      <td valign="top" style="white-space:nowrap">{{ tracked.action_label }}</td>
                      <td valign="top" style="white-space:nowrap">{{ tracked.when|short_datetime_local }}</td>
                      <td valign="top" style="white-space:nowrap">{{ tracked.who_repr }}</td>
                      <td valign="top">{{ tracked.data }}</td>
                  </tr>
              {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock admin_controls %}
{% endblock content %}
