{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Art Show Admin{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../accounts/homepage">Home</a></li>
    <li class="breadcrumb-item">Art Show</li>
    <li class="breadcrumb-item active">Admin</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Art Show {{ c.ART_SHOW_APP_TERM|title }}s</h3>
  </div>
  <div class="card-body">
    <div class="row g-3 mb-3">
      <div class="col-6"><a class="btn btn-outline-secondary" href="form?new_app=True">Add a new {{ c.ART_SHOW_APP_TERM }}</a></div>
      <div class="col-6">
        <div class="row g-3">
          <div class="col-8 text-end col-form-label-sm">Status:</div><div class="col-4" id="status_filter"></div>
        </div>
      </div>
    </div>
  
<table class="table table-striped datatable">
<thead><tr>
  <th>Artist Code</th>
  <th>Display Name</th>
  <th>Artist's Name</th>
  <th>Artist Type</th>
  <th>Pieces Submitted</th>
  <th>Status</th>
  <th>General Panels</th>
  <th>General Tables</th>
  <th>Mature Panels</th>
  <th>Mature Tables</th>
  {% if c.ART_SHOW_HAS_FEES %}
  <th>Cost</th>
  <th>Owed</th>
  {% endif %}
  <th>Admin Notes</th>
</tr></thead>
{% for app in applications %}
    <tr>
      <td>{{ app.artist_codes }}</td>
      <td style="text-align:left" data-order="{{ app.display_name }}" data-search="{{ app.attendee.full_name }} {{ app.artist_name }} {{ app.banner_name }} {{ app.banner_name_ad }}"> <a href="form?id={{ app.id }}">{{ app.display_name|default("?????") }}{% if app.banner_name_ad %} ({{ app.banner_name_ad }}){% endif %}</a> </td>
      <td data-order="{{ app.attendee.last_name }}">{{ app.attendee.full_name }}</td>
      <td>{% if app.delivery_method == c.BRINGING_IN %}Attending
        {% elif app.delivery_method == c.BY_MAIL %}Mailing In
        {% elif app.delivery_method == c.AGENT %}Agenting{% endif %}</td>
      <td data-order="{{ app.art_show_pieces|length if app.art_show_pieces else '0' }}">
        {% if app.art_show_pieces %}{{ app.art_show_pieces|length }} (<a href="form?id={{ app.id }}#pieces">View</a>)
        {% elif app.incomplete_reason or app.is_unpaid %}{{ app.incomplete_reason|default("Unpaid", true) }}{% else %}0{% endif %}
      </td>
      <td>{{ app.status_label }}</td>
      <td>{{ app.panels }}</td>
      <td>{{ app.tables }}</td>
      <td>{{ app.panels_ad }}</td>
      <td>{{ app.tables_ad }}</td>
      {% if c.ART_SHOW_HAS_FEES %}
      <td>{{ app.total_cost|format_currency }}</td>
      <td>{{ app.amount_unpaid|format_currency }}</td>
      {% endif %}
      <td>{{ app.admin_notes }}</td>
    </tr>
{% endfor %}
	<caption align="bottom">
		<ul class="pagination"></ul>
	</caption>
</table>
</div>
{% endblock %}
