{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Art Show Admin{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../accounts/homepage">Home</a></li>
    <li class="breadcrumb-item">Art Show</li>
    <li class="breadcrumb-item active">Admin</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Art Show Applications</h3>
  </div>
  <div class="card-body">
    <div class="row g-sm-3 mb-3">
      <div class="col-6"><a class="btn btn-outline-secondary" href="form?new_app=True">Add an application</a></div>
      <div class="col-6">
        <div class="row g-sm-3">
          <div class="col-8 text-end col-form-label-sm">Status:</div><div class="col-4" id="status_filter"></div>
        </div>
      </div>
    </div>
  
<table class="table table-striped datatable">
<thead><tr>
    <th>Name</th>
    <th>Artist Type</th>
    <th>Pieces Submitted</th>
    <th>Status</th>
    <th>General Panels</th>
    <th>General Tables</th>
    <th>Mature Panels</th>
    <th>Mature Tables</th>
    <th>Cost</th>
    <th>Owed</th>
    <th>Admin Notes</th>
</tr></thead>
{% for app in applications %}
    <tr>
        <td style="text-align:left" data-order="{{ app.attendee.full_name }} ({{ app.artist_name }})" data-search="{{ app.attendee.full_name }} ({{ app.artist_name }})"> <a href="form?id={{ app.id }}">{{ app.attendee.full_name|default("?????") }}{% if app.artist_name %} ({{ app.artist_name }}){% endif %}</a> </td>
        <td>{% if app.delivery_method == c.BRINGING_IN %}Attending
            {% elif app.delivery_method == c.BY_MAIL %}Mailing In
            {% elif app.delivery_method == c.AGENT %}Agenting{% endif %}</td>
        <td>{% if app.incomplete_reason or app.is_unpaid %}N/A{% else %}
        {{ app.art_show_pieces|length }} (<a href="pieces?id={{ app.id }}">View</a>){% endif %}</td>
        <td>{{ app.status_label }}</td>
        <td>{{ app.panels }}</td>
        <td>{{ app.tables }}</td>
        <td>{{ app.panels_ad }}</td>
        <td>{{ app.tables_ad }}</td>
        <td>{{ app.total_cost|format_currency }}</td>
        <td>{{ app.amount_unpaid|format_currency }}</td>
        <td>{{ app.admin_notes }}</td>
    </tr>
{% endfor %}
	<caption align="bottom">
		<ul class="pagination"></ul>
	</caption>
</table>
</div>
{% endblock %}
