{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Art Show Form{% endblock %}
{% block content %}

{{ macros.nav_menu(
app, c.PAGE_PATH,
"form?id={id}", "App Form", True,
"pieces?id={id}", "Submitted Pieces", True,
"../reg_admin/receipt_items?id={id}", "Receipt Items", c.HAS_REG_ADMIN_ACCESS,
"history?id={id}", "History", True,
"index", "Return to App List", True
) }}
<h2>Art Show Pieces{% if app.attendee %} for {{ app.attendee|form_link }}{% endif %}</h2>
<div class="card"><div class="card-body">{% include 'art_show_common/art_pieces_form.html' %}</div></div>
{% endblock %}