{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Generate Promo Codes{% endblock %}
{% block content %}

<style>
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#word-list .words {
  padding-bottom: 30px;
}

#word-list .labels {
  margin: 5px 0 15px 0;
}

#word-list .label {
  display: inline-block;
  font-size: 100%;
  font-weight: normal;
  margin: 0 0.25em 0.5em 0;
}

#word-list .label a {
  color: #fff;
}

#word-list .label a:hover {
  opacity: 0.5;
}

#word-list .label .glyphicon {
  vertical-align: bottom;
}

#discount-group label {
  padding-top: 0;
}

#discount-group label select {
  display: inline-block;
}

#discount-group label .help-block {
  font-weight: normal;
  display: inline-block;
}
</style>

{% set PART_OF_SPEECH_STYLES = ['primary', 'info', 'success', 'warning'] %}

<script>

{# Make our PART_OF_SPEECH_STYLES template variable available in javascript -#}
var partOfSpeechStyles = [
    {% for style in PART_OF_SPEECH_STYLES %}'{{style}}'{% if not loop.last %}, {% endif %}{% endfor %}
];

{# Make our c.PROMO_CODE_WORD_PARTS_OF_SPEECH template variable available in javascript -#}
var partsOfSpeech = {
    {% for i, s in c.PROMO_CODE_WORD_PARTS_OF_SPEECH.items() %}'{{i}}': '{{s}}'{% if not loop.last %}, {% endif %}{% endfor %}
};

var addPromoCodeWords = function(partOfSpeechIndex) {
    var partOfSpeech = partsOfSpeech[partOfSpeechIndex],
        $button = $('#' + partOfSpeech + 's .btn-add'),
        $wordsTextarea = $('#' + partOfSpeech + 's textarea'),
        text = $wordsTextarea.val().trim(),
        style = partOfSpeechStyles[partOfSpeechIndex];

    if (!text) {
      return false;
    }

    $button.prop('disabled', true);
    $.ajax({
        method: 'POST',
        url: 'add_promo_code_words',
        data: {
            text: text,
            part_of_speech: partOfSpeechIndex,
            csrf_token: csrf_token
        },
        complete: function() {
            $button.prop('disabled', false);
        },
        success: function(response) {
            $wordsTextarea.val('');
            var $labels = $('#word-list #' + partOfSpeech + 's .labels');
            $.each(response.words, function(index, word) {
                var html = '<span class="label label-' + style + ' ' + partOfSpeech + '" style="display: none;"> ' +
                  '<span class="word"> ' + word + ' </span> ' +
                  '<a href="#"><i class="fa fa-remove"></i></a> ' +
                  '</span> ';
                $labels.append(html);
            });
            var $sortedLabels = $labels.children('.label').sort(function(a, b) {
                var vA = $('.word', a).text().trim().toLowerCase();
                var vB = $('.word', b).text().trim().toLowerCase();
                return (vA < vB) ? -1 : (vA > vB) ? 1 : 0;
            });
            $labels.append($sortedLabels);
            $sortedLabels.fadeIn(300);
        }
    });
};

var deletePromoCodeWord = function($label) {
    var word = $label.select('.word').text().trim();
    if (!word) {
        return false;
    }
    $.ajax({
        method: 'POST',
        url: 'delete_promo_code_word',
        data: {
            word: word,
            csrf_token: csrf_token
        },
        success: function(response) {
            if (response.result > 0) {
                $label.fadeOut(300, function() { $label.remove(); });
            }
        }
    });
};

var deleteAllPromoCodeWords = function(partOfSpeechIndex) {
    var partOfSpeech = partsOfSpeech[partOfSpeechIndex];
    $.ajax({
        method: 'POST',
        url: 'delete_all_promo_code_words',
        data: {
            csrf_token: csrf_token,
            part_of_speech: partOfSpeechIndex
        },
        success: function(response) {
            if (response.result > 0) {
                $('#word-list #' + partOfSpeech + 's .label').fadeOut(300, function() { $(this).remove(); });
            }
        }
    });
}

var onDiscountTypeChanged = function() {
    var $discountType = $('#discount-group select'),
        value = $discountType.val(),
        $addon = $('#discount-group .input-group-text'),
        $help = $('#discount-type-desc');

    if (value == 2) {
        $addon.text('%');
        $help.text('Reduces the badge price by a percentage.');
    } else if (value == 1) {
        $addon.text('$');
        $help.text('Sets the badge price to a fixed dollar amount.');
    } else {
        $addon.text('$');
        $help.text('Reduces the badge price by a fixed dollar amount.');
    }
};

var onUseWordsChanged = function() {
    var $lengthGroup = $('#length-group'),
        $useWords = $('input[name="use_words"]'),
        isChecked = $useWords.is(':checked');
    if (isChecked) {
        $lengthGroup.fadeOut();
    } else {
        $lengthGroup.fadeIn();
    }
};

var onIsSinglePromoCodeClicked = function(isSinglePromoCode) {
    if (isSinglePromoCode) {
        $('#is_single').addClass('active');
        $('#is_multi').removeClass('active');
        $.field('is_single_promo_code').val(1);
    } else {
        $('#is_single').removeClass('active');
        $('#is_multi').addClass('active');
        $.field('is_single_promo_code').val(0);
    }
};

$(document).ready(function() {
    $('#word-list').on('click', '.label a', function(event) {
        event.preventDefault();
        deletePromoCodeWord($(this).closest('.label'));
    });

    $('#word-list').on('click', '.btn-add', function(event) {
        event.preventDefault();
        var partOfSpeechIndex = parseInt($(this).data('part_of_speech_index'));
        addPromoCodeWords(partOfSpeechIndex);
    });

    $('#word-list').on('click', '.btn-clear', function(event) {
        event.preventDefault();
        var partOfSpeechIndex = parseInt($(this).data('part_of_speech_index')),
            partOfSpeech = partsOfSpeech[partOfSpeechIndex];
        bootbox.confirm({
            size: 'small',
            backdrop: true,
            message: '<h4>Clear all promo code ' + partOfSpeech + 's?</h4>',
            buttons: {
                confirm: { label: 'Clear All ' + _.startCase(partOfSpeech) + 's', className: 'btn-danger' },
                cancel: { label: 'Nevermind', className: 'btn-outline-secondary' }
            },
            callback: function(result) {
                if (result) {
                    deleteAllPromoCodeWords(partOfSpeechIndex);
                }
            }
        });
    });

    $('#promo-code-tabs a').click(function (e) {
        e.preventDefault();
        $('#promo-code-tabs a').removeClass('active');
        $(this).addClass('active').tab('show');
        $.field('is_single_promo_code').val($(this).data('is_single_promo_code'));
    });

    onDiscountTypeChanged();
    onUseWordsChanged();
});
</script>

<h2>
  Generate Promo Codes
  <small><a href="index">View all promo codes</a></small>
</h2>

<div class="card card-body">
  <form method="post" action="generate_promo_codes" class="form-horizontal">
    {{ csrf_token() }}

    <div class="row g-sm-3">
      <div class="col-12 col-sm-6">
        <label for="is_single_promo_code" class="form-text">How many?</label>
        <div class="mb-3">
          <input type="hidden" name="is_single_promo_code" value="{{ is_single_promo_code }}">
          <div id="promo-code-tabs" class="nav btn-group" role="tablist">
            <a
                href="#"
                aria-controls="promo-code-single"
                role="tab"
                data-bs-toggle="tab"
                data-bs-target="#promo-code-single"
                data-is_single_promo_code="1"
                class="btn btn-outline-secondary {% if is_single_promo_code %}active{% endif %}">
              Just one promo code
            </a>
            <a
                href="#"
                aria-controls="promo-code-multi"
                data-bs-target="#promo-code-multi"
                role="tab"
                data-bs-toggle="tab"
                data-is_single_promo_code="0"
                class="btn btn-outline-secondary {% if not is_single_promo_code %}active{% endif %}">
              A bunch of promo codes
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="tab-content">
          <div id="promo-code-single" role="tabpanel" class="tab-pane {% if is_single_promo_code %}active{% endif %}">
            <label for="code" class="form-text">Promo code</label>
            <div class="mb-3">
              <input type="text" name="code" value="{{ code }}" class="form-control" placeholder="Enter a custom code, or leave blank to generate a random one" />
            </div>
          </div>
    
          <div id="promo-code-multi" role="tabpanel" class="tab-pane {% if not is_single_promo_code %}active{% endif %}">
            <label for="count" class="form-text">Number of codes</label>
            <div class="mb-3">
              <input type="number" name="count" value="{{ count }}" class="form-control" min="1" max="1000"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-sm-3">
      <div class="col-12 col-sm-6">
        <div class="form-check">
        <label>
          <input type="checkbox" class="form-check-input" name="use_words" value="1"{% if use_words %} checked{% endif %} onchange="onUseWordsChanged()"/>
          Use word list to generate promo codes
        </label>
        </div>
        <div class="row" id="length-group">
          <div class="col-sm-6">
            <label for="length" class="form-text">Number of characters</label>
            <input type="number" name="length" value="{{ length }}" class="form-control" min="1"/>
          </div>
          <div class="col-sm-6">
            <label for="segment_length" class="form-text">per segment</label>
            <input type="number" name="segment_length" value="{{ segment_length }}" class="form-control" min="1"/>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <label for="expiration_date" class="form-text">Expiration date</label>
        <div class="mb-3">
        <input type="text" name="expiration_date" value="{{ expiration_date_local }}" class="form-control expiration-date" />
        <div class="form-text">Promo codes will expire on 11:59pm of this date in the event's timezone.</div>
        </div>
      </div>
    </div>

    <div id="discount-group" class="row g-sm-3">
      <div class="col-12 col-sm-6">
        <label for="discount_type" class="form-text">Discount Type</label>
          <select class="form-select" name="discount_type" onchange="onDiscountTypeChanged()">
            {{ options(c.PROMO_CODE_DISCOUNT_TYPE_OPTS, discount_type) }}
          </select>
          <div id="discount-type-desc" class="form-text">
            Reduces the badge price by a fixed dollar amount.
          </div>
      </div>
      <div class="col-12 col-sm-6">
        <label for="discount" class="form-text">Discount</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" name="discount" value="{{ discount }}" placeholder="Free badge."/>
        </div>
        <div class="form-text">
          Leave blank for a full discount, free badge.
        </div>
      </div>
    </div>

    <div class="row g-sm-3">
      <div class="col-12 col-sm-6">
        <label for="uses_allowed" class="form-text">Number of uses</label>
        <div class="mb-3">
          <input type="number" name="uses_allowed" value="{{ uses_allowed }}" class="form-control" min="0" placeholder="Unlimited use"/>
          <div class="form-text">
            Leave blank for unlimited use codes.
          </div>
        </div>
      </div>
    </div>

    <div class="row g-sm-3">
      <div class="col-12 col-sm-6">
        <button type="submit" class="btn btn-primary">Generate Promo Codes</button>
        <button type="submit" class="btn btn-primary" name="export" value="1">Generate and Export as CSV</button>
      </div>
    </div>
  </form>

{% if promo_codes %}
<br/>
    <form method="post" action="delete_promo_codes">
      <input type="hidden" name="id" value="{% for code in promo_codes -%}{{code.id}}{% if not loop.last %},{% endif %}{%- endfor %}"/>
      <button class="btn btn-danger">Undo Generate Promo Codes</button>
    </form>
  <br/>
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Promo Code</th>
        <th>Expiration Date</th>
        <th>Discount</th>
        <th>Allowed Uses</th>
      </tr>
    </thead>
    {% for code in promo_codes %}
    <tr>
      <td>{{ code.code }}</td>
      <td>{{ code.expiration_date|datetime_local("%Y-%m-%d %-I:%M%p") }}</td>
      <td>{{ code.discount_str }}</td>
      <td>{{ code.uses_allowed_str }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
</div>
<hr>
{% endif %}

<h1>Promo Code Words</h1>
<div id="word-list" class="card card-body">
  <p class="help-block">
    Promo codes are generated by randomly choosing a word from each non-empty category in the following order:
    {% for i, s in c.PROMO_CODE_WORD_PARTS_OF_SPEECH.items() %}{{s}}{% if not loop.last %} {% endif %}{% endfor %}.
  </p>
  <ul class="help-block">
    <li>Enter words separated by commas, spaces, or newlines</li>
    <li>To include spaces in a word, use 'single quotes' or "double quotes"</li>
    <li>To include quotes in a word, escape them using a backslash like \' or \"</li>
  </ul>
  <div class="row">
    {% for (part_of_speech_index, word_list) in words %}
    {% set part_of_speech = c.PROMO_CODE_WORD_PARTS_OF_SPEECH[part_of_speech_index] %}
    {% set style = PART_OF_SPEECH_STYLES[part_of_speech_index] %}
    <div id="{{part_of_speech}}s" class="words col-sm-6 col-md-3">
      <h4>
        {{part_of_speech|title}}s
        <button class="btn btn-clear btn-xs btn-outline-secondary pull-right" data-part_of_speech_index="{{part_of_speech_index}}">
          Clear All
        </button>
      </h4>
      <div class="labels">
        {% for word in word_list -%}
        <span class="label label-{{style}} {{part_of_speech}}">
          <span class="word">{{ word }}</span>
          <a href="#"><i class="fa fa-remove"></i></a>
        </span>
        {%- endfor %}
      </div>
      <textarea class="form-control" rows="3"
        placeholder="Type some new promo code {{part_of_speech}}s..."></textarea>
      <br>
      <button class="btn btn-add btn-{{style}}" data-part_of_speech_index="{{part_of_speech_index}}">
        Add {{part_of_speech|title}}s
      </button>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
