{% import 'macros.html' as macros with context %}

{%- macro bidder_signup_modal(attendee) -%}
<div class="modal fade" id="attendee_{{ attendee.id }}" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close visually-hidden" data-bs-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="bidder_title_{{ attendee.id }}">Bidder Sign-Up</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-dismissible" role="alert" id="bidder-message-alert-{{ attendee.id }}"><span></span><button type="button" class="btn-close" onClick="hideMessageBox('bidder-message-alert-{{ attendee.id }}')" aria-label="Close"></button></div>
        <form target="upload_frame" method="post" action="sign_up_bidder" role="form" class="form-horizontal">
          {{ csrf_token() }}
          {{ sign_up_form(attendee) }}
        </div>
        <div class="modal-footer">
          <input type="hidden" name="complete" class="complete" />
          <button type="submit" class="btn btn-primary save_bidder print">Save & Print Form</button>
          {% if attendee.art_show_bidder.signed_up %}
          <button type="submit" class="btn btn-success save_bidder">Save</button>
          {% else %}
          <button type="submit" class="btn btn-success save_bidder complete">Complete Signup</button>
          {% endif %}
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
{%- endmacro -%}

{%- macro sign_up_form(attendee, printable=not admin_area) -%}
{% if attendee and attendee.address1 %}
  {% set address_model = attendee %}
{% elif attendee.art_show_applications and attendee.art_show_applications[0].address1 %}
  {% set address_model = attendee.art_show_applications[0] %}
{% else %}
  {% set address_model = attendee %}
{% endif %}
{% set attendee_fields_ro = printable or not c.INDEPENDENT_ART_SHOW %}
<div class="row g-3 p-0">
{{ macros.name_form_group(attendee, label="First & Last Name", is_readonly=attendee_fields_ro, use_bs5=True, is_required=True) }}
{{ macros.form_group(attendee, 'legal_name', label="Name on Photo ID", help="The name on your ID, if different from your first and last name.", is_readonly=attendee_fields_ro, use_bs5=True) }}
</div>

{% if attendee.cellphone or attendee.email or not printable %}
<div class="row g-3">
  {% if attendee.email or not printable %}
  {{ macros.form_group(attendee, 'email', label="Email Address", is_readonly=printable, use_bs5=True, is_required=True) }}
  {% endif %}
  {% if attendee.cellphone or not printable %}
  {{ macros.form_group(attendee, 'cellphone', label="Phone #", is_readonly=printable, use_bs5=True, is_required=True) }}
  <div class="col">
    <label class="form-text">Phone Number Type <span class="text-danger">*</span></label>
    <div class="mb-3">
      {{ macros.button_radio_opts('phone_type', c.PHONE_TYPE_OPTS, default='' if not attendee.art_show_bidder else attendee.art_show_bidder.phone_type, is_readonly=printable) }}
    </div>
  </div>
  {% endif %}
</div>

{% if attendee.cellphone or not printable %}
<div class="row g-3">
  <p class="form-text">
    {{ macros.checkbox(attendee.art_show_bidder, 'share_email', label="It's OK to share my email address with artists whose work I buy.", is_readonly=printable) }}
  </p>
</div>
{% endif %}

{% if not c.INDEPENDENT_ART_SHOW %}
{{ macros.address_form(address_model, is_readonly=attendee_fields_ro, use_bs5=True) }}
{% endif %}

<div class="row g-3">
{% if not admin_area %}{{ macros.form_group(attendee, 'badge_num', label="Badge Number", type="number", is_readonly=attendee_fields_ro, use_bs5=True, is_required=True) }}{% endif %}
</div>

<div class="row g-3">
  <div class="col">
    <div class="mb-3">
      <br/>
      {% set pickup_time_acknowledged_label %}
      I certify that I have read, understand, and agree to abide by the <a href="https://drive.google.com/file/d/1ua-YZEUIqTm925778fgpWO_0RlVqs3i5/view?usp=sharing" target="_blank">Anthrocon Art Show Bidding Rules</a>; that I am obligated to purchase all artwork for which I have placed the winning bid; and that I am purchasing only the physical possession of artwork, and must negotiate for the right to reproduce any artwork with the artist(s) involved.
      <br/><br/>I understand that I must pick up my art in person Sunday after 2pm. If I need to depart before then, I will either fill out a pickup authorization form for someone else to pick up and pay for my art, or obtain an early pickup authorization pass from a bidder sign-up clerk.
      {% endset %}
      <strong>
      {{ macros.checkbox(attendee.art_show_bidder, 'pickup_time_acknowledged',
        label=pickup_time_acknowledged_label, is_readonly=printable, is_required=True) }}
      </strong>
    </div>
  </div>
</div>

{% if admin_area %}
<h6><span>Staff Fields</span></h6>
<div class="row g-3">
  <div class="col">
    {{ macros.form_group(attendee, 'badge_printed_name', label="Badge Name", is_readonly=attendee_fields_ro, use_bs5=True, is_required=True) }}
  </div>

  <div class="col">
    {{ macros.form_group(attendee, 'badge_num', label="Badge Number", type="number", is_readonly=attendee_fields_ro, use_bs5=True, help="Please make sure this matches the number on the bidder's badge.", is_required=True) }}
  </div>

  <div class="col">
    <label class="form-text">Bidder Number <span class="text-danger">*</span></label>
    <div class="mb-3">
    {% if c.INDEPENDENT_ART_SHOW and not printable %}
    <input type="text" class="form-control" name="bidder_num" value="{{ attendee.art_show_bidder.bidder_num }}" />
    {% else %}
    <span class="bidder_num">{{ attendee.art_show_bidder.bidder_num }}</span>
    {% endif %}
    </div>
  </div>
  
  <input type="hidden" name="attendee_id" value="{{ attendee.id }}" />
  <input type="hidden" name="id" class="bidder_id" value="{{ attendee.art_show_bidder.id }}" />
</div>

<div class="row g-3">
{{ macros.form_group(attendee.art_show_bidder, 'admin_notes', type='textarea', label="Notes", is_readonly=printable, use_bs5=True) }}
<div class="col-12 col-sm-6">
  <div class="form-text">Email List of Won Pieces?</div>
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="email_won_bids" value="1"{% if attendee.art_show_bidder.email_won_bids %} checked{% endif %}>
    <strong>Yes</strong>, email this bidder at {{ attendee.email }} about pieces they won in the art show.
  </label>
</div>
</div>
{% endif %}

{% if printable %}
<br/><br/>
<span class="text-center">
<strong><p>I understand that a bid is a binding contract. I should not bid more than I can afford to pay. Failure to pickup and pay for art I have bid on could result in my not being able to attend Midwest FurFest in the future. I have read and understand the art show rules.</p>
<p>I also understand that pick up is from 10 AM to 4 PM on Sunday.</p>
</strong>
</span>
<br/>
<div class="row g-3">
  <div class="col-12 col-sm-6">
    <label class="form-text">Signature</label>
    <div class="mb-3">
        ____________________________________________________________
    </div>
  </div>
</div>

<div class="row g-3">
  <div class="col-12 col-sm-6">
    <label class="form-text">Date</label>
    <div class="mb-3">
      ______________________________
    </div>
  </div>
</div>
{% endif %}
{%- endmacro -%}