{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set contact_info = contact_info or forms['contact_info'] %}
{% set default_group_email = logged_in_account.email if logged_in_account else '' %}

{# BLOCK NAMES in this form:
    contact_info
    address

Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

<div class="row g-3 mb-3">
{% block contact_info %}
    <div class="col-sm">
      {{ form_macros.input(contact_info.email_address, value=contact_info.email_address.data or default_group_email) }}
    </div>
  
    <div class="col-sm">
      {{ form_macros.input(contact_info.phone) }}
    </div>
{% endblock %}
</div>

{% block address %}
  {{ form_macros.address_fields(contact_info) }}
{% endblock %}