{% import 'macros.html' as macros with context %}
{% import 'forms/macros.html' as form_macros with context %}
{% set group_info = group_info or forms['group_info'] %}
{%- set is_prereg_attendee = c.PAGE_PATH in ['/preregistration/form', '/preregistration/post_form'] -%}

{# BLOCK NAMES in this form:
    x_data
    name_badges
    badges_tables (admin-only)
    cost (admin-only)
    admin_info (admin-only)

Use these to add or rearrange fields. Remember to use {{ super() }} to print the original fields as-is.
#}

<div x-data="{ {% block x_data %}
payment: {{ 'true' if group.guest and group.guest.payment else 'false' }},
get showW9() { return this.guest_group_type != 0 && this.guest_group_type != {{ c.MIVS|tojson }} },
get groupFields() { return !this.badge_type || this.badge_type == {{ c.PSEUDO_GROUP_BADGE|tojson }} },
{% endblock %} }">

{# Takes the Stripe transaction max and divides it by the group price,
    then rounds down to the nearest multiple of 5 so that people don't ask us why we're selling 86 badges #}
{% set max_badges = ((9999 / c.GROUP_PRICE / 5)|int * 5)|int if is_prereg_attendee else c.MAX_GROUP_SIZE %}

<div class="row g-3 mb-3">
{% block name_badges %}
    <div class="col-sm" x-show="groupFields">{{ form_macros.input(group_info.name, required_if="groupFields") }}</div>
    {% if is_prereg_attendee %}
    <div class="col-sm" x-show="groupFields">{{ form_macros.input(group_info.badges, choices=int_choices(0 if admin_area else c.MIN_GROUP_SIZE, max_badges)) }}</div>
    {% elif admin_area and not group.is_dealer %}
    <div class="col-sm">{{ form_macros.input(group_info.guest_group_type, alpine_model="guest_group_type") }}</div>
    <div class="col-sm pt-1" x-show="showW9">
    <div class="form-text">&nbsp;</div>
        {{ form_macros.input(group_info.payment, alpine_model="payment") }}
    </div>
    {% endif %}
{% endblock %}
</div>

<div class="row g-3 mb-3">{% block badges_tables %}{% endblock %}</div>
<div class="row g-3 mb-3">{% block cost %}{% endblock %}</div>
<div class="row g-3 mb-3">{% block admin_info %}{% endblock %}</div>

</div>