{% extends "mivs_base.html" %}
{% block body %}

<h2>Please Confirm Your Acceptance into MIVS</h2>

You have been accepted into the MAGFest Indie Videogame Showcase!  We need you to confirm that you are still interested
and able to attend or let us know that you cannot, by clicking the appropriate button below.  As already explained, each
studio receives {{ c.MIVS_INDIE_BADGE_COMPS }} complementary badges for each game which is accepted into the showcase. These badges can be changed at a later time. You
have already left information for your presenters, so here is what will happen if you accept:

<br/> <br/>

<ul>
{% for dev in developers %}
    <li>
        {{ dev.full_name }}
        {% if dev.matching_attendee %}
            is already in our registration database.
            {% if dev.matching_attendee.group %}
                Because this registration already belongs to a group, it will NOT be added to the group for this studio.
            {% else %}
                This registration will be moved into the group for this studio.
            {% endif %}
        {% elif dev.comped %}
            will be registered for a complementary badge and will be prompted to fill out the rest of their information.
        {% else %}
            will be registered for an unpaid badge which will need to be paid later.
        {% endif %}
    </li>
{% endfor %}
{% if studio.unclaimed_badges %}
    <li>
        {{ studio.unclaimed_badges }} additional badge{{ studio.unclaimed_badges|pluralize }} will be registered,
        which you can assign to whomever you wish.
    </li>
{% endif %}
</ul>

<br/>

<form method="post" action="confirm">
    {{ csrf_token() }}
    <input type="submit" name="decision" value="Accept" />
    <input type="submit" name="decision" value="Decline" />
</form>

<br/>

{% endblock %}
