{% if (studio and studio.is_new) or not developer.agreed_coc or not developer.agreed_data_policy %}
{# HTML doesn't render inside macro options #}
{% set agreed_coc_label %}
I agree to be bound by the <a href="{{ c.CODE_OF_CONDUCT_URL }}">Code of Conduct</a>.
{% endset %}
{% set agreed_data_policy_label %}
I agree that I am submitting my information to the MAGFest Indie Videogame Showcase department for the sole purpose of
determining showcase selections for {{ c.EVENT_NAME_AND_YEAR }}. My information will not be shared with any outside parties.
{% endset %}
<div class="form-group">
  <div class="col-sm-9 col-sm-offset-3">
    <div class="form-control-static checkbox">
      {{ macros.checkbox(developer, 'agreed_coc', label=agreed_coc_label) }}
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-9 col-sm-offset-3">
    <div class="form-control-static checkbox">
      {{ macros.checkbox(developer, 'agreed_data_policy', label=agreed_data_policy_label) }}
    </div>
    <div class="help-block">For more information on our privacy practices please contact us via <a href='{{ c.CONTACT_URL }}'>{{ c.CONTACT_URL }}</a>.</div>
  </div>
</div>
{% endif %}