{% extends "mivs_base.html" %}
{% block body %}

<h2>You are not logged in!</h2>

<p>
    In order to log back into your MAGFest Indie Videogame Showcase application, you can click on the link that we sent when you applied.
    If you don't see an email, check your spam/junk folder for an email titled "Your MIVS Studio Has Been Registered".
</p>

{% if c.AFTER_MIVS_START and not c.MIVS_SUBMISSIONS_OPEN %}
    <p>
        However, we are already <b>past the final deadline</b>, so you will be able to <b>only view and not edit</b>
        your application.
    </p>
    <p>
        If you are not yet registered and want to create a new application, you may
        <a href="studio">click here to do so</a>.
    </p>
{% else %}
    <p>
        If you have not already registered your studio, then it is unfortunately too late to do so, since we are past
        the registration deadline.
    </p>
{% endif %}

{% endblock %}
