<html>
<head></head>
<body>

<p>"{{ old_app['name'] }}"{% if old_app['display_name'] %} ({{ old_app['display_name'] }}){% endif %} has updated their application for the Artist Marketplace.</p>

<p>Below is the new application:
<ul>
    <li><strong>Business Name</strong>: {{ app.name }}</li>
    {% if app.display_name %}<li><strong>Display Name</strong>: {{ app.display_name }}</li>{% endif %}
    <li><strong>Email</strong>: {{ app.email_address }}</li>
    {% if app.website %}<li><strong>Website</strong>: {{ app.website }}</li>{% endif %}
    {% if app.tax_number %}<li><strong>Illinois Business Tax Number</strong>: {{ app.tax_number }}</li>{% endif %}
    {% if app.seating_requests %}<li><strong>Seating Requests</strong>: {{ app.seating_requests }}</li>{% endif %}
    {% if app.accessibility_requests %}<li><strong>Accessibility Requests</strong>: {{ app.accessibility_requests }}</li>{% endif %}
</ul></p>

</body>
</html>
