<html>
<head></head>
<body>

You have successfully submitted an application for the {{ c.EVENT_NAME }} Marketplace
this coming {{ event_dates() }}. Below is a copy of your application. You may
<a href="{{ c.URL_BASE }}/marketplace_applications/edit?id={{ app.id }}">update it here</a>.

<ul>
    {% if app.business_name %}<li><strong>Business Name</strong>: {{ app.business_name }}</li>{% endif %}
    <li><strong>Total Price</strong>: ${{ app.potential_cost }}</li>
    <li><strong>Description</strong>: {{ app.description }}</li>
    <li><strong>Categories</strong>: {{ app.categories_labels|join(', ') }}{% if app.categories_text %}{% if app.categories_labels%} / {% endif %}Other: {{ app.categories_text }}{% endif %}</li>
    {% if app.tax_number %}<li><strong>Illinois Business Tax Number</strong>: {{ app.tax_number }}</li>{% endif %}
    {% if app.special_needs %}<li><strong>Special Requests</strong>: {{ app.special_needs }}</li>{% endif %}
</ul>

Should your application be approved, you will be required to pay a ${{ app.potential_cost }} fee to complete your reservation.
{% if app.attendee.badge_status == c.NEW_STATUS %}
You MUST complete your {{ c.EVENT_NAME }} registration before you will be able to pay for your marketplace space. You
may complete your registration
<a href="{{ c.URL_BASE }}//preregistration/confirm?id={{ app.attendee_id }}">here</a>.
{% endif %}

<br/><br/>
{% if c.AFTER_MARKETPLACE_WAITLIST %}
    Because our Marketplace is currently full, your submission has been automatically placed on our waitlist.  We'll let
    you know if your application is later approved.
{% else %}
    We will review your request and provide you with a payment link once your application has been approved.
{% endif %}

<br/> <br/> You can always review the {{ c.EVENT_NAME }} Marketplace rules
<a href="{{ c.MARKETPLACE_RULES_URL }}" target="_blank">here</a>.

</body>
</html>
