{% extends "base-admin.html" %}
{% block title %}Accounts{% endblock %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="../accounts/homepage">Home</a></li>
  <li class="active">Accounts</li>
</ol>

<div class="panel panel-default">
<div class="panel-heading"><h3>New Account</h3></div>
<form id="new_admin" method="post" action="update" onsubmit="return check_passwords()" role="form" class="form-inline">
<input type="hidden" name="id" value="None" />
{% csrf_token %}
<div class="form-group">
    <label for="attendee_id" class="sr-only">Attendee</label>
    <select class="form-control" id="attendee_id" name="attendee_id">
        {% options all_attendees %}
    </select>
</div>
<div class="form-group">
    <div class="input-group input-group-sm">
    <label for="password" class="sr-only">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
       {% if not c.AT_OR_POST_CON %}disabled{% endif %}>
       {% if not c.AT_OR_POST_CON %}
           <span class="input-group-addon glyphicon glyphicon-ban-circle">
           </span>
       {% endif %}
    </div>
    <input type="password" class="form-control" id="check-password" name="check-password" placeholder="Re-enter Password"
           {% if not c.AT_OR_POST_CON %}disabled{% endif %}>
</div>
<div class="form-group">
    {% checkgroup AdminAccount.access %}
</div>
<button type="submit" class="btn btn-default">Create Account</button>
</form>
</div>

<div class="panel panel-default">
<div class="panel-heading"><h3>Existing Accounts</h3></div>

<div class="table-responsive">
<table class="table table-striped datatable">
<thead><tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th data-hide="phone">Access</th>
    <th></th>
</tr></thead>
<tbody>
{% for account in accounts %}
    <tr id="{{ account.email|idize }}">
        <td>
            <div class="btn-group-vertical">
                <button type="submit" class="btn btn-primary update-button"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                <form method="post" action="delete">
                    <input type="hidden" name="id" value="{{ account.id }}" />
                    <button type="submit" type="button" class="btn btn-danger delete-button"><span class="glyphicon glyphicon-trash"></span></button>
                </form>
            </div>
        </td>
        <td data-order="{{ account.attendee.last_first }}" data-search="{{ account.attendee.last_first }}"> <nobr><a href="../registration/form?id={{ account.attendee.id }}">{{ account.attendee.last_first }}</a></nobr> </td>
        <td> <a href="mailto:{{ account.attendee.email }}">{{ account.attendee.email }}</a> </td>
        <td>
            <form class="form update-form" method="post" action="update">
                <input type="hidden" name="id" value="{{ account.id }}" />
                {% csrf_token %}
                <div class="form-group">{% checkgroup account.access %}</div>
            </form>
        </td>
        <td>
                <!--<input type="hidden" name="id" value="{{account.id}}"/ />-->
            <a href="update_password_of_other?id={{account.id}}">Change Password</a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>

<script>
    function check_passwords() {
        if (document.getElementById("password").value != document.getElementById("check-password").value) {
            alert("Passwords must match");
            return false;
        }
        return true;
    }

$(function() {
    $(document.body).on('click', '.delete-button', function (event) {
        event.preventDefault();
        $.confirm({
            text: 'Are you sure you want to delete that account?',
            confirm: function () {
                $(event.target).parents('form').submit();
            },
            cancel: function () { }
        });
    });
    $(document.body).on('click', '.update-button', function (event) {
        $(event.target).parents('tr').find('.update-form').submit();
    });

});
</script>

</div>
{% endblock %}
