{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Admin Accounts{% endblock %}
{% block content %}

<style>
table form {
  display: inline;
}
</style>

<script type="text/javascript">
  let selectList;
  const handleInput = () => {
    const inputValue = $('#attendee-select-search').val();
    if (inputValue && inputValue.length < 3) {
      return;
    }

    $("#attendee-select-list li").remove();

    if (inputValue) {
        const matchingEls = selectList.filter((key, val) => val.innerText.trim().includes(inputValue));

        matchingEls.each((key, val) => {
          $('#attendee-select-list').append(val);
        });
    } else {
      selectList.each((key, val) => {
          $('#attendee-select-list').append(val);
        });
    }
}
  let setAttendeeId = function (val, label) {
    $('#attendee_id').val(val);
    $('#attendee-select').text(label);
  }
  $().ready(function () {
    selectList = $("#attendee-select-list li");
  })
</script>

<div class="card">
  <div class="card-header">
    <span class="card-title">New Account</span>
  </div>
  <div class="card-body">
    <form id="new_admin" method="post" action="update" {% if c.AT_OR_POST_CON %}onsubmit="return check_passwords()" {% endif %}role="form">
      <input type="hidden" name="id" value="None" />
      {{ csrf_token() }}
      <div class="row mb-sm-2">
        <div class="col-12 col-sm-6">
          <label for="attendee_id" class="visually-hidden">Attendee</label>
          <input type="hidden" name="attendee_id" id="attendee_id" value="" />
          <div class="dropdown mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle col-12" 
                    type="button" 
                    id="attendee-select" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                Select an attendee
            </button>
            <ul class="dropdown-menu pt-0 col-12" id="attendee-select-list"
                aria-labelledby="attendee-select">
                <input type="text" id="attendee-select-search"
                       class="form-control 
                              border-0 border-bottom 
                              shadow-none mb-2" 
                       placeholder="Search..." 
                       oninput="handleInput()">
                {% for attendee in all_attendees %}
                <li id="list-item-{{ attendee[0] }}">
                  <a href="#" class="dropdown-item" onClick="setAttendeeId('{{ attendee[0] }}', '{{ attendee[1] }}')">{{ attendee[1] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        </div>
        <div class="col-12 col-sm-6">
          {{ macros.checkgroup_opts(
              'access_groups_ids',
              c.ACCESS_GROUP_OPTS,
              include_empty_hidden=True) }}
        </div>
      </div>
      <div class="row">
        {% if c.AT_OR_POST_CON %}
        <div class="col-6 col-sm-3">
          <label for="password" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="col-6 col-sm-3">
          <label for="password" class="visually-hidden">Confirm Password</label>
          <input type="password" class="form-control" id="check-password" name="check-password" placeholder="Re-enter Password">
        </div>
        {% endif %}
        <div class="col-12 col-sm-6 {% if not c.AT_OR_POST_CON %}offset-sm-6{% endif %}">
          <button type="submit" class="btn btn-outline-primary">Create Account</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
    <span class="card-title">Existing Accounts</span>
  </div>
  <div class="card-body">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th data-hide="phone">Access Groups</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for account in accounts %}
        <tr id="{{ account.email|idize }}">
          <td data-order="{{ account.attendee.last_first }}" data-search="{{ account.attendee.last_first }}">
            <nobr><a href="#attendee_form?id={{ account.attendee.id }}">{{ account.attendee.last_first }}</a></nobr>
          </td>
          <td> {{ account.attendee.email|email_to_link }} </td>
          <td>
            <form class="form update-form" method="post" action="update">
              <input type="hidden" name="id" value="{{ account.id }}" />
              {{ csrf_token() }}
              <div class="form-group">
                {{ macros.checkgroup_opts(
                  'access_groups_ids',
                  c.ACCESS_GROUP_OPTS,
                  defaults=account.access_groups_ids) }}
              </div>
            </form>
            {% if account.attendee.assigned_depts %}
              <br>
              <small><i>Assigned to {{ account.attendee.assigned_depts|map('form_link')|list|readable_join|safe }}</i></small>
            {% endif %}
          </td>
          <td>
            <a href="update_password_of_other?id={{account.id}}">Change Password</a>
          </td>
          <td class="text-nowrap">
            <button type="submit" class="btn btn-sm btn-primary update-button">
              <i class="fa fa-check"></i>
            </button>
            <form class="form delete-form" method="post" action="delete">
              {{ csrf_token() }}
              <input type="hidden" name="id" value="{{ account.id }}" />
              <button type="submit" class="btn btn-sm btn-danger delete-button" data-last_first="{{ account.attendee.last_first }}">
                <i class="fa fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
{% if c.AT_OR_POST_CON %}
function check_passwords() {
    if (document.getElementById("password").value != document.getElementById("check-password").value) {
        alert("Passwords must match");
        return false;
    }
    return true;
}
{% endif %}

$(document).ready(function() {
    $('table').on('click', '.delete-button', function (event) {
        event.preventDefault();
        var $self = $(this),
            lastFirst = $self.data('last_first'),
            $formToSubmit = $self.closest('form');
        bootbox.confirm({
            backdrop: true,
            title: 'Delete "' + lastFirst + '"?',
            message: 'Are you sure you want to delete this account? This cannot be undone.',
            buttons: {
                confirm: { label: 'Delete Account', className: 'btn-danger' },
                cancel: { label: 'Nevermind', className: 'btn-outline-secondary' }
            },
            callback: function (result) {
                if (result) {
                    $formToSubmit.submit();
                }
            }
        });
    });

    $('table').on('click', '.update-button', function (event) {
        $(event.target).closest('tr').find('.update-form').submit();
    });
});
$("form[action='update']").ajaxForm(function(response){
    if(response.success == true) {
      window.location.href = 'index?message=' + response.message;
    } else {
      hideMessageBox();
      showErrorMessage(response.message);
    }
});
</script>
{% endblock %}
