{% extends "base-admin.html" %}
{% block title %}Accounts{% endblock %}
{% block content %}

<h2> Accounts </h2>

<h3>Change your password</h3>
<a href="../accounts/change_password">Click here</a> to change your own password.

<h3> New Account </h3>
<form id="new_admin" method="post" action="update">
<input type="hidden" name="id" value="None" />
{% csrf_token %}
<table style="width:auto">
<tr>
    <td> <b>Attendee:</b> </td>
    <td>
        <select name="attendee_id">
            {% options all_attendees %}
        </select>
    </td>
</tr>
{% if AT_THE_CON %}
    <tr>
        <td> <b>Password:</b> </td>
        <td> <input type="password" name="password" /> </td>
    </tr>
{% endif %}
<tr>
    <td> <b>Access:</b> </td>
    <td> {% checkgroup AdminAccount.access %} </td>
</tr>
<tr>
    <td></td>
    <td> <input type="submit" value="Create Account" /> </td> 
</tr>
</table>
</form>

<h3>Existing Accounts</h3>
<table class="list">
<tr class="header">
    <td>Name</td>
    <td>Email</td>
    <td>Access</td>
    <td></td>
</tr>
{% for account in accounts %}
    <tr id="{{ account.email|idize }}" bgcolor="{% cycle #FFFFFF,#EEEEEE %}">
        <td> <nobr><a href="../registration/form?id={{ account.attendee.id }}">{{ account.attendee.full_name }}</a></nobr> </td>
        <td> <a href="mailto:{{ account.attendee.email }}">{{ account.attendee.email }}</a> </td>
        <td align="left">
            <form class="update" method="post" action="update">
            <input type="hidden" name="id" value="{{ account.id }}" />
            {% csrf_token %}
            <table><tr>
                <td> {% checkgroup account.access %} </td>
                <td> <input type="submit" value="Update" /> </td>
            </tr></table>
            </form>
        </td>
        <td align="center"> 
            <form class="delete" method="post" action="delete">
            <input type="hidden" name="id" value="{{ account.id }}" />
            <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
