{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Login{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<!-- Custom styles for this template -->
<link href="../static/styles/login.css" rel="stylesheet">

<div class="container">
  <form class="form-signin" role="form" method="post" action="../accounts/login">
	<h2 class="form-signin-heading">Admin Login</h2>
	<input type="email" class="form-control" placeholder="Email address" name="email"
		value="{{ email }}" required autofocus />
	<input type="password" class="form-control" placeholder="Password" name="password" required />
    <input type="hidden" name="original_location" value="{{ original_location }}" />
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
 
 <div class="text-center">
	{% if c.AT_THE_CON %}
		Contact STOPS if you've forgotten your username/password.
    {% else %}
        <a href="reset">Forgot your password?</a>
    {% endif %}
</div>
<br>
<div class="well">
	Note: This login is for administrators only.  If you are a staffer wanting to sign
	up for shifts, you may <a href="../staffing/login">log in here</a>.
</div> 
  </form>
</div>

{% endblock %}
