
<script type="text/javascript">
    var mainMenuDropdownChanged = function () {
        window.location = "bulk?department_id=" + $("#department_id").val();
    };
</script>

<table style="text-align:center">
<tr>
    <td width="50%">
        <select id="department_id" style="font-size:14pt ; font-weight:bold" onChange="mainMenuDropdownChanged()">
            <option>All</option>
            {{ options(c.DEPARTMENT_OPTS, default=department_id) }}
        </select>
    </td>
</tr>
</table>

<br/>
