{# this template is loaded xhr only so doesn't need the header #}
{# note, this is probably a hacky and terrible way to do it    #}
<nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="../accounts/homepage" class="navbar-brand">
      <img class="navbar-brand-icon" style="max-height: 35px;" src="../static/theme/logo.svg" alt="{{ c.EVENT_NAME }}"/>
    {{ c.EVENT_NAME }}
    </a>
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right navbar-iconic navbar-utility">
      
      <li class="dropdown">
        <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span title="Help" class="fa pficon-help"></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#0">Help</a></li>
          <li><a href="#0">About</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle nav-item-iconic" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span title="Username" class="fa pficon-user"></span>
          {{ c.CURRENT_ADMIN.first_name }} {{ c.CURRENT_ADMIN.last_name }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a href="../registration/form?id={{ c.CURRENT_ADMIN.id }}">My Registration</a></li>
          {% if c.CURRENT_ADMIN.assigned_depts %}
            <li><a href="../departments/?filtered=1">My Departments</a></li>
            {% for dept in c.CURRENT_ADMIN.assigned_depts %}
            <li><a href="../departments/form?id={{ dept.id }}">&nbsp;&#8226;&nbsp;{{ dept.name }}</a></li>
            {% endfor %}
          {% endif %}
          <li role="separator" class="divider"></li>
          <li><a href="../accounts/change_password">Change Password</a></li>
          <li><a href="../accounts/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>

<div class="nav-pf-vertical 
            nav-pf-vertical-with-sub-menus
            nav-pf-persistent-secondary
            nav-pf-vertical-collapsible-menus">
  <ul class="list-group">


{# start mainmenu #}
{% for menu_item in c.MENU_FILTERED_BY_ACCESS_LEVELS.submenu -%}
  {% if menu_item.href -%}
    <li class="list-group-item">
      <a href="{{ menu_item.href }}">
        <span class="{{ menu_item.icon }}" data-toggle="tooltip" title="{{ menu_item.name }}"></span>
        <span class="list-group-item-value">{{ menu_item.name }}</span>
      </a>
    </li>
  {% elif menu_item.submenu -%}
    <li class="list-group-item secondary-nav-item-pf" data-target="#{{ menu_item }}-mainmenu-secondary">
      <a>
        <span class="{{ menu_item.icon }}" data-toggle="tooltip" title="{{ menu_item.name }}"></span>
        <span class="list-group-item-value">{{ menu_item.name }}</span>
      </a>  
<div id="{{ menu_item }}-mainmenu-secondary" class="nav-pf-secondary-nav">
        <div class="nav-item-pf-header">
          <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
          <span>{{ menu_item.name }}</span>
        </div>
    <ul class="list-group">
    {% for submenu_item in menu_item.submenu -%}
      <li>
          {% if submenu_item.href -%}
              <li class="list-group-item">
                <a href="{{ submenu_item.href }}">
                    <span class="list-group-item-value">{{ submenu_item.name }}</span>
                </a>
              </li>
          {% else -%}
              <li class="list-group-item">
                <a href="{{ submenu_item.href }}">
                    <span class="list-group-item-value">XXXXX {{ submenu_item.name }}</span>
                </a>
              </li>
          {% endif -%}
      </li>
    {% endfor -%}
  </ul>
  </div>
  </li>
    {% endif -%}
{% endfor %}
{# end mainmenu #}

<li class="list-group-item secondary-nav-item-pf" data-target="#sitemap-secondary">
      <a>
        <span class="fa fa-sitemap" data-toggle="tooltip" title="Sitemap"></span>
        <span class="list-group-item-value">Sitemap</span>
      </a>
<div id="sitemap-secondary" class="nav-pf-secondary-nav">
  <div class="nav-item-pf-header">
    <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
    <span>Sitemap</span>
  </div>
  <ul class="list-group">

{# start sitemap #}
{% for section, pagelist in pages %}
    <li class="list-group-item tertiary-nav-item-pf" data-target="#{{ section }}-sitemap-tertiary">
      <a>
        <span class="list-group-item-value">{{ section|title }}</span>
      </a>  
<div id="{{ section }}-sitemap-tertiary" class="nav-pf-tertiary-nav">
        <div class="nav-item-pf-header">
          <a class="tertiary-collapse-toggle-pf" data-toggle="collapse-tertiary-nav"></a>
          <span>{{ section }}</span>
        </div>
    <ul class="list-group">
    {% for page in pagelist %}
      <li class="list-group-item">
        <a href="{{ page.path }}">
            <span class="list-group-item-value">{{ page.name }}</span>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  </li>
{% endfor %}
 </ul>
  </div>
  </li>
{# end sitemap #}

    <li class="list-group-item secondary-nav-item-pf mobile-nav-item-pf visible-xs-block">
      <a>
        <span class="pficon pficon-user" data-toggle="tooltip" title="" data-original-title="User"></span>
        <span class="list-group-item-value"><span title="Username" class="fa pficon-user"></span>
          {{ c.CURRENT_ADMIN.first_name }} {{ c.CURRENT_ADMIN.last_name }}</span>
      </a>
      <div id="user-secondary" class="nav-pf-secondary-nav">
        <div class="nav-item-pf-header">
          <a href="#0" class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
          {{ c.CURRENT_ADMIN.first_name }} {{ c.CURRENT_ADMIN.last_name }} <span class="caret"></span>
        </div>

        <ul class="list-group">

          <li class="list-group-item">
            <a href="../registration/form?id={{ c.CURRENT_ADMIN.id }}">
              <span class="list-group-item-value">My Registration</span>
            </a>
          </li>

          {% if c.CURRENT_ADMIN.assigned_depts %}
          <li class="list-group-item">
            <a href="../departments/?filtered=1">
              <span class="list-group-item-value">My Departments</span>
            </a>
          </li>
            {% for dept in c.CURRENT_ADMIN.assigned_depts %}
          <li class="list-group-item">
            <a href="../departments/form?id={{ dept.id }}">
              <span class="list-group-item-value">&nbsp;&#8226;&nbsp;{{ dept.name }}</span>
            </a>
          </li>
            {% endfor %}
          {% endif %}

          <li class="list-group-item">
            <a href="../accounts/change_password">
              <span class="list-group-item-value">Change Password</span>
            </a>
          </li>

          <li class="list-group-item">
            <a href="../accounts/logout">
              <span class="list-group-item-value">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item secondary-nav-item-pf mobile-nav-item-pf visible-xs-block" data-target="#amet-secondary">
      <a href="#0">
        <span class="pficon pficon-help" data-toggle="tooltip" title="" data-original-title="Help"></span>
        <span class="list-group-item-value">Help</span>
      </a>
      <div id="help-secondary" class="nav-pf-secondary-nav">
        <div class="nav-item-pf-header">
          <a href="#0" class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
          <span>Help</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#0">
              <span class="list-group-item-value">Help</span>
            </a>
          </li>
          <li class="list-group-item">
            <a href="#0">
              <span class="list-group-item-value">About</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
</ul>
</div>

<script>
System.import('jquery').then(function($) {
    Promise.all([
        System.import('patternfly')
    ]).then(function(modules) {
      $(document).ready(function() {
      $().setupVerticalNavigation(true);
      
      // OMG HAX REMOVE THIS AND PROPERLY MAKE A FUNCTION FOR IT
      $('a').click(function(event) {
    dest = $(this).attr('href');
    if (dest == '#') dest = null; //TODO: hacky, do this right
    if (dest) {
        history.pushState(location.pathname,'',dest);
        $("#mainContainer").load(dest);
        event.preventDefault();
    };
    });
    // END OMG HAX
  });
});
});
</script>