{% extends "base-admin.html" %}
{% block title %}Site Map{% endblock %}
{% block content %}

<div class="page-header"><h1>Site Map</h1></div>

{% for section, pagelist in pages %}
    <div class="panel panel-default">
    <div class="panel-heading"><a href="../{{ section }}/index">{{ section|title }}</a></div>
        <ul class="nav nav-pills">
        {% for page in pagelist %}
            <li><a href="..{{ page.path }}">{{ page.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}

</div>
{% endblock %}
