{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Change Password {% endblock %}
{% block content %}

<h2 class="center"> Update Password for {{account.attendee.full_name}}</h2>

<form method="post" action="update_password_of_other">
{{ csrf_token() }}
<input type="hidden" name="id" value="{{account.id}}"/ />

<table>
<tr class="center">
    <td width="33%">
        <b>Your Password:</b> <br/>
        <input class="focus" type="password" name="updater_password" />
    </td>
    <td width="33%">
        <b>New Password:</b> <br/>
        <input type="password" id='new1' name="new_password" />
    </td>
    <td width="33%">
        <b>Confirm New Password:</b> <br/>
        <input type="password" id='new2' name="confirm_password" />
    </td>
</tr>
</table>

<div class="center">
    <input type="submit" class="submit-button" value="Change Password" />
</div>

</form>
{% endblock %}
