{% import 'macros.html' as macros %}
{% if c.EMERGENCY_PROCEDURES_ENABLED %}
<li>
    {{ macros.checklist_image(attendee.reviewed_emergency_procedures) }}
    {% if not attendee.reviewed_emergency_procedures %}
        Please review our
    {% else %}
        You have acknowledged that you reviewed our
    {% endif %}
    {% if c.EMERGENCY_PROCEDURES_READY and not attendee.placeholder and (attendee.agreed_to_volunteer_agreement or not c.VOLUNTEER_AGREEMENT_ENABLED) %}<a href="emergency_procedures">Safety and Security Information</a>{% else %}Safety and Security Information{% endif %}
    {% if not attendee.reviewed_emergency_procedures %} and acknowledge that you have done so{% endif %}. 
    {% if c.EMERGENCY_PROCEDURES_READY %}(Deadline: {{ c.EMERGENCY_PROCEDURES_DEADLINE }}){% else %}(Coming Soon!){% endif %}
</li>
{% endif %}
