{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Volunteer Login{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<!-- Custom styles for this template -->
{{ "styles/login.css"|serve_static_content }}

<div class="container">
    {% if c.DEV_BOX or c.AFTER_VOLUNTEER_CHECKLIST_OPEN %}
        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Volunteer Login</h2>
            <input type="text" class="form-control" placeholder="First Name" name="first_name" value="{{ first_name }}" required autofocus />
            <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="{{ last_name }}" required />
            <input type="email" class="form-control" placeholder="Email address" name="email" value="{{ email }}" required />
            <input type="text" class="form-control" placeholder="Zip Code" name="zip_code" value="{{ zip_code }}" required />
            <input type="hidden" name="original_location" value="{{ original_location }}" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    {% else %}
        <div class="well">
            The volunteer checklist is not yet available. If you are signed up as a volunteer, you will
            be emailed when the checklist is live. We anticipate that the volunteer checklist will go live on {{ c.VOLUNTEER_CHECKLIST_OPEN|datetime_local }}.
            You should receive an email with more information at that time, thanks so much for volunteering!
        </div>
    {% endif %}
</div>

<div class="text-center">
    {{ macros.popup_link("../static_views/howToStaff.html", "How do I volunteer?") }}
</div>

{% endblock %}
