{% extends "base.html" %}{% set admin_area=True %}
{% block title %}{{ attendee.full_name}}'s Schedules{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<h2> {{ attendee.full_name }}'s Printable Schedule </h2>

<div style="text-align:center ; font-style:italic">
    <a href="login">Click here</a> to log in as someone else. <br/>
    <a href="food_restrictions">Click here</a> to edit your dietary restrictions. <br/>
    <a href="onsite_jobs">Click here</a> to sign up for new shifts.
</div>

<br/> Our database has gone offline to be moved to {{ c.EVENT_NAME }}, but you can still print your schedule below: <br/> <br/>

{% include "staffing/printable_schedule.html" %}

{% endblock %}
