{% extends "preregistration/preregbase.html" %}
{% import 'forms/macros.html' as form_macros with context %}
{% set title = c.EVENT_NAME ~ "Showcase Application" %}
{% block backlink %}{% endblock %}
{% block content %}
<div class="card card-body">
    <h2>
        {{ c.EVENT_NAME }} Showcase Application for {{ studio.name }}
        <a class="btn btn-sm btn-primary" href="studio?id={{ studio.id }}"><i class="fa fa-cog"></i>&nbsp;Edit Studio</a>
    </h2>
    <p>
        If you are not a member of {{ studio.name }} then please <a href="apply">start a new studio application</a>.
    </p>

    {% include 'showcase/deadlines.html' %}

    <h3>Team Members</h3>
    {% if c.MIVS_START %}
    <p>If accepted to MIVS, you will receive {{ c.MIVS_INDIE_BADGE_COMPS }} complimentary badges and a 10'x10' booth space.</p>
    {% endif %}
    {% if c.INDIE_ARCADE_START %}
    <p>If accepted to Indie Arcade, you will receive {{ c.MIVS_INDIE_BADGE_COMPS }} complimentary badges and the floor space as indicated on your submission form.</p>
    {% endif %}
    <p>Additional team members must purchase their badges. Transfer of badges between team members is prohibited.</p>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone #</th>
            <th>Gets Emails</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for dev in studio.developers %}
            <tr>
            <td>{{ dev.full_name }}</td>
            <td>{{ dev.email }}</td>
            <td>{{ dev.cellphone }}</td>
            <td>{{ dev.gets_emails|yesno|title }}</td>
            <td>
                <div class="d-flex gap-1">
                <a href="developer?id={{ dev.id }}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                <form method="post" action="delete_developer">
                    {{ csrf_token() }}
                    <input type="hidden" name="id" value="{{ dev.id }}" />
                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>
                </form>
                </div>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr><td colspan="5" class="text-end">
                <a href="developer?studio_id={{ studio.id }}" class="btn btn-sm btn-success">Add a Presenter</a>
            </td></tr>
        </tfoot>
    </table>
    </div>

    <h3>Registered Games</h3>
        {% if not studio.games and c.INDIE_SHOWCASE_OPEN %}
        <p>You have not registered any games yet. Use one of the buttons below to get started.</p>
        {% endif %}
        {% if studio.mivs_games %}
        <div class="card">
            <div class="card-header text-white bg-primary">MIVS Showcase Games</div>
            <div class="card-body">
                {% if c.HAS_MIVS_ADMIN_ACCESS or c.MIVS_SUBMISSIONS_OPEN %}
                    <p>
                        The deadline for MIVS game submissions is <strong>{{ c.MIVS_DEADLINE|datetime_local }}</strong>.
                    </p>
                    <p>
                        You can edit game and demo information, codes, and screenshots for all games, including submitted games, up until the deadline. 
                    </p>
                    {% if c.HAS_MIVS_ADMIN_ACCESS and not c.MIVS_SUBMISSIONS_OPEN %}
                    <p class="text-danger">The MIVS submission deadline has passed. Only logged-in admins can edit or submit MIVS games.</p>
                    {% endif %}
                {% else %}
                    <p>
                        The deadline for submitting games to MIVS has passed. Once judging is completed, you can review each game's status below.
                    </p>
                {% endif %}
                {% for game in studio.mivs_games %}
                {% include 'mivs/game_modals.html' with context %}
                {% endfor %}
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Title</th>
                        <th>Demo Info</th>
                        <th>Codes</th>
                        <th>Screenshots</th>
                        <th>Status</th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody>
                {% for game in studio.mivs_games %}
                        <tr>
                        <td>
                            {{ game.title }}
                        </td>
                        <td><button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#demo-{{ game.id }}">View/Edit</button></td>
                        <td>
                            {% if game.code_type == c.NO_CODE %}
                                No codes required
                            {% else %}
                                {{ game.codes|length }} code{{ game.codes|length|pluralize }}
                                <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#new-code-{{ game.id }}"><i class="fa fa-plus"></i></button>
                            {% endif %}
                        </td>
                        <td>
                            {{ game.screenshots|length }} screenshot{{ game.screenshots|length|pluralize }}
                            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#new-screenshot-{{ game.id }}"><i class="fa fa-plus"></i></button>
                        </td>
                        <td>
                            {% if not game.submitted %}
                            <span class="text-danger">Not Submitted</span>
                            {% elif game.status == c.NEW %}<span class="text-success">Submitted</span>
                            {% else %}{{ game.status_label }}{% endif %}
                        </td>
                        <td>
                            {% if c.HAS_MIVS_ADMIN_ACCESS or c.MIVS_SUBMISSIONS_OPEN %}
                            <a href="../mivs/game?id={{ game.id }}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                        </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <div class="d-flex gap-1 justify-content-end">
                                    {% if game.code_type != c.NO_CODE and game.codes %}
                                        <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#edit-codes-{{ game.id }}">View Game Code{{ game.codes|length|pluralize }}</button>
                                    {% endif %}
                                    {% if game.screenshots %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#edit-screenshots-{{ game.id }}">View Screenshot{{ game.screenshots|length|pluralize }}</button>
                                    </div>
                                    {% endif %}
                                    <div>
                                        {% if not game.submitted %}
                                        {% if game.missing_steps %}
                                        <span class="d-inline-block" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="To submit this game for consideration, please {{ game.missing_steps|readable_join }}.">
                                            <button type="button" class="btn btn-sm btn-warning" disabled>Not Ready to Submit</button>
                                        </span>
                                        {% else %}
                                        <form method="post" action="submit_game">
                                            {{ csrf_token() }}
                                            <input type="hidden" name="id" value="{{ game.id }}" />
                                            <button type="submit" class="btn btn-sm btn-success" type="submit">Submit Game for Consideration</button>
                                        </form>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% if studio.arcade_games %}
        <div class="card">
            <div class="card-header bg-info">Indie Arcade Games</div>
            <div class="card-body">
                {% if c.HAS_INDIE_ARCADE_ADMIN_ACCESS or c.INDIE_ARCADE_SUBMISSIONS_OPEN %}
                    <p>
                        The deadline for Indie Arcade game submissions is <strong>{{ c.INDIE_ARCADE_DEADLINE|datetime_local }}</strong>.
                    </p>
                    <p>
                        You can edit game information and photos for all games, including submitted games, up until the deadline.
                    </p>
                    {% if c.HAS_INDIE_ARCADE_ADMIN_ACCESS and not c.INDIE_ARCADE_SUBMISSIONS_OPEN %}
                    <p class="text-danger">The Indie Arcade submission deadline has passed. Only logged-in admins can edit or submit Indie Arcade games.</p>
                    {% endif %}
                {% else %}
                    <p>
                        The deadline for submitting games to Indie Arcade has passed. Once judging is completed, you can review each game's status below.
                    </p>
                {% endif %}
                {% for game in studio.arcade_games %}
                {% include 'indie_arcade/game_modals.html' with context %}
                {% endfor %}
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Title</th>
                        <th>Photos</th>
                        <th>Status</th>
                        <th></th>
                        </tr>
                    </thead>
                    <tbody>
                {% for game in studio.arcade_games %}
                        <tr>
                        <td>
                            {{ game.title }}
                        </td>
                        <td>
                            {{ game.submission_images|length }} photo{{ game.submission_images|length|pluralize }}
                            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#showcase-types"><i class="fa fa-plus"></i></button>
                        </td>
                        <td>
                            {% if not game.submitted %}
                            <span class="text-danger">Not Submitted</span>
                            {% elif game.status == c.NEW %}<span class="text-success">Submitted</span>
                            {% else %}{{ game.status_label }}{% endif %}
                        </td>
                        <td>
                            {% if c.HAS_INDIE_ARCADE_ADMIN_ACCESS or c.INDIE_ARCADE_SUBMISSIONS_OPEN %}
                            <a href="../indie_arcade/game?id={{ game.id }}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                        </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <div class="d-flex gap-1 justify-content-end">
                                    {% if game.submission_images %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#edit-photos-{{ game.id }}">View Photo{{ game.submission_images|length|pluralize }}</button>
                                    </div>
                                    {% endif %}
                                    <div>
                                        {% if not game.submitted %}
                                        {% if game.missing_steps %}
                                        <span class="d-inline-block" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="To submit this game for consideration, please {{ game.missing_steps|readable_join }}.">
                                            <button type="button" class="btn btn-sm btn-warning" disabled>Not Ready to Submit</button>
                                        </span>
                                        {% else %}
                                        <form method="post" action="submit_game">
                                            {{ csrf_token() }}
                                            <input type="hidden" name="id" value="{{ game.id }}" />
                                            <button type="submit" class="btn btn-sm btn-success" type="submit">Submit Game for Consideration</button>
                                        </form>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        {% endif %}
    <p>
        {% if c.MIVS_SUBMISSIONS_OPEN or c.HAS_MIVS_ADMIN_ACCESS %}
        <a href="../mivs/game?studio_id={{ studio.id }}" class="btn btn-primary">Add MIVS Game</a>
        {% endif %}
        {% if c.INDIE_ARCADE_SUBMISSIONS_OPEN or c.HAS_INDIE_ARCADE_ACCESS %}
        <a href="../indie_arcade/game?studio_id={{ studio.id }}" class="btn btn-info">Add Indie Arcade Game</a>
        {% endif %}
        {% include 'showcase/showcase_types.html' %}
        <a href="#" data-bs-toggle="modal" data-bs-target="#showcase-types"><i class="fa fa-question-circle" aria-hidden="true"></i> What type of game should I submit?</a>
    </p>
</div>
{% endblock %}