<div
    id="showcase-types"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="showcase-types-title"
    style="display: none">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <p>{{ c.EVENT_NAME }} Indies includes the following showcases:
                <ul>
                {% if c.INDIE_ARCADE_START %}
                <li class="mb-3">
                    <strong>Indie Arcade</strong> -
                    Physical installations and experimental experiences. DIY arcade cabinets, alt-control games of all sizes, and delightfully weird interactive art.
                    For questions, contact {{ c.INDIE_ARCADE_EMAIL|email_only|email_to_link }}.
                </li>
                {% endif %}
                {% if c.MIVS_START %}
                <li class="mb-3">
                    <strong>Indie Videogame Showcase (MIVS)</strong> -
                    Digital games in any format including mobile, PC, console, VR, etc. where members of the development team will be on-hand to interact with attendees. Games can be in any stage of development, but must have a working demo.
                    For questions, contact {{ c.MIVS_EMAIL|email_only|email_to_link }}.
                </li>
                {% endif %}
                {% if c.INDIE_RETRO_START %}
                <li class="mb-3">
                    <strong>Indie Retro</strong> -
                    Homebrew creations catering to physical cartridges and throwback PC games from DOS and earlier. New games on original hardware.
                    For questions, contact {{ c.INDIE_RETRO_EMAIL|email_only|email_to_link }}.
                </li>
                {% endif %}
                {% if c.MITS_START %}
                <li class="mb-3">
                    <strong>Indie Tabletop (MITS)</strong> -
                    Tabletop games of all kinds such as strategic card games, immersive board games, or storytelling adventures.
                    For questions, contact {{ c.MITS_EMAIL|email_only|email_to_link }}.
                </li>
                {% endif %}
                </ul>
            </p>
            <p>If your game meets the criteria for multiple departments, you are free to submit to all of them. Feel free to reach out to each respective department with questions or email {{ c.INDIE_SHOWCASE_EMAIL|email_only|email_to_link }} and we will direct your query to the proper team.</p>
            {% if c.PAGE_PATH != '/showcase/index' %}
            <p></p>
            {% endif %}
        </div>
        <div class="modal-footer">
            {% if c.PAGE_PATH != '/showcase/index' and studio %}
            <a href="../showcase/index?id={{ studio.id }}" class="btn btn-outline-primary">Return to {{ c.EVENT_NAME }} Indies Homepage</a>
            {% endif %}
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>