{% extends "base-admin.html" %}
{% block title %}Registration Stats{% endblock %}
{% block content %}

<style type="text/css">
    ul { margin-top:0px; }
</style>

<b>Total Registrations:</b> {{ total_registrations }} <br/>
{% if c.AT_OR_POST_CON %}
    <b>Attendees checked in:</b> {{ counts.checked_in.yes }} <br/>
    <b>Attendees with free badges who didn't show up:</b> {{ counts.noshows.free }} <br/>
    <b>Attendees who paid and didn't show up:</b> {{ counts.noshows.paid }} <br/>
{% endif %}
<b>Number of remaining badges for sale (before event is sold out):</b> {{ c.REMAINING_BADGES }}

<h4>Badge Types</h4>
<ul>
    {% for desc, count in counts.badges.items %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

<h4>Interests</h4>
<ul>
    {% for desc, count in counts.interests.items %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

<h4>Attendee ages</h4>
<ul>
    {% for desc, count in counts.ages.items %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

<h4>Ribbons</h4>
<ul>
    {% for desc, count in counts.ribbons.items %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

<h4>Badge Statuses</h4>
<ul>
    {% for desc, count in counts.statuses.items %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>

<h4>Paid</h4>
<ul>
    {% for desc, count in counts.paid.items %}
        <li><i>{{ desc }}:</i> {{ count }}</li>
    {% endfor %}
</ul>
Of the "paid by group" badges,
<br/> {{ counts.groups.paid }} were from groups that actually gave us money, and
<br/>{{ counts.groups.free }} were from groups that we didn't charge.

{% endblock %}
