{% extends "base-admin.html" %}
{% block title %}Registration Stats{% endblock %}
{% block content %}

<b>Attendees checked in:</b> {{ checkin_count }}
<br/>
<b>Attendees with free badges who didn't show up:</b> {{ free_noshows }}
<br/>
<b>Attendees who paid and didn't show up:</b> {{ paid_noshows }}
<br/>
<b>Total Registrations:</b> {{ total_count }}
<table style="width:auto ; border-spacing:0px">
<tr>
    <td></td>
    <td><u>Badge Type</u></td>
    <td><u>Paid/Comped Badges</u></td>
    <td><u>Unpaid Badges</u></td>
    <td><u>Refunded Badges</u></td>
    <td><u>Deferred Badges</u></td>
    <td><u>All Valid Badges</u></td>
    <td><u>All Badges</u></td>
</tr>
{% for desc,total,valid,unpaid,paid,refunded,deferred in badge_counts %}
    <tr>
        <td> <ul><li></li></ul> </td>
        <td> <i>{{ desc }}</i> </td>
        <td align="center"> {{ paid }} </td>
        <td align="center"> {{ unpaid }} </td>
        <td align="center"> {{ refunded }} </td>
        <td align="center"> {{ deferred }} </td>
        <td align="center"> {{ valid }} </td>
        <td align="center"> {{ total }} </td>
    </tr>
{% endfor %}
</table>

<br/>
<b>Registrations By Status</b>
<table style="width:auto ; border-spacing:0px">
<tr>
    <td></td>
    <td><u>Badge Status</u></td>
    <td><u>New</u></td>
    <td><u>Completed/Printed</u></td>
    <td><u>Refunded</u></td>
    <td><u>Deferred</u></td>
    <td><u>All Badges</u></td>
</tr>
{% for desc,total,new,complete,refunded,deferred in alt_badge_counts %}
    <tr>
        <td> <ul><li></li></ul> </td>
        <td> <i>{{ desc }}</i> </td>
        <td align="center"> {{ new }} </td>
        <td align="center"> {{ complete }} </td>
        <td align="center"> {{ refunded }} </td>
        <td align="center"> {{ deferred }} </td>
        <td align="center"> {{ total }} </td>
    </tr>
{% endfor %}
</table>

<br/>
<b>Affiliates</b>
<table style="width:auto ; border-spacing:0px ; margin-left:15px">
<tr>
    <td><u>Affiliate</u></td>
    <td><u>Paid Badges</u></td>
    <td><u>Unpaid Badges</u></td>
</tr>
{% for aff,paid_count,unpaid_count in aff_counts %}
    {% if paid_count or unpaid_count %}
        <tr>
            <td>{{ aff }}</td>
            <td align="center">{{ paid_count }}</td>
            <td align="center">{{ unpaid_count }}</td>
        </tr>
    {% endif %}
{% endfor %}
</table>

<br/>
<b>Paid</b>
<ul style="margin-top:0px">
    {% for desc,count in paid_counts %}
        <li> <i>{{ desc }}:</i> {{ count }} </li>
    {% endfor %}
</ul>
Of the "paid by group" badges,
<br/> {{ paid_group }} were from groups that actually gave us money, and
<br/>{{ free_group }} were from groups that we didn't charge.

<br/> <br/>
<b>Interests of non-unpaid attendees</b>
<ul style="margin-top:0px">
    {% for desc,count in interests %}
        <li> <i>{{ desc }}:</i> {{ count }} </li>
    {% endfor %}
</ul>

<br/>
<b>Attendee ages</b>
<ul style="margin-top:0px">
    {% for desc,count in age_counts %}
        <li> <i>{{ desc }}:</i> {{ count }} </li>
    {% endfor %}
</ul>

<br/>
<b>Ribbon counts</b>
<ul style="margin-top:0px">
    {% for desc,count in ribbons %}
        <li> <i>{{ desc }}:</i> {{ count }} </li>
    {% endfor %}
</ul>

<br/>
<b>Shirt Sizes</b>
<ul>
    {% for desc,count in shirt_sizes %}
        <li>{{ desc }}: {{ count }}</li>
    {% endfor %}
</ul>

{% if magstock_shirt_sales %}
<br/>
<b>Magstock Shirt Sales</b>
<ul>
    {% for shirt_row in magstock_shirt_sales %}
        <li>{{ shirt_row.shirt }},{{ shirt_row.shirt_color }}: {{ shirt_row.count }}</li>
    {% endfor %}
</ul>
{% endif %}

<br/>
<b>Shirt sales by week</b>
<ul>
    {% for weeks_ago,count in shirt_sales %}
        {% if count %}
            <li>
                {% if weeks_ago == 0 %}
                    We have currently sold {{ count }} shirts.
                {% else %}
                    <b>{{ weeks_ago }} week{{ weeks_ago|pluralize }} ago:</b> {{ count }} shirt{{ count|pluralize }}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}
