{% extends "mivs_base.html" %}
{% block body %}

<h2>Your Review of {{ review.game.title }}'s Video</h2>

You ({{ review.judge.full_name }}) have been assigned to review {{ review.game.title }}.  Here is the relevant information
for reviewing the video:

<form method="post" action="video_review" role="form" class="form-horizontal">
    <input type="hidden" name="id" value="{{ review.id }}" />
    {{ csrf_token() }}

    <div class="form-group">
        <label class="col-sm-3 control-label">Game Title</label>
        <div class="col-sm-6 game-display">
            {{ review.game.title }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Studio</label>
        <div class="col-sm-6 game-display">
            <a href="studio?id={{ review.game.studio.id }}">{{ review.game.studio.name }}</a>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Genres</label>
        <div class="col-sm-6 game-display">
            {{ review.game.genres_labels|join(' / ') }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Brief Description</label>
        <div class="col-sm-6 game-display">
            {{ review.game.brief_description }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Full Description</label>
        <div class="col-sm-6 game-display">
            {{ review.game.description|linebreaksbr }}
        </div>
    </div>

    {% if review.game.shown_events %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Shown at Other Events</label>
            <div class="col-sm-6 game-display">
                {{ review.game.shown_events|linebreaksbr }}
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        <label class="col-sm-3 control-label">Link to Video</label>
        <div class="col-sm-6 game-display">
            <a target="_blank" href="{{ review.game.video_href }}">{{ review.game.link_to_video }}</a>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Video Status</label>
        <div class="col-sm-6">
            <select name="video_status" class="form-control">
                {{ options(c.MIVS_VIDEO_REVIEW_STATUS_OPTS,review.video_status) }}
            </select>
            <p class="help-block">
                Please indicate whether or not you were able to watch the full video using the link above.
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Score</label>
        <div class="col-sm-6">
            <select name="video_score" class="form-control">
                {{ options(c.MIVS_VIDEO_REVIEW_OPTS,review.video_score) }}
            </select>
            <p class="help-block">
                Please choose whether this video should be accepted or rejected.
                If you were not able to view the video, you should leave this unchanged.
            </p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label optional-field">Notes</label>
        <div class="col-sm-6">
            <textarea class="form-control" name="video_review" rows="4">{{ review.video_review }}</textarea>
            <p class="help-block">
                This is where you can explain why you left the score you did, what impressed you and what didn't, etc.
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary">Review Video</button>
        </div>
    </div>
</form>

{% if review.game.screenshots %}
    <h3>Screenshots</h3>

    You should review the {{ review.game.screenshots|length }} screenshot{{ review.game.screenshots|length|pluralize }}
    below to inform the rating you leave on the video.

    {% for screenshot in review.game.screenshots %}
        <h4>{{ screenshot.filename }}</h4>
        <div>{{ screenshot.description|linebreaksbr }}</div>
        <img src="{{ screenshot.url }}" style="max-width:100%" />
    {% endfor %}
{% endif %}

{% endblock %}
