{% extends "base.html" %}
{% block title %}Volunteer Checklist{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<h2> Volunteer Checklist for {{ attendee.full_name }} </h2>

<div style="font-style:italic ; text-align:center">
    If you aren't {{ attendee.full_name }}, <a href="login">click here</a> to log in as yourself.
</div>

<br/> Thanks for volunteering to help out at MAGFest.  The following is a list of things you need to do <b>in order</b> as soon as possible.

<style type="text/css">
    ol li { margin-bottom: 10px; }
</style>
<ol>
    <li>
        {% checked_if not attendee.placeholder %}
        {% if attendee.placeholder %}
            <a href="../preregistration/confirm?return_to=../signups/index&id={{ attendee.id|obfuscated }}">Confirm</a>
        {% else %}
            Confirm
        {% endif %}
        you are coming to MAGFest.
    </li>
    <li>
        {% checked_if attendee.fire_safety_cert %}
        {% if not attendee.placeholder and not attendee.fire_safety_cert %}
            <a href="fire_safety">Certify yourself</a>
        {% else %}
            Certify yourself
        {% endif %}
        with fire safety training.
    </li>
    {% if attendee.badge_type == STAFF_BADGE %}
        <li>
            {% checked_if attendee.hotelrequests %}
            {% if not attendee.placeholder and attendee.fire_safety_cert and not attendee.hotelrequests %}
                <a href="hotel_requests">Tell us</a>
            {% else %}
                Tell us
            {% endif %}
            whether you want hotel room space no later than <b>11:59pm on {{ state.ROOM_DEADLINE|datetime:"%A, %B %d" }}</b>
            {% if attendee.hotelrequests %}
                (you may <a href="hotel_requests">edit your request</a> until then).
            {% endif %}
        </li>
    {% endif %}
    <li>
        {% checked_if attendee.shifts %}
        {% if attendee.shift_prereqs_complete %}
            <a href="possible">Sign up</a>
        {% else %}
            Sign up
        {% endif %}
        for shifts.
    </li>
</ol>

{% endblock %}
