{% extends "base.html" %}
{% block title %}Volunteer Checklist{% endblock %}
{% block backlink %}{% endblock %}
{% block content %}

<h2> Volunteer Checklist for {{ attendee.full_name }} </h2>

<div style="font-style:italic ; text-align:center">
    If you aren't {{ attendee.full_name }}, <a href="login">click here</a> to log in as yourself.
</div>

<br/> Thanks for volunteering to help out at MAGFest.  The following is a list of things you need to do <b>in order</b> as soon as possible.

<style type="text/css">
    ol li { margin-bottom: 10px; }
</style>
<ol>
    <li>
        {% checked_if not attendee.placeholder %}
        {% if attendee.placeholder %}
            <a href="../preregistration/confirm?return_to=../signups/index&id={{ attendee.secret_id }}">Confirm</a>
        {% else %}
            Confirm
        {% endif %}
        you are coming to MAGFest.
	{% if not attendee.placeholder %}(you can still <a href="../preregistration/confirm?return_to=../signups/index&id={{ attendee.secret_id }}">edit your info</a>){% endif %}
    </li>
    <li>
        {% checked_if attendee.fire_safety_cert %}
        {% if not attendee.placeholder and not attendee.fire_safety_cert %}
            <a href="fire_safety">Certify yourself</a>
        {% else %}
            Certify yourself
        {% endif %}
        with fire safety training.
    </li>
    {% if attendee.badge_type == STAFF_BADGE and attendee.registered < ROOM_DEADLINE %}
        {% if ROOMS_AVAILABLE %}
            <li>
                {% checked_if attendee.hotelrequests %}
                {% if not attendee.placeholder and attendee.fire_safety_cert and not attendee.hotelrequests %}
                    <a href="hotel_requests">Tell us</a>
                {% else %}
                    Tell us
                {% endif %}
                whether you want hotel room space no later than <b>{{ ROOM_DEADLINE|datetime }}</b>
                {% if attendee.hotelrequests %}
                    (you may <a href="hotel_requests">edit your request</a> until then).
                {% endif %}
            </li>
        {% else %}
            <li>
                {% checked_if attendee.hotelrequests %}
                {% if attendee.hotelrequests %}
                    Thanks for filling out the hotel space request form before the deadline.
                {% else %}
                    You didn't fill out the hotel request form before the deadline.
                {% endif %}
            </li>
        {% endif %}
    {% endif %}
    <li>
        {% checked_if attendee.shifts %}
        {% if attendee.shift_prereqs_complete %}
            <a href="possible">Sign up</a>
        {% else %}
            Sign up
        {% endif %}
        for shifts.
    </li>
</ol>

{% endblock %}
