{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Shifts{% endblock %}
{% block page_styles %}
<!--inside page_style -->
<link rel="stylesheet" href="../static/styles/fullcalendar.min.css" />
<link rel="stylesheet" href="../static/styles/fullcalendar.print.css" media="print"/>

<style>
  .button_row {
    margin-bottom: 20px;
  }

  .button_row div a.setup_button, .button_row div a.teardown_button {
    background-color: #239875;
    background-image: -webkit-linear-gradient(top, #239875 0%, #209572 100%);
    background-image: -o-linear-gradient(top, #239875 0%, #209572 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#239875), to(#209572));
    background-image: linear-gradient(to bottom, #239875 0%, #209572 100%);
  }
</style>
{% endblock %}

{% block content %}

{% include "shifts_admin/main_menu.html" %}

<div clas="row">
{% if checklist.relevant %}
    {% if checklist.completed %}
        You've already indicated that what's here and/or whatever shifts STOPS creates are fine.  If that's not the case, please email {{ 'stops@magfest.org'|email_to_link }}.
    {% else %}
        {% if department.is_shiftless %}
            This department is on record as not needing any shifts.  Please click the following link to confirm this so we know we don't need to make any shifts.  If this is in error and you'd like shifts for your people, please email {{ 'stops@magfest.org'|email_to_link }}.
        {% else %}
            <p>We are able to import shifts from last year. If you want us to import last year’s shifts, please email {{ 'stops@magfest.org'|email_to_link }}. You will still be able to edit those shifts, add slots for additional volunteers, and create new shifts. 
            If you choose to import last year’s shifts, please take the time to look them over and make any needed changes. After the import, you will need to return to this page and approve that they are correct by clicking "I Don’t Need To Do Anything Else Here."</p>

            <p>Otherwise, you can create shifts, and when you are done, click "I Don’t Need To Do Anything Else Here."</p>
        {% endif %}
        <br/> <a href="#" onClick="$('#checkoff').show(); return false;">I Don't Need To Do Anything Else Here</a>
        <form id="checkoff" style="display:none" method="post" action="../dept_checklist/mark_item_complete">
        {{ csrf_token() }}
        <input type="hidden" name="department_id" value="{{ department.id }}" />
        <input type="hidden" name="slug" value="{{ checklist.conf.slug }}" />
        <input type="submit" value="I Confirm I Don't Need To Do Anything Else Here" />
        </form>
    {% endif %}
{% endif %}
</div>

<div class="row text-center button_row">
    <div class="col-md-4">
        <h3>Setup Shifts ({{ setup|length }})</h3>
        <a class="btn btn-primary setup_button" href="form?id=None&department_id={{ department.id }}&type={{ c.SETUP }}">Add Setup Shift</a>
    </div>
    <div class="col-md-4">
        <h3>Regular Shifts ({{normal|length}})</h3>
        <a class="btn btn-primary" href="form?id=None&department_id={{ department.id }}&type={{ c.REGULAR }}">Add Shift</a>
    </div>
    <div class="col-md-4">
        <h3>Teardown Shifts ({{teardown|length}})</h3>
        <a class="btn btn-primary teardown_button" href="form?id=None&department_id={{ department.id }}&type={{ c.TEARDOWN }}">Add Teardown Shift</a>
    </div>
</div>

<!-- Starting with calendar implementation -->
<div class="row">
    <div class="col-md-12">
        <div id="shift_cal"></div>
    </div>
</div>
<div class="row" style="margin-bottom:50px;"></div>



{% endblock %}
{% block page_scripts %}
<script type="text/javascript" src="../static/js/moment.js"></script>
<script type="text/javascript" src="../static/js/fullcalendar.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    var eventList = new Array();
    {% for job in jobs %}
        eventList.push({
            title: "{{ job.name }} ({{ job.shifts | length }}/{{ job.slots }}) x{{ job.weight }}{{ " +15" if job.extra15 else "" }}",
            start: "{{ job.start_time_local|datetime("%Y-%m-%dT%H:%M:%S") }}",
            end: "{{ job.end_time_local|datetime("%Y-%m-%dT%H:%M:%S") }}",
            url: "form?id={{ job.id }}",
            {% if job.type == c.SETUP or job.type == c.TEARDOWN %}
                {% if job.shifts|length == job.slots %}
                    color: '#186850'
                {% else %}
                    color: '#219170'
                {% endif %}
            {% else %}
                {% if job.shifts|length == job.slots %}
                    color: '#1e3a7b'
                {% else %}
                    color: '#305fc9'
                {% endif %}
            {% endif %}
        });
    {% endfor %}

    $('#shift_cal').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'agendaDay,agendaConWeek,listConDuration'
        },
        views: {
            agendaDay: { buttonText: 'Day' },
            agendaConWeek: {
                type: 'agenda',
                duration: { days: {{ c.CON_TOTAL_LENGTH }} },
                buttonText: 'Calendar'
            },
            listConDuration: {
                type: 'list',
                duration: { days: {{ c.CON_TOTAL_LENGTH }} },
                buttonText: 'List'
            }
        },
        buttonText : {
            today : 'Today',
            agendaWeek : 'Week',
            agendaDay : 'Day',
            listWeek : 'Week'
        },
        slotDuration: '00:30:00',
        allDaySlot: false,
        defaultView: 'agendaConWeek',
        defaultDate: '{{ c.SHIFTS_START_DAY }}',
        slotEventOverlap: false,
        eventLimit: true, // allow "more" link when too many events
        events: eventList,
        dayClick: function(date) {
            window.location.href = "form?id=None&department_id={{ department.id }}&start_time=" + date.format("YYYY-MM-DD HH:mm:ss");
        }
    });
});

</script>
{% endblock %}

