{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Shifts{% endblock %}
{% block page_styles %}
<!--inside page_style -->
{{ "fullcalendar-5.3.2/lib/main.min.css"|serve_static_content }}
{% endblock %}

{% block content %}

{% include "shifts_admin/main_menu.html" %}
{% if department_id == '' %}
Please select a department above to view its shifts.
{% else %}
<div clas="row">
{% if checklist.relevant %}
    {% if checklist.completed %}
        You've already indicated that what's here and/or whatever shifts STOPS creates are fine.  If that's not the case, please email {{ c.STAFF_EMAIL|email_only|email_to_link }}.
    {% else %}
        <p>We are able to import shifts from last year. If you want us to import last year's shifts, please email {{ c.STAFF_EMAIL|email_only|email_to_link }}.
            You will still be able to edit those shifts, add slots for additional volunteers, and create new shifts. If you choose to import last year’s shifts, please take the time to look them over and make any needed changes. After the import, you will need to return to this page and approve that they are correct by clicking "I Don’t Need To Do Anything Else Here."</p>

        <p>If you want any shifts to be restricted to certain staffers, <strong>including setup or teardown shifts</strong>, please use the "roles" function when creating shifts. Shifts with specific roles will only be visible to staff that you have assigned to ALL of those roles.</p>

        <p>Otherwise, you can create shifts, and when you are done, click "I Don’t Need To Do Anything Else Here."</p>
        <p><a href="#" onClick="$('#checkoff').show(); return false;">I Don't Need To Do Anything Else Here</a></p>
        <form id="checkoff" style="display:none" method="post" action="../dept_checklist/mark_item_complete">
        {{ csrf_token() }}
        <input type="hidden" name="department_id" value="{{ department.id }}" />
        <input type="hidden" name="slug" value="{{ checklist.conf.slug }}" />
        <input type="submit" value="I Confirm I Don't Need To Do Anything Else Here" />
        </form>
    {% endif %}
{% endif %}
</div>

<div class="d-flex gap-2 justify-content-between mb-3 align-items-end">
    <div class="d-flex gap-2">
        <div><a class="btn btn-primary" href="form?id=None&department_id={{ department.id }}">Add Job</a></div>
        <div><a class="btn btn-primary" href="template?id=None&department_id={{ department.id }}">Add Jobs by Template</a></div>
        {% if department.job_templates %}
        <div x-data="{
            template_id: '',
            getTemplateURL() { return 'template?id=' + this.template_id }
        }" class="d-flex gap-2">
            <div>
                <select class="form-select" x-model="template_id">
                    <option value="">Select a Template</option>
                    {% for template in department.job_templates %}
                    <option value="{{ template.id }}">{{ template.template_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div><a class="btn btn-primary" :href="getTemplateURL">Edit Template</a></div>
        </div>
        {% endif %}
    </div>
    <div>
        <form method="post" action="shift_schedule_csv" class="d-flex gap-2">
        <div>
            {{ csrf_token() }}
            <input type="hidden" name="department_id" value="{{ department.id }}" />
            <div class="form-text">
            <label for="day">Day</label>
            </div>
            <select class="form-select" id="day" name="day">
            <option selected="true" value="all">All Days</option>
            {% for (day,) in dept_shifts_days %}
            <option value="{{ day.strftime('%Y-%m-%d') }}">{{ day.strftime('%A %-m/%-d') }}</option>
            {% endfor %}
            </select>
        </div>
        <div>
            <div class="form-text">&nbsp;</div>
            <button type="submit" formaction="shift_schedule_csv" class="btn btn-primary">Download Shift Schedule</button>
        </div>
    </form>
    </div>
</div>

<!-- Starting with calendar implementation -->
<div class="row">
    <div class="col-md-12">
        <div id="shift_cal"></div>
    </div>
</div>
<div class="row" style="margin-bottom:50px;"></div>


{% endif %}
{% endblock %}
{% block page_scripts %}
{% if department_id != '' %}
{{ "fullcalendar-5.3.2/lib/main.min.js"|serve_static_content }}
<script type="text/javascript">

$(document).ready(function() {
    var eventList = new Array();
    {% for job in jobs %}
        eventList.push({
            title: "{{ job.name }} ({{ job.shifts | length }}/{{ job.slots }}) x{{ job.weight }}{{ " +15" if job.extra15 else "" }}",
            start: "{{ job.start_time_local|datetime("%Y-%m-%dT%H:%M:%S") }}",
            end: "{{ job.end_time_local|datetime("%Y-%m-%dT%H:%M:%S") }}",
            url: "form?id={{ job.id }}",
            {% if job.shifts|length == job.slots %}
                color: '#1e3a7b'
            {% else %}
                color: '#305fc9'
            {% endif %}
        });
    {% endfor %}

    shiftCal = new FullCalendar.Calendar(document.getElementById('shift_cal'), {
        headerToolbar: {
            start: 'prev,next today',
            center: 'title',
            end: 'agendaDay,agendaSetup,agendaEvent,agendaTeardown,agendaConWeek,listConDuration'
        },
        views: {
            agendaDay: { 
                type: 'timeGrid',
                buttonText: 'Day',
            },
            agendaSetup: {
                type: 'timeGrid',
                visibleRange: {
                    start: '{{ c.SHIFTS_EPOCH.strftime('%Y-%m-%d') }}',
                    end: '{{ c.EPOCH.strftime('%Y-%m-%d') }}'
                },
                buttonText: 'Setup',
            },
            agendaEvent: {
                type: 'timeGrid',
                visibleRange: {
                    start: '{{ c.EPOCH }}',
                    end: '{{ c.ESCHATON }}'
                },
                buttonText: 'Event',
            },
            agendaTeardown: {
                type: 'timeGrid',
                visibleRange: {
                    start: '{{ c.ESCHATON.strftime('%Y-%m-%d') }}',
                    end: '{{ c.SHIFTS_ESCHATON.strftime('%Y-%m-%d') }}'
                },
                buttonText: 'Teardown',
            },
            agendaConWeek: {
                type: 'timeGrid',
                visibleRange: {
                    start: '{{ c.SHIFTS_EPOCH.strftime('%Y-%m-%d') }}',
                    end: '{{ c.SHIFTS_ESCHATON.strftime('%Y-%m-%d') }}'
                },
                buttonText: 'All'
            },
            listConDuration: {
                type: 'list',
                duration: { days: {{ c.CON_TOTAL_DAYS }} },
                buttonText: 'List'
            }
        },
        buttonText : {
            today : 'Today',
            agendaWeek : 'Week',
            agendaDay : 'Day',
            listWeek : 'Week'
        },
        slotDuration: '00:30:00',
        allDaySlot: false,
        initialView: 'agendaDay',
        initialDate: '{{ initial_date }}',
        slotEventOverlap: false,
        events: eventList,
        dateClick: function(date) {
            window.location.href = "form?id=None&department_id={{ department.id }}&start_time=" + 
                date.date.getFullYear() + '-' + 
                (date.date.getMonth() + 1).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) + '-' +
                (date.date.getDate()).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) + ' ' +
                (date.date.getHours()).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) + ':' +
                (date.date.getMinutes()).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) + ':' +
                (date.date.getSeconds()).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
        }
    });
    shiftCal.render();
});

</script>
{% endif %}
{% endblock %}

