{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Shifts{% endblock %}
{% block content %}

<style type="text/css">
  #jobs-container #volunteers { top: 149px; }
  @media (min-width: 768px) {
    #jobs-container #volunteers { top: 115px; }
  }
</style>

{% include "shifts_admin/main_menu.html" %}
{% if department_id == '' %}
Please select a department above to view its signups.
{% else %}
{% if c.POST_CON and checklist.relevant %}
  <div class="center">
    {% if checklist.completed %}
      You've already indicated that you've marked all of the shifts you can remember.  Don't forgot to also mark non-shift hours as needed.
    {% else %}
      <a href="#" onClick="$('#checkoff').show(); return false;">I've marked everything I can remember.</a>
      <form id="checkoff" style="display:none" method="post" action="../dept_checklist/mark_item_complete">
        {{ csrf_token() }}
        <input type="hidden" name="department_id" value="{{ department_id }}" />
        <input type="hidden" name="slug" value="{{ checklist.conf.slug }}" />
        <input type="submit" value="I've marked everything I remember" />
      </form>
    {% endif %}
  </div>
{% endif %}

<a href="signups?department_id={{ department_id }}&toggle_filter=signups_hide_filled" class="btn btn-sm 
        {% if hide_filled %}btn-outline-secondary{% else %}btn-outline-secondary{% endif %}">
  <i class="fa fa-filter"></i>
  Hide Filled Shifts
</a>

<a href="signups?department_id={{ department_id }}&toggle_filter=signups_show_past_shifts" class="btn btn-sm 
        {% if show_past_shifts %}btn-outline-secondary{% else %}btn-outline-secondary{% endif %}">
  <i class="fa fa-filter"></i>
  Show Past Shifts
</a>

<a href="signups?department_id={{ department_id }}&toggle_filter=signups_show_restricted" class="btn btn-sm 
        {% if show_restricted %}btn-outline-secondary{% else %}btn-outline-secondary{% endif %}">
  <i class="fa fa-filter"></i>
  Show Restricted
</a>

<a href="signups?department_id={{ department_id }}&toggle_filter=signups_show_nonpublic" class="btn btn-sm 
        {% if show_nonpublic %}btn-outline-secondary{% else %}btn-outline-secondary{% endif %}">
  <i class="fa fa-filter"></i>
  Show Non Public
</a>
<br/><br/>

<script type="text/javascript">
  {% if hide_filled %}
  SHOW_FULL_JOBS = false;
  {% else %}
  SHOW_FULL_JOBS = true;
  {% endif %}
  $().ready(function() {
    replaceQueryParamInUrl('toggle_filter'); // prevent re-toggling filter on refresh
  });
  </script>
<div id="jobs-container">
{% include "shifts_admin/job_renderer.html" %}
</div>
{% endif %}
{% endblock %}
