{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Staffer Summary{% endblock %}
{% block content %}
{% include "shifts_admin/main_menu.html" %}

<div class="row">
    <div class="col-md-3">{{ attendees|length }} Staffers</div>
    <div class="col-md-3">{{ counts.regular_signups }} / {{ counts.regular_total }} Regular Hours Taken</div>
    <div class="col-md-3">{{ counts.restricted_signups }} / {{ counts.restricted_total }} Restricted Hours Taken</div>
    <div class="col-md-3">{{ counts.all_signups }} / {{ counts.all_total }} Total Hours Taken</div>
</div>

{% if checklist.relevant %}
    <br/>
    {% if checklist.completed %}
        You've already indicated that this list is valid, please email STOPS if this is incorrect.
    {% else %}
        <a href="#" onClick="$('#checkoff').show(); return false;">As a head of this department, this looks good to me.</a>
        <form id="checkoff" style="display:none" method="post" action="../dept_checklist/mark_item_complete">
        {{ csrf_token() }}
        <input type="hidden" name="department_id" value="{{ department_id }}" />
        <input type="hidden" name="slug" value="{{ checklist.conf.slug }}" />
        By clicking this button, you are telling us you've reviewed your volunteers and confirmed:
        <ul>
            <li>that no one is assigned to your department who shouldn't be, such as problem volunteers from previous years</li>
            <li>that no one is missing who you'd expect to be assigned here, such as staffers from previous years</li>
        </ul>
        <input type="submit" value="I Confirm This All Looks Good" />
        </form>
        <br/>
    {% endif %}
{% endif %}

<br/>
<span style="font-size:14pt ; font-weight:bold"> Staffers Assigned to This Area</span>
  (<a href="mailto:{{ c.ADMIN_EMAIL }}?bcc={{ emails }}">email these staffers</a>
  or <a href="mailto:{{ c.ADMIN_EMAIL }}?bcc={{ emails_with_shifts }}">email staffers with shifts here</a>)<b>:</b>
<br/> <br/><a href="#attendee_form?id=None" class="btn btn-primary">Add new volunteer</a><br/><br/>

<table class="table table-striped datatable">
<thead><tr>
    <th> Attendee Name </th>
    <th> Badge</th>
    <th> [D] </th>
    <th> [T] </th>
    <th> [M] </th>
    <th> [L] </th>
    <th> Placeholder</th>
    <th> Hours Here </th>
    <th> Hours Total </th>
    <th> Checked In</th>
</tr>
</thead>
{% for attendee in attendees %}
    <tr>
        <td width="20%" data-order="{{ attendee.full_name }}" data-search="{{ attendee.full_name }}">
          <a href="#attendee_form?id={{ attendee.id }}">{{ attendee.full_name }}</a>
          {% if attendee.badge_status == c.PENDING_STATUS %}(Pending){% endif %}
        </td>
        <td width="10">{% if not attendee.badge_num %}<font size="-1">TBD</font>{% else %}{{ attendee.badge_num }}{% endif %}</td>
        <td width="10">{% if attendee.is_dept_head_here %}<font size="-1">[D]</font>{% endif %}</td>
        <td width="10">{% if attendee.trusted_here %}<font size="-1">[T]</font>{% endif %}</td>
        <td width="10">{% if attendee.multiply_assigned %}<font size="-1">[M]</font>{% endif %}</td>
        <td width="10">{% if attendee.can_work_setup or attendee.can_work_teardown %}<font size="-1">[L]</font>{% endif %}</td>
        <td width="10">{{ attendee.placeholder }}</td>
        <td width="10">{{ attendee.hours_here }}</td>
        <td width="10">{{ attendee.weighted_hours }}</td>
        <td width="10">{{ attendee.checked_in|yesno("Checked In,Not Checked In") }}</td>
    </tr>
{% endfor %}
</table>

<br/> <br/>

<div style="margin-left:10px">
    [D]: <i>Staffers marked with a "D" are department heads</i> <br/>
    [M]: <i>Staffers marked with a "M" are assigned to multiple departments</i> <br/>
    [T]: <i>Staffers marked with a "T" are assigned a role
         {% if department_id %}in this department{% else %}in at least one department{% endif %}
         </i> <br/>
    [L]: <i>Staffers marked with a "L" are working load-in and/or load-out</i>
</div>

{% endblock %}
