{% extends "base.html" %}{% set admin_area=True %}
{% import 'forms/macros.html' as form_macros with context %}
{% block title %}Attraction Event{% endblock %}

{% import 'attractions_macros.html' as attractions_macros with context %}

{% block content %}
<style type="text/css">
  .event-title {
    margin-bottom: 30px;
  }

  .attendees-title {
    margin-top: 30px;
  }

  .footer {
    padding: 100px 0;
  }

  .save_another .dropdown-menu > li > a {
    padding: 0;
  }

  .save_another .dropdown-menu > li > a > input {
    background-color: transparent;
    border: 0 none transparent;
    color: #333;
    margin: 0;
    padding: 3px 20px;
  }

  .table .controls {
    text-align: right;
    white-space: nowrap;
  }

  .checked-in-hidden { display: inline-block; }
  .checked-in .checked-in-hidden { display: none; }
  .checked-in-visible { display: none; }
  .checked-in .checked-in-visible { display: inline-block; }
</style>

{% include 'attractions_checkin.html' %}

<script>
  $(function() {
    var $attendeesTable = $('#attendees-table');

    $attendeesTable.on('click', '.btn-success', function(event) {
      event.preventDefault();
      var $button = $(this),
          signupId = $button.data('signupId');
      checkinSignup(signupId, function(response) {
        if(response && response['error']) {
          showErrorMessage(response['error'], '', {timeOut: 3000});
        } else {
          var $checkinTd = $button.closest('td'),
              $cancelButton = $checkinTd.closest('tr').find('.controls button'),
              $checkinTime = $checkinTd.children('.checkin_time');
          $cancelButton.prop('disabled', true);
          $checkinTime.text(moment(response['result']).format('dddd, MMM D [at] h:mma'));
          $checkinTd.addClass('checked-in');
        }
      });
    });

    $attendeesTable.on('click', '.btn-warning', function(event) {
      event.preventDefault();
      var $button = $(this),
          signupId = $button.data('signupId');
      undoCheckinSignup(signupId, function(response) {
        if(response && response['error']) {
          showErrorMessage(response['error'], '', {timeOut: 3000});
        } else {
          var $checkinTd = $button.closest('td'),
              $cancelButton = $checkinTd.closest('tr').find('.controls button'),
              $checkinTime = $checkinTd.children('.checkin_time');
          $cancelButton.prop('disabled', false);
          $checkinTime.text('');
          $checkinTd.removeClass('checked-in');
        }
      });
    });

    $attendeesTable.on('click', '.btn-danger', function(event) {
      event.preventDefault();
      var $button = $(this),
          signupId = $button.data('signupId'),
          attendeeName = $button.data('attendeeName');

      bootbox.confirm({
        backdrop: true,
        message: '<p>Are you sure you want to cancel the signup for ' + attendeeName + '?</p>',
        buttons: {
          confirm: { label: 'Cancel Signup', className: 'btn-danger' },
          cancel: { label: 'Nevermind', className: 'btn-outline-secondary' }
        },
        callback: function (result) {
          if (result) {
            cancelSignup(signupId, function(response) {
              if(response && response['error']) {
                showErrorMessage(response['error'], '', {timeOut: 3000});
              } else {
                var $signupRow = $button.closest('tr');
                $signupRow.fadeOut(function() {
                  $attendeesTable.DataTable().row($signupRow).remove().draw();
                });
                $("#message-alert").addClass("alert-success").show().children('span').html('Signup for ' + attendeeName + ' successfully cancelled', '', {timeOut: 3000});
              }
            });
          }
        }
      });
    });
  });
</script>

<h2 class="event-title">
  {%- if event.is_new -%}
    <i class="fa fa-plus"></i> New {{ feature.name }} event for the {{ attraction|form_link }} attraction
  {%- else -%}
    <i class="fa fa-cog"></i> Edit the {{ event.feature.name }} event for the {{ attraction.name }} attraction
  {%- endif -%}
</h2>

{{ form_macros.form_validation('attraction-event-form', 'validate_event') }}
<form novalidate method="post" id="attraction-event-form" action="event" role="form">
  {{ csrf_token() }}
  <input type="hidden" name="id" value="{{ 'None' if event.is_new else event.id }}" />
  <input type="hidden" name="feature_id" value="{{ feature.id }}">
  {% include 'forms/attraction/attraction_event_info.html' with context %}
  
  <div class="row g-3 mb-3">
    <div class="col-sm">
      <input type="submit" name="save" class="btn btn-primary" value="Save">
      <div class="btn-group save_another">
        <button type="submit" name="save_another_0" class="btn btn-primary">Save & Add Another</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#"><input type="submit" name="save_another_5" value="After 5 minute break"></a></li>
          <li><a href="#"><input type="submit" name="save_another_10" value="After 10 minute break"></a></li>
          <li><a href="#"><input type="submit" name="save_another_15" value="After 15 minute break"></a></li>
          <li><a href="#"><input type="submit" name="save_another_20" value="After 20 minute break"></a></li>
          <li><a href="#"><input type="submit" name="save_another_30" value="After 30 minute break"></a></li>
          <li><a href="#"><input type="submit" name="save_another_45" value="After 45 minute break"></a></li>
          <li><a href="#"><input type="submit" name="save_another_60" value="After 1 hour break"></a></li>
        </ul>
      </div>
      <a href="form?id={{ attraction.id }}" type="button" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </div>
</form>

{%- if event.signups -%}
  <div class="d-flex align-items-center gap-3 mt-3">
    <h2>Attendees Signed Up</h2>
    <a href="signups_export?id={{ event.id }}"><i class="fa fa-download"></i> Download CSV</a>
  </div>
  <table id="attendees-table" class="table table-hover table-responsive datatable"
      data-paging="false"
      data-info="false">
    <thead>
      <tr>
        <th>Attendee</th>
        <th>Badge #</th>
        <th>Signup Time</th>
        <th>Checkin Time</th>
        <th class="controls" data-orderable="false"></th>
      </tr>
    </thead>
    <tbody>
      {% for signup in event.signups %}
        <tr id="{{ signup.id }}">
          <td>{{ signup.attendee|form_link }}</td>
          <td>#{{ signup.attendee.badge_num }}</td>
          <td>{{ signup.signup_time|datetime_local('%A, %b %-e at %-I:%M%p') }}</td>
          <td class="checkin {% if signup.is_checked_in %} checked-in{% endif %}" data-order="{{ signup.checkin_time }}">
            <button class="btn btn-warning btn-sm checked-in-visible" data-signup-id="{{ signup.id }}">
              <i class="fa fa-check"></i>
              Undo
            </button>
            <span class="checkin_time checked-in-visible">
              {{ signup.checkin_time_local|datetime('%A, %b %-e at %-I:%M%p') }}
            </span>
            <button class="btn btn-success btn-sm checked-in-hidden" data-signup-id="{{ signup.id }}">
              <i class="fa fa-check"></i>
              Check In Now
            </button>
          </td>
          <td class="controls">
            <span {% if signup.is_checked_in -%}
                title="You cannot cancel a signup that has already checked in" {% endif -%}
                style="display: inline-block;">
              <button class="btn btn-sm btn-danger"
                  {%- if signup.is_checked_in %} disabled="disabled"{% endif %}
                  data-signup-id="{{ signup.id }}"
                  data-attendee-name="{{ signup.attendee.full_name }}">
                <i class="fa fa-remove"></i>
              </button>
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endif -%}

<div class="footer"></div>
{% endblock %}
