{% extends "base.html" %}{% set admin_area=True %}
{% import 'forms/macros.html' as form_macros with context %}
{% block title %}Attraction Feature{% endblock %}

{% block content %}
<h2>
  {%- if feature.is_new -%}
    <i class="fa fa-plus"></i> New Feature for the {{ attraction|form_link }} Attraction
  {%- else -%}
    <i class="fa fa-cog"></i> Edit the {{ feature.name }} Feature for the {{ attraction|form_link }} Attraction
  {%- endif -%}
</h2>

<em>Features can be people, activities, performances, or anything else attendees might need to wait in line for.</em>

{{ form_macros.form_validation('attraction-feature-form', 'validate_feature') }}
<form novalidate method="post" id="attraction-feature-form" action="feature" role="form">
  {{ csrf_token() }}
  <input type="hidden" name="id" value="{{ 'None' if feature.is_new else feature.id }}" />
  <input type="hidden" name="attraction_id" value="{{ attraction.id }}">
  {% include 'forms/attraction/attraction_feature_info.html' with context %}
  <div class="row g-3 mb-3">
    <div class="col-sm">
      <input type="submit" name="save" class="btn btn-primary" value="Save">
      <a href="form?id={{ attraction.id }}" type="button" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}
